
    <h3 class="step-heading">Tenant Petition: <span>Applicant and Property Information</span></h3>
    <div class="step-content create-new">
        <div class="subhead no-top-margin">
            <h4>Applicant’s name and rental address</h4>
            <a href="#" class="btn-link btn-edit">Edit</a>
        </div>
        <p>{{Ctrl.custDetails.User.FirstName}} {{Ctrl.custDetails.User.LastName}}</p>
        <p>{{Ctrl.custDetails.User.AddressLine1}} {{Ctrl.custDetails.User.AddressLine2}}</p>
        <p>{{Ctrl.custDetails.User.City}} {{Ctrl.custDetails.User.State.StateName}} {{Ctrl.custDetails.User.Zip}}</p>
        <p>{{Ctrl.custDetails.User.PhoneNumber}}</p>



        <div class="subhead">
            <h4>Your representative</h4>
        </div>
        <div class="field-group">
            <p class="input-label">Is anybody representing you?</p>

            <div class="form-group-radio vertical clearfix">
                <label for="anybody_representing_you_yes">
                    <input type="radio" name="anybody_representing_you" id="anybody_representing_you_yes" value="true" ng-model="Ctrl.caseinfo.TenantPetitionInfo.bThirdPartyRepresentation"><i></i><span>Yes</span>
                </label>
                <label for="anybody_representing_you_no">
                    <input type="radio" name="anybody_representing_you" id="anybody_representing_you_no" value="false" ng-model="Ctrl.caseinfo.TenantPetitionInfo.bThirdPartyRepresentation" /><i></i> <span>No</span>
                </label>
                <div class="clear"></div>
            </div>
        </div>
        <div id="representative-info">
            <p class="input-label">This information will be used to send notifications about your case to your representative.</p>

            <div class="field-group">
                <label for="representative_firstname">Name</label>
                <input type="text" class="field-input" ng-trim="false" ng-model="Ctrl.caseinfo.TenantPetitionInfo.ThirdPartyInfo.FirstName" required />
            </div>

            <div class="field-group">
                <input type="text" class="field-input" ng-trim="false" ng-model="Ctrl.caseinfo.TenantPetitionInfo.ThirdPartyInfo.LastName" required />
            </div>

            <div class="field-group">
                <label for="representative_address1">Mailing address 1</label>
                <input type="text" class="field-input" ng-trim="false" ng-model="Ctrl.caseinfo.TenantPetitionInfo.ThirdPartyInfo.AddressLine1" required />
            </div>

            <div class="field-group">
                <label for="representative_address2">Mailing address 2 (optional)</label>
                <input type="text" class="field-input" ng-trim="false" ng-model="Ctrl.caseinfo.TenantPetitionInfo.ThirdPartyInfo.AddressLine2" required />
            </div>

            <div class="field-group">
                <label for="representative_city">City</label>
                <input type="text" class="field-input" ng-trim="false" ng-model="Ctrl.caseinfo.TenantPetitionInfo.ThirdPartyInfo.City" required />
            </div>

            <div class="field-group">
                <label for="representative_state">State</label>
                <select name="representative_state" id="representative_state" class="custom-select" data-placeholder="Select"
                        ng-model="Ctrl.caseinfo.TenantPetitionInfo.ThirdPartyInfo.State"
                        ng-options="state as (state.StateName) for state in Ctrl.StateList track by state.StateID">
                    <option value="" selected>Select state</option>
                </select>
                <!--<input type="text" class="field-input" ng-trim="false" ng-model="Ctrl.caseinfo.TenantPetitionInfo.ThirdPartyInfo.State" required />-->
            </div>

            <div class="field-group">
                <label for="representative_zip_code">Zip Code</label>
                <input type="number" class="field-input" maxlength="5" ng-trim="false" ng-model="Ctrl.caseinfo.TenantPetitionInfo.ThirdPartyInfo.Zip" required />
            </div>

            <div class="field-group">
                <label for="representative_phone_number">Phone number</label>
                <input type="number" class="field-input" ng-trim="false" ng-model="Ctrl.caseinfo.TenantPetitionInfo.ThirdPartyInfo.PhoneNumber" required />
            </div>

            <div class="field-group">
                <label for="representative_email">Email Address</label>
                <input type="email" class="field-input" ng-trim="false" ng-model="Ctrl.caseinfo.TenantPetitionInfo.ThirdPartyInfo.Email" required />
            </div>
        </div>

        <div class="subhead">
            <h4>Property owner(s) name and mailing address</h4>
        </div>
        <div id="property-owner-info">

            <div class="field-group">
                <label for="representative_firstname">Name</label>
                <input type="text" class="field-input" ng-trim="false" ng-model="Ctrl.caseinfo.TenantPetitionInfo.OwnerInfo.FirstName" required />
            </div>

            <div class="field-group">
                <input type="text" class="field-input" ng-trim="false" ng-model="Ctrl.caseinfo.TenantPetitionInfo.OwnerInfo.LastName" required />
            </div>

            <div class="field-group">
                <label for="representative_address1">Mailing address 1</label>
                <input type="text" class="field-input" ng-trim="false" ng-model="Ctrl.caseinfo.TenantPetitionInfo.OwnerInfo.AddressLine1" required />
            </div>

            <div class="field-group">
                <label for="representative_address2">Mailing address 2 (optional)</label>
                <input type="text" class="field-input" ng-trim="false" ng-model="Ctrl.caseinfo.TenantPetitionInfo.OwnerInfo.AddressLine2" required />
            </div>

            <div class="field-group">
                <label for="representative_city">City</label>
                <input type="text" class="field-input" ng-trim="false" ng-model="Ctrl.caseinfo.TenantPetitionInfo.OwnerInfo.City" required />
            </div>

            <div class="field-group">
                <label for="owner_state">State</label>
                <!--<input type="text" class="field-input" ng-trim="false" ng-model="Ctrl.caseinfo.TenantPetitionInfo.OwnerInfo.State" required />-->
                <select name="owner_state" id="owner_state" class="custom-select" data-placeholder="Select"
                        ng-model="Ctrl.caseinfo.TenantPetitionInfo.OwnerInfo.State"
                        ng-options="state as (state.StateName) for state in Ctrl.StateList track by state.StateID">
                    <option value="" selected>Select state</option>
                </select>
            </div>

            <div class="field-group">
                <label for="representative_zip_code">Zip Code</label>
                <input type="number" class="field-input" maxlength="5" ng-trim="false" ng-model="Ctrl.caseinfo.TenantPetitionInfo.OwnerInfo.Zip" required />
            </div>

            <p>Phone Number</p>
            <input type="number" class="form-control input-sm" ng-trim="false" ng-model="Ctrl.caseinfo.TenantPetitionInfo.OwnerInfo.PhoneNumber" required />
            <p>Email</p>
            <input type="email" class="form-control input-sm" ng-trim="false" ng-model="Ctrl.caseinfo.TenantPetitionInfo.OwnerInfo.Email" required />


            <!--<div class="field-group">
                <label for="representative_phone_number">Phone number</label>
                <input type="number" class="field-input" ng-trim="false" ng-model="Ctrl.caseinfo.TenantPetitionInfo.OwnerInfo.PhoneNumber" required />
            </div>

            <div class="field-group">
                <label for="representative_email">Email Address</label>
                <input type="email" class="field-input" ng-trim="false" ng-model="Ctrl.caseinfo.TenantPetitionInfo.OwnerInfo.Email" required />
            </div>-->

            <div class="subhead">
                <h4>Property manager(s) name and mailing address</h4>
            </div>
            <div id="property-manager-info">
                <div class="checkbox">
                    <label for="same_as_po_info">
                        <input type="checkbox" name="same_as_po_info" id="same_as_po_info" class="input-field" value="Yes
                            " ng-model="Ctrl.caseinfo.TenantPetitionInfo.bSameAsOwnerInfo"
                               ng-change="Ctrl.ChangeSameAsPropertyOwner()" /><i></i><span>Same as property owner info
                            </span>
                    </label>
                    <div class="clear"></div>
                </div>

                <div class="field-group">
                    <label for="pm_firstname">Name</label>
                    <input type="text" name="pm_firstname" id="pm_firstname" class="field-input" ng-model="Ctrl.caseinfo.TenantPetitionInfo.PropertyManager.FirstName" placeholder="First" />
                </div>

                <div class="field-group">
                    <input type="text" name="pm_lastname" id="pm_lastname" class="field-input" ng-model="Ctrl.caseinfo.TenantPetitionInfo.PropertyManager.LastName" placeholder=" last" />
                </div>
                <p>&nbsp;</p>

                <div class="field-group">
                    <label for="pm_address1">Mailing address 1</label>
                    <input type="text" name="pm_address1" id="pm_address1" class="field-input" ng-model="Ctrl.caseinfo.TenantPetitionInfo.PropertyManager.AddressLine1" placeholder=" " />
                </div>

                <div class="field-group">
                    <label for="pm_address2">Mailing address 2 (optional)</label>
                    <input type="text" name="pm_address2" id="pm_address2" class="field-input" ng-model="Ctrl.caseinfo.TenantPetitionInfo.PropertyManager.AddressLine2" placeholder="" />
                </div>

                <div class="field-group">
                    <label for="pm_state">State</label>
                    <select name="pm_state" id="pm_state" class="custom-select" data-placeholder="Select"
                            ng-model="Ctrl.caseinfo.TenantPetitionInfo.PropertyManager.State"
                            ng-options="state as (state.StateName) for state in Ctrl.StateList track by state.StateID">
                        <option value="" selected>Select state</option>
                    </select>
                    <!--<select name="pm_state" id="pm_state" class="custom-select" data-placeholder="Select">
                        <option value="option_01">Option 01</option>
                        <option value="option_02">Option 02</option>
                        <option value="option_03">Option 03</option>
                    </select>-->
                </div>

                <div class="field-group">
                    <label for="pm_city">City</label>
                    <input type="text" name="pm_city" id="pm_city" ng-model="Ctrl.caseinfo.TenantPetitionInfo.PropertyManager.City" class="field-input" />
                </div>

                <div class="field-group">
                    <label for="pm_zip_code">Zip Code</label>
                    <input type="number" name="pm_zip_code" id="pm_zip_code" ng-model="Ctrl.caseinfo.TenantPetitionInfo.PropertyManager.Zip" class="field-input" />
                </div>
                <p>Phone Number</p>
                <input type="number" class="form-control input-sm" ng-trim="false" ng-model="Ctrl.caseinfo.TenantPetitionInfo.PropertyManager.PhoneNumber" required />
                <p>Email</p>
                <input type="email" class="form-control input-sm" ng-trim="false" ng-model="Ctrl.caseinfo.TenantPetitionInfo.PropertyManager.Email" required />
                <!--<div class="field-group">
                    <label for="pm_phone_number">Phone number</label>
                    <input type="text" name="pm_phone_number" id="pm_phone_number" ng-model="Ctrl.caseinfo.TenantPetitionInfo.PropertyManager.PhoneNumber" class="field-input" />
                </div>

                <div class="field-group">
                    <label for="pm_email">Email Address</label>
                    <input type="text" name="pm_email" id="pm_email" ng-model="Ctrl.caseinfo.TenantPetitionInfo.PropertyManager.Email" class="field-input email" />
                </div>-->



                <div class="subhead">
                    <h4>Property information</h4>
                </div>
                <div id="property-info">

                    <div class="field-group">
                        <label for="pi_units_count">Number of units</label>
                        <input type="number" ng-trim="false" class="field-input" ng-model="Ctrl.caseinfo.TenantPetitionInfo.NumberOfUnits" required />
                    </div>

                    <div class="field-group">
                        <label for="pi_approx_units">If you don’t know the exact number of units in your building, please select an approximate range:</label>
                        <select name="pi_approx_units" id="pi_approx_units" class="custom-select" data-placeholder="Select range"
                                ng-model="Ctrl.caseinfo.TenantPetitionInfo.SelectedRangeOfUnits"
                                ng-options="range as (range.RangeDesc) for range in Ctrl.caseinfo.TenantPetitionInfo.RangeOfUnits track by range.RangeID">
                            <option value="" selected>Select range</option>
                        </select>
                    </div>

                    <div class="field-group">
                        <p class="input-label">Type of unit you rent</p>
                        <div class="radio">
                            <label ng-repeat="unittype in Ctrl.caseinfo.TenantPetitionInfo.UnitTypes" for="{{unittype.UnitTypeID}}">
                                <input type="radio"
                                       class="input-field"
                                       ng-model="Ctrl.caseinfo.TenantPetitionInfo.UnitTypeId"
                                       ng-value="unittype.UnitTypeID"
                                       id="{{unittype.UnitTypeID}}"
                                       name="units">{{unittype.UnitDescription}}
                            </label>
                            <div class="clear"></div>
                        </div>
                    </div>
                   
                    <div class="field-group">
                        <p class="input-label">Are you current on paying your rent?</p>
                        <div class="form-group-radio vertical clearfix">
                            <label ng-repeat="currentonrent in Ctrl.caseinfo.TenantPetitionInfo.CurrentOnRent" for="{{currentonrent.StatusID}}">
                                <input type="radio"
                                       class="input-field"
                                       ng-model="Ctrl.caseinfo.TenantPetitionInfo.CurrentRentStatusID"
                                       ng-value="currentonrent.StatusID"
                                       id="{{currentonrent.StatusID}}"
                                       name="currentrent">{{currentonrent.Status}}
                            </label>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>

                <div id="explanation" class="field-group">
                    <label for="pi_explanation">If you are not current on paying your rent, please provide an explanation.</label>
                    <textarea name="pi_explanation" id="pi_explanation" class="field-input textarea" rows="8" ng-model="Ctrl.caseinfo.TenantPetitionInfo.ProvideExplanation"></textarea>
                </div>

           

                <button class="btn-primary" ng-click="Ctrl.ContinueToGroundsforPetition()">Continue</button>
            </div>
        </div>



