


                    <div class="application-form-wrapper">
                        <div class="application-step step-1">
                            <div class="alert alert-error" ng-show="Hide==true">
                                <!--<strong><a href="javascript:void();" data-scrollto="anybody_representing_you">Is anybody representing you</a></strong>  is a required field<br />
        <strong><a href="javascript:void();" data-scrollto="rao_exemption_contest">I wish to contest an exemption from the Rent Adjustment Ordinance</a></strong>  is a required field<br />
        <strong><a href="javascript:void();" data-id="representative_firstname">Name</a></strong> is a required field<br />
        <strong><a href="javascript:void();" data-id="business_name">Business name</a></strong> is a required field-->
                            </div>

                            <!-- Page Sub Title - Visible on desktop screens only -->
                            <div class="step-heading">Applicant and Property Information</div>

                            <form name="frmTenentPetition" id="frmTenentPetition" action="#" method="post" novalidate class="application-form">
                                <div class="step-content create-new">
                                    <div class="subhead no-top-margin">
                                        <h4>Tenant information</h4>
                                        <a ng-click="Ctrl.ChangeAccountInformation()" class="btn-link btn-edit">Edit</a>
                                    </div>
                                    <div ng-show="{{Ctrl.caseinfo.bCaseFiledByThirdParty == false}}">
                                        {{Ctrl.caseinfo.TenantPetitionInfo.ApplicantUserInfo.FirstName}} {{Ctrl.caseinfo.TenantPetitionInfo.ApplicantUserInfo.LastName}}<br />
                                        {{Ctrl.caseinfo.TenantPetitionInfo.ApplicantUserInfo.AddressLine1}} {{Ctrl.caseinfo.TenantPetitionInfo.ApplicantUserInfo.AddressLine2}}<br />
                                        {{Ctrl.caseinfo.TenantPetitionInfo.ApplicantUserInfo.City}} {{Ctrl.caseinfo.TenantPetitionInfo.ApplicantUserInfo.StateName}} {{Ctrl.caseinfo.TenantPetitionInfo.ApplicantUserInfo.Zip}}<br />
                                        {{Ctrl.caseinfo.TenantPetitionInfo.ApplicantUserInfo.PhoneNumber}}
                                    </div>
                                    <div ng-show="{{Ctrl.caseinfo.bCaseFiledByThirdParty == true}}">
                                        <div class="field-group">
                                            <label for="Applicant_firstname">Name</label>
                                            <input type="text" class="field-input" ng-trim="false" ng-model="Ctrl.caseinfo.TenantPetitionInfo.ApplicantUserInfo.FirstName" placeholder="First"  />
                                        </div>

                                        <div class="field-group">
                                            <input type="text" class="field-input" ng-trim="false" ng-model="Ctrl.caseinfo.TenantPetitionInfo.ApplicantUserInfo.LastName" placeholder="Last"  />
                                        </div>
                                        <p>&nbsp;</p>
                                        <div class="field-group">
                                            <label for="Applicant_businessname">Business name</label>
                                            <input type="text" name="Applicant_businessname" id="Applicant_businessname" class="field-input" placeholder="" ng-model="Ctrl.caseinfo.TenantPetitionInfo.ApplicantUserInfo.BusinessName" />
                                        </div>

                                        <div class="field-group">
                                            <label for="Applicant_address1">Mailing address 1</label>
                                            <input type="text" class="field-input" ng-trim="false" ng-model="Ctrl.caseinfo.TenantPetitionInfo.ApplicantUserInfo.AddressLine1"  />
                                        </div>

                                        <div class="field-group">
                                            <label for="Applicant_address2">Mailing address 2 (optional)</label>
                                            <input type="text" class="field-input" ng-trim="false" ng-model="Ctrl.caseinfo.TenantPetitionInfo.ApplicantUserInfo.AddressLine2"  />
                                        </div>

                                        <div class="field-group">
                                            <label for="Applicant_city">City</label>
                                            <input type="text" class="field-input" ng-trim="false" ng-model="Ctrl.caseinfo.TenantPetitionInfo.ApplicantUserInfo.City"  />
                                        </div>

                                        <div class="field-group">
                                            <label for="Applicant_state">State</label>
                                            <!--<input type="text" class="field-input" ng-trim="false" ng-model="Ctrl.caseinfo.TenantPetitionInfo.ApplicantUserInfo.State" required />-->
                                            <select name="Applicant_state" id="Applicant_state" class="custom-select" data-placeholder="Select"
                                                    ng-model="Ctrl.caseinfo.TenantPetitionInfo.ApplicantUserInfo.State"
                                                    ng-options="state as (state.StateName) for state in Ctrl.StateList track by state.StateID">
                                                <option value="" selected>Select state</option>
                                            </select>
                                        </div>

                                        <div class="field-group">
                                            <label for="Applicant_zip_code">Zip code</label>
                                            <input type="text" class="field-input" maxlength="5" ng-trim="false" ng-model="Ctrl.caseinfo.TenantPetitionInfo.ApplicantUserInfo.Zip"  />
                                        </div>

                                        <div class="field-group">
                                            <label for="Applicante_phone_number">Phone number</label>
                                            <input type="text" class="field-input" ng-trim="false" ng-model="Ctrl.caseinfo.TenantPetitionInfo.ApplicantUserInfo.PhoneNumber"  />
                                        </div>

                                        <div class="field-group">
                                            <label for="Applicant_email">Email address</label>
                                            <input type="email" class="field-input" ng-trim="false" ng-model="Ctrl.caseinfo.TenantPetitionInfo.ApplicantUserInfo.Email"  />
                                        </div>
                                    </div>


                                    <div class="subhead">
                                        <h4>Your representative’s information</h4>
                                    </div>

                                    <div class="field-group" ng-show="{{Ctrl.caseinfo.bCaseFiledByThirdParty == false}}">
                                        <p class="input-label">Is anybody representing you?</p>
                                        <div id="anybody_representing_you" class="form-group-radio vertical clearfix required has-radio-error" data-error="Is anybody representing you">
                                            <label for="anybody_representing_you_yes">
                                                <input type="radio" name="anybody_representing_you" id="anybody_representing_you_yes" class="input-field" ng-value="true" ng-model="Ctrl.caseinfo.TenantPetitionInfo.bThirdPartyRepresentation" data-toggle="show" data-toggle-id="representative-info" /><i></i><span>Yes</span>
                                            </label>

                                            <label for="anybody_representing_you_no">
                                                <input type="radio" name="anybody_representing_you" id="anybody_representing_you_no" class="input-field" ng-value="false" ng-model="Ctrl.caseinfo.TenantPetitionInfo.bThirdPartyRepresentation" data-toggle="hide" data-toggle-id="representative-info" /><i></i> <span>No</span>
                                            </label>
                                            <div class="clear"></div>
                                            <span class="input-error-msg">This is a required field</span>
                                        </div>
                                    </div>

                                    <div id="representative-info">
                                        <div ng-show="(!Ctrl.caseinfo.bCaseFiledByThirdParty)  && (Ctrl.caseinfo.TenantPetitionInfo.bThirdPartyRepresentation)">
                                            <p class="input-label">We will use this information to send notifications about your case to your representative.</p>

                                            <div class="field-group">
                                                <label for="representative_firstname">Name</label>
                                                <input type="text" name="representative_firstname" id="representative_firstname" class="field-input required input-error"
                                                       ng-model="Ctrl.caseinfo.TenantPetitionInfo.ThirdPartyInfo.FirstName" placeholder="First" data-error="Name" required/>
                                                <span class="input-error-msg">This is a required field</span>
                                            </div>

                                            <div class="field-group mar-bottom-40">
                                                <input type="text" name="representative_lastname" id="representative_lastname" class="field-input"
                                                       ng-model="Ctrl.caseinfo.TenantPetitionInfo.ThirdPartyInfo.LastName" placeholder="Last" />
                                            </div>

                                            <div class="field-group">
                                                <label for="business_name">Business name</label>
                                                <input type="text" name="business_name" id="business_name" class="field-input required input-error" placeholder=""
                                                       ng-model="Ctrl.caseinfo.TenantPetitionInfo.ThirdPartyInfo.BusinessName" data-error="Business name" />
                                                <span class="input-error-msg">This is a required field</span>
                                            </div>

                                            <div class="field-group">
                                                <label for="representative_address1">Mailing address 1</label>
                                                <input type="text" name="representative_address1" id="representative_address1" class="field-input" placeholder=""
                                                       ng-model="Ctrl.caseinfo.TenantPetitionInfo.ThirdPartyInfo.AddressLine1" />
                                            </div>

                                            <div class="field-group">
                                                <label for="representative_address2">Mailing address 2 (optional)</label>
                                                <input type="text" name="representative_address2" id="representative_address2" class="field-input" placeholder=""
                                                       ng-model="Ctrl.caseinfo.TenantPetitionInfo.ThirdPartyInfo.AddressLine2" />
                                            </div>

                                            
                                            <div class="field-group">
                                                <label for="representative_state">State</label>
                                                <div class="full-width">
                                                    <dropdown placeholder="States" list="Ctrl.StateList" property="StateName" selected="Ctrl.caseinfo.TenantPetitionInfo.ThirdPartyInfo.State"></dropdown>
                                                </div>                                                
                                            </div>

                                            <div class="field-group">
                                                <label for="representative_city">City</label>
                                                <input type="text" name="representative_city" id="representative_city" class="field-input" ng-model="Ctrl.caseinfo.TenantPetitionInfo.ThirdPartyInfo.City" />
                                            </div>

                                            <div class="field-group">
                                                <label for="representative_zip_code">Zip code</label>
                                                <input type="text" name="representative_zip_code" id="representative_zip_code" class="field-input" ng-model="Ctrl.caseinfo.TenantPetitionInfo.ThirdPartyInfo.Zip" />
                                            </div>

                                            <div class="field-group">
                                                <label for="representative_phone_number">Phone number</label>
                                                <input type="text" name="representative_phone_number" id="representative_phone_number" class="field-input" ng-model="Ctrl.caseinfo.TenantPetitionInfo.ThirdPartyInfo.PhoneNumber" />
                                            </div>

                                            <div class="field-group">
                                                <label for="representative_email">Email address</label>
                                                <input type="text" name="representative_email" id="representative_email" class="field-input email" ng-model="Ctrl.caseinfo.TenantPetitionInfo.ThirdPartyInfo.Email" />
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-show="{{Ctrl.caseinfo.bCaseFiledByThirdParty == true}}">
                                        <p>{{Ctrl.caseinfo.TenantPetitionInfo.ThirdPartyUser.FirstName}} {{Ctrl.caseinfo.TenantPetitionInfo.ThirdPartyUser.LastName}}</p>
                                        <p>{{Ctrl.caseinfo.TenantPetitionInfo.ThirdPartyUser.AddressLine1}}</p>
                                        <p>{{Ctrl.caseinfo.TenantPetitionInfo.ThirdPartyUser.AddressLine2}}</p>
                                        <p>{{Ctrl.caseinfo.TenantPetitionInfo.ThirdPartyUser.City}} {{Ctrl.caseinfo.TenantPetitionInfo.ThirdPartyUser.State.StateName}} {{Ctrl.caseinfo.TenantPetitionInfo.ThirdPartyUser.Zip}}</p>
                                        <p>Tel: {{Ctrl.caseinfo.TenantPetitionInfo.ThirdPartyUser.PhoneNumber}}</p>
                                        <p>Email : {{Ctrl.caseinfo.TenantPetitionInfo.ThirdPartyUser.Email}}</p>
                                    </div>

                                    <!-- Property Owner Information -->
                                    <div class="subhead">
                                        <h4>Property owner(s) name and mailing address</h4>
                                    </div>
                                    <div id="property-owner-info">
                                        <div class="field-group">
                                            <label for="po_firstname">Name <span>*</span></label>
                                            <input type="text" name="po_firstname" id="po_firstname" class="field-input required" placeholder="First"
                                                   ng-model="Ctrl.caseinfo.TenantPetitionInfo.OwnerInfo.FirstName" data-error="Name" required/>
                                            <span class="input-error-msg hidden"></span>
                                        </div>

                                        <div class="field-group mar-bottom-40">
                                            <input type="text" name="po_lastname" id="po_lastname" class="field-input" placeholder="Last"
                                                   ng-model="Ctrl.caseinfo.TenantPetitionInfo.OwnerInfo.LastName" />
                                        </div>

                                        <div class="field-group">
                                            <label for="po_business_name">Business name</label>
                                            <input type="text" name="po_business_name" id="po_business_name" class="field-input" placeholder=""
                                                   ng-model="Ctrl.caseinfo.TenantPetitionInfo.OwnerInfo.BusinessName" />
                                        </div>

                                        <div class="field-group">
                                            <label for="po_address1">Mailing address 1 <span>*</span></label>
                                            <input type="text" name="po_address1" id="po_address1" class="field-input required" placeholder=""
                                                   ng-model="Ctrl.caseinfo.TenantPetitionInfo.OwnerInfo.AddressLine1" data-error="Mailing address 1" />
                                            <span class="input-error-msg hidden"></span>
                                        </div>

                                        <div class="field-group">
                                            <label for="po_address2">Mailing address 2 (optional)</label>
                                            <input type="text" name="po_address2" id="po_address2" class="field-input" placeholder=""
                                                   ng-model="Ctrl.caseinfo.TenantPetitionInfo.OwnerInfo.AddressLine2" />
                                        </div>

                                        <div class="field-group">
                                            <label for="po_state">State <span>*</span></label>
                                            <dropdown placeholder="States" list="Ctrl.StateList" property="StateName" selected="Ctrl.caseinfo.TenantPetitionInfo.OwnerInfo.State"></dropdown>                                                
                                            <span class="input-error-msg hidden"></span>
                                        </div>

                                        <div class="field-group">
                                            <label for="po_city">City <span>*</span></label>
                                            <input type="text" name="po_city" id="po_city" class="field-input required" data-error="City" ng-model="Ctrl.caseinfo.TenantPetitionInfo.OwnerInfo.City" required />
                                            <span class="input-error-msg hidden"></span>
                                        </div>

                                        <div class="field-group">
                                            <label for="po_zip_code">Zip Code <span>*</span></label>
                                            <input type="text" name="po_zip_code" id="po_zip_code" class="field-input required" data-error="Zip Code" ng-model="Ctrl.caseinfo.TenantPetitionInfo.OwnerInfo.Zip" required />
                                            <span class="input-error-msg hidden"></span>
                                        </div>

                                        <div class="field-group">
                                            <label for="po_phone_number">Phone number <span>*</span></label>
                                            <input type="text" name="po_phone_number" id="po_phone_number" class="field-input required" data-error="Phone number"
                                                   ng-model="Ctrl.caseinfo.TenantPetitionInfo.OwnerInfo.PhoneNumber" required />
                                            <span class="input-error-msg hidden"></span>
                                        </div>

                                        <div class="field-group">
                                            <label for="po_email">Email address <span>*</span></label>
                                            <input type="text" name="po_email" id="po_email" class="field-input required email" data-error="Email address"
                                                   ng-model="Ctrl.caseinfo.TenantPetitionInfo.OwnerInfo.Email" />
                                            <span class="input-error-msg hidden"></span>
                                        </div>
                                    </div>


                                    <!-- Property Manager Information -->
                                    <div class="subhead">
                                        <h4>Property manager(s) name and mailing address</h4>
                                    </div>

                                    <div id="property-manager-info">
                                        <div class="form-group-radio vertical clearfix">
                                            <label for="same_as_po_info">
                                                <input type="checkbox" class="checkbox" id="same_as_po_info" ng-model="Ctrl.caseinfo.TenantPetitionInfo.bSameAsOwnerInfo"
                                                       value="Yes" ng-change="Ctrl.ChangeSameAsPropertyOwner()"><i></i><span>Same as property owner</span>
                                            </label>
                                            <div class="clear"></div>
                                        </div>

                                        <div class="field-group">
                                            <label for="pm_firstname">Name</label>
                                            <input type="text" name="pm_firstname" id="pm_firstname" class="field-input" placeholder="First" ng-model="Ctrl.caseinfo.TenantPetitionInfo.PropertyManager.FirstName" />
                                        </div>

                                        <div class="field-group mar-bottom-40">
                                            <input type="text" name="pm_lastname" id="pm_lastname" class="field-input" placeholder="Last" ng-model="Ctrl.caseinfo.TenantPetitionInfo.PropertyManager.LastName" />
                                        </div>

                                        <div class="field-group">
                                            <label for="pm_business_name">Business name</label>
                                            <input type="text" name="pm_business_name" id="pm_business_name" class="field-input" placeholder="" ng-model="Ctrl.caseinfo.TenantPetitionInfo.PropertyManager.BusinessName" />
                                        </div>

                                        <div class="field-group">
                                            <label for="pm_address1">Mailing address 1</label>
                                            <input type="text" name="pm_address1" id="pm_address1" class="field-input" placeholder="" ng-model="Ctrl.caseinfo.TenantPetitionInfo.PropertyManager.AddressLine1" />
                                        </div>

                                        <div class="field-group">
                                            <label for="pm_address2">Mailing address 2 (optional)</label>
                                            <input type="text" name="pm_address2" id="pm_address2" class="field-input" placeholder="" ng-model="Ctrl.caseinfo.TenantPetitionInfo.PropertyManager.AddressLine2" />
                                        </div>

                                        <div class="field-group">
                                            <label for="pm_state">State</label>
                                            <dropdown placeholder="States" list="Ctrl.StateList" property="StateName" selected="Ctrl.caseinfo.TenantPetitionInfo.PropertyManager.State"></dropdown> 
                                        </div>

                                        <div class="field-group">
                                            <label for="pm_city">City</label>
                                            <input type="text" name="pm_city" id="pm_city" class="field-input" ng-model="Ctrl.caseinfo.TenantPetitionInfo.PropertyManager.City" />
                                        </div>

                                        <div class="field-group">
                                            <label for="pm_zip_code">Zip Code</label>
                                            <input type="text" name="pm_zip_code" id="pm_zip_code" class="field-input" ng-model="Ctrl.caseinfo.TenantPetitionInfo.PropertyManager.Zip" />
                                        </div>

                                        <div class="field-group">
                                            <label for="pm_phone_number">Phone number</label>
                                            <input type="text" name="pm_phone_number" id="pm_phone_number" class="field-input" ng-model="Ctrl.caseinfo.TenantPetitionInfo.PropertyManager.PhoneNumber" />
                                        </div>

                                        <div class="field-group">
                                            <label for="pm_email">Email Address</label>
                                            <input type="text" name="pm_email" id="pm_email" class="field-input email" ng-model="Ctrl.caseinfo.TenantPetitionInfo.PropertyManager.Email" />
                                        </div>
                                    </div>

                                    <!-- Property Information -->
                                    <div class="subhead">
                                        <h4>Property information</h4>
                                    </div>

                                    <div id="property-info">
                                        <div class="field-group">
                                            <label for="pi_units_count">Number of units</label>
                                            <input type="text" name="pi_units_count" id="pi_units_count" class="field-input" placeholder="" ng-model="Ctrl.caseinfo.TenantPetitionInfo.NumberOfUnits" />
                                        </div>

                                        <div class="field-group">
                                            <label for="pi_approx_units">If you don’t know the exact number of units in your building, please select an approximate range:</label>
                                            <dropdown placeholder="Select range" list="Ctrl.caseinfo.TenantPetitionInfo.RangeOfUnits" property="RangeDesc" selected="Ctrl.caseinfo.TenantPetitionInfo.SelectedRangeOfUnits"></dropdown>                                             
                                        </div>


                                        <div class="field-group">
                                            <p class="input-label">Type of unit you rent</p>
                                            <div class="form-group-radio vertical clearfix">
                                                <label ng-repeat="unittype in Ctrl.caseinfo.TenantPetitionInfo.UnitTypes" for="{{unittype.UnitTypeID}}">
                                                    <input type="radio" class="input-field"
                                                           ng-model="Ctrl.caseinfo.TenantPetitionInfo.UnitTypeId"
                                                           ng-value="unittype.UnitTypeID"
                                                           id="{{unittype.UnitTypeID}}"
                                                           name="UnitType"><i></i><span>{{unittype.UnitDescription}}</span>
                                                </label>
                                                <div class="clear"></div>
                                            </div>
                                        </div>

                                        <div class="field-group">
                                            <p class="input-label">Are you current on your rent?</p>
                                            <div id="pi_paying_rent" class="form-group-radio required vertical clearfix" data-error="Are you current on paying your rent?">
                                                <label for="pi_paying_rent_yes">
                                                    <input type="radio" name="pi_paying_rent" id="pi_paying_rent_yes" class="input-field" ng-value="true"
                                                           ng-model="Ctrl.caseinfo.TenantPetitionInfo.bCurrentRentStatus" data-toggle="hide" data-toggle-id="explanation" /><i></i><span>Yes</span>
                                                </label>

                                                <label for="pi_paying_rent_no">
                                                    <input type="radio" name="pi_paying_rent" id="pi_paying_rent_no" class="input-field" ng-value="false"
                                                           ng-model="Ctrl.caseinfo.TenantPetitionInfo.bCurrentRentStatus"                                                               data-toggle="show" data-toggle-id="explanation" /><i></i><span>No</span>
                                                </label>
                                                <div class="clear"></div>
                                                <span class="input-error-msg hidden"></span>
                                            </div>
                                        </div>

                                        <div id="explanation" class="field-group" ng-show="!Ctrl.caseinfo.TenantPetitionInfo.bCurrentRentStatus">
                                            <label for="pi_explanation">If you are not current on your rent, please explain.</label>
                                            <textarea name="pi_explanation" id="pi_explanation" class="field-input textarea" rows="8"
                                                      ng-model="Ctrl.caseinfo.TenantPetitionInfo.ProvideExplanation"></textarea>
                                        </div>
                                    </div>

                                    <!-- File Upload warning -->
                                    <div class="alert alert-warning">
                                        <p>Once you click <strong>save and continue</strong>, you will not be able to delete files that you have uploaded. To add new files to your case, use “add additional documentation form” on the dashboard. You can upload additional documentation up to 7 days from scheduled hearing or mediation date.</p>
                                    </div>

                                </div>

                                <div class="step-footer">
                                    
                                    <!--<input type="submit" id="continue" name="continue" class="btn-primary" value="Save and continue"
                                           ng-click="(!((frmTenentPetition.po_firstname.$error.required) || (frmTenentPetition.po_address1.$error.required))) &&Ctrl.ContinueToGroundsforPetition()" />-->
                                    <input type="submit" id="continue" name="continue" class="btn-primary" value="Save and Continue"
                                           ng-click="(Hide=true) ;( (!frmTenentPetition.po_firstname.$error.required) && Ctrl.ContinueToGroundsforPetition())" />
                                </div>
                            </form>
                        </div>

                    </div><!-- .application-form-wrapper -->
                