<h3 class="step-heading">Tenant Petition: <span>Confirmation</span></h3>

    <div class="step-content step1">

        <div class="field-group subhead no-top-margin">
            <div class="information">
                <p>
                    Your petition has been submitted to the City of Oakland Rent Adjustment Program. Your case number is {{Ctrl.caseinfo.CaseID}}.

                    A confirmation has been sent to your email. If you have not received it, be sure to check your spam box. A copy of your petition will be sent to the other party and they will have 35 days to respond. You may submit any additional documentation up till 7 days before the hearing, and may also review the other party's submitted documents. Pay close attention to your email and your mail for information regarding next steps.

                    In the meantime, here are some <communication sample letters>
                    to help you have an open conversation. If you see a way to resolve this issue through conversation, we encourage you to pursue it.

                    If at any point you would like to withdraw your petition, please submit a <withdrawal form>
                    If you have any questions please contact RAP staff at Phone: (510) 238-3721
                </p>
            </div>
        </div>
        
    </div>


    <div class="step-footer">
        <input type="button" id="continue" name="continue" class="btn-primary" value="Back to my dashboard" ng-click="Ctrl.Continue()" />
    </div>
