
<h3 class="step-heading">Tenant Petition: <span>Additional Documentation</span></h3>
<div class="step-content step1">

    <div class="field-group subhead no-top-margin">
        <p>Please use the form below to include any additional documentation that you would like the Rent Adjustment Program to examine as part of your petition.</p>
    </div>

    <div class="field-group subhead">
        <label for="document_description">Description of the document that you are attaching</label>
        <input type="text" class="form-control input-sm" ng-trim="false" />
        <div>
            <input type="file" ngf-select ngf-change="onFileSelect($files)" />
        </div>
        </div></div>

        <button class="btn-primary" ng-click="Ctrl.ContinueToReview()">Continue</button>
