<script src='js/functions.js'></script>
<div class="application-form-wrapper">
    <div class="row">
        <div class="col-md-9 col-sm-12">
            <div class="application-step step-1">
                <div class="alert" ng-show="Ctrl.Error!=''">
                    <strong><a href="javascript:void();">{{Ctrl.Error}}</a></strong>
                </div>
                <h3 class="step-heading">Additional Documentation</h3>

                <form name="frmTenentPetition" id="frmTenentPetition" action="#" method="post" class="application-form">
                    <div class="step-content step1">

                        <div class="field-group subhead no-top-margin">
                            <p>Please use the form below to include any additional documentation that you would like the Rent Adjustment Program to examine.</p>
                        </div>

                      
                        <!-- .custom-table -->
                        <div class="custom-table docs-list" ng-repeat="item in Ctrl.Documents | filter: {DocTitle: 'TP_AdditionalDocuments'}">
                            <div class="tbl-header">
                                <div class="tbl-row clearfix">
                                    <div class="col col-35 name">File name</div>
                                </div>
                            </div>

                            <div class="tbl-body">
                                <div class="tbl-row clearfix">
                                    <div class="item" ng-class="{'expanded':toggle}">
                                        <div class="item-header clearfix">
                                            <div class="col col-35 name pad-l30"><a ng-click="toggle = !toggle" class="btn-toggle"></a>{{item.DocName}}</div>
                                            <a ng-show="item.isUploaded == false" ng-click="Ctrl.Delete(item)" class="btn-link btn-delete">Delete</a>
                                            <a ng-show="item.isUploaded == true" ng-click="Ctrl.Download(item)" class="btn-link btn-delete">Download</a>
                                        </div>

                                        <div class="item-content clearfix" ng-show="toggle">
                                            <div class="row">
                                                <div class="col-md-10 col-sm-12">
                                                    <p>{{item.DocDescription}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                      
                        <div class="field-group">
                            <label for="preset_description">Select one of the preset descriptions from the drop down menu</label>
                            <div class="full-width">

                                <select ng-model="Ctrl.description1"
                                        data-placeholder="Description"
                                        ng-options="desc for desc in Ctrl.DocDescriptions"></select>
                            </div>
                        </div>

                        <div class="field-group">
                            <label for="document_description">If none of the above descriptions apply, please provide a description of the document you’re attaching. </label>
                            <textarea name="document_description" id="document_description" class="field-input textarea" rows="6"></textarea>
                        </div>

                        <p><strong>You are permitted to upload the following file types: PDF, Word, Excel, JPEG, TIFF and PNG. The maximum file size limit for uploads is 25MB</strong></p>

                        <div class="field-group">
                            <div class="field-addfile">
                                <div class="input-file-wrapper">
                                    <span class="btn-link">Attach document</span>
                                    <input type="file" id="attach_documentation" name="attach_documentation" ngf-select ngf-change="onFileSelected($files,'TP_AdditionalDocuments')" accept=".doc,.docx,.pdf,.xlsx,.jpeg,.tiff,.png" multiple />
                                </div>
                            </div>
                        </div><!-- .field-group -->   

                    </div>


                    <div class="step-footer">
                        <input type="button" id="continue" name="continue" class="btn-primary" value="Save and continue" ng-click="Ctrl.ContinueToReview()" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



