<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="panel panel-danger font-small">
            <div class="panel-heading">
                <strong>User</strong>
            </div>
            <div class="panel-body">
                <p>Renter petition : Additional Documentation</p>
                <p>Description of the document that you are attaching</p>
                <input type="text" class="form-control input-sm" ng-trim="false" />
                <div>
                    <input type="file" ngf-select ngf-change="onFileSelect($files)" />
                </div>

                <button ng-click="Ctrl.ContinueToReview()">Continue</button>
            </div>
        </div>
    </div>
</div>
