<div class="col-md-9 col-sm-12">
    <div class="application-form-wrapper">
        <div class="application-step step-1">
            <div class="alert alert-error" ng-show="Hide==true">
            </div>
            <!-- Page Sub Title - Visible on desktop screens only -->
            <div class="step-heading">Petition Type</div>

            <form name="frmTenentPetition" id="frmTenentPetition" novalidate class="application-form" onsubmit="return false;">
                <div class=" step-content step1">

                <div class="field-group subhead no-top-margin">
                    <p class="input-label">Are you filing as a tenant or as a property owner?</p>

                    <div class="form-group-radio vertical clearfix required" data-error="Filing category">
                        <label ng-repeat="category in Ctrl.caseinfo.PetitionCategory" for="{{category.PetitionCategoryID}}">
                            <input type="radio" class="input-field"
                                   ng-model="Ctrl.caseinfo.PetitionCategoryID"
                                   ng-value="category.PetitionCategoryID"
                                   id="{{category.PetitionCategoryID}}"
                                   ng-change="Ctrl.model.ChangeTitle()"
                                   name="PetitionCategory"><i></i><span>{{category.PetitionCategory}}</span>

                        </label>
                        <div class="clear"></div>
                    </div>
                </div>

                <div class="field-group">
                    <div class="form-group-checkbox vertical full-width clearfix">
                        <div class="checkbox-wrapper no-bottom-margin">
                            <label for="behalf_of_petitioner">
                                <input type="checkbox" name="behalf_of_petitioner" id="behalf_of_petitioner" value="true" ng-model="Ctrl.caseinfo.bCaseFiledByThirdParty" /><i></i><span>This form is submitted by third-party representative on behalf of the petitioner</span>
                            </label>
                        </div>
                    </div>
                </div>
</div>


                <div class="step-footer">
                    <input type="submit" id="continue" name="continue" class="btn-primary" value="Save and continue"
                           ng-click="(Hide=true); (!frmTenentPetition.PetitionCategory.$error.required) && Ctrl.Continue()" />
                </div>
            </form>
        </div>
    </div><!-- .application-form-wrapper -->
</div><!-- .col-md-9 -->



