

 <h3 class="step-heading">Tenant Petition: <span>Grounds for Petition</span></h3>
<div class="step-content create-new">
    <div class="subhead no-top-margin"></div>
    <div class="field-group">
        <p class="input-label">I (we) contest one or more rent increases on one or more of the following grounds:</p>
        <div class="form-group-checkbox vertical clearfix">
            <div class="checkbox-wrapper">
                <div ng-repeat="petitionground in Ctrl.caseinfo.TenantPetitionInfo.PetitionGrounds">
                    <label>
                        <input type="checkbox" id="petitionground.ID" >
                        {{petitionground.PetitionGroundDescription}}
                    </label>
                </div>
            </div>
        </div>
        </div>

            <!--<div class="checkbox">
            <label><input type="checkbox" value="">a)</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" value="">b)</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" value="">c)</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" value="">d)</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" value="">e)</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" value="">f1)</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" value="">f2)</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" value="">g)</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" value="">h)</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" value="">i)</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" value="">j)</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" value="">j)</label>
        </div>-->


        <button class="btn-primary" ng-click="Ctrl.ContinueToRentalHistory()">Continue</button>
        </div>
