<script src='js/functions.js'></script>  


        <div class="step-heading">Important Information</div>

        <form name="frmTenentPetition" id="frmTenentPetition" action="#" method="post" class="application-form">
            <div class="step-content step1">

                <div class="field-group subhead no-top-margin">
                    <div class="information">
						<p><strong>REMINDER: ONCE A PETITION IS SUBMITTED TO THE CITY IT BECOMES A PUBLIC RECORD. PLEASE DO NOT SUBMIT ANY PRIVATE INFORMATION (SUCH AS BANK ACCOUNT NUMBERS, CREDIT CARD NUMBERS, OR SOCIAL SECURITY NUMBERS) AS PART OF THIS PETITION. IF YOU HAVE ANY QUESTIONS, PLEASE CONTACT CITY STAFF AT (510) 238-3721</strong></p>
                        <p>Time to file. Your property owner will be required to file a response to this petition within 35 days of notification by the Rent Adjustment Program. You will be sent a copy of the Property Owner’s Response.</p>
						<p>File Review. The petition and attachments to the petition can be found by logging into the RAP Online Petitioning System and accessing your case. If you would like to review the attachments in person, please call  the Rent Adjustment Program office at (510) 238-3721 to make an appointment.</p>
						<div class="subhead type2">
						<h4>What you need to know to file your petition with the Rent Adjustment Program</h4>
						</div>
						
						<p>Before you petition a rent increase, make sure you understand:</p>
					   <ul>
                            <li>When and why your property owner can <a href="">increase your rent.</a></li>
                            <li>What is a <a href="">decreased housing services</a></li>
							<li>Which properties are <a href="">exempt</a> from the Rent Adjustment Program</li>
							<li>What’s involved in the <a href="">petition process</a>, and the timeline of events</li>
                        </ul>
						<div class="subhead type2">
							<h4>What you need to file a petition</h4>
						 </div>
						 
						 <p>To file a petition, you must be <a href="">current on rent or legally withholding rent</a>, and it must be less than 90 <a href="">days since you received the rent increase or the loss of housing services.</a></p>
						 
						 <p>NOTE: You have until 7 days before the hearing date to submit additional documentation for your case. If additional documentation is required, RAP staff will reach out to inform your of the documentation needed.</p>
                    
						<p>Here’s a checklist of what you, as a tenant, will need to file this petition:</p>
						<ul>
							<li>Contact information for the property owner, the tenant, the property manager, and other representatives</li>
							<li>Reasons you are  filing the petition, based on a <a href="">rent increase</a> or <a href="">loss of housing services.</a></li>
							<li>Your rental history, including date of rent increase(s), if applicable.</li>
							<li>Description of lost housing services, date of housing service loss, and estimated dollar value of housing service loss, if applicable.</li>
							<li>Optional: Evidence supporting your petition, such as copies of receipts, written notices, photographs and any correspondence with the property manager or property owner.</li>
						
						</ul>
					</div>
                </div>

                <div class="subhead type2">
                    <h4>Saving Information</h4>
                </div>
                <div class="field-group">
                    <div class="error-msg">You must click the “Save and continue” button at the bottom of every screen to save information you are entering and uploading.</div>
                </div>

            </div>


            <div class="step-footer">
                <input type="button" id="continue" name="continue" class="btn-primary" ng-click="Ctrl.Continue()" value="Continue" />
            </div>
        </form>

