<script src='js/functions.js'></script>  


        <div class="step-heading">Important Information</div>

        <form name="frmTenentPetition" id="frmTenentPetition" action="#" method="post" class="application-form">
            <div class="step-content step1">

                <div class="field-group subhead no-top-margin">
                    <div class="information">
						<p><strong>REMINDER: ONCE A PETITION IS SUBMITTED TO THE CITY IT BECOMES A PUBLIC RECORD. PLEASE DO NOT SUBMIT ANY PRIVATE INFORMATION (SUCH AS BANK ACCOUNT NUMBERS, CREDIT CARD NUMBERS, OR SOCIAL SECURITY NUMBERS) AS PART OF THIS PETITION. IF YOU HAVE ANY QUESTIONS, PLEASE CONTACT CITY STAFF AT (510) 238-3721</strong></p>
                        <p>Time to File This form must be received within the time limit for filing a petition set out in the Rent Adjustment Ordinance, Oakland Municipal Code, Chapter 8.22. Board Staff cannot grant an extension of time to file your petition by phone. For more information, please call: (510) 238-3721.</p>
						<p>File Review. The petition and attachments to the petition can be found by logging into the RAP Online Petitioning System and accessing your case. If you would like to review the attachments in person, please call  the Rent Adjustment Program office at (510) 238-3721 to make an appointment.</p>
						<div class="subhead type2">
						<h4>What you should know to file your petition with the Rent Adjustment Program</h4>
						</div>
						
						<p>Before you petition a rent increase, you should know:</p>
					   <ul>
                            <li>When and why your property owner can <a href="">increase your rent.</a></li>
                            <li>What is a <a href="">decreased housing services</a></li>
							<li>Which properties are <a href="">exempt</a> from the Rent Adjustment Program</li>
							<li>What’s involved in the <a href="">petition process</a>, and the timeline of events</li>
                        </ul>
						<div class="subhead type2">
							<h4>What you might need to file a petition</h4>
						 </div>
						 
						 <p>To file a petition, you must be <a href="">current on rent or legally withholding rent</a>, and it must be less than 90 <a href="">days since you received the rent increase or the loss of housing services.</a> If you did not receive a RAP Notice with the rent increase you are contesting but have received it in the past, you have 120 days to file a petition (O.M.C. 822.090.A.3)</p>
						 
						 <p>NOTE: You have until 7 days before the hearing date to submit additional documentation for your case.</p>
                    
						<p>Here’s a checklist of what you, as a tenant, will need to file this petition:</p>
						<ul>
							<li> Contact information for the property owner or property manager</li>
							<li>Reasons you are  filing the petition, based on a <a href="">rent increase</a> or <a href="">loss of housing services.</a></li>
							<li>If applicable, your rental history, including date of rent increase(s)</li>
							<li>If applicable, description of lost housing services, date of housing service loss, and estimated dollar value of housing service loss</li>
							<li>Optional: Evidence supporting your petition, such as copies of receipts, written notices, photographs and any correspondence with the property manager or property owner.</li>
						
						</ul>
					</div>
                </div>

                <div class="subhead type2">
                    <h4>Saving Information</h4>
                </div>
                <div class="field-group">
                    <div class="error-msg">You must click the “Save and continue” button at the bottom of every screen to save information you are entering and uploading.</div>
                </div>

            </div>


            <div class="step-footer">
                <input type="button" id="continue" name="continue" class="btn-primary" ng-click="Ctrl.Continue()" value="Continue" />
            </div>
        </form>

