

<div class="row">  
    <div class="col-md-9 col-sm-12">
        <div class="application-step step-1">
            <h3 class="step-heading">Tenant Petition: <span>Description of Lost Services and Problems</span></h3>

            <form name="frmTenentPetition" id="frmTenentPetition" action="#" method="post" class="application-form">
                <div class="step-content step1">

                    <div class="field-group subhead no-top-margin">
                        <div class="form-group-checkbox vertical clearfix">
                            <label for="housing_services_decreased">
                                <input type="checkbox" name="housing_services_decreased" id="housing_services_decreased" ng-value="true" /><i></i><span><strong>The housing services I am being provided have decreased.</strong></span>
                            </label>
                        </div>
                    </div>

                    <div class="subhead no-top-margin">
                        <h4>Lost Service</h4>
                    </div>

                    <div class="field-group">
                        <p class="input-label">Have you lost services or are you being charged for services originally provided by the property owner?</p>
                        <div class="form-group-radio vertical clearfix">
                            <label for="charged_for_services_yes">
                                <input type="radio" name="charged_for_services" id="charged_for_services_yes" class="input-field" ng-value="true"
                                       ng-model="Ctrl.caseinfo.TenantPetitionInfo.LostServicesPage.bLostService"  /><i></i><span>Yes</span>
                            </label>

                            <label for="charged_for_services_no">
                                <input type="radio" name="charged_for_services" id="charged_for_services_no" class="input-field" ng-value="false"
                                       ng-model="Ctrl.caseinfo.TenantPetitionInfo.LostServicesPage.bLostService" /><i></i> <span>No</span>
                            </label>
                            <div class="clear"></div>
                        </div>
                    </div>

                    <div ng-repeat="item in Ctrl.caseinfo.TenantPetitionInfo.LostServicesPage.LostServices">
                        <div ng-if="item.IsDeleted == false">
                            <div class="field-group filled-info subhead no-top-margin">
                                <div class="row">
                                    <div class="col-sm-6 col-xs-12"><div class="info-title">Your estimated dollar value of the lost service(s) or problem(s)</div></div>
                                    <div class="col-sm-6 col-xs-12">{{item.EstimatedLoss}}</div>
                                </div>
                            </div><!-- .field-group -->

                            <div class="field-group filled-info subhead no-top-margin">
                                <div class="row">
                                    <div class="col-sm-6 col-xs-12"><div class="info-title">Reduced Service description</div></div>
                                    <div class="col-sm-6 col-xs-12">{{item.ReducedServiceDescription}}</div>
                                </div>
                            </div><!-- .field-group -->

                            <div class="field-group filled-info subhead no-top-margin">
                                <div class="row">
                                    <div class="col-sm-6 col-xs-12"><div class="info-title">Date loss began</div></div>
                                    <div class="col-sm-6 col-xs-12">{{item.LossBeganDate.Year}}/{{item.LossBeganDate.Month}}/{{item.LossBeganDate.Day}}</div>
                                </div>
                            </div><!-- .field-group -->
                            <div class="field-group filled-info subhead no-top-margin">
                                <div class="row">
                                    <button class="btn-link btn-delete" ng-click="item.IsDeleted = true">Delete</button>
                                </div>
                            </div><!-- .field-group -->
                        </div>
                    </div>
                    <div class="field-group">
                        <label for="list_reduced_services">Describe the reduced service(s) including 1) a list of the lost housing service(s) 2) How you calculate the dollar value of lost service(s). Please attach documentary evidence  if available.</label>
                        <textarea name="list_reduced_services" id="list_reduced_services" class="field-input textarea" rows="8"
                                  ng-model="Ctrl.LostServices.ReducedServiceDescription"></textarea>
                    </div>

                    <div class="field-group">
                        <label for="estimated_dollar_value">Your estimated dollar value of the lost service(s) or problem(s)</label>
                        <input type="text" name="estimated_dollar_value" id="estimated_dollar_value" class="field-input"
                               ng-model="Ctrl.LostServices.EstimatedLoss" placeholder="" />
                    </div>

                    <div class="field-group no-top-margin">                        
                        <label for="date_loss_began_month">Date loss began</label>
                        <div class="row">
                            <div class="col-sm-4 col-xs-12">
                                <div class="field-group">
                                    <select ng-model="Ctrl.LostServices.LossBeganDate.Month"
                                            class="custom-select" data-placeholder="Month"
                                            ng-options="month.id as month.value for month in Ctrl.Calender.Months"></select>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-12">
                                <div class="field-group">
                                    <select ng-model="Ctrl.LostServices.LossBeganDate.Day"
                                            class="custom-select" data-placeholder="Day"
                                            ng-options="day for day in  Ctrl.Calender.Days"></select>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-12">
                                <div class="field-group">
                                    <select ng-model="Ctrl.LostServices.LossBeganDate.Year"
                                            class="custom-select" data-placeholder="Year"
                                            ng-options="year for year in  Ctrl.Calender.Years"></select>
                                </div>
                            </div>
                        </div>

                        <div class="field-addfile">
                            <div class="input-file-wrapper">
                                <span class="btn-link">Attach additional documentation</span>
                                <input type="file" id="lost_services_documentation" name="lost_services_documentation"
                                        ngf-select ngf-change="onFileSelected($files,'TP_LostServive')"
                                        accept=".doc,.docx,.pdf,.xls,.jpeg,.tiff,.png" multiple />
                            </div>
                            <div class="field-group">
                                <table class="table table-condensed nopadding-bottom">
                                    <tbody>
                                        <tr ng-repeat="item in Ctrl.caseinfo.Documents | filter: {DocTitle: 'TP_LostServive'}">
                                            <td class="nopadding-left">
                                                {{item.DocName}}
                                            </td>
                                            <td>
                                                <button ng-show="item.isUploaded == true" class="btn-link btn-edit" ng-click="Ctrl.Download(item)">Download</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>             
                        </div>

                        <a class="btn-link" ng-click="Ctrl.AddAnotherLostServices(Ctrl.LostServices)">Add another lost service description</a>
                        <p>&nbsp;</p>                       
                    </div><!-- .field-group -->

                    <div class="subhead type2">
                        <h4>Problems</h4>
                    </div>

                    <div class="field-group">
                        <p class="input-label">Are you claiming any serious problems with the condition of your unit?</p>
                        <div class="form-group-radio vertical clearfix">
                            <label for="claiming_any_unit_problem_yes">
                                <input type="radio" name="claiming_any_unit_problem_yes" id="claiming_any_unit_problem_yes" class="input-field" ng-value="true"
                                       ng-model="Ctrl.caseinfo.TenantPetitionInfo.LostServicesPage.bProblem" checked="checked" /><i></i><span>Yes</span>
                            </label>

                            <label for="claiming_any_unit_problem_no">
                                <input type="radio" name="claiming_any_unit_problem" id="claiming_any_unit_problem_no" class="input-field" ng-value="false"
                                       ng-model="Ctrl.caseinfo.TenantPetitionInfo.LostServicesPage.bProblem" /><i></i> <span>No</span>
                            </label>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div ng-repeat="item in Ctrl.caseinfo.TenantPetitionInfo.LostServicesPage.Problems">
                        <div ng-if="item.IsDeleted == false">
                            <div class="field-group filled-info subhead no-top-margin">
                                <div class="row">
                                    <div class="col-sm-6 col-xs-12"><div class="info-title">Your estimated dollar value of incurred monetary loss as a result these problem(s)</div></div>
                                    <div class="col-sm-6 col-xs-12">{{item.EstimatedLoss}}</div>
                                </div>
                            </div><!-- .field-group -->

                            <div class="field-group filled-info subhead no-top-margin">
                                <div class="row">
                                    <div class="col-sm-6 col-xs-12"><div class="info-title">Problem description</div></div>
                                    <div class="col-sm-6 col-xs-12">{{item.ProblemDescription}}</div>
                                </div>
                            </div><!-- .field-group -->

                            <div class="field-group filled-info subhead no-top-margin">
                                <div class="row">
                                    <div class="col-sm-6 col-xs-12"><div class="info-title">Date problem(s) began</div></div>
                                    <div class="col-sm-6 col-xs-12">{{item.ProblemBeganDate.Year}}/{{item.ProblemBeganDate.Month}}/{{item.ProblemBeganDate.Day}}</div>
                                </div>
                            </div><!-- .field-group -->
                            <div class="field-group filled-info subhead no-top-margin">
                                <div class="row">
                                    <button  class="btn-link btn-delete" ng-click="item.IsDeleted = true">Delete</button>
                                </div>
                            </div><!-- .field-group -->
                        </div>
                    </div>

                    <div class="field-group">
                        <label for="describe_problems">Describe problem(s) with your unit including 1) a list of the problem(s); 2) How you calculate the dollar value of incurred monetary loss as a result of these problem(s). Please attach documentary evidence if available.</label>
                        <textarea name="describe_problems" id="describe_problems" class="field-input textarea" rows="8"
                                  ng-model="Ctrl.Problems.ProblemDescription"></textarea>
                    </div>

                    <div class="field-group">
                        <label for="dollar_monetary_loss">Your estimated dollar value of incurred monetary loss as a result these problem(s)</label>
                        <input type="text" name="dollar_monetary_loss" id="dollar_monetary_loss" class="field-input" placeholder="" ng-model="Ctrl.Problems.EstimatedLoss" />
                    </div>

                    <div class="field-group no-top-margin">
                        <label for="date_problem_began_month">Date problem(s) began</label>
                        <div class="row">
                            <div class="col-sm-4 col-xs-12">
                                <div class="field-group">
                                    <select ng-model="Ctrl.Problems.ProblemBeganDate.Month"
                                            class="custom-select" data-placeholder="Month"
                                            ng-options="month.id as month.value for month in Ctrl.Calender.Months"></select>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-12">
                                <div class="field-group">
                                    <select ng-model="Ctrl.Problems.ProblemBeganDate.Day"
                                            class="custom-select" data-placeholder="Day"
                                            ng-options="day for day in  Ctrl.Calender.Days"></select>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-12">
                                <div class="field-group">
                                    <select ng-model="Ctrl.Problems.ProblemBeganDate.Year"
                                            class="custom-select" data-placeholder="Year"
                                            ng-options="year for year in  Ctrl.Calender.Years"></select>
                                </div>
                            </div>
                        </div>

                        <div class="field-addfile">
                            <div class="input-file-wrapper">
                                <span class="btn-link">Attach additional documentation</span>
                                <input type="file" id="problem_documentation" name="problem_documentation" />
                            </div>
                        </div>

                        <a class="btn-link" ng-click="Ctrl.AddAnotherProblem(Ctrl.Problems)">Add another problem description</a>
                    </div><!-- .field-group -->
                    
                    <div class="field-group">
                        <p><br />To have a unit inspected and code violations cited, contact the City of Oakland, Code Compliance Unit, 250 Frank H. Ogawa Plaza, 2nd Floor, Oakland, CA 94612. Phone: (510) 238-3381</p>
                    </div>
                </div>

                <div class="step-footer">
                    <input type="button" id="continue" name="continue" class="btn-primary" value="Save and Continue" ng-click="Ctrl.ContinueToDocument()" />
                </div>
            </form>
        </div>
    </div>
</div>
