<script src='js/functions.js'></script>

<div class="row">  
    <!--<div class="col-md-9 col-sm-12">-->
        <div class="application-step step-1">
            <div class="step-heading">Description of loss of service and problems</div>

            <form name="frmTenentPetition" id="frmTenentPetition" action="#" method="post" class="application-form" onsubmit="return false;">
                <div class="step-content step1">
                    <div class="alert alert-error" ng-show="Ctrl.Error!=''">
                        <strong><a href="javascript:void();">{{Ctrl.Error}}</a></strong>
                    </div>
                    <div class="field-group subhead no-top-margin">
                        <div class="form-group-checkbox vertical clearfix">
                            <label for="housing_services_decreased">
                                <input type="checkbox" name="housing_services_decreased" id="housing_services_decreased"
                                       ng-model="Ctrl.caseinfo.TenantPetitionInfo.LostServicesPage.bHouseServiceDecreased" ng-value="true" /><i></i><span class="has-info-btn"><strong>My housing services have decreased.</strong>
                                <a style="cursor: pointer;" role="button" aria-label="Info" ng-click="NoticeToggle=!NoticeToggle" class="icon-info" data-toggle="tooltip" tooltip>Info</a></span>
                            </label>
                            <div class="info-box-toggle" ng-show="NoticeToggle">
                                <a style="cursor: pointer;" ng-click="NoticeToggle=!NoticeToggle" class="btn-close"></a>
                                <p>A decreased housing service is a service that was originally included in the rent and then taken away or you are being charged for services originally paid by the owner.</p>
                            </div>
                        </div>
                    </div>

                    <div class="subhead no-top-margin">
                        <h4>Loss of services</h4>
                    </div>

                    <div class="field-group">
                        <p class="input-label">Are you being charged for a service originally provided to you by the property owner?</p>
                        <div class="form-group-radio vertical clearfix">
                            <label for="charged_for_services_yes">
                                <input type="radio" name="charged_for_services" id="charged_for_services_yes" class="input-field" ng-value="true"
                                       ng-model="Ctrl.caseinfo.TenantPetitionInfo.LostServicesPage.bLostService" /><i></i><span>Yes</span>
                            </label>

                            <label for="charged_for_services_no">
                                <input type="radio" name="charged_for_services" id="charged_for_services_no" class="input-field" ng-value="false"
                                       ng-model="Ctrl.caseinfo.TenantPetitionInfo.LostServicesPage.bLostService" /><i></i> <span>No</span>
                            </label>
                            <div class="clear"></div>
                        </div>
                    </div>

                    <div ng-repeat="item in Ctrl.caseinfo.TenantPetitionInfo.LostServicesPage.LostServices">
                        <div ng-if="item.IsDeleted == false">
                            <div class="field-group filled-info subhead no-top-margin">
                                <div class="row">
                                    <div class="col-sm-6 col-xs-12"><div class="info-title has-info-btn">What is the estimated dollar value of the lost service or problem? </div> </div>
                                   
                                    <!--<div class="info-box-toggle" ng-show="NoticeToggle">
                                        <a ng-click="NoticeToggle=!NoticeToggle" class="btn-close"></a>
                                        <p>k</p>
                                    </div>-->
                                    <div class="col-sm-6 col-xs-12">{{item.EstimatedLoss}}</div>
                                </div>
                            </div><!-- .field-group -->

                            <div class="field-group filled-info subhead no-top-margin">
                                <div class="row">
                                    <div class="col-sm-6 col-xs-12"><div class="info-title">Reduced Service description</div></div>
                                    <div class="col-sm-6 col-xs-12">{{item.ReducedServiceDescription}}</div>
                                </div>
                            </div><!-- .field-group -->

                            <div class="field-group filled-info subhead no-top-margin">
                                <div class="row">
                                    <div class="col-sm-6 col-xs-12"><div class="info-title">Date loss of this service began</div></div>
                                    <div class="col-sm-6 col-xs-12">{{item.LossBeganDate.Year}}/{{item.LossBeganDate.Month}}/{{item.LossBeganDate.Day}}</div>
                                </div>
                            </div><!-- .field-group -->
                            <div class="field-group filled-info subhead no-top-margin">
                                <div class="row">
                                    <button class="btn-link btn-delete" ng-click="item.IsDeleted = true">Delete</button>
                                </div>
                            </div><!-- .field-group -->
                        </div>
                    </div>
                    <div class="field-group">
                        <label for="list_reduced_services">Provide 1) A description of each lost service 2) an explanation of how you calculate the dollar value of each  lost service.</label>
                        <textarea name="list_reduced_services" id="list_reduced_services" class="field-input textarea" rows="8"
                                  ng-model="Ctrl.LostServices.ReducedServiceDescription"></textarea>
                    </div>

                    <div class="field-group">
                        <label for="estimated_dollar_value">What is the estimated dollar value of the lost service or problem?</label>
                        <input numbernocomma type="text" name="estimated_dollar_value" id="estimated_dollar_value" class="field-input"
                               ng-model="Ctrl.LostServices.EstimatedLoss" placeholder="$" />
                    </div>

                    <div class="field-group no-top-margin">
                        <label for="date_loss_began_month">Date loss of this service began</label>
                        <div class="row">
                            <div class="col-sm-4 col-xs-12">
                                <div class="field-group">
                                    <select ng-model="Ctrl.LostServices.LossBeganDate.Month"
                                            data-placeholder="Month" class="custom-select"
                                            ng-options="month.id as month.value for month in Ctrl.Calender.Months">
                                        <option value="" selected>Select month</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-12">
                                <div class="field-group">
                                    <select ng-model="Ctrl.LostServices.LossBeganDate.Day"
                                            data-placeholder="Day" class="custom-select"
                                            ng-options="day for day in  Ctrl.Calender.Days">
                                        <option value="" selected>Select day</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-12">
                                <div class="field-group">
                                    <select ng-model="Ctrl.LostServices.LossBeganDate.Year"
                                            data-placeholder="Year" class="custom-select"
                                            ng-options="year for year in  Ctrl.Calender.Years">
                                        <option value="" selected>Select year</option>
                                    </select>
                                </div>
                            </div>
                        </div>


                        <div class="field-group">
                            <label>Please attach documentary evidence if available</label>
                            <div class="field-addfile no-top-margin">
                                <div class="input-file-wrapper">
                                    <span class="btn-link">Attach</span>
                                    <input type="file" id="attach_buiness_tax_proof" name="attach_buiness_tax_proof" ngf-select ngf-change="onFileSelected($files,'TP_LostService')" accept=".doc,.docx,.pdf,.xlsx,.xls,.jpeg,.tiff,.png,.jpg,.jpeg" multiple />
                                </div>
                                <div class="field-group">
                                    <!-- .custom-table -->
                                    <div class="custom-table docs-list" >                                       
                                        <div class="tbl-body">
                                            <div class="tbl-row clearfix" ng-repeat="item in Ctrl.caseinfo.TenantPetitionInfo.LostServicesPage.Documents | filter: {DocTitle: 'TP_LostService'}">
                                                <div class="item">
                                                    <div class="item-header clearfix">
                                                        <div class="col col-35 name">{{item.DocName}}</div>
                                                        <div class="col col-35 name type">&nbsp;</div>
                                                        <a style="cursor: pointer;" ng-show="item.isUploaded == false" ng-click="Ctrl.Delete(item)" class="btn-link btn-delete">Delete</a>
                                                        <a style="cursor: pointer;" ng-show="item.isUploaded == true" ng-click="Ctrl.Download(item)" class="btn-link btn-download">Download</a>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <table class="table table-condensed nopadding-bottom">
                                        <tbody>
                                            <tr ng-repeat="item in Ctrl.caseinfo.TenantPetitionInfo.LostServicesPage.Documents | filter: {DocTitle: 'TP_LostService'}">
                                                <td class="nopadding-left">
                                                    {{item.DocName}}
                                                </td>
                                                <td>
                                                    <div class="col col-5 pad-r0 download" ng-show="item.isUploaded == true"> &nbsp;<a style="cursor: pointer;" ng-click="Ctrl.Download(item)" class="btn-link btn-download">Download</a></div>
                                                    <div class="col col-35 type" ng-show="item.isUploaded == false">  &nbsp;<a style="cursor: pointer;" ng-click="Ctrl.Delete(item)" class="btn-link btn-delete">Delete</a></div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>


                        <a style="cursor: pointer;" class="btn-link" ng-click="Ctrl.AddAnotherLostServices(Ctrl.LostServices)">Add another lost service</a>
                        <p>&nbsp;</p>
                    </div><!-- .field-group -->

                    <div class="subhead type2">
                        <h4>Problems</h4>
                    </div>

                    <div class="field-group">
                        <p class="input-label">Are you claiming any serious problems with the condition of your unit?</p>
                        <div class="form-group-radio vertical clearfix">
                            <label for="claiming_any_unit_problem_yes">
                                <input type="radio" name="claiming_any_unit_problem_yes" id="claiming_any_unit_problem_yes" class="input-field" ng-value="true"
                                       ng-model="Ctrl.caseinfo.TenantPetitionInfo.LostServicesPage.bProblem" checked="checked" /><i></i><span>Yes</span>
                            </label>

                            <label for="claiming_any_unit_problem_no">
                                <input type="radio" name="claiming_any_unit_problem" id="claiming_any_unit_problem_no" class="input-field" ng-value="false"
                                       ng-model="Ctrl.caseinfo.TenantPetitionInfo.LostServicesPage.bProblem" /><i></i> <span>No</span>
                            </label>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div ng-repeat="item in Ctrl.caseinfo.TenantPetitionInfo.LostServicesPage.Problems">
                        <div ng-if="item.IsDeleted == false">
                            <div class="field-group filled-info subhead no-top-margin">
                                <div class="row">
                                    <div class="col-sm-6 col-xs-12"><div class="info-title">What is the estimated dollar value of the lost service?</div></div>
                                    <div class="col-sm-6 col-xs-12">{{item.EstimatedLoss}}</div>
                                </div>
                            </div><!-- .field-group -->

                            <div class="field-group filled-info subhead no-top-margin">
                                <div class="row">
                                    <div class="col-sm-6 col-xs-12"><div class="info-title">Problem description</div></div>
                                    <div class="col-sm-6 col-xs-12">{{item.ProblemDescription}}</div>
                                </div>
                            </div><!-- .field-group -->

                            <div class="field-group filled-info subhead no-top-margin">
                                <div class="row">
                                    <div class="col-sm-6 col-xs-12"><div class="info-title">Date problem(s) began</div></div>
                                    <div class="col-sm-6 col-xs-12">{{item.ProblemBeganDate.Year}}/{{item.ProblemBeganDate.Month}}/{{item.ProblemBeganDate.Day}}</div>
                                </div>
                            </div><!-- .field-group -->
                            <div class="field-group filled-info subhead no-top-margin">
                                <div class="row">
                                    <button class="btn-link btn-delete" ng-click="item.IsDeleted = true">Delete</button>
                                </div>
                            </div><!-- .field-group -->
                        </div>
                    </div>

                    <div class="field-group">
                        <label for="describe_problems">Provide 1) A description of the problem 2) Date(s) you notified your property owner or manager of the problem 3) an explanation of how you calculate the dollar value of this problem</label>
                        <textarea name="describe_problems" id="describe_problems" class="field-input textarea" rows="8"
                                  ng-model="Ctrl.Problems.ProblemDescription"></textarea>
                    </div>

                    <div class="field-group">
                        <label for="dollar_monetary_loss">Your estimated dollar value of incurred monetary loss as a result these problem(s)</label>
                        <input numbernocomma type="text" name="dollar_monetary_loss" id="dollar_monetary_loss" class="field-input" placeholder="$" ng-model="Ctrl.Problems.EstimatedLoss" />
                    </div>

                    <div class="field-group no-top-margin">
                        <label for="date_problem_began_month">Date problem(s) began</label>
                        <div class="row">
                            <div class="col-sm-4 col-xs-12">
                                <div class="field-group">
                                    <select ng-model="Ctrl.Problems.ProblemBeganDate.Month"
                                            data-placeholder="Month" class="custom-select"
                                            ng-options="month.id as month.value for month in Ctrl.Calender.Months">
                                        <option value="" selected>Select month</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-12">
                                <div class="field-group">
                                    <select ng-model="Ctrl.Problems.ProblemBeganDate.Day"
                                            data-placeholder="Day" class="custom-select"
                                            ng-options="day for day in  Ctrl.Calender.Days">
                                        <option value="" selected>Select day</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-12">
                                <div class="field-group">
                                    <select ng-model="Ctrl.Problems.ProblemBeganDate.Year"
                                            data-placeholder="Year" class="custom-select"
                                            ng-options="year for year in  Ctrl.Calender.Years">
                                        <option value="" selected>Select year</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="field-group">
                            <label>Please attach documentary evidence if available</label>
                            <div class="field-addfile no-top-margin">
                                <div class="input-file-wrapper">
                                    <span class="btn-link">Attach</span>
                                    <input type="file" id="attach_buiness_tax_proof" name="attach_buiness_tax_proof" ngf-select ngf-change="onFileSelected($files,'TP_Problem')" accept=".doc,.docx,.pdf,.xlsx,.xls,.jpeg,.tiff,.png,.jpg,.jpeg" multiple />
                                </div>
                                <div class="field-group">
                                    <table class="table table-condensed nopadding-bottom">
                                        <tbody>
                                            <tr ng-repeat="item in Ctrl.caseinfo.TenantPetitionInfo.LostServicesPage.Documents | filter: {DocTitle: 'TP_Problem'}">
                                                <td class="nopadding-left">
                                                    {{item.DocName}}
                                                </td>
                                                <td>
                                                    <div class="col col-5 pad-r0 download" ng-show="item.isUploaded == true"> &nbsp;<a style="cursor: pointer;" ng-click="Ctrl.Download(item)" class="btn-link btn-download">Download</a></div>
                                                    <div class="col col-35 type" ng-show="item.isUploaded == false">  &nbsp;<a style="cursor: pointer;" ng-click="Ctrl.Delete(item)" class="btn-link btn-delete">Delete</a></div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <a style="cursor: pointer;" class="btn-link" ng-click="Ctrl.AddAnotherProblem(Ctrl.Problems)">Add another problem</a>
                    </div><!-- .field-group -->

                    <div class="field-group">
                        <p><br />You have the option to have a City inspector come to your unit and inspect for any code violation. To make an appointment, call the City of Oakland, Code of Compliance Unit at (510) 238-3381</p>
                    </div>
                </div>

                <div class="step-footer">
                    <input type="button" id="continue" name="continue" class="btn-primary" value="Save and continue" ng-click="Ctrl.ContinueToDocument()" />
                </div>
            </form>
        </div>
    </div>
<!--</div>-->
