
         

        <div class="col-md-9 col-sm-12">
            <div class="application-step step-1">
                <h3 class="step-heading">Tenant Petition: <span>Rental History</span></h3>

                <div class="step-content step1">
                        <div class="field-group subhead no-top-margin">
                            <p class="input-label">When did you move into the unit?</p>
                            <div class="row">
                                <div class="col-sm-4 col-xs-12">
                                    <div class="field-group">
                                        <select ng-model="Ctrl.caseinfo.TenantPetitionInfo.TenantRentalHistory.MoveInDate.Month"
                                                class="custom-select" data-placeholder="Month"
                                                ng-options="month.id as month.value for month in Ctrl.Calender.Months"></select>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-xs-12">
                                    <div class="field-group">
                                        <select ng-model="Ctrl.caseinfo.TenantPetitionInfo.TenantRentalHistory.MoveInDate.Day"
                                                class="custom-select" data-placeholder="Day"
                                                ng-options="day for day in  Ctrl.Calender.Days"></select>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-xs-12">
                                    <div class="field-group">
                                        <select ng-model="Ctrl.caseinfo.TenantPetitionInfo.TenantRentalHistory.MoveInDate.Year"
                                                class="custom-select" data-placeholder="Year"
                                                ng-options="year for year in  Ctrl.Calender.Years"></select>
                                    </div>
                                </div>
                            </div>
                        </div><!-- .field-group -->

                        <div class="field-group">
                            <label for="initial_monthly_rent">Initial monthly rent</label>
                            <input type="text" name="initial_monthly_rent" id="initial_monthly_rent" class="field-input"
                                   ng-model="Ctrl.caseinfo.TenantPetitionInfo.TenantRentalHistory.InitialRent" placeholder="" />
                        </div>


                        <div class="field-group">
                            <p class="input-label">When did the property owner first provide you with a written NOTICE TO TENANTS of the  existence of the Rent Adjustment Program (RAP NOTICE)?</p>
                            <div class="row">
                                <div class="col-sm-4 col-xs-12">
                                    <div class="field-group">
                                        <select ng-model="Ctrl.caseinfo.TenantPetitionInfo.TenantRentalHistory.RAPNoticeGivenDate.Month"
                                                class="custom-select" data-placeholder="Month"
                                                ng-options="month.id as month.value for month in Ctrl.Calender.Months"></select>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-xs-12">
                                    <div class="field-group">
                                        <select ng-model="Ctrl.caseinfo.TenantPetitionInfo.TenantRentalHistory.RAPNoticeGivenDate.Day"
                                                class="custom-select" data-placeholder="Day"
                                                ng-options="day for day in  Ctrl.Calender.Days"></select>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-xs-12">
                                    <div class="field-group">
                                        <select ng-model="Ctrl.caseinfo.TenantPetitionInfo.TenantRentalHistory.RAPNoticeGivenDate.Year"
                                                class="custom-select" data-placeholder="Year"
                                                ng-options="year for year in  Ctrl.Calender.Years"></select>
                                    </div>
                                </div>
                            </div>
                            
                        </div><!-- .field-group -->


                        <div class="field-group">
                            <div class="form-group-radio vertical clearfix">
                                <label for="rap_notice" class="has-info-btn">
                                    <input type="radio" name="rap_notice" id="rap_notice" class="input-field" ng-value="true"
                                           ng-model="Ctrl.caseinfo.TenantPetitionInfo.TenantRentalHistory.bRAPNoticeGiven" /><i></i><span>I was never given a <u>RAP NOTICE</u> by my property owner. <a href="#info" class="icon-info" data-toggle="tooltip" data-tooltip-id="rh_rap_notice">Info</a></span>
                                </label>
                                <div class="clear"></div>
                            </div>
                        </div>

                        <div class="field-group">
                            <p class="input-label has-info-btn">Is your rent subsidized or controlled by any government agency, including HUD (Section 8)?  <a href="#info" class="icon-info" data-toggle="tooltip" data-tooltip-id="rh_rent_subsidized_HUD">Info</a></p>
                            <div class="form-group-radio vertical clearfix">
                                <label for="rent_subsidized_yes">
                                    <input type="radio" name="rent_subsidized" id="rent_subsidized_yes" class="input-field" ng-value="true"
                                           ng-model="Ctrl.caseinfo.TenantPetitionInfo.TenantRentalHistory.bRentControlledByAgency" checked="checked" /><i></i><span>Yes</span>
                                </label>

                                <label for="rent_subsidized_no">
                                    <input type="radio" name="rent_subsidized" id="rent_subsidized_no" class="input-field" ng-value="false"
                                           ng-model="Ctrl.caseinfo.TenantPetitionInfo.TenantRentalHistory.bRentControlledByAgency" /><i></i> <span>No</span>
                                </label>
                                <div class="clear"></div>
                            </div>
                        </div>

                        <div class="subhead type2">
                            <h4>Rent Increases</h4>
                        </div>

                        <p>List all rent increases that you want to challenge. Begin with the most recent and work backwards. You have 90 days from the date of notice of increase or from the first date you received written notice of the existence of the Rent Adjustment program (whichever is later)  to contest the rent increase. (O.M.C. 8.22.090 A 2) If you never got the RAP Notice you can contest all past increases.</p>
                        <div class="field-group filled-info subhead no-top-margin">
                            <div class="row">
                                <div class="col-sm-6 col-xs-12"><div class="info-title">Did you receive a rent program notice with the notice of increase?</div></div>
                                <div class="col-sm-6 col-xs-12" ng-show="Ctrl.caseinfo.TenantPetitionInfo.TenantRentalHistory.bRAPNoticeGiven">Yes</div>
                                <div class="col-sm-6 col-xs-12" ng-show="!Ctrl.caseinfo.TenantPetitionInfo.TenantRentalHistory.bRAPNoticeGiven">No</div>
                            </div>
                        </div><!-- .field-group -->

                        <div ng-repeat="item in Ctrl.caseinfo.TenantPetitionInfo.TenantRentalHistory.RentIncreases">
                            <div ng-if="item.IsDeleted == false">
                                <div class="field-group filled-info subhead no-top-margin">
                                    <div class="row">
                                        <div class="col-sm-6 col-xs-12"><div class="info-title">Date notice served</div></div>
                                        <div class="col-sm-6 col-xs-12">{{item.RentIncreaseNoticeDate.Month}}/{{item.RentIncreaseNoticeDate.Day}}/{{item.RentIncreaseNoticeDate.Year}}</div>
                                    </div>
                                </div><!-- .field-group -->

                                <div class="field-group filled-info subhead no-top-margin">
                                    <div class="row">
                                        <div class="col-sm-6 col-xs-12"><div class="info-title">Monthly rent increase</div></div>
                                        <div class="col-sm-6 col-xs-12">${{item.RentIncreasedTo-item.RentIncreasedFrom}}</div>
                                    </div>
                                </div><!-- .field-group -->

                                <div class="field-group filled-info subhead no-top-margin">
                                    <div class="row">
                                        <div class="col-sm-6 col-xs-12"><div class="info-title">Date increase effective</div></div>
                                        <div class="col-sm-6 col-xs-12">{{item.RentIncreaseEffectiveDate.Month}}/{{item.RentIncreaseEffectiveDate.Day}}/{{item.RentIncreaseEffectiveDate.Year}}</div>
                                    </div>
                                </div><!-- .field-group -->

                                <div class="field-group filled-info subhead no-top-margin">
                                    <div class="row">
                                        <div class="col-sm-6 col-xs-12"><div class="info-title">Are you contesting this increase in this petition?</div></div>
                                        <div class="col-sm-6 col-xs-12" ng-show="item.bRentIncreaseContested">Yes</div>
                                        <div class="col-sm-6 col-xs-12" ng-show="!item.bRentIncreaseContested">No</div>
                                    </div>
                                </div><!-- .field-group -->
                                <div class="field-group filled-info subhead no-top-margin">
                                    <div class="row">
                                        <button class="btn-link btn-delete" ng-click="item.IsDeleted = true">Delete</button>
                                    </div>
                                </div><!-- .field-group -->
                            </div>
                        </div>

                        <div class="field-group subhead">
                            <p class="input-label">Did you receive a rent program notice with the notice of increase?</p>
                            <div class="form-group-radio vertical clearfix">
                                <label for="receive_rent_increase_notice_yes">
                                    <input type="radio" name="receive_rent_increase_notice" id="receive_rent_increase_notice_yes" class="input-field" ng-value="true"
                                           ng-model="Ctrl.RentalIncreaseModel.bRentIncreaseNoticeGiven" checked="checked" /><i></i><span>Yes</span>
                                </label>

                                <label for="receive_rent_increase_notice_no">
                                    <input type="radio" name="receive_rent_increase_notice" id="receive_rent_increase_notice_no"
                                           ng-model="Ctrl.RentalIncreaseModel.bRentIncreaseNoticeGiven" class="input-field" ng-value="false" /><i></i> <span>No</span>
                                </label>
                                <div class="clear"></div>
                            </div>
                        </div>

                    <div class="field-group">
                        <label for="date_increase_effective_month">Date notice served</label>
                        <div class="row">
                            <div class="col-sm-4 col-xs-12">
                                <div class="field-group">
                                    <select ng-model="Ctrl.RentalIncreaseModel.RentIncreaseNoticeDate.Month"
                                            class="custom-select" data-placeholder="Month"
                                            ng-options="month.id as month.value for month in Ctrl.Calender.Months"></select>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-12">
                                <div class="field-group">
                                    <select ng-model="Ctrl.RentalIncreaseModel.RentIncreaseNoticeDate.Day"
                                            class="custom-select" data-placeholder="Day"
                                            ng-options="day for day in  Ctrl.Calender.Days"></select>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-12">
                                <div class="field-group">
                                    <select ng-model="Ctrl.RentalIncreaseModel.RentIncreaseNoticeDate.Year"
                                            class="custom-select" data-placeholder="Year"
                                            ng-options="year for year in  Ctrl.Calender.Years"></select>
                                </div>
                            </div>
                        </div>
                    </div><!-- .field-group -->


                    <div class="field-group">
                        <label>Monthly rent increase</label>
                        <div class="row">
                            <div class="col-sm-6 col-xs-12">
                                <input type="text" name="monthly_rent_increase_from" id="monthly_rent_increase_from" class="field-input"
                                       placeholder="From" ng-model="Ctrl.RentalIncreaseModel.RentIncreasedFrom" />
                            </div>

                            <div class="col-sm-6 col-xs-12">
                                <input type="text" name="monthly_rent_increase_to" id="monthly_rent_increase_to" class="field-input"
                                       placeholder="To" ng-model="Ctrl.RentalIncreaseModel.RentIncreasedTo" />
                            </div>
                        </div>
                    </div><!-- .field-group -->

                        <div class="field-group">
                            <label for="date_increase_effective_month">Date increase effective</label>
                            <div class="row">
                                <div class="col-sm-4 col-xs-12">
                                    <div class="field-group">
                                        <select ng-model="Ctrl.RentalIncreaseModel.RentIncreaseEffectiveDate.Month"
                                                class="custom-select" data-placeholder="Month"
                                                ng-options="month.id as month.value for month in Ctrl.Calender.Months"></select>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-xs-12">
                                    <div class="field-group">
                                        <select ng-model="Ctrl.RentalIncreaseModel.RentIncreaseEffectiveDate.Day"
                                                class="custom-select" data-placeholder="Day"
                                                ng-options="day for day in  Ctrl.Calender.Days"></select>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-xs-12">
                                    <div class="field-group">
                                        <select ng-model="Ctrl.RentalIncreaseModel.RentIncreaseEffectiveDate.Year"
                                                class="custom-select" data-placeholder="Year"
                                                ng-options="year for year in  Ctrl.Calender.Years"></select>
                                    </div>
                                </div>
                            </div>
                        </div><!-- .field-group -->

                        <div class="field-group">
                            <p class="input-label">Are you contesting this increase in this petition?</p>
                            <div class="form-group-radio vertical clearfix">
                                <label for="contesting_increase_yes">
                                    <input type="radio" name="contesting_increase" id="contesting_increase_yes" class="input-field"
                                           ng-model="Ctrl.RentalIncreaseModel.bRentIncreaseContested" ng-value="true" checked="checked" /><i></i><span>Yes</span>
                                </label>

                                <label for="contesting_increase_no">
                                    <input type="radio" name="contesting_increase" id="contesting_increase_no" class="input-field"
                                           ng-model="Ctrl.RentalIncreaseModel.bRentIncreaseContested" ng-value="false" /><i></i> <span>No</span>
                                </label>
                                <div class="clear"></div>
                            </div>

                            <a class="btn-link" ng-click="Ctrl.AddAnotherRentIncrease(Ctrl.RentalIncreaseModel)">Add another rent increase record</a>
                        </div>

                        
                        <div class="field-group subhead">
                            <p class="input-label">Have you ever filed a petition for your rental unit?</p>
                            <div class="form-group-radio vertical clearfix">
                                <label for="filed_rental_unit_petition_yes">
                                    <input type="radio" name="filed_rental_unit_petition" id="filed_rental_unit_petition_yes"
                                           ng-model="Ctrl.caseinfo.TenantPetitionInfo.TenantRentalHistory.bPetitionFiledPrviously" class="input-field" ng-value="true" checked="checked" /><i></i><span>Yes</span>
                                </label>

                                <label for="filed_rental_unit_petition_no">
                                    <input type="radio" name="filed_rental_unit_petition" id="filed_rental_unit_petition_no"
                                           ng-model="Ctrl.caseinfo.TenantPetitionInfo.TenantRentalHistory.bPetitionFiledPrviously" class="input-field" ng-value="false" /><i></i> <span>No</span>
                                </label>
                                <div class="clear"></div>
                            </div>
                        </div>

                        <div class="field-group">
                            <label for="all_petitions_no">List case number of all Petition(s) you have ever filed for this rental unit.</label>
                            <textarea name="all_petitions_no" id="all_petitions_no" class="field-input textarea" rows="2"
                                      ng-model="Ctrl.caseinfo.TenantPetitionInfo.TenantRentalHistory.PreviousCaseIDs"></textarea>
                            <br />
                            <a href="#" class="btn-link">Add additional case number</a>
                        </div>

                    </div>

                    <div class="step-footer">
                        <input type="button" id="continue" name="continue" class="btn-primary" value="Save and Continue" ng-click="Ctrl.ContinueToLostServices(Ctrl.selectedValue)" />
                    </div>
            </div>
        </div>
    </div>
