<div class="col-md-9 col-sm-12">
    <div class="application-step step-1">
        <h3 class="step-heading">Tenant Petition: <span>Rental History</span></h3>

        <form name="frmTenentPetition" id="frmTenentPetition" action="#" method="post" class="application-form">
            <div class="step-content step1">
                <div class="field-group filled-info subhead no-top-margin">
                    <div class="row">
                        <div class="col-sm-6 col-xs-12"><div class="info-title">Petition type</div></div>
                        <div class="col-sm-6 col-xs-12">Tenant</div>
                    </div>
                </div><!-- .field-group -->

                <div class="subhead type2">
                    <h4>Applicant and Property Information</h4>
                    <a href="#" class="btn-link btn-edit">Edit</a>
                </div>

                <div class="field-group filled-info">
                    <div class="row">
                        <div class="col-sm-6 col-xs-12"><div class="info-title">Applicant Info</div></div>
                        <div class="col-sm-6 col-xs-12">
                            Bob Johnson   <br />1401 Jackson Street, <br />Oakland, CA 94612   <br />
                            T (510) 453-5462  <br />bobjohnson@gmail.com 
                        </div>
                    </div>
                </div><!-- .field-group -->

                <div class="field-group filled-info subhead">
                    <div class="row">
                        <div class="col-sm-6 col-xs-12"><div class="info-title">Representative</div></div>
                        <div class="col-sm-6 col-xs-12">
                            Bob Johnson   <br />1401 Jackson Street, <br />Oakland, CA 94612   <br />
                            T (510) 453-5462  <br />bobjohnson@gmail.com 
                        </div>
                    </div>
                </div><!-- .field-group -->

                <div class="field-group filled-info subhead">
                    <div class="row">
                        <div class="col-sm-6 col-xs-12"><div class="info-title">Property owner</div></div>
                        <div class="col-sm-6 col-xs-12">
                            Bob Johnson   <br />1401 Jackson Street, <br />Oakland, CA 94612   <br />
                            T (510) 453-5462  <br />bobjohnson@gmail.com 
                        </div>
                    </div>
                </div><!-- .field-group -->

                <div class="field-group filled-info subhead">
                    <div class="row">
                        <div class="col-sm-6 col-xs-12"><div class="info-title">Property manager</div></div>
                        <div class="col-sm-6 col-xs-12">
                            Bob Johnson   <br />1401 Jackson Street, <br />Oakland, CA 94612   <br />
                            T (510) 453-5462  <br />bobjohnson@gmail.com 
                        </div>
                    </div>
                </div><!-- .field-group -->

                <div class="field-group filled-info subhead">
                    <div class="row">
                        <div class="col-sm-6 col-xs-12"><div class="info-title">Number of units</div></div>
                        <div class="col-sm-6 col-xs-12">1-10</div>
                    </div>
                </div><!-- .field-group -->

                <div class="field-group filled-info subhead no-top-margin">
                    <div class="row">
                        <div class="col-sm-6 col-xs-12"><div class="info-title">Type of unit you rent</div></div>
                        <div class="col-sm-6 col-xs-12">Apartment, Room, or Live-work</div>
                    </div>
                </div><!-- .field-group -->

                <div class="field-group filled-info subhead no-top-margin">
                    <div class="row">
                        <div class="col-sm-6 col-xs-12"><div class="info-title">Are you current on your rent?</div></div>
                        <div class="col-sm-6 col-xs-12">Yes</div>
                    </div>
                </div><!-- .field-group -->

                <div class="subhead type2">
                    <h4>Grounds for Petition</h4>
                    <a href="#" class="btn-link btn-edit">Edit</a>
                </div>

                <div class="field-group filled-info">
                    <p>b) The owner did not give me a summary of the justification(s) for the increase despite my written request</p>
                    <p>g) The contested increase is the second rent increase in a 12-month period.</p>
                </div>



                <div class="subhead type2">
                    <h4>Rent Increases</h4>
                    <a href="#" class="btn-link btn-edit">Edit</a>
                </div>

                <div class="field-group filled-info subhead no-top-margin">
                    <div class="row">
                        <div class="col-sm-6 col-xs-12"><div class="info-title">When did you move into the unit?</div></div>
                        <div class="col-sm-6 col-xs-12">01/09/16</div>
                    </div>
                </div><!-- .field-group -->

                <div class="field-group filled-info subhead no-top-margin">
                    <div class="row">
                        <div class="col-sm-6 col-xs-12"><div class="info-title">Initial monthly rent</div></div>
                        <div class="col-sm-6 col-xs-12">$2000</div>
                    </div>
                </div><!-- .field-group -->

                <div class="field-group filled-info subhead no-top-margin">
                    <div class="row">
                        <div class="col-sm-6 col-xs-12"><div class="info-title">When did the property owner first provide you with a written NOTICE TO TENANTS of the  existence of the Rent Adjustment Program (RAP NOTICE)?</div></div>
                        <div class="col-sm-6 col-xs-12">01/09/16</div>
                    </div>
                </div><!-- .field-group -->

                <div class="field-group filled-info subhead no-top-margin">
                    <div class="row">
                        <div class="col-sm-6 col-xs-12"><div class="info-title">Is your rent subsidized or controlled by any government agency, including HUD (Section 8)?</div></div>
                        <div class="col-sm-6 col-xs-12">Yes</div>
                    </div>
                </div><!-- .field-group -->

                <div class="field-group filled-info subhead no-top-margin">
                    <div class="row">
                        <div class="col-sm-6 col-xs-12"><div class="info-title">Did you receive a rent program notice with the notice of increase?</div></div>
                        <div class="col-sm-6 col-xs-12">Yes</div>
                    </div>
                </div><!-- .field-group -->

                <div class="field-group filled-info subhead no-top-margin">
                    <div class="row">
                        <div class="col-sm-6 col-xs-12"><div class="info-title">Date notice served</div></div>
                        <div class="col-sm-6 col-xs-12">01/09/16</div>
                    </div>
                </div><!-- .field-group -->

                <div class="field-group filled-info subhead no-top-margin">
                    <div class="row">
                        <div class="col-sm-6 col-xs-12"><div class="info-title">Monthly rent increase</div></div>
                        <div class="col-sm-6 col-xs-12">$200</div>
                    </div>
                </div><!-- .field-group -->

                <div class="field-group filled-info subhead no-top-margin">
                    <div class="row">
                        <div class="col-sm-6 col-xs-12"><div class="info-title">Date increase effective</div></div>
                        <div class="col-sm-6 col-xs-12">01/09/16</div>
                    </div>
                </div><!-- .field-group -->

                <div class="field-group filled-info subhead no-top-margin">
                    <div class="row">
                        <div class="col-sm-6 col-xs-12"><div class="info-title">Are you contesting this increase in this petition?</div></div>
                        <div class="col-sm-6 col-xs-12">Yes</div>
                    </div>
                </div><!-- .field-group -->

                <div class="field-group filled-info subhead no-top-margin">
                    <div class="row">
                        <div class="col-sm-6 col-xs-12"><div class="info-title">Have you ever filed a petition for your rental unit?</div></div>
                        <div class="col-sm-6 col-xs-12">No</div>
                    </div>
                </div><!-- .field-group -->

                <div class="field-group filled-info subhead no-top-margin">
                    <div class="row">
                        <div class="col-sm-6 col-xs-12"><div class="info-title">The housing services I am being provided have decreased.</div></div>
                        <div class="col-sm-6 col-xs-12">No</div>
                    </div>
                </div><!-- .field-group -->


                <div class="subhead type2">
                    <h4>Additional Documentation</h4>
                    <a href="#" class="btn-link btn-edit">Edit</a>
                </div>

                <div class="field-group filled-info no-top-margin">
                    <div class="row">
                        <div class="col-sm-6 col-xs-12"><div class="info-title">File name</div></div>
                        <div class="col-sm-6 col-xs-12"><div class="info-title">File type</div></div>
                    </div>
                </div><!-- .field-group -->

                <div class="field-group no-top-margin">
                    <div class="accordion additional-docs">
                        <div class="item">
                            <div class="item-header">
                                <div class="row">
                                    <div class="col-sm-6 col-xs-6">
                                        <a href="#" class="btn-toggle"></a>
                                        <div class="file-name">Rental_expenses.xsl</div>
                                    </div>
                                    <div class="col-sm-6 col-xs-6">
                                        <div class="file-type">Excel</div>
                                    </div>
                                </div><!-- .row -->
                            </div>

                            <div class="item-content">
                                <p>Maecenas varius ex sed nisl sagittis ultrices. Vivamus congue ultrices purus nec tempus. Fusce convallis nunc dolor, vitae lacinia erat rutrum id. Donec nec urna tempus diam ultrices pharetra vel vel diam. Vivamus lacus metus, aliquam vitae erat tristique, semper rutrum nibh.</p>
                            </div>
                        </div>

                        <div class="item additional-doc">
                            <div class="item-header">
                                <div class="row">
                                    <div class="col-sm-6 col-xs-6">
                                        <a href="#" class="btn-toggle"></a>
                                        <div class="file-name">Rental_expenses.doc</div>
                                    </div>
                                    <div class="col-sm-6 col-xs-6">
                                        <div class="file-type">Word</div>
                                    </div>
                                </div><!-- .row -->
                            </div>

                            <div class="item-content">
                                <p>Maecenas varius ex sed nisl sagittis ultrices. Vivamus congue ultrices purus nec tempus. Fusce convallis nunc dolor, vitae lacinia erat rutrum id. Donec nec urna tempus diam ultrices pharetra vel vel diam. Vivamus lacus metus, aliquam vitae erat tristique, semper rutrum nibh.</p>
                            </div>
                        </div>
                    </div><!-- .accordion -->
                </div><!-- .field-group -->

            </div>


            <div class="step-footer">
                <button class="btn-primary" ng-click="Ctrl.ContinueToVerification()">Save and Continue</button>
            </div>
        </form>
    </div>
</div>
