    
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="panel panel-danger font-small">
            <div class="panel-heading">
                <strong>User</strong>
            </div>
            <div class="panel-body">
                <p>Renter petition : Verification</p>
                <p>___________________________________________________________________________________________</p>
                


                <button class="btn-primary" ng-click="Ctrl.SubmitPetition(Ctrl.caseinfo)">Submit Petition</button>
            </div>
        </div>
    </div>
</div>