<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="GetFileSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="GetFileSoap1" />
                <binding name="CheckInSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="CheckInSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://wbctstapp.oaklandnet.com:443/_dav/cs/idcplg"
                binding="basicHttpBinding" bindingConfiguration="GetFileSoap"
                contract="GetFileService.GetFileSoap" name="GetFileSoap" />
            <endpoint address="https://wbctstapp.oaklandnet.com:443/_dav/cs/idcplg"
                binding="basicHttpBinding" bindingConfiguration="CheckInSoap"
                contract="CheckInService.CheckInSoap" name="CheckInSoap" />
        </client>
    </system.serviceModel>
</configuration>