<div id="content">
    <!-- Page Title -->
    <div class="page-title-wrapper">
        <div class="container">
            <h2 class="page-title">Additional Case Documentation</h2>
        </div>
    </div>


    <!-- Page Content -->
    <div class="page-content full-width">
        <div class="container">

            <div class="breadcrumb">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">T17-0238; Smith v. Johnson (Unit C)</a></li>
                    <li class="active">Additional case documentation</li>
                </ul>
            </div>

            <div class="application-form-wrapper">
                <div class="application-step step-1">

                    <form name="frmCaseDocumentation" id="frmCaseDocumentation" action="#" method="post" class="application-form">
                        <div class="step-content step1">

                            <div class="field-group subhead no-top-margin no-bottom-margin">
                                <div class="row">
                                    <div class="col-md-8 col-sm-12 col-xs-12">
                                        <p>Please use the form below to include any additional documents that should be associated with the case.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="field-group">
                                <!-- Custom Table -->
                                <div class="custom-table docs-list" ng-repeat="item in Ctrl.Documents">
                                    <div class="tbl-header">
                                        <div class="tbl-row clearfix">
                                            <div class="col col-35 name">File name</div>
                                            <div class="col col-35 type">&nbsp;</div>
                                        </div>
                                    </div>

                                    <div class="tbl-body">
                                        <div class="tbl-row clearfix">
                                            <div class="item item-toggle expanded">
                                                <div class="item-header clearfix">
                                                    <div class="col col-35 name pad-l30"><a href="#" class="btn-toggle"></a>{{item.DocName}}</div>
                                                    &nbsp; <input type="button" id="download" name="download" class="btn-primary btn-gray" value="Download" ng-click="Ctrl.Download(item)" />
                                                    
                                                   
                                                    <div class="col col-35 type">&nbsp;</div>
                                                    <!--<a href="#" class="btn-link btn-delete">Delete</a>-->
                                                </div>

                                                <div class="item-content clearfix">
                                                    <div class="row">
                                                        <div class="col-md-8 col-sm-12">
                                                            <p>{{item.DocDescription}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>                                       
                                    </div>
                                </div>
                                <!-- .custom-table -->
                            </div>


                            <div class="subhead">
                                <h4>Upload document</h4>
                            </div>

                            <div class="field-group">
                                <label for="preset_description">Select one of the preset descriptions from the drop down menu</label>

                                <div class="MW-700">
                                    <select ng-model="Ctrl.description1" class="custom-select"
                                            data-placeholder="Description"
                                            ng-options="desc for desc in Ctrl.DocDescriptions"></select>                                
                                </div>
                            </div>

                            <div class="field-group">
                                <label for="document_description">Description of the document that you are attaching</label>
                                <textarea name="document_description" id="document_description" class="field-input textarea" rows="8" ng-model="Ctrl.description2"></textarea>
                            </div>

                            <div class="field-group">
                                <div class="row">
                                    <div class="col-md-9 col-sm-12">
                                        <p class="input-label fs-14">You are permitted to upload the following file types: PDF, Word, Excel, JPEG, TIFF and PNG.  The maximum file size limit for uploads is 25MB</p>
                                    </div>
                                </div>

                                <div class="field-addfile">
                                    <div class="input-file-wrapper">
                                        <span class="btn-link">Attach document</span>
                                        <input type="file" id="attach_documentation" name="attach_documentation" ngf-select ngf-change="onFileSelected($files,'SD_AdditionalDocuments')" accept=".doc,.docx,.pdf,.xlsx,.jpeg,.tiff,.png" multiple />
                                    </div>
                                </div>
                            </div><!-- .field-group -->

                        </div>


                        <div class="step-footer">
                          
                            <input type="button" id="submit" name="submit" class="btn-primary btn-gray" value="Submit" ng-click="Ctrl.Submit()" />
                        </div>
                            <input type="button" id="cancel" name="cancel" class="btn-primary btn-gray" value="Cancel" />
                        </div>
                    </form>
                </div>


            </div><!-- .application-form-wrapper -->
        </div><!-- .container -->
    </div><!-- .page-content -->
</div><!-- #content -->
