<div id="content">
    <!-- Page Title -->
    <div class="page-title-wrapper">
        <div class="container">
            <h2 class="page-title">Your Representative</h2>
        </div>
    </div>


    <!-- Page Content -->
    <div class="page-content full-width">
        <div class="container">
            <!-- Page Sub Title - Visible on mobile screens only -->
            <div class="page-sub-title">{{Ctrl.Title}}</div>

            <div class="application-form-wrapper">
                <div class="application-step step-1">                
                    <!-- Page Sub Title - Visible on desktop screens only -->
                    <div class="alert alert-error" ng-show="Ctrl.Hide==true">

                    </div>
                    <div class="alert alert-error" ng-show="Ctrl.Error!=''">
                        <strong><a style="cursor: pointer;" href="javascript:void();">{{Ctrl.Error}}</a></strong>
                    </div>
                    <div class="step-heading">{{Ctrl.Title}}</div>

                    <form name="frmNewRepresentative" id="frmNewRepresentative" novalidate class="application-form" onsubmit="return false;">
                        <div class="step-content step1">
                            <div class="subhead no-top-margin no-bottom-margin">
                                <p><strong>This information will be used to send notifications about your case to your representative.</strong></p>
                            </div>

                            <div class="field-group">
                                <label for="first_name">Name</label>
                                <input type="text" name="first_name" id="first_name" class="field-input required" placeholder="First" ng-model="Ctrl.ThirdPartyInfo.ThirdPartyUser.FirstName" ng-click="Ctrl.Error=''" data-error="Name" required />
                            </div>

                            <div class="field-group mar-bottom-40">
                                <input type="text" name="last_name" id="last_name" class="field-input" placeholder="Last" ng-model="Ctrl.ThirdPartyInfo.ThirdPartyUser.LastName" />
                            </div>

                            <div class="field-group">
                                <label for="business_name">Business name</label>
                                <input type="text" name="business_name" id="business_name" class="field-input" placeholder="" ng-model="Ctrl.ThirdPartyInfo.ThirdPartyUser.BusinessName" />
                            </div>

                            <div class="field-group">
                                <label for="mailing_address1">Mailing address 1</label>
                                <input type="text" name="mailing_address1" id="mailing_address1" class="field-input required" data-error="Mailing address 1" placeholder="" ng-model="Ctrl.ThirdPartyInfo.ThirdPartyUser.AddressLine1" required />
                            </div>

                            <div class="field-group">
                                <label for="mailing_address2">Mailing address 2 (optional)</label>
                                <input type="text" name="mailing_address2" id="mailing_address2" class="field-input" placeholder="" ng-model="Ctrl.ThirdPartyInfo.ThirdPartyUser.AddressLine2" />
                            </div>

                            <div class="field-group">
                                <label for="residential_state">State</label>
                                <div class="input-wrapper">
                                    <select name="residential_state" id="residential_state" data-placeholder="Select"
                                            ng-model="Ctrl.ThirdPartyInfo.ThirdPartyUser.State" class="custom-select"
                                            ng-options="state as (state.StateName) for state in Ctrl.StateList track by state.StateID">
                                        <option value="" selected>Select state</option>
                                    </select>
                                </div>
                            </div>

                            <div class="field-group">
                                <label for="city">City</label>
                                <input type="text" name="city" id="city" class="field-input required" data-error="City" placeholder="" ng-model="Ctrl.ThirdPartyInfo.ThirdPartyUser.City" required />
                            </div>

                            <div class="field-group">
                                <label for="zipcode">Zip code</label>
                                <input type="text" name="zipcode" id="zipcode" maxlength="5" class="field-input required" data-error="Zip code" required placeholder="" ng-model="Ctrl.ThirdPartyInfo.ThirdPartyUser.Zip" />
                            </div>

                            <div class="field-group">
                                <label for="phone">Phone number</label>
                                <input type="text" name="phone" id="phone" maxlength="15" class="field-input required" data-error="Phone number" required placeholder="" ng-model="Ctrl.ThirdPartyInfo.ThirdPartyUser.PhoneNumber" />
                            </div>

                            <div class="field-group mar-bottom-40">
                                <label for="email">Email address</label>
                                <input type="email" name="email" id="email" maxlength="50" class="field-input required" data-error="Email" required placeholder="" ng-model="Ctrl.ThirdPartyInfo.ThirdPartyUser.Email" />
                            </div>

                            <div class="field-group subhead">
                                <p>Select all cases that you would like your representative to have access to</p>
                                <div class="form-group-checkbox vertical clearfix" ng-repeat="caseinfo in Ctrl.Cases">
                                    <div class="checkbox-wrapper">
                                        <label for="{{caseinfo.CaseID}}">
                                            <input type="checkbox" name="{{caseinfo.CaseID}}" id="{{caseinfo.CaseID}}" value="{{caseinfo.CaseID}}"
                                                   ng-model="caseinfo.Selected" /><i></i><span>{{caseinfo.CaseID}}</span>
                                        </label>
                                    </div>
                                </div>
                            </div>


                            <!-- Preferred way of receiving notifications -->
                            <div class="subhead type2 ">
                                <h4>Preferred way of receiving notifications</h4>
                            </div>
                            <div class="field-group">
                                <div class="row">
                                    <div class="col-md-8 col-sm-12">
                                        <p>Please select how you would like your representative to receive official notifications about your case from the Rent Adjustment Board.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="field-group no-bottom-margin">
                                <div class="form-group-checkbox vertical clearfix">
                                    <div class="checkbox-wrapper">
                                        <label for="chk_service_proof">
                                            <input type="checkbox" name="chk_service_proof" id="chk_service_proof" ng-model="Ctrl.ThirdPartyInfo.MailNotification" value="true" /><i></i><span>Proof of service by mail</span>
                                        </label>

                                        <label for="chk_email">
                                            <input type="checkbox" name="chk_email" id="chk_email" value="true" ng-model="Ctrl.ThirdPartyInfo.EmailNotification" /><i></i><span>Email</span>
                                        </label>
                                        <br />

                                        <label for="chk_acknowledgement">
                                            <input type="checkbox" name="chk_acknowledgement" id="chk_acknowledgement" value="true" ng-model="Ctrl.bAcknowledge" /><i></i><span>I acknowledge that my representative will receive notifications</span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="step-footer no-top-margin">
                            <input type="submit" role="button" aria-label="Save" id="btn-save" name="btn-save" class="btn-primary" value="Save"
                                   ng-click="Ctrl.Hide = true;
                                   (!(frmNewRepresentative.first_name.$error.required
                                   || frmNewRepresentative.mailing_address1.$error.required
                                   || frmNewRepresentative.city.$error.required
                                   || frmNewRepresentative.zipcode.$error.required
                                   || frmNewRepresentative.email.$error.required
                                   || frmNewRepresentative.phone.$error.required)) && Ctrl.SaveOrUpdateThirdPartyInfo(Ctrl.ThirdPartyInfo)"/> 
                            <input type="button" role="button" aria-label="Cancel" id="btn-cancel" name="btn-cancel" class="btn-primary btn-gray" value="Cancel" ng-click="Ctrl.Cancel()" />
                        </div>
                    </form>

                </div>

            </div><!-- .application-form-wrapper -->
        </div><!-- .container -->
    </div><!-- .page-content -->
    <script src='js/functions.js'></script>
</div><!-- #content -->


