<div class="application-form-wrapper">
    <div class="row">

        <div class="col-md-12 col-sm-12">
            <div class="application-step step-1">
                <h3 class="step-heading">Change Password</h3>

                <form name="frmChangePassword" id="frmChangePassword" action="#" method="post" class="application-form">
                    <div class="step-content step1">

                        <div class="field-group subhead no-top-margin">
                            <div class="row">
                                <div class="col-md-8 col-xs-12">
                                    <p>Maecenas varius ex sed nisl sagittis ultrices. Vivamus congue ultrices purus nec tempus. Fusce convallis nunc dolor, vitae lacinia erat rutrum id. Donec nec urna tempus diam ultrices pharetra vel vel diam. Vivamus lacus metus, aliquam vitae erat tristique, semper rutrum nibh.</p>
                                </div>
                            </div>
                        </div>

                        <div class="field-group">
                            <div class="row">
                                <div class="col-md-6 col-xs-12">
                                    <label for="new_password">New password</label>
                                    <input type="text" name="new_password" id="new_password" class="field-input" ng-model="Ctrl.Pwd1" placeholder="" />
                                </div>
                            </div>
                        </div>

                        <div class="field-group">
                            <div class="row">
                                <div class="col-md-6 col-xs-12">
                                    <label for="confirm_new_password">Confirm new password</label>
                                    <input type="text" name="confirm_new_password" id="confirm_new_password" class="field-input" ng-model="Ctrl.Pwd2" placeholder="" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="step-footer no-top-margin">
                        <input type="button" id="btn-change-password" name="btn-change-password" class="btn-primary" ng-click="Ctrl.ChangePassword()" value="Change password" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>