<div id="content">
    <!-- Page Title -->
    <div class="page-title-wrapper">
        <div class="container">
            <h2 class="page-title">Change Password</h2>
        </div>
    </div>


    <!-- Page Content -->
    <div class="page-content full-width">
        <div class="container">

            <div class="application-form-wrapper">
                <div class="application-step step-1">
                    <div class="alert alert-error" ng-show="Ctrl.Error!=''">
                        <strong><a href="javascript:void();">{{Ctrl.Error}}</a></strong>
                    </div>
                    <form name="frmChangePassword" id="frmChangePassword" action="#" method="post" class="application-form">
                        <div class="step-content step1">

                            

                            <div class="field-group">
                                <div class="row">
                                    <div class="col-md-6 col-xs-12">
                                        <label for="new_password">New password</label>
                                        <input type="password" name="new_password" id="new_password" class="field-input" ng-model="Ctrl.Pwd1" placeholder="" />
                                    </div>
                                </div>
                            </div>

                            <div class="field-group">
                                <div class="row">
                                    <div class="col-md-6 col-xs-12">
                                        <label for="confirm_new_password">Confirm new password</label>
                                        <input type="password" name="confirm_new_password" id="confirm_new_password" class="field-input" ng-model="Ctrl.Pwd2" placeholder="" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="step-footer no-top-margin">
                            <input role="button" aria-label="Change password" type="button" id="btn-change-password" name="btn-change-password" class="btn-primary" ng-click="Ctrl.ChangePassword()" value="Change password" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>