<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src='js/functions.js'></script>
<div id="content">
    <!-- Page Title -->
    <div class="page-title-wrapper">
        <div class="container">
            <h2 class="page-title">{{Ctrl.Title}}</h2>
        </div>
    </div>


    <!-- Page Content -->
    <div class="page-content full-width">
        <div class="container">
            <div class="application-form-wrapper">
                <div class="row">
                    
                    <div class="col-md-12 col-sm-12">
                        <div class="application-step step-1">
                            <div class="alert alert-error" ng-show="Ctrl.Hide==true">
                            </div>
                            <div class="alert alert-error" ng-show="Ctrl.Error!=''">
                                <strong><a href="javascript:void();">{{Ctrl.Error}}</a></strong>
                            </div>


                            <form name="frmCreateAccount" id="frmCreateAccount" novalidate class="application-form" onsubmit="return false;">
                                <div class="step-content step1">
                                    <div class="field-group">
                                        <p>Fields marked with an asterisk (*) are required</p>
                                    </div>

                                    <div class="field-group">
                                        <label for="first_name">Name <span style="color:red">*</span></label>
                                        <input type="text" name="first_name" id="first_name" class="field-input required" data-error="First name" required placeholder="First name" ng-model="Ctrl.CustomerInfo.User.FirstName" required />
                                    </div>

                                    <div class="field-group no-bottom-margin">
                                        <input type="text" name="last_name" id="last_name" class="field-input" placeholder="Last name" ng-model="Ctrl.CustomerInfo.User.LastName" />
                                    </div>
                                    <p>&nbsp;</p>

                                    <div class="field-group">
                                        <label for="businessname">Business name</label>
                                        <input type="text" name="businessname" id="businessname" class="field-input" placeholder="" ng-model="Ctrl.CustomerInfo.User.BusinessName" />
                                    </div>

                                    <div class="field-group">
                                        <label for="email">Email <span style="color:red">*</span></label>
                                        <input type="text" name="email" maxlength="50" id="email" class="field-input required" data-error="Email" required placeholder="" ng-model="Ctrl.CustomerInfo.email" />
                                    </div>

                                    <div class="field-group password-requirements">
                                        <p>Password requirements</p>
                                        <ul>
                                            <li>Must be 8-24 characters</li>
                                            <li>May not be all letters</li>
                                            <li>May not be all numbers</li>
                                            <li>May not be the same as your User ID</li>
                                            <li>May contain uppercase and lowercase letters, numbers, underscores ( _ ), or hyphens (–)</li>
                                        </ul>
                                    </div>

                                    <div class="field-group" ng-show="Ctrl.bEdit!=true">
                                        <label for="password">Create a password</label>
                                        <input type="password" name="password" id="password"
                                               ng-class="{'field-input required' :Ctrl.bEdit!=true,
                                                   'field-input' : Ctrl.bEdit==true}"
                                               maxlength="24" data-error="Password" ng-required="Ctrl.bEdit!=true" ng-model="Ctrl.Password" placeholder="" />
                                    </div>

                                    <div class="field-group mar-bottom-60" ng-show="Ctrl.bEdit!=true">
                                        <label for="confirm_password">Confirm your password</label>
                                        <input type="password" name="confirm_password" id="confirm_password"
                                               maxlength="24" ng-class="{'field-input required' :Ctrl.bEdit!=true,
                                                   'field-input' : Ctrl.bEdit==true}" data-error="Confirm password"
                                               ng-required="Ctrl.bEdit!=true" ng-model="Ctrl.ConfirmPassword" placeholder="" />


                                    </div>

                                    <!-- Residential address -->
                                    <div class="subhead type2 ">
                                        <h4>Residential address</h4>
                                    </div>
                                    <div class="field-group">
                                        <label for="residential_street_address1">Street address 1</label>
                                        <input type="text" name="residential_street_address1" id="residential_street_address1" class="field-input  required" data-error="Street address 1" required placeholder="" ng-model="Ctrl.CustomerInfo.User.AddressLine1" />
                                    </div>

                                    <div class="field-group">
                                        <label for="residential_street_address2">Street address 2 (optional)</label>
                                        <input type="text" name="residential_street_address2" id="residential_street_address2" class="field-input" placeholder="" ng-model="Ctrl.CustomerInfo.User.AddressLine2" />
                                    </div>

                                    <div class="field-group">
                                        <label for="residential_city">City</label>
                                        <input type="text" name="residential_city" id="residential_city" class="field-input  required" data-error="City" required placeholder=""
                                               ng-model="Ctrl.CustomerInfo.User.City" />
                                    </div>

                                    <div class="field-group">
                                        <label for="residential_state">State</label>
                                        <div class="input-wrapper">
                                            <select name="residential_state" id="residential_state" class="custom-select" data-placeholder="Select"
                                                    ng-model="Ctrl.CustomerInfo.User.State"
                                                    ng-options="state as (state.StateName) for state in Ctrl.StateList track by state.StateID">
                                                <option value="" selected>Select state</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="field-group">
                                        <label for="residential_zipcode">Zip code</label>
                                        <input type="text" name="residential_zipcode" id="residential_zipcode" maxlength="5" class="field-input  required" data-error="Zip" required placeholder="" ng-model="Ctrl.CustomerInfo.User.Zip" />
                                    </div>

                                    <div class="field-group mar-bottom-60">
                                        <label for="residential_phone">Phone number</label>
                                        <input type="text" name="residential_phone" id="residential_phone" maxlength="15" class="field-input  required" data-error="Phone number" placeholder="" ng-model="Ctrl.CustomerInfo.User.PhoneNumber" />
                                    </div>

                                    <!-- Mailing address -->
                                    <div class="subhead type2 ">
                                        <h4>Mailing address</h4>
                                    </div>
                                    <div class="field-group">
                                        <div class="form-group-checkbox vertical clearfix">
                                            <div class="checkbox-wrapper">
                                                <label for="same_as_residential_address">
                                                    <input type="checkbox" class="checkbox" id="same_as_residential_address"
                                                           ng-change="Ctrl.ChangeIsMailing()" ng-model="Ctrl.CustomerInfo.IsSameMailingAddress"><i></i><span>My mailing address is the same as my residential address.</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-show="!Ctrl.CustomerInfo.IsSameMailingAddress">
                                        <div class="field-group">
                                            <label for="mailing_street_address1">Street address 1</label>
                                            <input type="text" name="mailing_street_address1" id="mailing_street_address1"
                                                   ng-class="{'field-input required' :(!Ctrl.CustomerInfo.IsSameMailingAddress),
                                                   'field-input' : Ctrl.CustomerInfo.IsSameMailingAddress}"
                                                   ng-required="(!Ctrl.CustomerInfo.IsSameMailingAddress)" data-error="Mailing street address 1"
                                                   ng-model="Ctrl.CustomerInfo.MailingAddress.AddressLine1"
                                                   placeholder="" />
                                        </div>

                                        <div class="field-group">
                                            <label for="mailing_street_address2">Street address 2 (optional)</label>
                                            <input type="text" name="mailing_street_address2" id="mailing_street_address2" class="field-input"
                                                   ng-model="Ctrl.CustomerInfo.MailingAddress.AddressLine2" placeholder="" />
                                        </div>

                                        <div class="field-group">
                                            <label for="mailing_city">City</label>
                                            <input type="text" name="mailing_city" id="mailing_city"
                                                   ng-class="{'field-input required' :(!Ctrl.CustomerInfo.IsSameMailingAddress),
                                                   'field-input' : Ctrl.CustomerInfo.IsSameMailingAddress}"
                                                   ng-required="(!Ctrl.CustomerInfo.IsSameMailingAddress)" data-error="Mailing city"
                                                   placeholder=""
                                                   ng-model="Ctrl.CustomerInfo.MailingAddress.City" />
                                        </div>

                                        <div class="field-group">
                                            <label for="mailing_state">State</label>
                                            <div class="input-wrapper">
                                                <select name="mailing_state" id="mailing_state" class="custom-select" data-placeholder="Select"
                                                        ng-model="Ctrl.CustomerInfo.MailingAddress.State"
                                                        ng-options="state as (state.StateName) for state in Ctrl.StateList track by state.StateID">
                                                    <option value="" selected>Select state</option>
                                                </select>
                                                <!--<select name="mailing_state" id="mailing_state" class="custom-select" data-placeholder="Select">
                            <option value="option_01">Option 01</option>
                            <option value="option_02">Option 02</option>
                            <option value="option_03">Option 03</option>
                        </select>-->
                                            </div>
                                        </div>

                                        <div class="field-group">
                                            <label for="mailing_zipcode">Zip code</label>
                                            <input type="text" name="mailing_zipcode" id="mailing_zipcode"
                                                   ng-class="{'field-input required' :(!Ctrl.CustomerInfo.IsSameMailingAddress),
                                                   'field-input' : Ctrl.CustomerInfo.IsSameMailingAddress}"
                                                   ng-required="(!Ctrl.CustomerInfo.IsSameMailingAddress)" maxlength="5" data-error="Mailing zip code" placeholder=""
                                                   ng-model="Ctrl.CustomerInfo.MailingAddress.Zip" />
                                        </div>

                                        <div class="field-group mar-bottom-60">
                                            <label for="mailing_phone">Phone number</label>
                                            <input type="text" name="mailing_phone" id="mailing_phone" maxlength="15"
                                                   ng-class="{'field-input required' :(!Ctrl.CustomerInfo.IsSameMailingAddress),
                                                   'field-input' : Ctrl.CustomerInfo.IsSameMailingAddress}"
                                                   ng-required="(!Ctrl.CustomerInfo.IsSameMailingAddress)" data-error="Mailing phone number"
                                                   ng-model="Ctrl.CustomerInfo.MailingAddress.PhoneNumber" placeholder="" />
                                        </div>
                                    </div>

                                    <!-- Your preferred way of receiving notifications -->
                                    <div class="subhead type2 ">
                                        <h4>Your preferred way of receiving notifications</h4>
                                    </div>

                                    <div class="field-group no-bottom-margin">
                                        <div class="row">
                                            <div class="col-sm-9 col-xs-12">
                                                <p>Please select how you would like to receive official notifications about your case from the Rent Adjustment Board.</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group-checkbox vertical clearfix">
                                        <div class="checkbox-wrapper">
                                            <label for="notification_service_proof_mail">
                                                <input type="checkbox" name="notification_service_proof_mail" id="notification_service_proof_mail" ng-model="Ctrl.CustomerInfo.MailNotificationFlag" /><i></i><span>Proof of service by mail</span>
                                            </label>

                                            <label for="notification_by_email">
                                                <input type="checkbox" name="notification_by_email" id="notification_by_email"
                                                       ng-model="Ctrl.CustomerInfo.EmailNotificationFlag" /><i></i><span>Email</span>
                                            </label>
                                        </div>
                                    </div>

                                </div>
                                <div class="step-footer no-top-margin">
                                    
                                    <input type="submit" role="button" aria-label="Cancel" id="btn-create-account
                                            name=" btn-create-account" class="btn-primary" value="{{Ctrl.SubmitText}}"
                                           ng-click="(Ctrl.Hide=true);
                                                        (!(frmCreateAccount.first_name.$error.required
                                                            || frmCreateAccount.email.$error.required
                                                            || frmCreateAccount.password.$error.required
                                                            || frmCreateAccount.confirm_password.$error.required
                                                            || frmCreateAccount.residential_city.$error.required
                                                            || frmCreateAccount.residential_street_address1.$error.required
                                                            || frmCreateAccount.residential_zipcode.$error.required
                                                            || frmCreateAccount.residential_phone.$error.required
                                                            || frmCreateAccount.mailing_street_address1.$error.required
                                                            || frmCreateAccount.mailing_city.$error.required
                                                            || frmCreateAccount.mailing_zipcode.$error.required
                                                            || frmCreateAccount.mailing_phone.$error.required))
                                            && Ctrl.Register(Ctrl.CustomerInfo)" />
                                    <input type="button" role="button" aria-label="Cancel" id="btn-cancel" name="btn-cancel" class="btn-primary btn-gray" value="Cancel" ng-click="Ctrl.Cancel()" />

                                    <input type="button" id="btn-delete" name="btn-cancel" class="btn-primary btn-delete" value="Delete account" ng-show="Ctrl.bEdit" ng-click="bDelete = true" />
                                </div>

                                <div class="delete-confirmation mar-t40 mar-bottom-40" ng-show="bDelete== true">
                                    <strong>Are you sure that you want to delete this user?</strong>
                                    <div class="action-links">
                                        <a style="cursor: pointer;" ng-click="Ctrl.DeleteCustomer(Ctrl.CustomerInfo); bDelete=false" class="btn-link btn-delete">Delete</a>
                                        <a style="cursor: pointer;" ng-click="bDelete = false" class="btn-link btn-cancel">Cancel</a>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>