<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="panel panel-danger font-small">
            <div class="panel-heading">
                <strong>User</strong>
            </div>
            <div class="panel-body">
                <p>Account : {{Ctrl.model.FirstName}}</p>
                <button class="btn btn-default" ng-click="SearchInviteThirdPartyUser()">Invite Third Party Representation</button>
                
            </div>
        </div>
    </div>
</div>