<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="panel panel-danger font-small">
            <div class="panel-heading">
                <strong>User</strong>
            </div>
            <div class="panel-body">
                <p>File Petition</p>
                <p>Are you filing as a renter or a property owner?</p>

                <!--RAP-TBD  Associate the model--> 
                <div class="radio">
                    <label><input type="radio" name="FilingAs">Renter</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="FilingAs">Property owner</label>
                </div>
                <button ng-click="Ctrl.Continue()">Continue</button>
            </div>
        </div>
    </div>
</div>