<div class="container">
    <div id="SkipToMainContent">
        <div class="application-form-wrapper">
            <div class="row">

                <div class="col-md-12 col-sm-12">
                    <div class="application-step step-1">
                        <div class="step-heading">Log in</div>

                        <!--<form name="frmLogin" id="frmLogin" action="#" method="post" class="application-form login-form">-->


                        <div class="step-footer no-top-margin">
                            <input type="button" id="btn-login" name="btn-loginpublic" class="btn-primary" value="Log in Public" ng-click="Ctrl.LoginPublic()" />
                            <input type="button" id="btn-loginCity" name="btn-logincity" class="btn-primary" value="Log in City User" ng-click="Ctrl.LoginCity()" />
                        </div>

                        <div class="field-group">
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <p>For more information regarding the Rent Adjustment Program, please contact:  </p>
                                    <p>City of Oakland, Rent Adjustment Program, Dalziel Building,  250 Frank H. Ogawa Plaza Suite 5313, Oakland, CA 94612 <br />Tel: (510) 238-3721</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>