<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="panel panel-danger font-small">
            <div class="panel-heading">
                <strong>User</strong>
            </div>
            <div class="panel-body">

                <select class="form-control"
                        ng-change="Ctrl.ActivityChanged(Ctrl.ActivityStatus.Activity)"
                        ng-model="Ctrl.ActivityStatus.Activity"
                        ng-options="activity as (activity.ActivityDesc) for activity in Ctrl.ActivityList track by activity.ActivityID"
                        required>
                    <option value="" selected>Select Activity</option>
                </select>   
                
                <select class="form-control"
                        ng-model="Ctrl.ActivityStatus.Status"
                        ng-options="status as (status.StatusDesc) for status in Ctrl.StatusList track by status.StatusID"
                        required>
                    <option value="" selected>Select Status</option>
                </select>  
                <div id="div_notes" class="field-group">
                    <label for="notes">If you are not current on paying your rent, please provide an explanation.</label>
                    <textarea name="notes" id="notes" class="field-input textarea" rows="8" ng-model="Ctrl.ActivityStatus.Notes"></textarea>
                </div>   
                <button class="btn btn-default" ng-click="Ctrl.Submit(Ctrl.ActivityStatus, Ctrl.caseinfo.C_ID)">Submit</button>         
            </div>
        </div>
    </div>
</div>