<div id="content">
    <!-- Page Title -->
    <div class="page-title-wrapper">
        <div class="container">
            <h2 class="page-title">Dashboard</h2>
        </div>
    </div>


    <!-- Page Content -->
    <div class="page-content full-width">
        <div class="container">

            <div class="application-form-wrapper">
                <div class="application-step step-1">

                    <div class="application-form">
                        <div class="step-content step1">
                            <div class="subhead border-top0 no-top-margin mar-b0">
                                <h4>Cases in progress</h4>
                            </div>

                            <div class="field-group subhead type2 case-wrapper mar-bottom-30 no-top-margin" ng-repeat="caseinfo in Ctrl.Cases">
                                <!-- Case in progress -->
                                <div class="case"  >
                                    <div class="field-group">
                                        <div class="case-heading">Case number</div>
                                        <div class="case-number">{{caseinfo.CaseID}}</div>
                                    </div>
									
									<div class="accordion case-status">
                                        <div class="item" ng-class="{'expanded':toggle}">
                                            <div class="item-header"><a style="cursor: pointer;" ng-click="toggle = !toggle" class="btn-toggle"></a> View case progress</div>

                                            <div class="item-content" ng-show="toggle">
                                                <div class="table mar-bottom-60">
                                                    <div class="tbl-row ">
                                                        <div class="tbl-head activity">Activity</div>
                                                        <div class="tbl-head date">Date</div>
                                                        <div class="tbl-head status">Status</div>
                                                        <div class="tbl-head link"></div>
                                                    </div>
                                                    <div class="tbl-row" ng-repeat="activity in caseinfo.ActivityStatus">
                                                        <div class="tbl-col activity"><strong class="visible-sm">Activity:</strong> {{activity.Activity.ActivityDesc}}</div>

                                                        <div class="tbl-col date countdown" ng-if="activity.Status.StatusID == 3"><strong class="visible-sm">Date:</strong> {{Ctrl.CalculateRemainingDays(activity.Date, activity.Status.StatusID)}}  days remaining</div>
                                                        <div class="tbl-col status warning" ng-if="activity.Status.StatusID == 3"><strong class="visible-sm">Status:</strong> <span>{{activity.Status.StatusDesc}}</span></div>

                                                        <div class="tbl-col date" ng-if="activity.Status.StatusID != 3"><strong class="visible-sm">Date:</strong> {{activity.Date | date}}</div>
                                                        <div class="tbl-col status" ng-if="activity.Status.StatusID != 3"><strong class="visible-sm">Status:</strong> <span>{{activity.Status.StatusDesc}}</span></div>

                                                        <div class="tbl-col link" ng-if="activity.Activity.ActivityID == 1 || activity.Activity.ActivityID == 26 || activity.Activity.ActivityID == 27 ||  activity.Activity.ActivityID == 35 ||  activity.Status.StatusID == 6"><a style="cursor: pointer;" ng-click="Ctrl.ViewPage(activity,caseinfo)" class="btn-link">View</a></div>
                                                        <div class="tbl-col link" ng-if="activity.Activity.ActivityID == 22 && activity.Status.StatusID == 3 && caseinfo.PetitionCategoryID == 1"><a style="cursor: pointer;" ng-click="Ctrl.OwnerResponse()" class="btn-link">File online</a></div>
                                                        <div class="tbl-col link" ng-if="activity.Activity.ActivityID == 22 && activity.Status.StatusID == 3 && caseinfo.PetitionCategoryID == 2"><a style="cursor: pointer;" ng-click="Ctrl.FileTenantResponse()" class="btn-link">File online</a></div>
                                                        <div class="tbl-col link" ng-if="activity.Activity.ActivityID == 23 && activity.Status.StatusID == 3"><a style="cursor: pointer;" ng-click="Ctrl.FileAppeal(Ctrl.caseinfo)" class="btn-link">File online</a></div>
                                                        <div class="tbl-col link" ng-if="activity.Activity.ActivityID == 24"><a style="cursor: pointer;" ng-click="Ctrl.UploadDocumentation(caseinfo)" class="btn-link">Upload documentation</a></div>
                                                    </div>
                                                </div><!-- .table -->

                                            </div>
                                        </div>
                                    </div><!-- .accordion -->

                                    <div class="field-group" style="border-top: 1px solid #d0e7d4;padding-top:20px;">
                                        <div class="row">
                                            <div class="col-md-5 col-sm-12">
                                                <div class="case-heading mar-b10">Property address</div>
                                                <p ng-show="caseinfo.PetitionCategoryID==1">{{caseinfo.TenantPetitionInfo.ApplicantUserInfo.AddressLine1}} {{caseinfo.TenantPetitionInfo.ApplicantUserInfo.AddressLine2}}, {{caseinfo.TenantPetitionInfo.ApplicantUserInfo.City}}, {{caseinfo.TenantPetitionInfo.ApplicantUserInfo.State.StateCode}} {{caseinfo.TenantPetitionInfo.ApplicantUserInfo.Zip}}</p>
                                                <p ng-show="caseinfo.PetitionCategoryID==2">{{caseinfo.OwnerPetitionInfo.ApplicantInfo.ApplicantUserInfo.AddressLine1}} {{caseinfo.OwnerPetitionInfo.ApplicantInfo.ApplicantUserInfo.AddressLine2}}, {{caseinfo.OwnerPetitionInfo.ApplicantInfo.ApplicantUserInfo.City}}, {{caseinfo.OwnerPetitionInfo.ApplicantInfo.ApplicantUserInfo.StateCode}} {{caseinfo.OwnerPetitionInfo.ApplicantInfo.ApplicantUserInfo.Zip}}</p>
                                            </div>

                                            <div class="col-md-3 col-sm-12">
                                                <div class="case-heading mar-b10">Case analyst</div>
                                                <p>{{caseinfo.CityAnalyst.FirstName}} {{caseinfo.CityAnalyst.LastName}} <br />{{caseinfo.CityAnalyst.Email}} <br />{{caseinfo.CityAnalyst.OfficePhoneNumber}}</p>
                                            </div>

                                            <div class="col-md-4 col-sm-12">
                                                <div class="case-heading mar-b10">Hearing officer</div>
                                                <p>{{caseinfo.HearingOfficer.FirstName}} {{caseinfo.HearingOfficer.LastName}} <br />{{caseinfo.HearingOfficer.Email}} <br />{{caseinfo.HearingOfficer.OfficePhoneNumber}}</p>
                                            </div>
                                        </div>
                                    </div>


                                    
                                </div>
                            </div>
                            <!-- End of case -->

                           
                            <!-- Paging -->
                            <div class="results-paging mar-t60" ng-show="false">
                                <div class="show-records">Showing 1-4 of 896 records</div>
                                <div class="pages">
                                    <a style="cursor: pointer;" class="link active">1</a>
                                    <a style="cursor: pointer;" class="link">2</a>
                                    <a style="cursor: pointer;" class="link">3</a>
                                    <a style="cursor: pointer;" class="link">4</a>
                                    <a style="cursor: pointer;" class="link">5</a>
                                    <a style="cursor: pointer;" class="link">6</a>
                                    <a style="cursor: pointer;" class="link next">Next <span>&#8250;</span></a>
                                </div>
                            </div>

                            <div class="subhead type2 mar-t60">
                                <h4>Forms</h4>
                            </div>

                            <div class="field-group mar-bottom-60">
                                <div class="row">
                                    <div class="col-sm-9 col-xs-12">
                                       This page includes allows you to download all the forms necessary to go through the RAP petition process. Tenant or Property Owner Petitions, Responses, and Appeals Forms can be submitted online. To submit a form online, click the “File Online” button under the form you wish to file. For any questions, please feel free to contact RAP Staff at (510) 238-3721
                                    </div>
                                </div>
                            </div><!--field-group -->

                            <div class="forms-groups-wrapper">
                                <div class="forms-group" ng-class="{'expanded':Ownertoggle}">
                                    <div class="group-header item-header" ng-click="Ownertoggle = !Ownertoggle">For property owners <a style="cursor: pointer;"  class="btn-toggle"></a></div>

                                    <div class="group-content item-content" ng-show="Ownertoggle">
                                        <div class="form-section">
                                            <div class="row">
                                                <div class="col-md-8 col-sm-7 col-xs-12">
                                                    <div class="title" >Property Owner Petition Form</div>
                                                    <div class="summary">Provides form for property owner to apply for Rent Adjustment Program pre-approval of increases that would exceed the annual allowable rate</div>
                                                    <p><a style="cursor: pointer;" ng-click="Ctrl.FilePetition(2)" class="btn-link" role="button" aria-label="File online">File online</a></p>
                                                </div><!-- .col-md-9 -->

                                                <div class="col-md-4 col-sm-5 col-xs-12">
                                                    <div class="related-info info-toggle">
                                                        <div class="info-header">Related information <a  class="btn-toggle"></a></div>
                                                        <div class="info-content">
                                                            <ul>
                                                                <li><a style="cursor: pointer;">Rent Adjustment Program</a></li>
                                                                <li><a style="cursor: pointer;">Rent Increase</a></li>
                                                                <li><a style="cursor: pointer;">Petition Process</a></li>
                                                                <li><a style="cursor: pointer;">Online Portal</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div><!-- .col-md-3 -->
                                            </div><!-- .row -->
                                        </div><!-- .form-section -->

                                        <div class="form-section">
                                            <div class="row">
                                                <div class="col-md-8 col-sm-7 col-xs-12">
                                                    <div class="title">Owner Response Form</div>
                                                    <div class="summary">Provides the Owner Response to a Tenant petition form</div>
                                                    <p><a style="cursor: pointer;" role="button" aria-label="File online" ng-click="Ctrl.OwnerResponse()" class="btn-link">File online</a></p>
                                                </div><!-- .col-md-9 -->

                                                <div class="col-md-4 col-sm-5 col-xs-12">
                                                    <div class="related-info info-toggle">
                                                        <div class="info-header">Related information <a  class="btn-toggle"></a></div>
                                                        <div class="info-content">
                                                            <ul>
                                                                <li><a style="cursor: pointer;">Rent Adjustment Program</a></li>
                                                                <li><a style="cursor: pointer;">Loss of Service</a></li>
                                                                <li><a style="cursor: pointer;">Rent Increase</a></li>
                                                                <li><a style="cursor: pointer;">Petition Process</a></li>
                                                                <li><a style="cursor: pointer;">Online Portal</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div><!-- .col-md-3 -->
                                            </div><!-- .row -->
                                        </div><!--item -->






                                        <div class="form-section">
                                            <div class="row">
                                                <div class="col-md-8 col-sm-7 col-xs-12">
                                                    <div class="title">Enhanced Notice to Tenants for Grandparented Capital Improvements</div>
                                                    <div class="summary">Enhanced Notice form for owners with grandfathered Capital Improvements. Note: Effective 2/1/17, all rent increases above the annual CPI increase will require an owner petition for pre-approval of increase. </div>
                                                    <p><a style="cursor: pointer;" href="http://www2.oaklandnet.com/government/o/hcd/s/LandlordResources/OAK048808" class="link-download-form">Download Form</a></p>
                                                </div><!-- .col-md-9 -->

                                                <div class="col-md-4 col-sm-5 col-xs-12">
                                                    <div class="related-info info-toggle">
                                                        <div class="info-header">Related information <a style="cursor: pointer;" class="btn-toggle"></a></div>
                                                        <div class="info-content">
                                                            <ul>
                                                                <li><a style="cursor: pointer;">Rent Adjustment Program</a></li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div><!-- .col-md-3 -->
                                            </div><!-- .row -->
                                        </div><!--item -->


                                    </div><!-- .forms-group-content -->
                                </div><!-- .forms-group -->


                                <div class="forms-group" ng-class="{'expanded':Tenanttoggle}">
                                    <div class="group-header item-header" ng-click="Tenanttoggle = !Tenanttoggle">For tenants <a style="cursor: pointer;"  class="btn-toggle"></a></div>

                                    <div class="group-content item-content" ng-show="Tenanttoggle">
                                        <div class="form-section">
                                            <div class="row">
                                                <div class="col-md-8 col-sm-7 col-xs-12">
                                                    <div class="title">Tenant Petition Form</div>
                                                    <div class="summary">Provides the tenant petition form</div>
                                                    <p><a style="cursor: pointer;" ng-click="Ctrl.FilePetition(1)" class="btn-link" role="button" aria-label="File online">File online</a></p>
                                                </div><!-- .col-md-9 -->

                                                <div class="col-md-4 col-sm-5 col-xs-12">
                                                    <div class="related-info info-toggle">
                                                        <div class="info-header">Related information <a style="cursor: pointer;" class="btn-toggle"></a></div>
                                                        <div class="info-content">
                                                            <ul>
                                                                <li><a style="cursor: pointer;">Rent Adjustment Program</a></li>
                                                                <li><a style="cursor: pointer;">Loss of Service</a></li>
                                                                <li><a style="cursor: pointer;">Rent Increase</a></li>
                                                                <li><a style="cursor: pointer;">Petition Process</a></li>
                                                                <li><a style="cursor: pointer;">Online Portal</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div><!-- .col-md-3 -->
                                            </div><!-- .row -->
                                        </div><!--.form-section -->

                                        <div class="form-section">
                                            <div class="row">
                                                <div class="col-md-8 col-sm-7 col-xs-12">
                                                    <div class="title">Tenant Response Form</div>
                                                    <div class="summary">Provides form for tenant to respond to an owner petition</div>
                                                    <p><a style="cursor: pointer;" ng-click="Ctrl.FileTenantResponse()" class="btn-link" role="button" aria-label="File online">File online</a></p>
                                                </div><!-- .col-md-9 -->

                                                <div class="col-md-4 col-sm-5 col-xs-12">
                                                    <div class="related-info info-toggle">
                                                        <div class="info-header">Related information <a style="cursor: pointer;" class="btn-toggle"></a></div>
                                                        <div class="info-content">
                                                            <ul>
                                                                <li><a style="cursor: pointer;">Rent Adjustment Program</a></li>
                                                                <li><a style="cursor: pointer;">Loss of Service</a></li>
                                                                <li><a style="cursor: pointer;">Rent Increase</a></li>
                                                                <li><a style="cursor: pointer;">Petition Process</a></li>
                                                                <li><a style="cursor: pointer;">Online Portal</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div><!-- .col-md-3 -->
                                            </div><!-- .row -->
                                        </div><!--.form-section -->




                                    </div><!-- .forms-group-content -->
                                </div><!-- .forms-group -->


                                <div class="forms-group" ng-class="{'expanded':EveryOnetoggle}">
                                    <div class="group-header item-header" ng-click="EveryOnetoggle = !EveryOnetoggle">For everyone <a style="cursor: pointer;"  class="btn-toggle"></a></div>

                                    <div class="group-content item-content" ng-show="EveryOnetoggle">


                                        <div class="form-section">
                                            <div class="row">
                                                <div class="col-md-8 col-sm-7 col-xs-12">
                                                    <div class="title">Appeal Form</div>
                                                    <div class="summary">Provides form for appealing a RAP decision</div>
                                                    <p><a style="cursor: pointer;" ng-click="Ctrl.FileAppeal(Ctrl.caseinfo)" class="btn-link" role="button" aria-label="File online">File online</a></p>
                                                </div><!-- .col-md-9 -->

                                                <div class="col-md-4 col-sm-5 col-xs-12">
                                                    <div class="related-info info-toggle">
                                                        <div class="info-header">Related information <a style="cursor: pointer;" class="btn-toggle"></a></div>
                                                        <div class="info-content">
                                                            <ul>
                                                                <li><a style="cursor: pointer;">Rent Adjustment Program</a></li>
                                                                <li><a style="cursor: pointer;">Loss of Service</a></li>
                                                                <li><a style="cursor: pointer;">Rent Increase</a></li>
                                                                <li><a style="cursor: pointer;">Petition Process</a></li>
                                                                <li><a style="cursor: pointer;">Online Portal</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div><!-- .col-md-3 -->
                                            </div><!-- .row -->
                                        </div><!--item -->




                                        <div class="form-section">
                                            <div class="row">
                                                <div class="col-md-8 col-sm-7 col-xs-12">
                                                    <div class="title">Request to Change Hearing Date</div>
                                                    <div class="summary">Provides form to change hearing date</div>
                                                    <p><a href="http://www2.oaklandnet.com/oakca1/groups/ceda/documents/form/dowd008125.pdf" class="link-download-form">Download Form</a></p>
                                                </div><!-- .col-md-9 -->

                                                <div class="col-md-4 col-sm-5 col-xs-12">
                                                    <div class="related-info info-toggle">
                                                        <div class="info-header">Related information <a style="cursor: pointer;" class="btn-toggle"></a></div>
                                                        <div class="info-content">
                                                            <ul>

                                                                <li><a style="cursor: pointer;">Petition Process</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div><!-- .col-md-3 -->
                                            </div><!-- .row -->
                                        </div><!--.form-section -->

                                        <div class="form-section">
                                            <div class="row">
                                                <div class="col-md-8 col-sm-7 col-xs-12">
                                                    <div class="title">Request to Dismiss Petition</div>
                                                    <div class="summary">Provides form to dismiss petition</div>
                                                    <p><a href="http://www2.oaklandnet.com/oakca1/groups/ceda/documents/form/dowd008126.pdf" class="link-download-form">Download Form</a></p>
                                                </div><!-- .col-md-9 -->

                                                <div class="col-md-4 col-sm-5 col-xs-12">
                                                    <div class="related-info info-toggle">
                                                        <div class="info-header">Related information <a style="cursor: pointer;" class="btn-toggle"></a></div>
                                                        <div class="info-content">
                                                            <ul>
                                                                <li><a style="cursor: pointer;">Petition process</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div><!-- .col-md-3 -->
                                            </div><!-- .row -->
                                        </div><!--.form-section -->

                                        <div class="form-section">
                                            <div class="row">
                                                <div class="col-md-8 col-sm-7 col-xs-12">
                                                    <div class="title">Administrative Citation Declaration Form</div>
                                                    <div class="summary">Provides form to declare a potential violation of the Rent Adjustment Ordinance</div>
                                                    <p><a href="http://www2.oaklandnet.com/oakca1/groups/ceda/documents/agenda/oak057389.pdf" class="link-download-form">Download Form</a></p>
                                                </div><!-- .col-md-9 -->

                                                <div class="col-md-4 col-sm-5 col-xs-12">
                                                    <div class="related-info info-toggle">
                                                        <div class=" info-header">Related information <a style="cursor: pointer;" class="btn-toggle"></a></div>
                                                        <div class="info-content">
                                                            <ul>

                                                                <li><a style="cursor: pointer;">Petition process</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div><!-- .col-md-3 -->
                                            </div><!-- .row -->
                                        </div><!-- .form-section -->

                                        <div class="form-section">
                                            <div class="row">
                                                <div class="col-md-8 col-sm-7 col-xs-12">
                                                    <div class="title">Request for Copies</div>
                                                    <div class="summary">Form for Tenant/Owner to request copies of a case documents</div>
                                                    <p><a href="http://www2.oaklandnet.com/oakca1/groups/ceda/documents/form/dowd008128.pdf" class="link-download-form">Download Form</a></p>
                                                </div><!-- .col-md-9 -->

                                                <div class="col-md-4 col-sm-5 col-xs-12">
                                                    <div class="related-info info-toggle">
                                                        <div class=" info-header">Related information <a style="cursor: pointer;" class="btn-toggle"></a></div>
                                                        <div class="info-content">
                                                            <ul>

                                                                <li><a style="cursor: pointer;">Petition process</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div><!-- .col-md-3 -->
                                            </div><!-- .row -->
                                        </div><!-- .form-section -->


                                    </div><!--.item-content -->
                                </div><!-- .forms-group -->
                            </div><!--.forms-group-wrapper -->



                            <div class="account-management">
                                <div class="subhead type2 no-top-margin"><h4>Account management</h4></div>

                                <div class="items">
                                    <div class="item">
                                        <div class="item-header"><a style="cursor: pointer;" role="button" ng-click="Ctrl.ChangeAccountInformation()">Change account information</a></div>
                                    </div>

                                    <div class="item">
                                        <div class="item-header"><a style="cursor: pointer;" role="button" ng-click="Ctrl.ChangePassword()">Change password</a></div>
                                    </div>

                                    <div class="item">
                                        <div class="item-header"><a style="cursor: pointer;" role="button" ng-click="Ctrl.ResendPin()">Resend PIN number</a></div>
                                    </div>
                                    <div class="item">
                                        <div class="item-header"><a style="cursor: pointer;" role="button" ng-click="Ctrl.RequestTranslationService()">Request translation services</a></div>
                                    </div>

                                    <div class="item has-summary">
                                        <div class="item-header"><a style="cursor: pointer;" role="button" ng-click="Ctrl.ThirdPartyRepresentative()">Your representative</a></div>
                                        <div class="item-content">
                                            <p>A representative is a person who will be receiving official notifications about your case from the Rent Adjustment Program. You can add or edit their contact information by clicking on the link above.</p>
                                        </div>
                                    </div>
                                </div><!-- .items -->
                            </div><!-- .account-management -->

                        </div>
                    </div><!-- .application-form -->

                </div>

            </div><!-- .application-form-wrapper -->
        </div><!-- .container -->
    </div><!-- .page-content -->
</div><!-- #content -->