
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="panel panel-danger font-small">
            <div class="panel-heading">
                <strong>User</strong>
            </div>
            <div class="panel-body">
                <p>Renter petition : Rental History</p>
                <p>___________________________________________________________________________________________</p>
                <p>I (We) contest one or more rent increases on one or more of the following grounds:</p>
                <div class="checkbox">
                    <label><input type="checkbox" value="">a)</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="">b)</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="">c)</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="">d)</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="">e)</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="">f1)</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="">f2)</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="">g)</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="">h)</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="">i)</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="">j)</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="">j)</label>
                </div>


                <button ng-click="Ctrl.ContinueToLostServices()">Continue</button>
            </div>
        </div>
    </div>
</div>