<div id="content">
    <!-- Page Title -->
    <div class="page-title-wrapper">
        <div class="container">
            <h2 class="page-title">Staff Dashboard</h2>
        </div>
    </div>


    <!-- Page Content -->
    <div class="page-content full-width">
        <div class="container">

            <div class="breadcrumb border-bottom-green">
                <ul>
                    <li><a style="cursor: pointer;" ng-click="Ctrl.Home()">Home</a></li>
                    <li class="active">{{Ctrl.caseinfo.CaseID}}</li>
                </ul>
            </div>


            <div class="application-form-wrapper">
                <div class="application-step step-1">
                    <div class="alert alert-error" ng-show="Ctrl.Error!=''">
                        <strong><a href="javascript:void();">{{Ctrl.Error}}</a></strong>
                    </div>
                    <form name="frmSelectedCase" id="frmSelectedCase" action="#" method="post" class="application-form">
                        <div class="step-content step1">

                            <div class="field-group">
                                <div class="case-wrapper pad-t5">
                                    <div class="case">
                                        <div class="case-heading">Case number</div>
                                        <div class="case-number">{{Ctrl.caseinfo.CaseID}}</div>
                                    </div>
                                </div>
                            </div>


                            <div class="field-group">
                                <div class="small-title">Property address</div>
                                <p ng-show="Ctrl.caseinfo.PetitionCategoryID == 1">{{Ctrl.caseinfo.TenantPetitionInfo.ApplicantUserInfo.AddressLine1}} {{Ctrl.caseinfo.TenantPetitionInfo.ApplicantUserInfo.AddressLine2}}, {{Ctrl.caseinfo.TenantPetitionInfo.ApplicantUserInfo.City}}, {{Ctrl.caseinfo.TenantPetitionInfo.ApplicantUserInfo.State.StateCode}} {{Ctrl.caseinfo.TenantPetitionInfo.ApplicantUserInfo.Zip}}</p>
                                <p ng-show="Ctrl.caseinfo.PetitionCategoryID == 2">{{Ctrl.caseinfo.OwnerPetitionInfo.ApplicantInfo.ApplicantUserInfo.AddressLine1}} {{Ctrl.caseinfo.OwnerPetitionInfo.ApplicantInfo.ApplicantUserInfo.AddressLine2}}, {{Ctrl.caseinfo.OwnerPetitionInfo.ApplicantInfo.ApplicantUserInfo.City}}, {{Ctrl.caseinfo.OwnerPetitionInfo.ApplicantInfo.ApplicantUserInfo.State.StateCode}} {{Ctrl.caseinfo.OwnerPetitionInfo.ApplicantInfo.ApplicantUserInfo.Zip}}</p>
                            </div>
                            <div class="field-group" ng-show="Ctrl.EditAPNAddress== false">
                                <div class="small-title">APN address</div>
                                <p>{{Ctrl.caseinfo.TenantPetitionInfo.ApplicantUserInfo.apnAddress.AddressLine1}} {{Ctrl.caseinfo.TenantPetitionInfo.ApplicantUserInfo.apnAddress.AddressLine2}}, {{Ctrl.caseinfo.TenantPetitionInfo.ApplicantUserInfo.apnAddress.City}}, {{Ctrl.caseinfo.TenantPetitionInfo.ApplicantUserInfo.apnAddress.State.StateCode}} {{Ctrl.caseinfo.TenantPetitionInfo.ApplicantUserInfo.apnAddress.Zip}} &nbsp;&nbsp;<a style="cursor: pointer;" ng-click="Ctrl.EditAPNAddress=true" ng-hide="Ctrl.model.IsNonRAPStaff == true" class="btn-link">Edit</a></p>
                            </div>
                            <!-- Accounts List -->
                            <div class="custom-table selected-case mar-bottom-40" ng-show="Ctrl.EditAPNAddress==true">
                                <div class="tbl-body">
                                    <div class="tbl-row clearfix">
                                        <div class="item highlighted">
                                            <div class="item-header clearfix">
                                                <div class="col col-100  pad-l20 pad-r20"><strong>Edit APN address</strong></div>
                                            </div>

                                            <div class="item-content pad-l20 pad-r20 clearfix">
                                                <div class="item-row clearfix">
                                                    <div class="item-col col-100 align-left">
                                                        <div class="field-group">
                                                            <label for="mailing_address1">Mailing address 1</label>
                                                            <input type="text" name="mailing_address1" id="mailing_address1" class="field-input" placeholder=""
                                                                   ng-model="Ctrl.caseinfo.TenantPetitionInfo.ApplicantUserInfo.apnAddress.AddressLine1" />
                                                        </div>
                                                    </div>

                                                    <div class="item-col col-100 align-left">
                                                        <div class="field-group">
                                                            <label for="mailing_address2">Mailing address 2 (optional)</label>
                                                            <input type="text" name="mailing_address2" id="mailing_address2" class="field-input" placeholder=""
                                                                   ng-model="Ctrl.caseinfo.TenantPetitionInfo.ApplicantUserInfo.apnAddress.AddressLine2" />
                                                        </div>
                                                    </div>

                                                    <div class="item-col col-100 align-left">
                                                        <div class="field-group">
                                                            <label for="zip_code">Zip code</label>
                                                            <input type="text" name="zip_code" id="zip_code" maxlength="5" class="field-input" placeholder=""
                                                                   ng-model="Ctrl.caseinfo.TenantPetitionInfo.ApplicantUserInfo.apnAddress.Zip" />
                                                        </div>
                                                    </div>
                                                    <a style="cursor: pointer;" ng-click="Ctrl.UpdateAPNAddress(Ctrl.caseinfo.TenantPetitionInfo.ApplicantUserInfo.apnAddress)" class="btn-link btn-abs">Save</a>
                                                </div>

                                            </div>
                                        </div><!-- item-toggle -->
                                    </div><!-- item-row -->
                                </div>
                            </div>
                            <!-- .custom-table -->


                            <div class="field-group selected-case mar-b10">
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="small-title">APN number</div>
                                        <p class="no-bottom-margin">{{Ctrl.APNNumber}}</p>
                                    </div>

                                    <div class="col-md-6 col-sm-12" ng-hide="Ctrl.model.IsNonRAPStaff == true">
                                        <div class="field-group has-btn">
                                            <label for="apn_number" class="hidden">APN Number</label>
                                            <input type="text" name="apn_number" id="apn_number" class="field-input" placeholder="Enter APN number"
                                                   ng-model="Ctrl.caseinfo.TenantPetitionInfo.ApplicantUserInfo.apnAddress.APNNumber" />
                                            <a style="cursor: pointer;" ng-click="Ctrl.UpdateAPNNumber(Ctrl.caseinfo.TenantPetitionInfo.ApplicantUserInfo.apnAddress)" class="btn-link">Save</a>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="field-group mar-b10">
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="small-title">Analyst</div>
                                        <p class="no-bottom-margin">{{Ctrl.caseinfo.CityAnalyst.FirstName}} {{Ctrl.caseinfo.CityAnalyst.LastName}}</p>
                                    </div>

                                    <div class="col-md-6 col-sm-12" ng-hide="Ctrl.model.IsAnalyst == true || Ctrl.model.IsHearingOfficer == true || Ctrl.model.IsNonRAPStaff == true">
                                        <div class="field-group has-btn">
                                            <label for="analyst" class="hidden">Select analyst</label>
                                            <div class="cmb-wrapper">
                                                <select name="analyst" id="analyst" data-placeholder="Select analyst"
                                                        ng-model="Analyst" class="custom-select"
                                                        ng-options="analyst as (analyst.FirstName + ' ' + analyst.LastName) for analyst in Ctrl.Analysts track by analyst.UserID">
                                                    <option value="" selected>Select analyst</option>
                                                </select>
                                            </div>
                                            <a style="cursor: pointer;" ng-click="Ctrl.AssignAnalyst(Ctrl.caseinfo.C_ID, Analyst)" class="btn-link">Assign</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="field-group mar-b10">
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="small-title">Hearing officer</div>
                                        <p class="no-bottom-margin">{{Ctrl.caseinfo.HearingOfficer.FirstName}} {{Ctrl.caseinfo.HearingOfficer.LastName}}</p>
                                    </div>

                                    <div class="col-md-6 col-sm-12" ng-hide="Ctrl.model.IsAnalyst == true || Ctrl.model.IsHearingOfficer == true || Ctrl.model.IsNonRAPStaff == true">
                                        <div class="field-group has-btn">
                                            <label for="hearing_officer" class="hidden">Select hearing officer</label>
                                            <div class="cmb-wrapper">
                                                <select name="hearing_officer" id="hearing_officer" data-placeholder="Select hearing officer"
                                                        ng-model="HearingOfficer" class="custom-select"
                                                        ng-options="hearingofficer as (hearingofficer.FirstName + ' ' + hearingofficer.LastName) for hearingofficer in Ctrl.HearingOfficers track by hearingofficer.UserID">
                                                    <option value="" selected>Select hearing officer</option>
                                                </select>
                                            </div>
                                            <a style="cursor: pointer;" ng-click="Ctrl.AssignHearingOfficer(Ctrl.caseinfo.C_ID, HearingOfficer)" class="btn-link">Assign</a>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="field-group subhead type2 pad-t15" ng-hide="Ctrl.model.IsNonRAPStaff == true">
                                <h4>Actions</h4>
                            </div>

                            <div class="field-group mar-bottom-60" ng-hide="Ctrl.model.IsNonRAPStaff == true">
                                <div class="account-management">
                                    <div class="items">
                                        <div class="item">
                                            <div class="item-header mar-b0"><a style="cursor: pointer;" ng-click="Ctrl.NewCaseStatus()">New case status</a></div>
                                        </div>

                                        <div class="item" ng-show="Ctrl.bEnableSendEmail">
                                            <div class="item-header mar-b0"><a style="cursor: pointer;" ng-click="Ctrl.SendEmailNotification()">Send email notification</a></div>
                                        </div>

                                        <div class="item">
                                            <div class="item-header mar-b0"><a style="cursor: pointer;" ng-click="Ctrl.USMailNotification()">Add U.S. mail notification</a></div>
                                        </div>

                                        <div class="item">
                                            <div class="item-header mar-b0"><a style="cursor: pointer;" ng-click="Ctrl.AdditionalDocs()">Upload additional case materials</a></div>
                                        </div>
                                    </div><!-- .items -->
                                </div><!-- .account-management -->
                            </div>


                            <div class="field-group subhead type2 pad-t15">
                                <h4>Case progress</h4>
                            </div>

                            <div class="field-group mar-bottom-10" ng-hide="Ctrl.model.IsNonRAPStaff == true">
                                <div class="account-management">
                                    <div class="items">
                                        <div class="item">
                                            <div class="item-header mar-b0"><a style="cursor: pointer;" ng-click="Ctrl.NewCaseStatus()">New case status</a></div>
                                        </div>
                                    </div><!-- .items -->
                                </div><!-- .account-management -->
                            </div>

                            <!-- Accounts List -->
                            <div class="custom-table selected-case-status">
                                <div class="tbl-header">
                                    <div class="tbl-row clearfix">
                                        <div class="col col-30 pad-l0 activity">Activity</div>
                                        <div class="col col-20 date">Date</div>
                                        <div class="col col-25 initiated-by">Initiated by</div>
                                        <div class="col col-15 status">Status</div>
                                        <div class="col col-10  pad-r0 link"></div>
                                    </div>
                                </div>

                                <div class="tbl-body">
                                    <div class="tbl-row clearfix" ng-repeat="activity in Ctrl.caseinfo.ActivityStatus">
                                        <div class="item " ng-class="{'expanded':toggle}">
                                            <div class="item-header clearfix">
                                                <div class="col col-30 pad-l30 activity"><a style="cursor: pointer;" ng-click="toggle = !toggle" class="btn-toggle"></a>  {{activity.Activity.ActivityDesc}}</div>
                                                <div class="col col-20 date">{{activity.Date | date}}</div>
                                                <div class="col col-25 initiated-by">{{activity.CreatedBy}}</div>
                                                <div class="col col-15 status">{{activity.Status.StatusDesc}}</div>
                                                <div class="col col-10  pad-r0 link" ng-if="activity.Activity.ActivityID == 1
                                                     || activity.Activity.ActivityID == 26
                                                     || activity.Activity.ActivityID == 27
                                                     || activity.Activity.ActivityID == 35
                                                     || activity.Status.StatusID == 6"><a style="cursor: pointer;" ng-click="Ctrl.ViewPage(activity,Ctrl.caseinfo)" class="btn-link">View</a></div>
                                            </div>
                                            <div class="item-content clearfix pad-l30" ng-show="toggle">
                                                <div class="row">
                                                    <div class="col-md-9 col-sm-12">
                                                        <p>{{activity.Notes}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- item-toggle -->
                                    </div><!-- item-row -->  
                                </div>
                            </div>
                            <!-- .custom-table -->

                            <div class="field-group subhead type2 pad-t15">
                                <h4>Case documentation</h4>
                            </div>

                            <div class="field-group mar-bottom-10" ng-hide="Ctrl.model.IsNonRAPStaff == true">
                                <div class="account-management">
                                    <div class="items">
                                        <div class="item">
                                            <div class="item-header mar-b0"><a style="cursor: pointer;" ng-click="Ctrl.AdditionalDocs()">Upload additional case materials</a></div>
                                        </div>
                                    </div><!-- .items -->
                                </div><!-- .account-management -->
                            </div>

                            <!-- Case Documentations -->
                            <div class="custom-table selected-case-documentation" ng-show="FilteredDocs.length != 0">
                                <div class="tbl-header">
                                    <div class="tbl-row clearfix">
                                        <div class="col col-35 pad-l0 file-name">File name</div>
                                        <div class="col col-30 date">Date of upload</div>
                                        <div class="col col-30 uploaded-by">Uploaded by</div>
                                        <div class="col col-5 pad-r0 download"></div>
                                    </div>
                                </div>

                                <div class="tbl-body">
                                    <div class="tbl-row clearfix" ng-repeat="item in Ctrl.Documents as FilteredDocs">
                                        <div class="item" ng-class=" {'expanded':toggle}">
                                            <div class="item-header clearfix">
                                                <div class="col col-35 pad-l30 file-name"><a style="cursor: pointer;" ng-click="toggle = !toggle" class="btn-toggle"></a> {{item.DocName}}</div>
                                                <div class="col col-30 date">{{item.CreatedDate | date}}</div>
                                                <div class="col col-30 uploaded-by">{{item.UploadedBy}}</div>
                                                <div class="col col-5 pad-r0 download"><a style="cursor: pointer;" ng-click="Ctrl.Download(item)" class="btn-link btn-download">Download</a></div>
                                            </div>

                                            <div class="item-content clearfix" ng-show="toggle">
                                                <div class="row">
                                                    <div class="col-md-9 col-sm-12">
                                                        <p>{{item.DocDescription}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- .item-toggle -->
                                    </div><!-- .item-row -->
                                </div><!-- .tbl-body -->
                            </div><!-- .custom-table -->


                            <div class="field-group subhead type2 pad-t15">
                                <h4>Parties</h4>
                            </div>

                            <div class="field-group subhead pad-t15" ng-show="Ctrl.caseinfo.PetitionCategoryID ==1">
                                <div class="row">
                                    <div class="col-md-4 col-sm-12">
                                        <div class="small-title">Property owner</div>
                                        <div class="fs20-title">{{Ctrl.caseinfo.TenantPetitionInfo.OwnerInfo.FirstName}} {{Ctrl.caseinfo.TenantPetitionInfo.OwnerInfo.LastName}}</div>
                                        <p>{{Ctrl.caseinfo.TenantPetitionInfo.OwnerInfo.AddressLine1}} {{Ctrl.caseinfo.TenantPetitionInfo.OwnerInfo.AddressLine2}},<br />{{Ctrl.caseinfo.TenantPetitionInfo.OwnerInfo.City}}, {{Ctrl.caseinfo.TenantPetitionInfo.OwnerInfo.State.StateCode}} {{Ctrl.caseinfo.TenantPetitionInfo.OwnerInfo.Zip}}  </p>
                                        <p>Tel: {{Ctrl.caseinfo.TenantPetitionInfo.OwnerInfo.PhoneNumber}} <br />Email: {{Ctrl.caseinfo.TenantPetitionInfo.OwnerInfo.Email}} </p>
                                        
                                        <div class="small-title">Mediation</div>
                                        <p ng-show="Ctrl.caseinfo.OwnerResponseInfo.Verification.bCaseMediation == false && Ctrl.caseinfo.PetitionCategoryID==1">No</p>
                                        <p ng-show="Ctrl.caseinfo.OwnerResponseInfo.Verification.bCaseMediation == true && Ctrl.caseinfo.PetitionCategoryID==1">Yes</p>
                                        <div class="small-title">Request of translation services</div>
                                        <p ng-show="Ctrl.caseinfo.TenantPetitionInfo.OwnerInfo.TranslationServiceInfo.IsTranslatorRequired == false">No</p>
                                        <p ng-show="Ctrl.caseinfo.TenantPetitionInfo.OwnerInfo.TranslationServiceInfo.IsTranslatorRequired == true">Yes, {{Ctrl.caseinfo.TenantPetitionInfo.OwnerInfo.TranslationServiceInfo.TranslationLanguage}}</p>
                                    </div>

                                    <div class="col-md-4 col-sm-12" ng-show="Ctrl.caseinfo.TenantPetitionInfo.PropertyManager.UserID != 0">
                                        <div class="small-title">Property manager</div>
                                        <div class="fs20-title">{{Ctrl.caseinfo.TenantPetitionInfo.PropertyManager.FirstName}} {{Ctrl.caseinfo.TenantPetitionInfo.PropertyManager.LastName}}</div>
                                        <p>{{Ctrl.caseinfo.TenantPetitionInfo.PropertyManager.AddressLine1}} {{Ctrl.caseinfo.TenantPetitionInfo.PropertyManager.AddressLine2}},<br />{{Ctrl.caseinfo.TenantPetitionInfo.PropertyManager.City}}, {{Ctrl.caseinfo.TenantPetitionInfo.PropertyManager.State.StateCode}} {{Ctrl.caseinfo.TenantPetitionInfo.PropertyManager.Zip}}  </p>
                                        <p>Tel: {{Ctrl.caseinfo.TenantPetitionInfo.PropertyManager.PhoneNumber}} <br />Email: {{Ctrl.caseinfo.TenantPetitionInfo.PropertyManager.Email}} </p>
                                    </div>

                                    <div class="col-md-4 col-sm-12">
                                        <div class="small-title">Property owner’s representative</div>
                                        <div class="fs20-title">n/a</div>
                                    </div>
                                </div>
                            </div>

                            <div class="field-group subhead pad-t15" ng-show="Ctrl.caseinfo.PetitionCategoryID ==1">
                                <div class="row">
                                    <div class="col-md-4 col-sm-12">
                                        <div class="small-title">Tenant</div>
                                        <div class="fs20-title">{{Ctrl.caseinfo.TenantPetitionInfo.ApplicantUserInfo.FirstName}} {{Ctrl.caseinfo.TenantPetitionInfo.ApplicantUserInfo.LastName}}</div>
                                        <p>{{Ctrl.caseinfo.TenantPetitionInfo.ApplicantUserInfo.AddressLine1}} {{Ctrl.caseinfo.TenantPetitionInfo.ApplicantUserInfo.AddressLine2}},<br />{{Ctrl.caseinfo.TenantPetitionInfo.ApplicantUserInfo.City}}, {{Ctrl.caseinfo.TenantPetitionInfo.ApplicantUserInfo.State.StateCode}} {{Ctrl.caseinfo.TenantPetitionInfo.ApplicantUserInfo.Zip}}  </p>
                                        <p>Tel: {{Ctrl.caseinfo.TenantPetitionInfo.ApplicantUserInfo.PhoneNumber}} <br />Email: {{Ctrl.caseinfo.TenantPetitionInfo.ApplicantUserInfo.Email}} </p>
                                        <div class="small-title">Notifications</div>
                                        <p ng-show="Ctrl.caseinfo.TenantPetitionInfo.bApplicantMailNotification == true">Mail</p>
                                        <p ng-show="Ctrl.caseinfo.TenantPetitionInfo.bApplicantEmailNotification == true">Email</p>
                                        <div class="small-title">Mediation</div>
                                        <p ng-show="Ctrl.caseinfo.TenantPetitionInfo.Verification.bCaseMediation == false && Ctrl.caseinfo.PetitionCategoryID==1">No</p>
                                        <p ng-show="Ctrl.caseinfo.TenantPetitionInfo.Verification.bCaseMediation == true && Ctrl.caseinfo.PetitionCategoryID==1">Yes</p>
                                        <div class="small-title">Request of translation services</div>
                                        <p ng-show="Ctrl.caseinfo.TenantPetitionInfo.ApplicantUserInfo.TranslationServiceInfo.IsTranslatorRequired == false">No</p>
                                        <p ng-show="Ctrl.caseinfo.TenantPetitionInfo.ApplicantUserInfo.TranslationServiceInfo.IsTranslatorRequired == true">Yes, {{Ctrl.caseinfo.TenantPetitionInfo.ApplicantUserInfo.TranslationServiceInfo.TranslationLanguage}}</p>

                                    </div>

                                    <div class="col-md-4 col-sm-12">
                                        <div class="small-title">Tenant representative</div>
                                        <div class="fs20-title" ng-show="Ctrl.caseinfo.TenantPetitionInfo.bThirdPartyRepresentation == false">n/a</div>
                                        <div class="fs20-title" ng-show="Ctrl.caseinfo.TenantPetitionInfo.bThirdPartyRepresentation == true">{{Ctrl.caseinfo.TenantPetitionInfo.ThirdPartyInfo.FirstName}} {{Ctrl.caseinfo.TenantPetitionInfo.ThirdPartyInfo.LastName}}</div>
                                        <p ng-show="Ctrl.caseinfo.TenantPetitionInfo.bThirdPartyRepresentation == true">{{Ctrl.caseinfo.TenantPetitionInfo.ThirdPartyInfo.AddressLine1}} {{Ctrl.caseinfo.TenantPetitionInfo.ThirdPartyInfo.AddressLine2}},<br />{{Ctrl.caseinfo.TenantPetitionInfo.ThirdPartyInfo.City}}, {{Ctrl.caseinfo.TenantPetitionInfo.ThirdPartyInfo.State.StateCode}} {{Ctrl.caseinfo.TenantPetitionInfo.ThirdPartyInfo.Zip}}  </p>
                                        <p ng-show="Ctrl.caseinfo.TenantPetitionInfo.bThirdPartyRepresentation == true">Tel: {{Ctrl.caseinfo.TenantPetitionInfo.ThirdPartyInfo.PhoneNumber}} <br />Email: {{Ctrl.caseinfo.TenantPetitionInfo.ThirdPartyInfo.Email}} </p>
                                    </div>

                                    <div class="col-md-4 col-sm-12">
                                    </div>
                                </div>
                            </div>
                            <div class="field-group subhead pad-t15" ng-show="Ctrl.caseinfo.PetitionCategoryID ==2">
                                <div class="row">
                                    <div class="col-md-4 col-sm-12">
                                        <div class="small-title">Property owner</div>
                                        <div class="fs20-title">{{Ctrl.caseinfo.OwnerPetitionInfo.ApplicantInfo.ApplicantUserInfo.FirstName}} {{Ctrl.caseinfo.OwnerPetitionInfo.ApplicantInfo.ApplicantUserInfo.LastName}}</div>
                                        <p>{{Ctrl.caseinfo.OwnerPetitionInfo.ApplicantInfo.ApplicantUserInfo.AddressLine1}} {{Ctrl.caseinfo.OwnerPetitionInfo.ApplicantInfo.ApplicantUserInfo.AddressLine2}},<br />{{Ctrl.caseinfo.OwnerPetitionInfo.ApplicantInfo.ApplicantUserInfo.City}}, {{Ctrl.caseinfo.OwnerPetitionInfo.ApplicantInfo.ApplicantUserInfo.State.StateCode}} {{Ctrl.caseinfo.OwnerPetitionInfo.ApplicantInfo.ApplicantUserInfo.Zip}}  </p>
                                        <p>Tel: {{Ctrl.caseinfo.OwnerPetitionInfo.ApplicantInfo.ApplicantUserInfo.PhoneNumber}} <br />Email: {{Ctrl.caseinfo.OwnerPetitionInfo.ApplicantInfo.ApplicantUserInfo.Email}} </p>
                                        <div class="small-title">Notifications</div>
                                        <p ng-show="Ctrl.caseinfo.OwnerPetitionInfo.ApplicantInfo.bApplicantMailNotification == true">Mail</p>
                                        <p ng-show="Ctrl.caseinfo.OwnerPetitionInfo.ApplicantInfo.bApplicantEmailNotification == true">Email</p>
                                        <div class="small-title">Mediation</div>
                                        <p ng-show="Ctrl.caseinfo.OwnerPetitionInfo.Verification.bCaseMediation == false && Ctrl.caseinfo.PetitionCategoryID==2">No</p>
                                        <p ng-show="Ctrl.caseinfo.OwnerPetitionInfo.Verification.bCaseMediation == true && Ctrl.caseinfo.PetitionCategoryID==2">Yes</p>
                                        <div class="small-title">Request of translation services</div>
                                        <p ng-show="Ctrl.caseinfo.OwnerPetitionInfo.ApplicantInfo.ApplicantUserInfo.TranslationServiceInfo.IsTranslatorRequired == false">No</p>
                                        <p ng-show="Ctrl.caseinfo.OwnerPetitionInfo.ApplicantInfo.ApplicantUserInfo.TranslationServiceInfo.IsTranslatorRequired == true">Yes, {{Ctrl.caseinfo.OwnerPetitionInfo.ApplicantInfo.ApplicantUserInfo.TranslationServiceInfo.TranslationLanguage}}</p>
                                    </div>

                                    <!--<div class="col-md-4 col-sm-12">
                                        <div class="small-title">Property manager</div>
                                        <div class="fs20-title">{{Ctrl.caseinfo.TenantPetitionInfo.PropertyManager.FirstName}} {{Ctrl.caseinfo.TenantPetitionInfo.PropertyManager.LastName}}</div>
                                        <p>{{Ctrl.caseinfo.TenantPetitionInfo.PropertyManager.AddressLine1}} {{Ctrl.caseinfo.TenantPetitionInfo.PropertyManager.AddressLine2}},<br />{{Ctrl.caseinfo.TenantPetitionInfo.PropertyManager.City}}, {{Ctrl.caseinfo.TenantPetitionInfo.PropertyManager.State.StateCode}} {{Ctrl.caseinfo.TenantPetitionInfo.PropertyManager.Zip}}  </p>
                                        <p>Tel: {{Ctrl.caseinfo.TenantPetitionInfo.PropertyManager.PhoneNumber}} <br />Email: {{Ctrl.caseinfo.TenantPetitionInfo.PropertyManager.Email}} </p>
                                    </div>-->

                                    <div class="col-md-4 col-sm-12">
                                        <div class="small-title">Property owner’s representative</div>
                                        <div class="fs20-title">n/a</div>
                                    </div>
                                </div>
                            </div>

                            <div class="field-group subhead pad-t15" ng-show="Ctrl.caseinfo.PetitionCategoryID ==2">
                                <div class="row">
                                    <div class="col-md-4 col-sm-12">
                                        <div class="small-title">Tenant</div>
                                        <div class="fs20-title" ng-repeat-start="tenant in Ctrl.caseinfo.OwnerPetitionInfo.PropertyInfo.TenantInfo">{{tenant.TenantUserInfo.FirstName}} {{tenant.TenantUserInfo.LastName}}</div>
                                        <p>{{tenant.TenantUserInfo.AddressLine1}} {{tenant.TenantUserInfo.AddressLine2}},<br />{{tenant.TenantUserInfo.City}}, {{tenant.TenantUserInfo.State.StateCode}} {{tenant.TenantUserInfo.Zip}}  </p>
                                        <p >Tel: {{tenant.TenantUserInfo.PhoneNumber}} <br />Email: {{tenant.TenantUserInfo.Email}} </p>
                                       
                                        <div  class="small-title">Mediation</div>
                                        <p ng-show="Ctrl.caseinfo.TenantResponseInfo.Verification.bCaseMediation == false && Ctrl.caseinfo.PetitionCategoryID==2">No</p>
                                        <p ng-show="Ctrl.caseinfo.TenantResponseInfo.Verification.bCaseMediation == true && Ctrl.caseinfo.PetitionCategoryID==2">Yes</p>
                                        <div class="small-title">Request of translation services</div>
                                        <p ng-show="tenant.TenantUserInfo.TranslationServiceInfo.IsTranslatorRequired == false">No</p>
                                        <p ng-repeat-end ng-show="tenant.TenantUserInfo.TranslationServiceInfo.IsTranslatorRequired == true">Yes, {{Ctrl.caseinfo.OwnerPetitionInfo.PropertyInfo.TenantInfo[0].TenantUserInfo.TranslationServiceInfo.TranslationLanguage}}</p>

                                    </div>

                                    <div  class="col-md-4 col-sm-12">
                                        <div class="small-title">Tenant representative</div>
                                        <div class="fs20-title" ng-show="Ctrl.caseinfo.TenantPetitionInfo.ThirdPartyInfo.FirstName == null">n/a</div>
                                        <div class="fs20-title" ng-show="Ctrl.caseinfo.TenantPetitionInfo.ThirdPartyInfo.FirstName != null">{{Ctrl.caseinfo.TenantPetitionInfo.ThirdPartyInfo.FirstName}} {{Ctrl.caseinfo.TenantPetitionInfo.ThirdPartyInfo.LastName}}</div>
                                        <p ng-show="Ctrl.caseinfo.TenantPetitionInfo.ThirdPartyInfo.FirstName != null">{{Ctrl.caseinfo.TenantPetitionInfo.ThirdPartyInfo.AddressLine1}} {{Ctrl.caseinfo.TenantPetitionInfo.ThirdPartyInfo.AddressLine2}},<br />{{Ctrl.caseinfo.TenantPetitionInfo.ThirdPartyInfo.City}}, {{Ctrl.caseinfo.TenantPetitionInfo.ThirdPartyInfo.State.StateCode}} {{Ctrl.caseinfo.TenantPetitionInfo.ThirdPartyInfo.Zip}}  </p>
                                        <p ng-show="Ctrl.caseinfo.TenantPetitionInfo.ThirdPartyInfo.FirstName != null">Tel: {{Ctrl.caseinfo.TenantPetitionInfo.ThirdPartyInfo.PhoneNumber}} <br />Email: {{Ctrl.caseinfo.TenantPetitionInfo.ThirdPartyInfo.Email}} </p>
                                    </div>

                                    <div class="col-md-4 col-sm-12">
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="step-footer">
                        </div>
                    </form>
                </div>

            </div><!-- .application-form-wrapper -->
        </div><!-- .container -->
    </div><!-- .page-content -->
    <script src='../js/functions.js'></script>
</div><!-- #content -->