<div id="content">
    <!-- Page Title -->
    <div class="page-title-wrapper">
        <div class="container">
            <h2 class="page-title">Send Email Notification</h2>
        </div>
    </div>


    <!-- Page Content -->
    <div class="page-content full-width">
        <div class="container">

            <div class="breadcrumb">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">T17-0238; Smith v. Johnson (Unit C)</a></li>
                    <li class="active">Send email notifications</li>
                </ul>
            </div>

            <div class="application-form-wrapper">
                <div class="application-step step-1">

                    <form name="frmSendEmailNotification" id="frmSendEmailNotification" action="#" method="post" class="application-form">
                        <div class="step-content step1">

                            <div class="field-group subhead no-top-margin no-bottom-margin">
                                <div class="row">
                                    <div class="col-md-8 col-sm-12 col-xs-12">
                                        <p>Maecenas varius ex sed nisl sagittis ultrices. Vivamus congue ultrices purus nec tempus. Fusce convallis nunc dolor, vitae lacinia erat rutrum id. Donec nec urna tempus diam ultrices pharetra vel vel diam.</p>
                                    </div>
                                </div>
                            </div>


                            <div class="field-group">
                                <label for="notification_type">Notification type</label>
                                <div>                                   
                                    <select name="activity" id="activity" data-placeholder="Select type"
                                            ng-change="Ctrl.ActivityChanged(Ctrl.ActivityStatus.Activity)"
                                            ng-model="Ctrl.model.Message.Subject"
                                            ng-options="activity.ActivityDesc as activity.ActivityDesc for activity in Ctrl.ActivityList"></select>
                                </div>
                            </div>

                            <div class="field-group">
                                <label>Recipient</label>
                                <div class="form-group-checkbox vertical clearfix">
                                    <div class="checkbox-wrapper no-bottom-margin">
                                        <label for="recipient1">
                                            <input type="checkbox" name="recipient1" id="recipient1" value="Tenant (Bob Smith)" /><i></i><span>Tenant (Bob Smith)</span>
                                        </label>
                                    </div>

                                    <div class="checkbox-wrapper no-bottom-margin">
                                        <label for="recipient2">
                                            <input type="checkbox" name="recipient2" id="recipient2" value="Property Owner (Jennifer Smith)" /><i></i><span>Property Owner (Jennifer Smith)</span>
                                        </label>
                                    </div>

                                    <div class="checkbox-wrapper no-bottom-margin">
                                        <label for="recipient3">
                                            <input type="checkbox" name="recipient3" id="recipient3" value="Property Owner’s Representative (Peter Johnson)" /><i></i><span>Property Owner’s Representative (Peter Johnson)</span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="field-group">
                                <label for="message">Message</label>
                                <textarea name="message" id="message" class="field-input textarea" rows="14" ng-model="Ctrl.model.Message.MessageBody"></textarea>
                            </div>

                            <div class="field-group">
                                <div class="row">
                                    <div class="col-md-9 col-sm-12">
                                        <p class="input-label fs-14">You are permitted to upload the following file types: PDF, Word, Excel, JPEG, TIFF and PNG.  The maximum file size limit for uploads is 25MB</p>
                                    </div>
                                </div>

                                <div class="field-addfile">
                                    <div class="input-file-wrapper">
                                        <span class="btn-link">Attach document</span>
                                        <input type="file" id="attach_documentation" name="attach_documentation" ngf-select ngf-change="onFileSelected($files,'SD_EmailAttachment')" accept=".doc,.docx,.pdf,.xls,.jpeg,.tiff,.png" multiple />
                                    </div>
                                </div>
                            </div>


                            <!-- Proof of service -->
                            <div class="subhead type2">
                                <h4>Proof of service</h4>
                            </div>

                            <div class="field-group">
                                <div class="form-group-checkbox vertical clearfix">
                                    <div class="checkbox-wrapper no-bottom-margin">
                                        <label for="service_proof">
                                            <input type="checkbox" name="service_proof" id="service_proof" value="Yes" /><i></i><span>Maecenas varius ex sed nisl sagittis ultrices. Vivamus congue ultrices purus nec tempus. Fusce convallis nunc dolor, vitae lacinia erat rutrum id. Donec nec urna tempus diam ultrices pharetra vel vel diam.<br /><br />Maecenas varius ex sed nisl sagittis ultrices. Vivamus congue ultrices purus nec tempus. Fusce convallis nunc dolor, vitae lacinia erat rutrum id. Donec nec urna tempus diam ultrices pharetra vel vel diam.<br /><br />Maecenas varius ex sed nisl sagittis ultrices. Vivamus congue ultrices purus nec tempus. Fusce convallis nunc dolor, vitae lacinia erat rutrum id. Donec nec urna tempus diam ultrices pharetra vel vel diam.</span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                        </div>


                        <div class="step-footer">                            
                            <input type="button" id="submit" name="submit" class="btn-primary btn-gray" value="Submit" ng-click="Ctrl.Submit()" />
                            <input type="button" id="cancel" name="cancel" class="btn-primary btn-gray" value="Cancel" />
                        </div>
                    </form>
                </div>

            </div><!-- .application-form-wrapper -->
        </div><!-- .container -->
    </div><!-- .page-content -->
</div><!-- #content -->
