<div id="content">
    <!-- Page Title -->
    <div class="page-title-wrapper">
        <div class="container">
            <h2 class="page-title">Staff Dashboard</h2>
        </div>
    </div>


    <!-- Page Content -->
    <div class="page-content full-width">
        <div class="container">

            <div class="breadcrumb border-bottom-grey">
                <ul>
                    <li><a style="cursor: pointer;" ng-click="Ctrl.Home()">Home</a></li>
                    <li><a style="cursor: pointer;" ng-click="Ctrl.CaseClick()">{{Ctrl.caseinfo.CaseID}}</a></li>
                    <li class="active">Send email notifications</li>
                </ul>
            </div>

            <div class="application-form-wrapper">
                <div class="application-step step-1">

                    <form name="frmSendEmailNotification" id="frmSendEmailNotification" action="#" method="post" class="application-form">
                        <div class="step-content step1">
							<h3 class="step-heading mar-t30">Send Email Notification</h3>
                            <div class="field-group no-top-margin no-bottom-margin">
                                <div class="row">
                                    <div class="col-md-8 col-sm-12 col-xs-12">
                                        <p>Maecenas varius ex sed nisl sagittis ultrices. Vivamus congue ultrices purus nec tempus. Fusce convallis nunc dolor, vitae lacinia erat rutrum id. Donec nec urna tempus diam ultrices pharetra vel vel diam.</p>
                                    </div>
                                </div>
                            </div>


                            <div class="field-group">
                                <label for="notification_type">Notification type</label>
                                <div>                                   
                                 
                                    <select name="activity" id="activity" data-placeholder="Select type"
                                            ng-model="Ctrl.SelectedActivity" class="custom-select"
                                            ng-options="activity as (activity.ActivityDesc) for activity in Ctrl.ActivityList track by activity.ActivityID">
                                        <option value="" selected>Select activity</option>
                                    </select>
                                </div>
                            </div>

                            <div class="field-group">
                                <label>Recipient</label>
                                <div class="form-group-checkbox vertical clearfix">
                                    <div class="checkbox-wrapper no-bottom-margin" ng-show="Ctrl.TenantEmail != null">
                                        <label for="recipient1">
                                            <input type="checkbox" ng-show="Ctrl.TenantEmail != null" name="recipient1" id="recipient1" ng-model="Ctrl.bTenant" /><i></i><span>Tenant ({{Ctrl.TenantEmail}})</span>
                                        </label>
                                    </div>

                                    <div class="checkbox-wrapper no-bottom-margin" ng-show="Ctrl.OwnerEmail != null">
                                        <label for="recipient2">
                                            <input type="checkbox" ng-show="Ctrl.OwnerEmail != null" name="recipient2" id="recipient2" ng-model="Ctrl.bOwner" /><i></i><span>Property Owner ({{Ctrl.OwnerEmail}})</span>
                                        </label>
                                    </div>

                                    <div class="checkbox-wrapper no-bottom-margin" ng-show="Ctrl.ThirdPartyEmail != null">
                                        <label for="recipient3">
                                            <input type="checkbox" ng-show="Ctrl.ThirdPartyEmail != null" name="recipient3" id="recipient3" ng-model="Ctrl.bThirdParty" /><i></i><span>Property Owner’s Representative ({{Ctrl.ThirdPartyEmail}})</span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="field-group">
                                <label for="message">Message</label>
                                <textarea name="message" id="message" class="field-input textarea" rows="14" ng-model="Ctrl.model.Message.MessageBody"></textarea>
                            </div>

                            <div class="field-group">
                                <div class="row">
                                    <div class="col-md-9 col-sm-12">
                                        <p class="input-label fs-14">You are permitted to upload the following file types: PDF, Word, Excel, JPEG, TIFF and PNG.  The maximum file size limit for uploads is 25MB</p>
                                    </div>
                                </div>

                                <div class="field-addfile">
                                    <div class="input-file-wrapper">
                                        <span class="btn-link">Attach document</span>
                                        <input type="file" id="attach_documentation" name="attach_documentation" ngf-select ngf-change="onFileSelected($files,'SD_EmailAttachment')" accept=".doc,.docx,.pdf,.xls,.jpeg,.tiff,.png,.jpg" multiple />
                                    </div>
                                </div>

                                <div class="field-group">
                                    <table class="table table-condensed nopadding-bottom">
                                        <tbody>
                                            <tr ng-repeat="item in Ctrl.model.Message.Attachments | filter: {DocTitle: 'SD_EmailAttachment'}">
                                                <td class="nopadding-left">
                                                    {{item.DocName}}
                                                </td>
                                                <td>
                                                   <div class="col col-35 type" ng-show="item.isUploaded == false">  &nbsp;<a style="cursor: pointer;" ng-click="Ctrl.Delete(item)" class="btn-link btn-delete">Delete</a></div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>


                           

                        </div>


                        <div class="step-footer">                            
                            <input role="button" aria-label="Submit" type="button" id="submit" name="submit" class="btn-primary" value="Submit" ng-click="Ctrl.Submit()" />
                            <input role="button" aria-label="Cancel" type="button" id="cancel" name="cancel" class="btn-primary btn-gray" value="Cancel" ng-click="Ctrl.BackToCase()" />
                        </div>
                    </form>
                </div>

            </div><!-- .application-form-wrapper -->
        </div><!-- .container -->
    </div><!-- .page-content -->
</div><!-- #content -->
