<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="panel panel-danger font-small">
            <div class="panel-heading">
                <strong>Staff Dashboard</strong>
            </div>
            <div class="panel-body">
                <p>Account : {{Ctrl.model.FirstName}} </p>
                <input type="text" class="form-control input-sm" ng-trim="false" ng-model="Ctrl.caseinfo.CaseID" required />
                <p>Enter C_ID </p>
                <input type="text" class="form-control input-sm" ng-trim="false" ng-model="Ctrl.caseinfo.C_ID" required />
                <button class="btn btn-default" ng-click="Ctrl.InviteThirdPartyUser()">Invite Third Party Representation</button>
                <button class="btn btn-default" ng-click="Ctrl.FilePetition()">File a Petition</button>
                <button class="btn btn-default" ng-click="Ctrl.FileAppeal(Ctrl.caseinfo)">File an Appeal</button>
                <button class="btn btn-default" ng-click="Ctrl.AccountSearch()">Account Search</button>
                <button class="btn btn-default" ng-click="Ctrl.GetCaseActivityStatus(Ctrl.caseinfo)">Case Activity Status</button>
                <button class="btn btn-default" ng-click="Ctrl.NewCaseStatus()">New Case Activity Status</button>        
                <div ng-repeat="activity in Ctrl.caseinfo.ActivityStatus">                    
                    <p>{{activity.Activity.ActivityDesc}}</p>                   
                    <p>{{activity.Status.StatusDesc}}</p>
                    <p>{{activity.Date}}</p>
                </div>
                <div ng-show="Ctrl.CaseList.length > 0">
                    <table class="table table-condensed nopadding-bottom">
                        <thead class="strong">
                            <tr>
                                <td>
                                    <span>Case number</span>
                                </td>
                                <td>
                                    <span>Date of Filing</span>
                                </td>
                                <td>
                                    <span>Last Activity</span>
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in Ctrl.CaseList">
                                <td class="nopadding-left">
                                    {{item.CaseID}}
                                    {{item.TenantPetitionInfo.ApplicantUserInfo.AddressLine1}} {{item.TenantPetitionInfo.ApplicantUserInfo.AddressLine2}}, {{item.TenantPetitionInfo.ApplicantUserInfo.City}}, {{item.TenantPetitionInfo.ApplicantUserInfo.StateName}} {{item.TenantPetitionInfo.ApplicantUserInfo.Zip}}
                                </td>
                                <td>
                                    {{item.CreatedDate}}
                                </td>
                                <td>
                                    {{item.LastModifiedDate}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>