<div class="application-form-wrapper">
    <div class="row">

        <div class="col-md-12 col-sm-12">
            <div class="application-step step-1">
                <h3 class="step-heading">Translation Services for the Hearing</h3>

                <form name="frmTransHearingServices" id="frmTransHearingServices" action="#" method="post" class="application-form">
                    <div class="step-content step1">

                        <div class="field-group subhead no-top-margin">
                            <div class="row">
                                <div class="col-md-8 col-xs-12">
                                    <p>Maecenas varius ex sed nisl sagittis ultrices. Vivamus congue ultrices purus nec tempus. Fusce convallis nunc dolor, vitae lacinia erat rutrum id. Donec nec urna tempus diam ultrices pharetra vel vel diam. Vivamus lacus metus, aliquam vitae erat tristique, semper rutrum nibh.</p>
                                </div>
                            </div>
                        </div>

                        <div class="field-group">
                            <label for="language">Language</label>
                            <div class="input-wrapper">
                                <select name="language" id="language" class="custom-select" data-placeholder="Select language">
                                    <option value="option_01">Option 01</option>
                                    <option value="option_02">Option 02</option>
                                    <option value="option_03">Option 03</option>
                                </select>
                            </div>
                        </div>


                    </div>

                    <div class="step-footer no-top-margin">
                        <input type="button" id="btn-request" name="btn-request" class="btn-primary" value="Request" />
                    </div>
                </form>

                <!-- Previously requested translation services -->
                <form name="frmCancelTransHearingServices" id="frmCancelTransHearingServices" action="#" method="post" class="application-form">
                    <div class="step-content step1">
                        <div class="field-group subhead">
                            <h4>Previously requested translation services</h4>
                        </div>

                        <div class="field-group">
                            <div class="row">
                                <div class="col-md-8 col-xs-12">
                                    <p>You have previously requested translation services for the hearing in the following language:</p>
                                </div>
                            </div>
                        </div>

                        <div class="field-group">
                            <h5>Vietnamese</h5>
                        </div>

                        <div class="field-group no-top-margin">
                            <p>If you no longer need translation services, you can cancel your request below.</p>
                        </div>

                        <div class="step-footer no-top-margin">
                            <input type="button" id="btn-cancel-request" name="btn-cancel-request" class="btn-primary" value="Cancel your Request" />
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>