<div id="content">
    <div class="page-title-wrapper">
        <div class="container">
            <h2 class="page-title" ng-click="Ctrl.Back()">{{Ctrl.Title}}</h2>
        </div>
    </div>
    <div class="page-content full-width">
        <div class="container">
            <div class="breadcrumb border-bottom-grey">
                <ul>
                    <li><a style="cursor: pointer;" ng-click="Ctrl.Back()">Home</a></li>
                    <li class="active">{{Ctrl.caseinfo.CaseID}}</li>
                </ul>
            </div>
            <!--<div class="col-md-9 col-sm-12">-->
                <div class="application-step step-1">
                    <div class="step-heading">View appeal</div>

                    <div class="step-content step1">

                        <div class="field-group filled-info subhead no-top-margin hidden-xs">
                            <div class="row">
                                <div class="col-sm-6 col-xs-12"><div class="info-title">Petition type</div></div>
                                <div class="col-sm-6 col-xs-12" ng-show="Ctrl.caseinfo.TenantAppealInfo.AppealCategoryID == 1">Tenant</div>
                                <div class="col-sm-6 col-xs-12" ng-show="Ctrl.caseinfo.TenantAppealInfo.AppealCategoryID == 2">Property owner</div>
                            </div>
                        </div><!-- .field-group -->

                        <div class="subhead type2">
                            <h4>Applicant and property information</h4>
                        </div>

                        <div class="field-group filled-info subhead">
                            <div class="row">
                                <div class="col-sm-6 col-xs-12"><div class="info-title">Applicant information</div></div>
                                <div class="col-sm-6 col-xs-12" ng-show="Ctrl.caseinfo.TenantAppealInfo.ApplicantUserInfo.UserID!=0">
                                    {{Ctrl.caseinfo.TenantAppealInfo.ApplicantUserInfo.FirstName}} {{Ctrl.caseinfo.TenantAppealInfo.ApplicantUserInfo.LastName}}                {{Ctrl.caseinfo.TenantAppealInfo.ApplicantUserInfo.BusinessName}} <br />{{Ctrl.caseinfo.TenantAppealInfo.ApplicantUserInfo.AddressLine1}} {{Ctrl.caseinfo.TenantAppealInfo.ApplicantUserInfo.AddressLine2}}, <br />{{Ctrl.caseinfo.TenantAppealInfo.ApplicantUserInfo.City}}, {{Ctrl.caseinfo.TenantAppealInfo.ApplicantUserInfo.State.StateName}} {{Ctrl.caseinfo.TenantAppealInfo.ApplicantUserInfo.Zip}} <br />
                                    T {{Ctrl.caseinfo.TenantAppealInfo.ApplicantUserInfo.PhoneNumber}} <br />{{Ctrl.caseinfo.TenantAppealInfo.ApplicantUserInfo.email}}
                                </div>
                            </div>
                        </div><!-- .field-group -->

                        <div class="field-group filled-info subhead">
                            <div class="row">
                                <div class="col-sm-6 col-xs-12"><div class="info-title">Representative</div></div>
                                <div class="col-sm-6 col-xs-12" ng-show="Ctrl.caseinfo.TenantAppealInfo.bThirdPartyRepresentation== true && Ctrl.caseinfo.bCaseFiledByThirdParty == false">
                                    {{Ctrl.caseinfo.TenantAppealInfo.ThirdPartyInfo.FirstName}} {{Ctrl.caseinfo.TenantAppealInfo.ThirdPartyInfo.LastName}}                {{Ctrl.caseinfo.TenantAppealInfo.ThirdPartyInfo.BusinessName}} <br />{{Ctrl.caseinfo.TenantAppealInfo.ThirdPartyInfo.AddressLine1}},{{Ctrl.caseinfo.TenantAppealInfo.ThirdPartyInfo.AddressLine2}}, <br />{{Ctrl.caseinfo.TenantAppealInfo.ThirdPartyInfo.City}}, {{Ctrl.caseinfo.TenantAppealInfo.ThirdPartyInfo.State.StateName}} {{Ctrl.caseinfo.TenantAppealInfo.ThirdPartyInfo.Zip}} <br />
                                    T {{Ctrl.caseinfo.TenantAppealInfo.ThirdPartyInfo.PhoneNumber}} <br />{{Ctrl.caseinfo.TenantAppealInfo.ThirdPartyInfo.Email}}
                                </div>
                            </div>
                        </div><!-- .field-group -->

                        <div class="field-group filled-info subhead" ng-hide="Ctrl.caseinfo.PetitionCategoryID == 2">
                            <div class="row">
                                <div class="col-sm-6 col-xs-12"><div class="info-title">Property owner</div></div>
                                <div class="col-sm-6 col-xs-12" ng-show="Ctrl.caseinfo.TenantAppealInfo.AppealPropertyUserInfo.UserID!=0">
                                    {{Ctrl.caseinfo.TenantAppealInfo.AppealPropertyUserInfo.FirstName}} {{Ctrl.caseinfo.TenantAppealInfo.AppealPropertyUserInfo.LastName}}                {{Ctrl.caseinfo.TenantAppealInfo.AppealPropertyUserInfo.BusinessName}} <br />{{Ctrl.caseinfo.TenantAppealInfo.AppealPropertyUserInfo.AddressLine1}},{{Ctrl.caseinfo.TenantAppealInfo.AppealPropertyUserInfo.AddressLine2}}, <br />{{Ctrl.caseinfo.TenantAppealInfo.AppealPropertyUserInfo.City}}, {{Ctrl.caseinfo.TenantAppealInfo.AppealPropertyUserInfo.State.StateName}} {{Ctrl.caseinfo.TenantAppealInfo.AppealPropertyUserInfo.Zip}} <br />
                                    T {{Ctrl.caseinfo.TenantAppealInfo.AppealPropertyUserInfo.PhoneNumber}} <br />{{Ctrl.caseinfo.TenantAppealInfo.AppealPropertyUserInfo.Email}}
                                </div>
                            </div>
                        </div><!-- .field-group -->

                        <div class="field-group filled-info subhead" ng-hide="Ctrl.caseinfo.PetitionCategoryID == 2">
                            <div class="row">
                                <div class="col-sm-6 col-xs-12"><div class="info-title">Property manager</div></div>
                                <div class="col-sm-6 col-xs-12" ng-show="Ctrl.caseinfo.TenantAppealInfo.AppealPropertyUserInfo.UserID!=0">
                                    {{Ctrl.caseinfo.TenantAppealInfo.AppealPropertyUserInfo.FirstName}} {{Ctrl.caseinfo.TenantAppealInfo.AppealPropertyUserInfo.LastName}}                {{Ctrl.caseinfo.TenantAppealInfo.AppealPropertyUserInfo.BusinessName}} <br />{{Ctrl.caseinfo.TenantAppealInfo.AppealPropertyUserInfo.AddressLine1}},{{Ctrl.caseinfo.TenantAppealInfo.AppealPropertyUserInfo.AddressLine2}}, <br />{{Ctrl.caseinfo.TenantAppealInfo.AppealPropertyUserInfo.City}}, {{Ctrl.caseinfo.TenantAppealInfo.AppealPropertyUserInfo.State.StateName}} {{Ctrl.caseinfo.TenantAppealInfo.AppealPropertyUserInfo.Zip}} <br />
                                    T {{Ctrl.caseinfo.TenantAppealInfo.AppealPropertyUserInfo.PhoneNumber}} <br />{{Ctrl.caseinfo.TenantAppealInfo.AppealPropertyUserInfo.Email}}
                                </div>
                            </div>
                        </div><!-- .field-group -->


                        <div class="subhead type2 no-bottom-margin">
                            <h4>Grounds for Appeal</h4>
                        </div>
                        <div class="field-group filled-info">
                            <div ng-repeat="item in Ctrl.caseinfo.TenantAppealInfo.AppealGrounds">
                                <p>
                                    <div ng-show="item.Selected">
                                        {{item.AppealDescription}}
                                    </div>
                                </p>
                                <!--<p>b) The owner did not give me a summary of the justification(s) for the increase despite my written request</p>
            <p>g) The contested increase is the second rent increase in a 12-month period.</p>-->
                            </div>
                        </div>
                        <div class="field-group filled-info subhead no-top-margin" ng-show="FilteredDocsGrounds.length != 0">
                            <div class="row">
                                <div class="col-sm-6 col-xs-12"><div class="info-title">Explanation</div></div>
                                <div class="col-sm-6 col-xs-12" ng-repeat="item in Ctrl.caseinfo.Documents | filter: {DocTitle: 'A_Grounds'} as FilteredDocsGrounds">
                                    {{item.DocName}}
                                    &nbsp;<a style="cursor: pointer;" ng-show="item.isUploaded == true" ng-click="Ctrl.Download(item)" class="btn-link btn-download">Download</a>
                                </div>
                            </div>
                        </div><!-- .field-group -->
                        <!-- Additional Documentation -->
                        <div class="subhead type2 no-bottom-margin">
                            <h4>Additional Documentation</h4>
                        </div>
                        <div class="field-group" ng-show="FilteredDocs.length != 0">
                            <!-- Custom Table -->
                            <div class="custom-table docs-list">
                                <div class="tbl-header">
                                    <div class="tbl-row clearfix">
                                        <div class="col col-35 name">File name</div>
                                    </div>
                                </div>

                                <div class="tbl-body" ng-repeat="item in Ctrl.caseinfo.Documents | filter: {DocTitle: 'A_AdditionalDocuments'} as FilteredDocs">
                                    <div class="tbl-row clearfix">
                                        <div class="item" ng-class="{'expanded':toggle}">
                                            <div class="item-header clearfix">
                                                <div class="col col-35 name pad-l30"><a style="cursor: pointer;" ng-click="toggle = !toggle" class="btn-toggle"></a>{{item.DocName}}</div>
                                                &nbsp;<a style="cursor: pointer;" ng-show="item.isUploaded == true" ng-click="Ctrl.Download(item)" class="btn-link btn-download">Download</a>
                                            </div>

                                            <div class="item-content clearfix" ng-show="toggle">
                                                <div class="row">
                                                    <div class="col-md-10 col-sm-12">
                                                        <p>{{item.DocDescription}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- .custom-table -->
                        </div>
                      
                      
                        <!-- Serving of appeal to the opposing parties -->
                        <div class="subhead type2">
                            <h4>Serving of Appeal to Opposing Party</h4>
                        </div>

                        <div class="field-group">
                            <div class="row">
                                <div class="col-md-9 col-sm-12">
                                    <p>I placed a copy of this form, and all attached pages, in the United States mail or deposited it with a commercial carrier, using a service equal to first class mail, with all postage charges fully prepaid, addressed to each opposing party as follows:</p>
                                </div>
                            </div>
                        </div>

                        <div class="field-group filled-info subhead" ng-repeat="item in Ctrl.caseinfo.TenantAppealInfo.serveAppeal.OpposingParty">
                            <div class="row">
                                <div class="col-sm-6 col-xs-12"><div class="info-title">Opposing party</div></div>
                                <div class="col-sm-6 col-xs-12">
                                    {{item.FirstName}} {{item.LastName}} <br />{{item.AddressLine1}} {{item.AddressLine2}}, <br />{{item.City}}, {{item.State.StateCode}} {{item.Zip}}
                                </div>
                            </div>
                        </div><!-- .field-group -->




                        <div class="step-footer">
                            <input type="button" id="dashboard" name="dashboard" class="btn-primary" value="Back to my Dashboard" ng-click="Ctrl.Back()"
                                   ng-show="Ctrl.FromSelectedCase == false" />
                            <input type="button" id="continue" name="continue" class="btn-primary" value="Back to case" ng-click="Ctrl.Back()"
                                   ng-show="Ctrl.FromSelectedCase == true" />
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
<!--</div>-->