<div id="content">
    <div class="page-title-wrapper">
        <div class="container" >
            <h2 class="page-title" ng-click="Ctrl.Home()">{{Ctrl.Title}}</h2>
        </div>
    </div>
    <div class="page-content full-width">
        <div class="container">
            <div class="breadcrumb border-bottom-grey">
                <ul>
                    <li><a style="cursor: pointer;" ng-click="Ctrl.Home()">Home</a></li>
                    <li class="active">{{Ctrl.caseinfo.CaseID}}</li>
                </ul>
            </div>
            <!--<div class="col-md-9 col-sm-12">-->
                <div class="application-step step-1">
                    <div class="step-heading">Submitted Petition Form</div>

                    <form name="frmTenentPetition" id="frmTenentPetition" action="#" method="post" class="application-form">
                        <div class="step-content step1">
                            <div class="field-group filled-info subhead no-top-margin">
                                <div class="row">
                                    <div class="col-sm-6 col-xs-12"><div class="info-title">Petition type</div></div>
                                    <div class="col-sm-6 col-xs-12">Tenant</div>
                                </div>
                            </div><!-- .field-group -->

                            <div class="subhead type2">
                                <h4>Applicant and Property Information</h4>
                            </div>

                            <div class="field-group filled-info">
                                <div class="row">
                                    <div class="col-sm-6 col-xs-12"><div class="info-title">Applicant Info</div></div>
                                    <div class="col-sm-6 col-xs-12" ng-show="Ctrl.caseinfo.TenantPetitionInfo.ApplicantUserInfo.UserID!=0">
                                        {{Ctrl.caseinfo.TenantPetitionInfo.ApplicantUserInfo.FirstName}} {{Ctrl.caseinfo.TenantPetitionInfo.ApplicantUserInfo.LastName}},<br />
                                        {{Ctrl.caseinfo.TenantPetitionInfo.ApplicantUserInfo.BusinessName}}, <br />
                                        {{Ctrl.caseinfo.TenantPetitionInfo.ApplicantUserInfo.AddressLine1}}, {{Ctrl.caseinfo.TenantPetitionInfo.ApplicantUserInfo.AddressLine2}} <br />
                                        {{Ctrl.caseinfo.TenantPetitionInfo.ApplicantUserInfo.City}}, {{Ctrl.caseinfo.TenantPetitionInfo.ApplicantUserInfo.State.StateName}} {{Ctrl.caseinfo.TenantPetitionInfo.ApplicantUserInfo.Zip}} <br />
                                        T {{Ctrl.caseinfo.TenantPetitionInfo.ApplicantUserInfo.PhoneNumber}} <br />{{Ctrl.caseinfo.TenantPetitionInfo.ApplicantUserInfo.Email}}
                                    </div>
                                </div>
                            </div><!-- .field-group -->

                            <div class="field-group filled-info subhead" ng-show="Ctrl.caseinfo.TenantPetitionInfo.bThirdPartyRepresentation">
                                <div class="row">
                                    <div class="col-sm-6 col-xs-12"><div class="info-title">Representative</div></div>
                                    <div class="col-sm-6 col-xs-12" ng-show="Ctrl.caseinfo.TenantPetitionInfo.bThirdPartyRepresentation">
                                        {{Ctrl.caseinfo.TenantPetitionInfo.ThirdPartyInfo.FirstName}} {{Ctrl.caseinfo.TenantPetitionInfo.ThirdPartyInfo.LastName}},<br />                             {{Ctrl.caseinfo.TenantPetitionInfo.ThirdPartyInfo.BusinessName}},  <br />{{Ctrl.caseinfo.TenantPetitionInfo.ThirdPartyInfo.AddressLine1}}, {{Ctrl.caseinfo.TenantPetitionInfo.ThirdPartyInfo.AddressLine2}}, <br />                                         {{Ctrl.caseinfo.TenantPetitionInfo.ThirdPartyInfo.City}}, {{Ctrl.caseinfo.TenantPetitionInfo.ThirdPartyInfo.State.StateName}} {{Ctrl.caseinfo.TenantPetitionInfo.ThirdPartyInfo.Zip}}   <br />
                                        T {{Ctrl.caseinfo.TenantPetitionInfo.ThirdPartyInfo.PhoneNumber}}  <br />{{Ctrl.caseinfo.TenantPetitionInfo.ThirdPartyInfo.Email}}
                                    </div>
                                </div>
                            </div><!-- .field-group -->

                            <div class="field-group filled-info subhead">
                                <div class="row">
                                    <div class="col-sm-6 col-xs-12"><div class="info-title">Property owner</div></div>
                                    <div class="col-sm-6 col-xs-12" ng-show="Ctrl.caseinfo.TenantPetitionInfo.OwnerInfo.UserID!=0">
                                        {{Ctrl.caseinfo.TenantPetitionInfo.OwnerInfo.FirstName}} {{Ctrl.caseinfo.TenantPetitionInfo.OwnerInfo.LastName}},<br />                             {{Ctrl.caseinfo.TenantPetitionInfo.OwnerInfo.BusinessName}},  <br />{{Ctrl.caseinfo.TenantPetitionInfo.OwnerInfo.AddressLine1}}, {{Ctrl.caseinfo.TenantPetitionInfo.OwnerInfo.AddressLine2}}, <br />{{Ctrl.caseinfo.TenantPetitionInfo.OwnerInfo.City}}, {{Ctrl.caseinfo.TenantPetitionInfo.OwnerInfo.State.StateName}} {{Ctrl.caseinfo.TenantPetitionInfo.OwnerInfo.Zip}}   <br />
                                        T {{Ctrl.caseinfo.TenantPetitionInfo.OwnerInfo.PhoneNumber}}  <br />{{Ctrl.caseinfo.TenantPetitionInfo.OwnerInfo.Email}}
                                    </div>
                                </div>
                            </div><!-- .field-group -->

                            <div class="field-group filled-info subhead" ng-show="Ctrl.caseinfo.TenantPetitionInfo.PropertyManager.UserID != 0">
                                <div class="row">
                                    <div class="col-sm-6 col-xs-12"><div class="info-title">Property manager</div></div>
                                    <div class="col-sm-6 col-xs-12" ng-show="Ctrl.caseinfo.TenantPetitionInfo.PropertyManager.UserID!=0">
                                        {{Ctrl.caseinfo.TenantPetitionInfo.PropertyManager.FirstName}} {{Ctrl.caseinfo.TenantPetitionInfo.PropertyManager.LastName}},<br />                             {{Ctrl.caseinfo.TenantPetitionInfo.PropertyManager.BusinessName}},  <br />{{Ctrl.caseinfo.TenantPetitionInfo.PropertyManager.AddressLine1}}, {{Ctrl.caseinfo.TenantPetitionInfo.PropertyManager.AddressLine2}}, <br />                                         {{Ctrl.caseinfo.TenantPetitionInfo.PropertyManager.City}}, {{Ctrl.caseinfo.TenantPetitionInfo.PropertyManager.State.StateName}} {{Ctrl.caseinfo.TenantPetitionInfo.PropertyManager.Zip}}   <br />
                                        T {{Ctrl.caseinfo.TenantPetitionInfo.PropertyManager.PhoneNumber}}  <br />{{Ctrl.caseinfo.TenantPetitionInfo.PropertyManager.Email}}
                                    </div>
                                </div>
                            </div><!-- .field-group -->

                            <div class="field-group filled-info subhead">
                                <div class="row">
                                    <div class="col-sm-6 col-xs-12"><div class="info-title">Number of units</div></div>
                                    <div class="col-sm-6 col-xs-12">{{Ctrl.caseinfo.TenantPetitionInfo.NumberOfUnits}}</div>
                                </div>
                            </div><!-- .field-group -->
                            <div class="field-group filled-info subhead">
                                <div class="row">
                                    <div class="col-sm-6 col-xs-12"><div class="info-title">Approximate range of units in the building</div></div>
                                    <div class="col-sm-6 col-xs-12">{{Ctrl.caseinfo.TenantPetitionInfo.RangeOfUnits[Ctrl.caseinfo.TenantPetitionInfo.SelectedRangeOfUnits.RangeID  - 1].RangeDesc}}</div>
                                </div>
                            </div><!-- .field-group -->

                            <div class="field-group filled-info subhead no-top-margin">
                                <div class="row">
                                    <div class="col-sm-6 col-xs-12"><div class="info-title">Type of unit you rent</div></div>
                                    <div class="col-sm-6 col-xs-12">{{Ctrl.caseinfo.TenantPetitionInfo.UnitTypes[Ctrl.caseinfo.TenantPetitionInfo.UnitTypeId -1].UnitDescription}}</div>
                                </div>
                            </div><!-- .field-group -->

                            <div class="field-group filled-info subhead no-top-margin">
                                <div class="row">
                                    <div class="col-sm-6 col-xs-12"><div class="info-title">Are you current on your rent?</div></div>
                                    <div class="col-sm-6 col-xs-12" ng-show="Ctrl.caseinfo.TenantPetitionInfo.bCurrentRentStatus">Yes</div>
                                    <div class="col-sm-6 col-xs-12" ng-show="!Ctrl.caseinfo.TenantPetitionInfo.bCurrentRentStatus">No</div>
                                </div>
                            </div><!-- .field-group -->

                            <div class="subhead type2">
                                <h4>Grounds for Petition</h4>
                            </div>
                            <div class="field-group filled-info no-top-margin">
                                <div ng-repeat="item in Ctrl.caseinfo.TenantPetitionInfo.PetitionGrounds">
                                    <p>
                                        <div ng-show="item.Selected">
                                            {{item.PetitionGroundDescription}}
                                        </div>
                                    </p>
                                    <!--<p>b) The owner did not give me a summary of the justification(s) for the increase despite my written request</p>
            <p>g) The contested increase is the second rent increase in a 12-month period.</p>-->
                                </div>

                            </div>
                            


                            <div class="subhead type2">
                                <h4>Rent Increases</h4>
                            </div>

                            <div class="field-group filled-info subhead no-top-margin">
                                <div class="row">
                                    <div class="col-sm-6 col-xs-12"><div class="info-title">When did you move into the unit?</div></div>
                                    <div class="col-sm-6 col-xs-12" ng-show="Ctrl.caseinfo.TenantPetitionInfo.TenantRentalHistory.MoveInDate!= null">{{Ctrl.caseinfo.TenantPetitionInfo.TenantRentalHistory.MoveInDate.Month}}/{{Ctrl.caseinfo.TenantPetitionInfo.TenantRentalHistory.MoveInDate.Day}}/{{Ctrl.caseinfo.TenantPetitionInfo.TenantRentalHistory.MoveInDate.Year}}</div>
                                </div>
                            </div><!-- .field-group -->

                            <div class="field-group filled-info subhead no-top-margin">
                                <div class="row">
                                    <div class="col-sm-6 col-xs-12"><div class="info-title">Initial monthly rent</div></div>
                                    <div class="col-sm-6 col-xs-12" ng-show="Ctrl.caseinfo.TenantPetitionInfo.TenantRentalHistory.InitialRent!= null">${{Ctrl.caseinfo.TenantPetitionInfo.TenantRentalHistory.InitialRent}}</div>
                                </div>
                            </div><!-- .field-group -->

                            <div class="field-group filled-info subhead no-top-margin">
                                <div class="row">
                                    <div class="col-sm-6 col-xs-12"><div class="info-title">When did the property owner first provide you with a written NOTICE TO TENANTS of the  existence of the Rent Adjustment Program (RAP NOTICE)?</div></div>
                                    <div class="col-sm-6 col-xs-12" ng-show="Ctrl.caseinfo.TenantPetitionInfo.TenantRentalHistory.RAPNoticeGivenDate!= null">{{Ctrl.caseinfo.TenantPetitionInfo.TenantRentalHistory.RAPNoticeGivenDate.Month}}/{{Ctrl.caseinfo.TenantPetitionInfo.TenantRentalHistory.RAPNoticeGivenDate.Day}}/{{Ctrl.caseinfo.TenantPetitionInfo.TenantRentalHistory.RAPNoticeGivenDate.Year}}</div>
                                </div>
                            </div><!-- .field-group -->

                            <div class="field-group filled-info subhead no-top-margin">
                                <div class="row">
                                    <div class="col-sm-6 col-xs-12"><div class="info-title">Did the property owner provide you with a RAP Notice, a written notice of the existence of the Rent Adjustment Program?</div></div>
                                    <div class="col-sm-6 col-xs-12" ng-show="!Ctrl.caseinfo.TenantPetitionInfo.TenantRentalHistory.bRAPNoticeGiven">Yes</div>
                                    <div class="col-sm-6 col-xs-12" ng-show="Ctrl.caseinfo.TenantPetitionInfo.TenantRentalHistory.bRAPNoticeGiven">No</div>
                                </div>
                            </div><!-- .field-group -->

                            <div class="field-group filled-info subhead no-top-margin">
                                <div class="row">
                                    <div class="col-sm-6 col-xs-12"><div class="info-title">Is your rent subsidized or controlled by any government agency, including HUD (Section 8)?</div></div>
                                    <div class="col-sm-6 col-xs-12" ng-show="Ctrl.caseinfo.TenantPetitionInfo.TenantRentalHistory.bRentControlledByAgency">Yes</div>
                                    <div class="col-sm-6 col-xs-12" ng-show="!Ctrl.caseinfo.TenantPetitionInfo.TenantRentalHistory.bRentControlledByAgency">No</div>
                                </div>
                            </div><!-- .field-group -->                            

                            <div ng-repeat="item in Ctrl.caseinfo.TenantPetitionInfo.TenantRentalHistory.RentIncreases">
                                <div class="field-group filled-info subhead no-top-margin">
                                    <div class="row">
                                        <div class="col-sm-6 col-xs-12"><div class="info-title">Did you receive a RAP Notice with the notice of rent increase?</div></div>
                                        <div class="col-sm-6 col-xs-12" ng-show="item.bRentIncreaseNoticeGiven">Yes</div>
                                        <div class="col-sm-6 col-xs-12" ng-show="!item.bRentIncreaseNoticeGiven">No</div>
                                    </div>
                                </div><!-- .field-group -->
                                <div class="field-group filled-info subhead no-top-margin" ng-show="item.bRentIncreaseNoticeGiven">
                                    <div class="row">
                                        <div class="col-sm-6 col-xs-12"><div class="info-title">Date notice served</div></div>
                                        <div class="col-sm-6 col-xs-12" ng-show="item.RentIncreaseNoticeDate != null">{{item.RentIncreaseNoticeDate.Month}}/{{item.RentIncreaseNoticeDate.Day}}/{{item.RentIncreaseNoticeDate.Year}}</div>
                                    </div>
                                </div><!-- .field-group -->

                                <div class="field-group filled-info subhead no-top-margin">
                                    <div class="row">
                                        <div class="col-sm-6 col-xs-12"><div class="info-title">Monthly rent increase</div></div>
                                        <div class="col-sm-6 col-xs-12" ng-show="item.RentIncreasedFrom != null">${{item.RentIncreasedTo-item.RentIncreasedFrom}}</div>
                                    </div>
                                </div><!-- .field-group -->

                                <div class="field-group filled-info subhead no-top-margin">
                                    <div class="row">
                                        <div class="col-sm-6 col-xs-12"><div class="info-title">Date increase effective</div></div>
                                        <div class="col-sm-6 col-xs-12" ng-show="item.RentIncreaseEffectiveDate != null">{{item.RentIncreaseEffectiveDate.Month}}/{{item.RentIncreaseEffectiveDate.Day}}/{{item.RentIncreaseEffectiveDate.Year}}</div>
                                    </div>
                                </div><!-- .field-group -->

                                <div class="field-group filled-info subhead no-top-margin">
                                    <div class="row">
                                        <div class="col-sm-6 col-xs-12"><div class="info-title">Are you contesting this increase in this petition?</div></div>
                                        <div class="col-sm-6 col-xs-12" ng-show="item.bRentIncreaseContested">Yes</div>
                                        <div class="col-sm-6 col-xs-12" ng-show="!item.bRentIncreaseContested">No</div>
                                    </div>
                                </div><!-- .field-group -->
                            </div>

                            <div class="field-group filled-info subhead no-top-margin">
                                <div class="row">
                                    <div class="col-sm-6 col-xs-12"><div class="info-title">Have you ever filed a petition for your rental unit?</div></div>
                                    <div class="col-sm-6 col-xs-12"
                                         ng-show="Ctrl.caseinfo.TenantPetitionInfo.TenantRentalHistory.bPetitionFiledPrviously">Yes</div>
                                    <div class="col-sm-6 col-xs-12"
                                         ng-show="!Ctrl.caseinfo.TenantPetitionInfo.TenantRentalHistory.bPetitionFiledPrviously">No</div>
                                </div>
                            </div><!-- .field-group -->

                            
                            <div class="subhead type2">
                                <h4>Description of loss of service and problems</h4>
                            </div>

                            <div class="field-group filled-info subhead no-top-margin">
                                <div class="row">
                                    <div class="col-sm-6 col-xs-12"><div class="info-title">The housing services I am being provided have decreased.</div></div>
                                    <div class="col-sm-6 col-xs-12"
                                         ng-show="Ctrl.caseinfo.TenantPetitionInfo.LostServicesPage.bHouseServiceDecreased">Yes</div>
                                    <div class="col-sm-6 col-xs-12"
                                         ng-show="!Ctrl.caseinfo.TenantPetitionInfo.LostServicesPage.bHouseServiceDecreased">No</div>
                                </div>
                            </div><!-- .field-group -->

                            <div class="field-group filled-info subhead no-top-margin">
                                <div class="row">
                                    <div class="col-sm-6 col-xs-12"><div class="info-title">Are you being charged for a service originally provided to you by the property owner?</div></div>
                                    <div class="col-sm-6 col-xs-12"
                                         ng-show="Ctrl.caseinfo.TenantPetitionInfo.LostServicesPage.bLostService">Yes</div>
                                    <div class="col-sm-6 col-xs-12"
                                         ng-show="!Ctrl.caseinfo.TenantPetitionInfo.LostServicesPage.bLostService">No</div>
                                </div>
                            </div>
                            <div ng-repeat="item in Ctrl.caseinfo.TenantPetitionInfo.LostServicesPage.LostServices">
                                <div ng-if="item.IsDeleted == false">
                                    <div class="field-group filled-info subhead no-top-margin">
                                        <div class="row">
                                            <div class="col-sm-6 col-xs-12"><div class="info-title has-info-btn">What is the estimated dollar value of the lost service or problem? </div> </div>

                                            <!--<div class="info-box-toggle" ng-show="NoticeToggle">
                        <a ng-click="NoticeToggle=!NoticeToggle" class="btn-close"></a>
                        <p>k</p>
                    </div>-->
                                            <div class="col-sm-6 col-xs-12">{{item.EstimatedLoss}}</div>
                                        </div>
                                    </div><!-- .field-group -->

                                    <div class="field-group filled-info subhead no-top-margin">
                                        <div class="row">
                                            <div class="col-sm-6 col-xs-12"><div class="info-title">Reduced Service description</div></div>
                                            <div class="col-sm-6 col-xs-12">{{item.ReducedServiceDescription}}</div>
                                        </div>
                                    </div><!-- .field-group -->

                                    <div class="field-group filled-info subhead no-top-margin">
                                        <div class="row">
                                            <div class="col-sm-6 col-xs-12"><div class="info-title">Date loss of this service began</div></div>
                                            <div class="col-sm-6 col-xs-12" ng-show="item.LossBeganDate != null">{{item.LossBeganDate.Year}}/{{item.LossBeganDate.Month}}/{{item.LossBeganDate.Day}}</div>
                                        </div>
                                    </div><!-- .field-group -->
                                </div>
                            </div>
                            <div class="field-group filled-info subhead no-top-margin">
                                <div class="row">
                                    <div class="col-sm-6 col-xs-12"><div class="info-title">Loss of service documentary evidence</div></div>
                                    <div class="col-sm-6 col-xs-12">
                                        <table class="table table-condensed nopadding-bottom">
                                            <tbody>
                                                <tr ng-repeat="item in Ctrl.caseinfo.Documents | filter: {DocTitle: 'TP_LostService'}">
                                                    <td class="nopadding-left">
                                                        {{item.DocName}}
                                                        &nbsp;<a style="cursor: pointer;" ng-show="item.isUploaded == true" ng-click="Ctrl.Download(item)" class="btn-link btn-download">Download</a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="field-group filled-info subhead no-top-margin">
                                <div class="row">
                                    <div class="col-sm-6 col-xs-12"><div class="info-title">Are you claiming any serious problems with the condition of your unit?</div></div>
                                    <div class="col-sm-6 col-xs-12"
                                         ng-show="Ctrl.caseinfo.TenantPetitionInfo.LostServicesPage.bProblem">Yes</div>
                                    <div class="col-sm-6 col-xs-12"
                                         ng-show="!Ctrl.caseinfo.TenantPetitionInfo.LostServicesPage.bProblem">No</div>
                                </div>
                            </div>
                            <div ng-repeat="item in Ctrl.caseinfo.TenantPetitionInfo.LostServicesPage.Problems">
                                <div ng-if="item.IsDeleted == false">
                                    <div class="field-group filled-info subhead no-top-margin">
                                        <div class="row">
                                            <div class="col-sm-6 col-xs-12"><div class="info-title">What is the estimated dollar value of the lost service?</div></div>
                                            <div class="col-sm-6 col-xs-12">{{item.EstimatedLoss}}</div>
                                        </div>
                                    </div><!-- .field-group -->

                                    <div class="field-group filled-info subhead no-top-margin">
                                        <div class="row">
                                            <div class="col-sm-6 col-xs-12"><div class="info-title">Problem description</div></div>
                                            <div class="col-sm-6 col-xs-12">{{item.ProblemDescription}}</div>
                                        </div>
                                    </div><!-- .field-group -->

                                    <div class="field-group filled-info subhead no-top-margin">
                                        <div class="row">
                                            <div class="col-sm-6 col-xs-12"><div class="info-title">Date problem(s) began</div></div>
                                            <div class="col-sm-6 col-xs-12" ng-show="item.ProblemBeganDate != null">{{item.ProblemBeganDate.Year}}/{{item.ProblemBeganDate.Month}}/{{item.ProblemBeganDate.Day}}</div>
                                        </div>
                                    </div><!-- .field-group -->
                                </div>
                            </div>
                            <div class="field-group filled-info subhead no-top-margin">
                                <div class="row">
                                    <div class="col-sm-6 col-xs-12"><div class="info-title">Problem documentary evidence</div></div>
                                    <div class="col-sm-6 col-xs-12">
                                        <table class="table table-condensed nopadding-bottom">
                                            <tbody>
                                                <tr ng-repeat="item in Ctrl.caseinfo.Documents | filter: {DocTitle: 'TP_Problem'}">
                                                    <td class="nopadding-left">
                                                        {{item.DocName}}
                                                        &nbsp;<a style="cursor: pointer;" ng-show="item.isUploaded == true" ng-click="Ctrl.Download(item)" class="btn-link btn-download">Download</a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="subhead type2">
                                <h4>Additional Documentation</h4>
                            </div>
                            <div class="field-group" ng-show="FilteredDocs.length != 0">
                                <!-- Custom Table -->
                                <div class="custom-table docs-list">
                                    <div class="tbl-header">
                                        <div class="tbl-row clearfix">
                                            <div class="col col-35 name">File name</div>
                                        </div>
                                    </div>


                                    <div class="tbl-body" ng-repeat="item in Ctrl.caseinfo.Documents | filter: {DocTitle: 'TP_AdditionalDocuments'} as FilteredDocs">
                                        <div class="tbl-row clearfix">
                                            <div class="item" ng-class="{'expanded':toggle}">
                                                <div class="item-header clearfix">
                                                    <div class="col col-35 name pad-l30">
                                                        <a style="cursor: pointer;" ng-click="toggle = !toggle" class="btn-toggle"></a>{{item.DocName}}
                                                    </div>
                                                    &nbsp;<a style="cursor: pointer;" ng-show="item.isUploaded == true" ng-click="Ctrl.Download(item)" class="btn-link btn-download">Download</a>
                                                    <div class="item-content clearfix" ng-show="toggle">
                                                        <div class="row">
                                                            <div class="col-md-10 col-sm-12">
                                                                <p>{{item.DocDescription}}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- .custom-table -->
                                </div>

                            </div>
                            </div>

                            <div class="step-footer">
                                <input type="button" id="continue" name="continue" class="btn-primary" value="Back to my Dashboard" ng-click="Ctrl.Back()"
                                       ng-show="Ctrl.FromSelectedCase == false" />
                                <input type="button" id="continue" name="continue" class="btn-primary" value="Back to case" ng-click="Ctrl.Back()"
                                       ng-show="Ctrl.FromSelectedCase == true" />
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
 <!--</div>-->
