<div id="content">
    <!-- Page Title -->
    <div class="page-title-wrapper">
        <div class="container">
            <h2 class="page-title">Your Representative</h2>
        </div>
    </div>


    <!-- Page Content -->
    <div class="page-content full-width">
        <div class="container">

            <div class="application-form-wrapper">
                <div class="application-step step-1">

                    <div id="frmYourRepresentative" class="application-form">
                        <div class="step-content step1" ng-hide="Ctrl.ThirdPartyInfo == null || Ctrl.ThirdPartyInfo.ThirdPartyUser.UserID == 0 ">
                            <div class="subhead no-top-margin no-bottom-margin">
                                <p><strong>Your representative will receive notifications about your cases from the Rent Adjustment Board. <a style="cursor: pointer;" ng-click="Ctrl.EditRepresentative()" class="btn-link btn-edit inline">Edit</a></strong></p>
                                
                            </div>

                            <div class="field-group mar-bottom-40">
                                <p>
                                    <strong>{{Ctrl.ThirdPartyInfo.ThirdPartyUser.FirstName}} {{Ctrl.ThirdPartyInfo.ThirdPartyUser.LastName}},</strong><br />
                                    {{Ctrl.ThirdPartyInfo.ThirdPartyUser.BusinessName}},<br />                             
                                    {{Ctrl.ThirdPartyInfo.ThirdPartyUser.AddressLine1}}, {{Ctrl.ThirdPartyInfo.ThirdPartyUser.AddressLine2}}, <br />
                                    {{Ctrl.ThirdPartyInfo.ThirdPartyUser.City}}, {{Ctrl.ThirdPartyInfo.ThirdPartyUser.State.StateCode}} {{Ctrl.ThirdPartyInfo.ThirdPartyUser.Zip}}<br />
                                    Tel: {{Ctrl.ThirdPartyInfo.ThirdPartyUser.PhoneNumber}}<br />
                                    Email: {{Ctrl.ThirdPartyInfo.ThirdPartyUser.Email}}<br />
                                </p>
                                <p><a style="cursor: pointer;" role="button" aria-label="Remove representatives" ng-click="Ctrl.RemoveRepresentative()" class="btn-link btn-link-red">Remove representative</a></p>
                            </div>
                        </div>

                        <div class="step-content step2" >
                            <div class="subhead no-bottom-margin" ng-show="Ctrl.ThirdPartyInfo.ThirdPartyUser.FirstName != null">
                                <label>Select all cases that you would like your representative to have access to</label>
                            </div>
                            <div class="field-group">
                                <div class="form-group-checkbox vertical clearfix no-bottom-margin" ng-repeat="caseinfo in Ctrl.Cases" ng-show="Ctrl.ThirdPartyInfo.ThirdPartyUser.FirstName != null">
                                    
                                        <label for="{{caseinfo.CaseID}}">
                                            <input type="checkbox" name="{{caseinfo.CaseID}}" id="{{caseinfo.CaseID}}" value="{{caseinfo.CaseID}}"
                                                   ng-model="caseinfo.Selected" /><i></i><span>{{caseinfo.CaseID}}</span>
                                        </label>
                                    
                                </div>
                            </div>
                            <div class="field-group mar-bottom-40" ng-show="Ctrl.ThirdPartyInfo.ThirdPartyUser.FirstName != null">
                                <a style="cursor: pointer;" role="button" aria-label="Update access privileges" ng-click="Ctrl.UpdateThirdPartyAccessPrivilege(Ctrl.Cases)" class="btn-link">Update access privileges</a>
                            </div>

                            <div class="step-footer no-top-margin pad-t60" ng-show="Ctrl.ThirdPartyInfo == null || Ctrl.ThirdPartyInfo.ThirdPartyUser.UserID == 0 ">
                                <a style="cursor: pointer;" role="button" aria-label="Add new representative" ng-click="Ctrl.AddNewRepresentative()" class="btn-primary">Add new representative</a>
                            </div>
                         </div>
                    </div><!-- .application-form -->
                </div>


            </div><!-- .application-form-wrapper -->
        </div><!-- .container -->
    </div><!-- .page-content -->
</div><!-- #content -->