
                            <!-- Page Sub Title - Visible on desktop screens only -->
                            <div class="step-heading">Applicant and Property Information</div>

                            <div class="step-content step1">

                                    <!-- Applicant’s name and address -->
                                    <div class="subhead no-top-margin">
                                        <h4>Applicant’s name and rental address</h4>
                                        <a href="#" class="btn-link btn-edit">Edit</a>
                                    </div>
                                    <div class="field-group">
                                        <p>Bob Johnson  </p>
                                        <p>1401 Jackson Street, <br />Oakland, CA 94612  </p>
                                        <p>Tel: (510) 453-5461  <br />Email: bobjohnson@gmail.com</p>
                                    </div>


                                    <!-- Your Representative -->
                                    <div class="subhead">
                                        <h4>Your representative</h4>
                                        <a href="#" class="btn-link btn-edit">Edit</a>
                                    </div>
                                    <div class="field-group">
                                        <p>John Smith  </p>
                                        <p>1543 Grand View Dr, <br />Oakland, CA 94611  </p>
                                        <p>Tel: (510) 453-5461  <br />Email: johnsmith@gmail.com</p>
                                    </div>

                                    <!-- Owner(s) name and mailing address -->
                                    <div class="subhead">
                                        <h4>Owner(s) name and mailing address</h4>
                                    </div>

                                    <div class="field-group">
                                        <label for="owner_first_name">Name</label>
                                        <input type="text" name="owner_first_name" id="owner_first_name" class="field-input" placeholder="First" />
                                    </div>
                                    <div class="field-group">
                                        <input type="text" name="owner_last_name" id="owner_last_name" class="field-input" placeholder="Last" />
                                    </div>

                                    <div class="field-group">
                                        <label for="owner_mailing_address1">Mailing address 1</label>
                                        <input type="text" name="owner_mailing_address1" id="owner_mailing_address1" class="field-input" placeholder="" />
                                    </div>

                                    <div class="field-group">
                                        <label for="owner_mailing_address2">Mailing address 2(optional)</label>
                                        <input type="text" name="owner_mailing_address2" id="owner_mailing_address2" class="field-input" placeholder="" />
                                    </div>

                                    <div class="field-group">
                                        <label for="owner_state">State</label>
                                        <div class="input-wrapper">
                                            <select name="owner_state" id="owner_state" class="custom-select" data-placeholder="Select">
                                                <option value="option_01">Option 01</option>
                                                <option value="option_02">Option 02</option>
                                                <option value="option_03">Option 03</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="field-group">
                                        <label for="owner_city">City</label>
                                        <input type="text" name="owner_city" id="owner_city" class="field-input" placeholder="" />
                                    </div>

                                    <div class="field-group">
                                        <label for="owner_zipcode">Zip code</label>
                                        <input type="text" name="owner_zipcode" id="owner_zipcode" class="field-input" placeholder="" />
                                    </div>

                                    <div class="field-group">
                                        <label for="owner_phone">Phone number</label>
                                        <input type="text" name="owner_phone" id="owner_phone" class="field-input phone" placeholder="" />
                                    </div>

                                    <div class="field-group mar-bottom-60">
                                        <label for="owner_email">Email address</label>
                                        <input type="text" name="owner_email" id="owner_email" class="field-input email" placeholder="" />
                                    </div>


                                    <!-- Property manager(s) name and mailing address -->
                                    <div class="subhead">
                                        <h4>Property manager(s) name and mailing address</h4>
                                    </div>

                                    <div class="field-group">
                                        <div class="form-group-radio vertical clearfix">
                                            <label for="same_as_owner_info">
                                                <input type="radio" name="same_as_owner_info" id="same_as_owner_info" class="input-field" value="Yes" checked="checked" /><i></i><span>Same as owner info</span>
                                            </label>
                                            <div class="clear"></div>
                                        </div>
                                    </div>

                                    <div class="field-group">
                                        <label for="manager_first_name">Name</label>
                                        <input type="text" name="manager_first_name" id="manager_first_name" class="field-input" placeholder="First" />
                                    </div>
                                    <div class="field-group">
                                        <input type="text" name="manager_last_name" id="manager_last_name" class="field-input" placeholder="Last" />
                                    </div>

                                    <div class="field-group">
                                        <label for="manager_mailing_address1">Mailing address 1</label>
                                        <input type="text" name="manager_mailing_address1" id="manager_mailing_address1" class="field-input" placeholder="" />
                                    </div>

                                    <div class="field-group">
                                        <label for="manager_mailing_address2">Mailing address 2(optional)</label>
                                        <input type="text" name="manager_mailing_address2" id="manager_mailing_address2" class="field-input" placeholder="" />
                                    </div>

                                    <div class="field-group">
                                        <label for="manager_state">State</label>
                                        <div class="input-wrapper">
                                            <select name="manager_state" id="manager_state" class="custom-select" data-placeholder="Select">
                                                <option value="option_01">Option 01</option>
                                                <option value="option_02">Option 02</option>
                                                <option value="option_03">Option 03</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="field-group">
                                        <label for="manager_city">City</label>
                                        <input type="text" name="manager_city" id="manager_city" class="field-input" placeholder="" />
                                    </div>

                                    <div class="field-group">
                                        <label for="manager_zipcode">Zip code</label>
                                        <input type="text" name="manager_zipcode" id="manager_zipcode" class="field-input" placeholder="" />
                                    </div>

                                    <div class="field-group">
                                        <label for="manager_phone">Phone number</label>
                                        <input type="text" name="manager_phone" id="manager_phone" class="field-input phone" placeholder="" />
                                    </div>

                                    <div class="field-group">
                                        <label for="manager_email">Email address</label>
                                        <input type="text" name="manager_email" id="manager_email" class="field-input email" placeholder="" />
                                    </div>


                                    <!-- Property information -->
                                    <div class="subhead">
                                        <h4>Property information</h4>
                                    </div>

                                    <div class="field-group">
                                        <label for="number_of_units">Number of Units</label>
                                        <input type="text" name="number_of_units" id="number_of_units" class="field-input" placeholder="" />
                                    </div>

                                    <div class="field-group">
                                        <label for="units_approx_range">If you don’t know the exact number of units in your building, please select an approximate range:</label>
                                        <div class="input-wrapper">
                                            <select name="units_approx_range" id="units_approx_range" class="custom-select" data-placeholder="Select range">
                                                <option value="Single Family Home (One Unit)">Single Family Home (One Unit)</option>
                                                <option value="2-4 Units (Duplex, Triplex, or 4 Unit Building)">2-4 Units (Duplex, Triplex, or 4 Unit Building)</option>
                                                <option value="5-15 Units">5-15 Units</option>
                                                <option value="16-19 Units">16-19 Units</option>
                                                <option value="20 to 49 Units">20 to 49 Units</option>
                                                <option value="50+ Units">50+ Units</option>
                                                <option value="Condominium">Condominium</option>
                                            </select>
                                        </div>
                                    </div>


                                    <div class="field-group">
                                        <p class="input-label">Type of unit you rent</p>
                                        <div class="form-group-radio vertical clearfix">
                                            <label for="unit_type_house">
                                                <input type="radio" name="unit_type" id="unit_type_house" class="input-field" value="House" checked="checked" /><i></i><span>House</span>
                                            </label>

                                            <label for="unit_type_condominium">
                                                <input type="radio" name="unit_type" id="unit_type_condominium" class="input-field" value="Condominium" /><i></i><span>Condominium</span>
                                            </label>

                                            <label for="unit_type_appartment">
                                                <input type="radio" name="unit_type" id="unit_type_appartment" class="input-field" value="Apartment, Room, or Live-work" /><i></i><span>Apartment, Room, or Live-work</span>
                                            </label>
                                            <div class="clear"></div>
                                        </div>
                                    </div>

                                    <div class="field-group">
                                        <p class="input-label">Are you current on your rent?</p>
                                        <div class="form-group-radio vertical clearfix">
                                            <label for="current_on_rent_yes">
                                                <input type="radio" name="current_on_rent" id="current_on_rent_yes" class="input-field" value="Yes" /><i></i><span>Yes</span>
                                            </label>

                                            <label for="current_on_rent_no">
                                                <input type="radio" name="current_on_rent" id="current_on_rent_no" class="input-field" value="No" checked="checked" /><i></i><span>No</span>
                                            </label>
                                            <div class="clear"></div>
                                        </div>
                                    </div>

                                    <div class="field-group">
                                        <label for="explanation">If you are not current on your rent, please provide an explanation.</label>
                                        <textarea name="explanation" id="explanation" class="field-input textarea" placeholder="" rows="6"></textarea>
                                    </div>

                                </div>


                                <div class="step-footer">
                                    <input type="button" id="save" name="save" class="btn-primary" value="Save and Continue" />
                                </div>