
    <div class="col-md-9 col-sm-12">
    <div class="application-form-wrapper">
        <div class="application-step step-1">
            <div class="alert alert-error" ng-show="Hide==true"></div>
            <div class="alert" ng-show="Ctrl.Error!=''">
                <strong><a href="javascript:void();">{{Ctrl.Error}}</a></strong>
            </div>
            <!-- Page Sub Title - Visible on desktop screens only -->
            <div class="step-heading">Applicant and Property Information</div>

            <form name="frmTenantResponse" id="frmTenantResponse" novalidate class="application-form" onsubmit="return false;">
                <div class="step-content step1">
                    <div class="info">
                        <div class="field-group">
                            <label for="CaseID">Case number</label>
                            <input type="text" class="field-input required" data-error="Case number" ng-trim="false" ng-model="Ctrl.CaseID" required />
                        </div>
                        <button class="btn-link" role="button" aria-label="Load case info" ng-click="Ctrl.GetTenantResponseApplicationInfo(Ctrl.CaseID)">Load case info</button>
                    </div>
                    <div ng-show="Ctrl.bCaseInfo">
                        <!-- Applicant’s name and address -->
                        <div class="subhead no-top-margin">
                            <h4>Applicant information</h4>
                            <a ng-click="Ctrl.ChangeAccountInformation()" class="btn-link btn-edit">Edit</a>
                        </div>
                        <div class="field-group" ng-show="Ctrl.caseinfo.bCaseFiledByThirdParty == false">
                            <p>{{Ctrl.caseinfo.TenantResponseInfo.ApplicantUserInfo.FirstName}} {{Ctrl.caseinfo.TenantResponseInfo.ApplicantUserInfo.LastName}}<br/>
							{{Ctrl.caseinfo.TenantResponseInfo.ApplicantUserInfo.BusinessName}}<br/>
                            {{Ctrl.caseinfo.TenantResponseInfo.ApplicantUserInfo.AddressLine1}} {{Ctrl.caseinfo.TenantResponseInfo.ApplicantUserInfo.AddressLine2}}, <br />{{Ctrl.caseinfo.TenantResponseInfo.ApplicantUserInfo.City}}, {{Ctrl.caseinfo.TenantResponseInfo.ApplicantUserInfo.State.StateCode}} {{Ctrl.caseinfo.TenantResponseInfo.ApplicantUserInfo.Zip}}<br/>
                            Tel: {{Ctrl.caseinfo.TenantResponseInfo.ApplicantUserInfo.PhoneNumber}}     <br />Email: {{Ctrl.caseinfo.TenantResponseInfo.ApplicantUserInfo.Email}}</p>
                        </div>
                        <div ng-show="Ctrl.caseinfo.bCaseFiledByThirdParty == true">
                            <div class="field-group">
                                <label for="Applicant_firstname">Name</label>
                                <input type="text" ng-trim="false" ng-model="Ctrl.caseinfo.TenantResponseInfo.ApplicantUserInfo.FirstName"
                                       id="Applicant_firstname" name="Applicant_firstname"
                                       ng-class="{'field-input required' :(Ctrl.caseinfo.bCaseFiledByThirdParty == true) ,
                                                   'field-input' : !(Ctrl.caseinfo.bCaseFiledByThirdParty == true) }"
                                       data-error="Applicant's name"
                                       ng-required="(Ctrl.caseinfo.bCaseFiledByThirdParty == true)" />
                            </div>

                            <div class="field-group">
                                <input type="text" class="field-input" ng-trim="false" ng-model="Ctrl.caseinfo.TenantResponseInfo.ApplicantUserInfo.LastName" />
                            </div>

                            <div class="field-group">
                                <label for="businessname">Business name</label>
                                <input type="text" name="businessname" id="businessname" class="field-input"
                                       placeholder="" ng-model="Ctrl.caseinfo.TenantResponseInfo.ApplicantUserInfo.BusinessName" />
                            </div>

                            <div class="field-group">
                                <label for="Applicant_address1">Mailing address 1</label>
                                <input type="text" ng-class="{'field-input required' :(Ctrl.caseinfo.bCaseFiledByThirdParty == true) ,
                                                   'field-input' : !(Ctrl.caseinfo.bCaseFiledByThirdParty == true) }"
                                       data-error="Applicant's mailing address 1"
                                       ng-required="(Ctrl.caseinfo.bCaseFiledByThirdParty == true)"
                                       name="Applicant_address1" id="Applicant_address1"
                                       ng-trim="false" ng-model="Ctrl.caseinfo.TenantResponseInfo.ApplicantUserInfo.AddressLine1" />
                            </div>

                            <div class="field-group">
                                <label for="Applicant_address2">Mailing address 2 (optional)</label>
                                <input type="text" class="field-input" ng-trim="false" ng-model="Ctrl.caseinfo.TenantResponseInfo.ApplicantUserInfo.AddressLine2" />
                            </div>

                            <div class="field-group">
                                <label for="Applicant_city">City</label>
                                <input type="text" name="Applicant_city" id="Applicant_city"
                                       ng-class="{'field-input required' :(Ctrl.caseinfo.bCaseFiledByThirdParty == true) ,
                                                   'field-input' : !(Ctrl.caseinfo.bCaseFiledByThirdParty == true) }"
                                       data-error="Applicant's city"
                                       ng-required="(Ctrl.caseinfo.bCaseFiledByThirdParty == true)" ng-trim="false" ng-model="Ctrl.caseinfo.TenantResponseInfo.ApplicantUserInfo.City" />
                            </div>

                            <div class="field-group">
                                <label for="Applicant_state">State</label>
                                <div class="row">
                                    <dropdown placeholder="States" list="Ctrl.StateList" property="StateName"
                                              selected="Ctrl.caseinfo.TenantResponseInfo.ApplicantUserInfo.State"></dropdown>
                                </div>
                            </div>

                            <div class="field-group">
                                <label for="Applicant_zip_code">Zip code</label>
                                <input type="text" name="Applicant_zip_code" id="Applicant_zip_code"
                                       ng-class="{'field-input required' :(Ctrl.caseinfo.bCaseFiledByThirdParty == true) ,
                                                   'field-input' : !(Ctrl.caseinfo.bCaseFiledByThirdParty == true) }"
                                       data-error="Applicant's zip code"
                                       ng-required="(Ctrl.caseinfo.bCaseFiledByThirdParty == true)" maxlength="5" ng-trim="false" ng-model="Ctrl.caseinfo.TenantResponseInfo.ApplicantUserInfo.Zip" />
                            </div>

                            <div class="field-group">
                                <label for="Applicante_phone_number">Phone number</label>
                                <input type="text" class="field-input" ng-trim="false" ng-model="Ctrl.caseinfo.TenantResponseInfo.ApplicantUserInfo.PhoneNumber" />
                            </div>

                            <div class="field-group">
                                <label for="Applicant_email">Email address</label>
                                <input type="email" class="field-input" ng-trim="false" ng-model="Ctrl.caseinfo.TenantResponseInfo.ApplicantUserInfo.Email" />
                            </div>
                        </div>


                        <!-- Your Representative -->
                        <div class="subhead" ng-show="Ctrl.caseinfo.bCaseFiledByThirdParty == false">
                            <h4>Your representative</h4>
                            <a ng-click="Ctrl.bEditRepresentative = true; Ctrl.caseinfo.TenantResponseInfo.bThirdPartyRepresentation = true" class="btn-link btn-edit">Edit</a>
                        </div>
                        <div ng-show="Ctrl.caseinfo.bCaseFiledByThirdParty == false && Ctrl.bEditRepresentative== true">
                            <div class="field-group">
                                <label for="representative_firstname">Name</label>
                                <input type="text" ng-trim="false" name="representative_firstname" id="representative_firstname" ng-model="Ctrl.caseinfo.TenantResponseInfo.ThirdPartyInfo.FirstName"
                                       ng-class="{'field-input required' :(Ctrl.caseinfo.bCaseFiledByThirdParty == false && Ctrl.bEditRepresentative== true) ,
                                                   'field-input' : !(Ctrl.caseinfo.bCaseFiledByThirdParty == false && Ctrl.bEditRepresentative== true) }"
                                       data-error="Third party's first name"
                                       ng-required="(Ctrl.caseinfo.bCaseFiledByThirdParty == false && Ctrl.bEditRepresentative== true)" />
                            </div>

                            <div class="field-group">
                                <input type="text" class="field-input" ng-trim="false" ng-model="Ctrl.caseinfo.TenantResponseInfo.ThirdPartyInfo.LastName" />
                            </div>
                            <div class="field-group">
                                <label for="businessname">Business name</label>
                                <input type="text" name="businessname" id="businessname" class="field-input" placeholder="" ng-model="Ctrl.caseinfo.TenantResponseInfo.ThirdPartyInfo.BusinessName" />
                            </div>
                            <div class="field-group">
                                <label for="representative_address1">Mailing address 1</label>
                                <input type="text" class="field-input" name="representative_address1" id="representative_address1"
                                       ng-class="{'field-input required' :(Ctrl.caseinfo.bCaseFiledByThirdParty == false && Ctrl.bEditRepresentative== true) ,
                                                   'field-input' : !(Ctrl.caseinfo.bCaseFiledByThirdParty == false && Ctrl.bEditRepresentative== true) }"
                                       data-error="Third party's mailing address 1"
                                       ng-trim="false" ng-model="Ctrl.caseinfo.TenantResponseInfo.ThirdPartyInfo.AddressLine1" />
                            </div>

                            <div class="field-group">
                                <label for="representative_address2">Mailing address 2 (optional)</label>
                                <input type="text" class="field-input" ng-trim="false" ng-model="Ctrl.caseinfo.TenantResponseInfo.ThirdPartyInfo.AddressLine2" />
                            </div>

                            <div class="field-group">
                                <label for="representative_city">City</label>
                                <input type="text" name="representative_city" id="representative_city"
                                       ng-class="{'field-input required' :(Ctrl.caseinfo.bCaseFiledByThirdParty == false && Ctrl.bEditRepresentative== true) ,
                                                   'field-input' : !(Ctrl.caseinfo.bCaseFiledByThirdParty == false && Ctrl.bEditRepresentative== true) }"
                                       data-error="Third party's city"
                                       ng-trim="false" ng-model="Ctrl.caseinfo.TenantResponseInfo.ThirdPartyInfo.City" />
                            </div>

                            <div class="field-group">
                                <label for="representative_state">State</label>
                                <dropdown placeholder="States" list="Ctrl.StateList" property="StateName"
                                          selected="Ctrl.caseinfo.TenantResponseInfo.ThirdPartyInfo.State"></dropdown>
                            </div>

                            <div class="field-group">
                                <label for="representative_zip_code">Zip Code</label>
                                <input type="text" name="representative_zip_code" id="representative_zip_code"
                                       ng-class="{'field-input required' :(Ctrl.caseinfo.bCaseFiledByThirdParty == false && Ctrl.bEditRepresentative== true) ,
                                                   'field-input' : !(Ctrl.caseinfo.bCaseFiledByThirdParty == false && Ctrl.bEditRepresentative== true) }"
                                       data-error="Third party's zip code" maxlength="5" ng-trim="false" ng-model="Ctrl.caseinfo.TenantResponseInfo.ThirdPartyInfo.Zip" />
                            </div>

                            <div class="field-group">
                                <label for="representative_phone_number">Phone number</label>
                                <input type="text" class="field-input" ng-trim="false" ng-model="Ctrl.caseinfo.TenantResponseInfo.ThirdPartyInfo.PhoneNumber" />
                            </div>

                            <div class="field-group">
                                <label for="representative_email">Email address</label>
                                <input type="email" class="field-input" ng-trim="false" ng-model="Ctrl.caseinfo.TenantResponseInfo.ThirdPartyInfo.Email" />
                            </div>
                        </div>
                        <div class="field-group" ng-show="Ctrl.caseinfo.bCaseFiledByThirdParty == false && Ctrl.caseinfo.TenantResponseInfo.ThirdPartyInfo != null && Ctrl.bEditRepresentative == false">
                            <p>{{Ctrl.caseinfo.TenantResponseInfo.ThirdPartyInfo.FirstName}} {{Ctrl.caseinfo.TenantResponseInfo.ThirdPartyInfo.LastName}}</p>
                            <p>{{Ctrl.caseinfo.TenantResponseInfo.ThirdPartyInfo.BusinessName}}</p>
                            <p>{{Ctrl.caseinfo.TenantResponseInfo.ThirdPartyInfo.AddressLine1}}</p>
                            <p>{{Ctrl.caseinfo.TenantResponseInfo.ThirdPartyInfo.AddressLine2}}</p>
                            <p>{{Ctrl.caseinfo.TenantResponseInfo.ThirdPartyInfo.City}} {{Ctrl.caseinfo.TenantResponseInfo.ThirdPartyInfo.State.StateName}} {{Ctrl.caseinfo.TenantResponseInfo.ThirdPartyInfo.Zip}}</p>
                            <p>Tel: {{Ctrl.caseinfo.TenantResponseInfo.ThirdPartyInfo.PhoneNumber}}</p>
                            <p>Email : {{Ctrl.caseinfo.TenantResponseInfo.ThirdPartyInfo.Email}}</p>
                        </div>

                        <!-- Owner(s) name and mailing address -->
                        <div class="subhead">
                            <h4>Property owner information</h4>
                        </div>

                        <div class="field-group">
                            <label for="owner_first_name">Name</label>
                            <input type="text" name="owner_first_name" id="owner_first_name"
                                   ng-class="{'field-input required' :(Ctrl.bCaseInfo == true) ,
                                                   'field-input' : !(Ctrl.bCaseInfo == true) }"
                                   ng-required="(Ctrl.bCaseInfo == true)" data-error="Owner name"
                                   placeholder="First" ng-model="Ctrl.caseinfo.TenantResponseInfo.OwnerInfo.FirstName" required />
                        </div>
                        <div class="field-group">
                            <input type="text" name="owner_last_name" id="owner_last_name" class="field-input" placeholder="Last" ng-model="Ctrl.caseinfo.TenantResponseInfo.OwnerInfo.LastName" />
                        </div>

                        <div class="field-group">
                            <label for="businessname">Business name</label>
                            <input type="text" name="businessname" id="businessname" class="field-input" placeholder="" ng-model="Ctrl.caseinfo.TenantResponseInfo.OwnerInfo.BusinessName" />
                        </div>

                        <div class="field-group">
                            <label for="owner_mailing_address1">Mailing address 1</label>
                            <input type="text" name="owner_mailing_address1" id="owner_mailing_address1"
                                   ng-class="{'field-input required' :(Ctrl.bCaseInfo == true) ,
                                                   'field-input' : !(Ctrl.bCaseInfo == true) }"
                                   ng-required="(Ctrl.bCaseInfo == true)" data-error="Owner's mailing address 1" placeholder=""
                                   ng-model="Ctrl.caseinfo.TenantResponseInfo.OwnerInfo.AddressLine1"  />
                        </div>

                        <div class="field-group">
                            <label for="owner_mailing_address2">Mailing address 2 (optional)</label>
                            <input type="text" name="owner_mailing_address2" id="owner_mailing_address2" class="field-input" placeholder=""
                                   ng-model="Ctrl.caseinfo.TenantResponseInfo.OwnerInfo.AddressLine2" />
                        </div>

                        <div class="field-group">
                            <label for="owner_state">State</label>
                            <dropdown placeholder="States" list="Ctrl.StateList" property="StateName"
                                      selected="Ctrl.caseinfo.TenantResponseInfo.OwnerInfo.State"></dropdown>
                        </div>

                        <div class="field-group">
                            <label for="owner_city">City</label>
                            <input type="text" name="owner_city" id="owner_city"
                                    ng-class="{'field-input required' :(Ctrl.bCaseInfo == true) ,
                                                   'field-input' : !(Ctrl.bCaseInfo == true) }"
                                   ng-required="(Ctrl.bCaseInfo == true)"
                                    placeholder="" data-error="Owner's city"
                                   ng-model="Ctrl.caseinfo.TenantResponseInfo.OwnerInfo.City"  />
                        </div>

                        <div class="field-group">
                            <label for="owner_zipcode">Zip code</label>
                            <input type="text" name="owner_zipcode" id="owner_zipcode" 
                                   ng-class="{'field-input required' :(Ctrl.bCaseInfo == true) ,
                                                   'field-input' : !(Ctrl.bCaseInfo == true) }"
                                   ng-required="(Ctrl.bCaseInfo == true)"
                                    data-error="Owner's zip code" maxlength="5" placeholder=""
                                   ng-model="Ctrl.caseinfo.TenantResponseInfo.OwnerInfo.Zip"  />
                        </div>

                        <div class="field-group">
                            <label for="owner_phone">Phone number</label>
                            <input type="text" name="owner_phone" id="owner_phone" class="field-input phone" placeholder=""
                                   ng-model="Ctrl.caseinfo.TenantResponseInfo.OwnerInfo.PhoneNumber" />
                        </div>

                        <div class="field-group mar-bottom-60">
                            <label for="owner_email">Email address</label>
                            <input type="email" name="owner_email" id="owner_email" class="field-input" placeholder=""
                                   ng-model="Ctrl.caseinfo.TenantResponseInfo.OwnerInfo.Email" />
                        </div>


                        <!-- Property manager(s) name and mailing address -->
                        <div class="subhead">
                            <h4>Property manager information</h4>
                        </div>

                        <div class="field-group">
                            <div class="form-group-radio vertical clearfix">
                                <label for="same_as_po_infor">
                                    <input type="checkbox" name="same_as_po_infor" id="same_as_po_infor" class="input-field" ng-value="true"
                                           ng-model="Ctrl.caseinfo.TenantResponseInfo.bSameAsOwnerInfo"
                                           ng-change="Ctrl.ChangeSameAsPropertyOwner()" /><i></i><span>
                                        Same as property owner info
                                    </span>
                                </label>
                                <div class="clear"></div>
                            </div>
                        </div>

                        <div class="field-group">
                            <label for="manager_first_name">Name</label>
                            <input type="text" name="manager_first_name" id="manager_first_name"
                                   ng-class="{'field-input required' :(Ctrl.bCaseInfo == true) ,
                                                   'field-input' : !(Ctrl.bCaseInfo == true) }"
                                   ng-required="(Ctrl.bCaseInfo == true)" data-error="Manager's city" placeholder="First"
                                   ng-model="Ctrl.caseinfo.TenantResponseInfo.PropertyManager.FirstName"  />
                        </div>
                        <div class="field-group">
                            <input type="text" name="manager_last_name" id="manager_last_name" class="field-input" placeholder="Last"
                                   ng-model="Ctrl.caseinfo.TenantResponseInfo.PropertyManager.LastName" />
                        </div>

                        <div class="field-group">
                            <label for="manager_businessname">Business name</label>
                            <input type="text" name="manager_businessname" id="manager_businessname"
                                   ng-class="{'field-input required' :(Ctrl.bCaseInfo == true) ,
                                                   'field-input' : !(Ctrl.bCaseInfo == true) }"
                                   ng-required="(Ctrl.bCaseInfo == true)" data-error="Manager's business name"
                                   placeholder="" ng-model="Ctrl.caseinfo.TenantResponseInfo.PropertyManager.BusinessName" />
                        </div>

                        <div class="field-group">
                            <label for="manager_mailing_address1">Mailing address 1</label>
                            <input type="text" name="manager_mailing_address1" id="manager_mailing_address1"
                                   ng-class="{'field-input required' :(Ctrl.bCaseInfo == true) ,
                                                   'field-input' : !(Ctrl.bCaseInfo == true) }"
                                   ng-required="(Ctrl.bCaseInfo == true)" placeholder=""
                                   data-error="Manager's mailing address 1" 
                                   ng-model="Ctrl.caseinfo.TenantResponseInfo.PropertyManager.AddressLine1" />
                        </div>

                        <div class="field-group">
                            <label for="manager_mailing_address2">Mailing address 2(optional)</label>
                            <input type="text" name="manager_mailing_address2" id="manager_mailing_address2" class="field-input" placeholder=""
                                   ng-model="Ctrl.caseinfo.TenantResponseInfo.PropertyManager.AddressLine2" />
                        </div>

                        <div class="field-group">
                            <label for="pm_state">State</label>
                            <dropdown placeholder="States" list="Ctrl.StateList" property="StateName"
                                      selected="Ctrl.caseinfo.TenantResponseInfo.PropertyManager.State"></dropdown>
                        </div>

                        <div class="field-group">
                            <label for="manager_city">City</label>
                            <input type="text" name="manager_city" id="manager_city "
                                   ng-class="{'field-input required' :(Ctrl.bCaseInfo == true) ,
                                                   'field-input' : !(Ctrl.bCaseInfo == true) }"
                                   ng-required="(Ctrl.bCaseInfo == true)" placeholder="" 
                                   data-error="Manager's mailing city"
                                   ng-model="Ctrl.caseinfo.TenantResponseInfo.PropertyManager.City" />
                        </div>

                        <div class="field-group">
                            <label for="manager_zipcode">Zip code</label>
                            <input type="text" name="manager_zipcode" id="manager_zipcode"
                                   ng-class="{'field-input required' :(Ctrl.bCaseInfo == true) ,
                                                   'field-input' : !(Ctrl.bCaseInfo == true) }"
                                   ng-required="(Ctrl.bCaseInfo == true)" placeholder=""
                                   data-error="Manager's mailing zip code"
                                   ng-model="Ctrl.caseinfo.TenantResponseInfo.PropertyManager.Zip" />
                        </div>

                        <div class="field-group">
                            <label for="manager_phone">Phone number</label>
                            <input type="text" name="manager_phone" id="manager_phone" class="field-input phone" placeholder=""
                                   ng-model="Ctrl.caseinfo.TenantResponseInfo.PropertyManager.PhoneNumber" />
                        </div>

                        <div class="field-group">
                            <label for="manager_email">Email address</label>
                            <input type="email" name="manager_email" id="manager_email" class="field-input" placeholder=""
                                   ng-model="Ctrl.caseinfo.TenantResponseInfo.PropertyManager.Email" />
                        </div>


                        <!-- Property information -->
                        <div class="subhead">
                            <h4>Property information</h4>
                        </div>

                        <div class="field-group">
                            <label for="number_of_units">Number of units</label>
                            <input type="text" name="number_of_units" id="number_of_units" class="field-input" placeholder=""
                                   ng-model="Ctrl.caseinfo.TenantResponseInfo.NumberOfUnits" />
                        </div>

                        <div class="field-group">
                            <label for="units_approx_range">If you don’t know the exact number of units in your building, please select an approximate range:</label>
                            <div class="input-wrapper">
                                <select name="units_approx_range" id="units_approx_range" class="custom-select" data-placeholder="Select range"
                                        ng-model="Ctrl.caseinfo.TenantResponseInfo.SelectedRangeOfUnits"
                                        ng-options="range as (range.RangeDesc) for range in Ctrl.caseinfo.TenantResponseInfo.RangeOfUnits track by range.RangeID"></select>
                            </div>
                        </div>


                        <div class="field-group">
                            <p class="input-label">Type of unit you rent</p>
                            <div ng-class="{'form-group-radio vertical clearfix required' :(Ctrl.bCaseInfo == true) ,
                                                   'form-group-radio vertical clearfix' : !(Ctrl.bCaseInfo == true) }"
                                 ng-required="(Ctrl.bCaseInfo == true)" data-error="Type of unit you rent">
                                <label ng-repeat="unittype in Ctrl.caseinfo.TenantResponseInfo.UnitTypes" for="{{unittype.UnitTypeID}}">
                                    <input type="radio" class="input-field"
                                           ng-model="Ctrl.caseinfo.TenantResponseInfo.UnitTypeId"
                                           ng-value="unittype.UnitTypeID"
                                           id="{{unittype.UnitTypeID}}"
                                           name="UnitType"><i></i><span>{{unittype.UnitDescription}}</span>
                                </label>
                            </div>
                        </div>

                        <div class="field-group">
                            <p class="input-label">Are you current on your rent?</p>
                            <div class="form-group-radio vertical clearfix">
                                <label for="pi_paying_rent_yes">
                                    <input type="radio" name="pi_paying_rent_yes" id="pi_paying_rent_yes" ng-value="true"
                                           ng-model="Ctrl.caseinfo.TenantResponseInfo.bCurrentRentStatus"><i></i><span>Yes</span>
                                </label>
                                <label for="pi_paying_rent_no">
                                    <input type="radio" name="pi_paying_rent_no" id="pi_paying_rent_no" ng-value="false"
                                           ng-model="Ctrl.caseinfo.TenantResponseInfo.bCurrentRentStatus" /><i></i> <span>No</span>
                                </label>
                                <div class="clear"></div>
                            </div>
                        </div>

                        <div class="field-group" ng-show="!Ctrl.caseinfo.TenantResponseInfo.bCurrentRentStatus">
                            <label for="explanation">If you are not current on your rent, please explain.</label>
                            <textarea name="explanation" id="explanation" class="field-input textarea" placeholder="" rows="6"
                                      ng-model="Ctrl.caseinfo.TenantResponseInfo.ProvideExplanation"></textarea>
                        </div>
                    </div>

                </div>


                <div class="step-footer">
                    <input role="button" aria-label="Save and continue" type="submit" id="save" name="save" class="btn-primary" value="Save and continue"
                           ng-click="(Hide=true); (!((frmTenantResponse.Applicant_firstname.$error.required)
                                        ||(frmTenantResponse.Applicant_address1.$error.required)
                                        ||(frmTenantResponse.Applicant_city.$error.required)
                                        ||(frmTenantResponse.Applicant_zip_code.$error.required)
                                        ||(frmTenantResponse.representative_firstname.$error.required)
                                        ||(frmTenantResponse.representative_zip_code.$error.required)
                                        ||(frmTenantResponse.representative_city.$error.required)
                                        ||(frmTenantResponse.representative_address1.$error.required)
                                        ||(frmTenantResponse.owner_first_name.$error.required)
                                        ||(frmTenantResponse.owner_mailing_address1.$error.required)
                                        ||(frmTenantResponse.owner_city.$error.required)
                                        ||(frmTenantResponse.owner_zipcode.$error.required)
                                        ||(frmTenantResponse.manager_zipcode.$error.required)
                                        ||(frmTenantResponse.manager_mailing_address1.$error.required)
                                        ||(frmTenantResponse.manager_city.$error.required)
                                        ||(frmTenantResponse.manager_first_name.$error.required)
                                        ||(frmTenantResponse.UnitType.$error.required)
                                        ||(frmTenantResponse.manager_businessname.$error.required))
                                           ) && Ctrl.ContinueToExemptionContested()" />
                </div>
            </form>
        </div>
    </div>
</div>
