
                            <!-- Page Sub Title - Visible on desktop screens only -->
                            <div class="step-heading">Exemption Contested</div>

                             <div class="step-content step1">
                                    <div class="field-group subhead no-top-margin">
                                        <p>
                                            For the detailed text of the exemptions, see Oakland Municipal Code Chapter 8.22 and the Rent
                                            Board Regulations on the City of Oakland web site. You can get additional information and copies of the Ordinance and Regulations from the Rent Program office in person or by calling  (510) 238-3721.  
                                        </p>
                                        <p>
                                            <a href="http://www.oaklandnet.com/government/hcd/rentboard/ordinance.html" target="_blank">http://www.oaklandnet.com/government/hcd/rentboard/ordinance.html</a><br />
                                            <a href="http://www.oaklandnet.com/government/hcd/rentboard/rules.html" target="_blank">http://www.oaklandnet.com/government/hcd/rentboard/rules.html</a>
                                        </p>
                                    </div>

                                    <div class="field-group subhead">
                                        <label for="exempt_description">
                                            The property owner has the burden of proving the right to exemption for the unit. Explain
                                            below why you believe your landlord’s claim that your unit is exempt is incorrect.
                                        </label>
                                        <textarea name="exempt_description" id="exempt_description" class="field-input textarea" rows="8"
                                                  ng-model="Ctrl.caseinfo.TenantResponseInfo.ExemptContestedInfo.Explaination"></textarea>
                                    </div>

                                </div>


                                <div class="step-footer">
                                    <input type="button" id="save" name="save" class="btn-primary" value="Save and Continue" ng-click="Ctrl.ContinueToRentalHistory()" />
                                </div>
                            