<script src='js/functions.js'></script>
<div class="col-md-9 col-sm-12">
    <div class="application-form-wrapper">
        <div class="application-step step-1">
            <div class="alert" ng-show="Ctrl.Error!=''">
                <strong><a href="javascript:void();">{{Ctrl.Error}}</a></strong>
            </div>
            <!-- Page Sub Title - Visible on desktop screens only -->
            <div class="step-heading">Exemption Contested</div>

            <form name="frmTenantResponse" id="frmTenantResponse" action="#" method="post" class="application-form">

                <div class="step-content step1">
                    <div class="field-group subhead no-top-margin">
                        <p>
                           Please attach a brief statement explaining why the property owner is not entitled to the proposed increase. The legal justifications are Banking, Capital Improvements, Increased Housing Service Costs, Debt Service, Uninsured Repair Costs, and Necessary to Meet Constitutional Fair Return requirements.
                        </p>
						<p>
						For the detailed text of the exemptions, see Oakland Municipal Code Chapter 8.22 and the Rent Board Regulations on the City of Oakland web site. You can get additional information and copies of the Ordinance and Regulations from the Rent Program office in person or by calling (510) 238-3721.
						</p>
                        <p>
                            <a href="http://www.oaklandnet.com/government/hcd/rentboard/ordinance.html" target="_blank">http://www.oaklandnet.com/government/hcd/rentboard/ordinance.html</a><br />
                            <a href="http://www.oaklandnet.com/government/hcd/rentboard/rules.html" target="_blank">http://www.oaklandnet.com/government/hcd/rentboard/rules.html</a>
                        </p>
                    </div>

                    <div class="field-group subhead">
                        <label for="exempt_description">
                            The property owner has the burden of proving the right to exemption for the unit. Explain below why you believe your property owner's claim that your unit is exempt is incorrect.
                        </label>
                        <textarea name="exempt_description" id="exempt_description" class="field-input textarea" rows="8"
                                  ng-model="Ctrl.caseinfo.TenantResponseInfo.ExemptContestedInfo.Explaination"></textarea>
                    </div>

                </div>


                <div class="step-footer">
                    <input role="button" aria-label="Save and continue" type="button" id="save" name="save" class="btn-primary" value="Save and continue" ng-click="Ctrl.ContinueToRentalHistory()" />
                </div>
            </form>
        </div>

    </div><!-- .application-form-wrapper -->
</div><!-- .col-md-9 -->