<script src='js/functions.js'></script>
<div class="col-md-9 col-sm-12">
    <div class="application-form-wrapper">
        <div class="application-step step-1">
            <div class="alert alert-error" ng-show="Ctrl.Error!=''">
                <strong><a href="javascript:void();">{{Ctrl.Error}}</a></strong>
            </div>
            <!-- Page Sub Title - Visible on desktop screens only -->
            <div class="step-heading">Exemption Contested</div>

            <form name="frmTenantResponse" id="frmTenantResponse" action="#" method="post" class="application-form">

                <div class="step-content step1">
                    <div class="field-group subhead no-top-margin">
                        <p>
                            What are your reasons for contesting the proposed rent increase or exemption? Attach additional documents if necessary. If you are contesting a petition that includes a banking increase, you must complete the rental history section on the next page. For decreased housing services, you need to file a separate tenant petition.
                        </p>
                    </div>

                    <div class="field-group subhead">
                        <label for="exempt_description">
                            Explain below why you believe your property owner's claim that your unit is exempt is incorrect.
                        </label>
                        <textarea name="exempt_description" id="exempt_description" class="field-input textarea" rows="8"
                                  ng-model="Ctrl.caseinfo.TenantResponseInfo.ExemptContestedInfo.Explaination"></textarea>
                    </div>

                </div>


                <div class="step-footer">
                    <input role="button" aria-label="Save and continue" type="button" id="save" name="save" class="btn-primary" value="Save and continue" ng-click="Ctrl.ContinueToRentalHistory()" />
                </div>
            </form>
        </div>

    </div><!-- .application-form-wrapper -->
</div><!-- .col-md-9 -->