
    <!-- Page Sub Title - Visible on desktop screens only -->
    <div class="step-heading">Important Information</div>

    <div class="step-content step1">

            <div class="field-group subhead no-top-margin">
                <div class="information">
				<p><strong>REMINDER: ONCE THIS FORM IS SUBMITTED TO THE CITY IT BECOMES A PUBLIC RECORD. PLEASE DO NOT SUBMIT ANY PRIVATE INFORMATION (SUCH AS BANK ACCOUNT NUMBERS, CREDIT CARD NUMBERS, OR SOCIAL SECURITY NUMBERS) AS PART OF THIS FORM. IF YOU HAVE ANY QUESTIONS, PLEASE CONTACT CITY STAFF AT (510) 238-3721</strong></p>
					<p><u>Time to File.</u> This form must be submitted to  the Rent Adjustment Program within 35 days of the date that a copy of the Owner Petition was sent to you. (The date of mailing is shown on the Proof of Service attached to the Owner Petition and other response documents mailed to you.) If the RAP office is closed on the last day to file, the time to file is extended to the next day the office is open. You can deliver your Tenant Response in person to:</p>
				  

					<p>City of Oakland Housing Assistance Center, <br/>Rent Adjustment Program Office <br/>
					250 Frank H. Ogawa Plaza, 6th Floor, <br/>
					Oakland, CA 94612
					</p>
					
					<p>You can date-stamp and drop your Response in the Rent Adjustment drop box at the Housing Assistance Center. The Housing Assistance Center is open Monday through Friday, except holidays, from 9:00 a.m. to 5:00 p.m.</p>

					<p><u>
NOTE: You have until 7 days before the hearing date to submit additional documentation for your case. If additional documentation is required, RAP staff will reach out to inform your of the documentation needed. </u></p>


				<p><u>File Review.</u> You should have received with this letter a copy of the Owner Petition. The petition and attachments to the petition can be found by logging into the RAP Online Petitioning System and accessing your case.  If you would like to review the attachments in person, please call  the Rent Adjustment Program office at (510) 238-3721 to make an appointment.</p>
				 
                </div>
            </div>

            <div class="subhead type2">
                <h4>Saving Information</h4>
            </div>
            <div class="field-group">
                <div class="error-msg">You must click the “Save and continue” button at the bottom of every screen to save information you are entering and uploading.</div>
            </div>

        </div>


        <div class="step-footer">
            <input role="button" aria-label="Continue" type="button" id="continue" name="continue" class="btn-primary" value="Continue" ng-click="Ctrl.Continue()" />
        </div>