
    <!-- Page Sub Title - Visible on desktop screens only -->
    <div class="step-heading">Important Information</div>

    <div class="step-content step1">

            <div class="field-group subhead no-top-margin">
                <div class="information">
                    <p>This form must be received at the Rent Adjustment Offices by the date and time limits prescribed by Oakland Municipal Code, Chapter 8.22. The offices are located at City of Oakland, Rent Adjustment Program, Dalziel Building, 250 Frank H. Ogawa Plaza Suite 5313, Oakland, CA 94612. The mailing address is PO Box 70243, Oakland, CA 94612-0243. For more information, please call: 510-238-0243 </p>
                    <p>You cannot get an extension of time to file your Response by telephone. </p>
                    <p><strong>File review </strong></p>
                    <p>You should have received with this letter a copy of the landlord petition.</p>
                    <p> <u>Copies of attachments to the petition will not be sent to you. However, you may review these in the Rent Program office. Files are available for review by appointment.</u></p>
                </div>
            </div>

            <div class="subhead type2">
                <h4>Saving Information</h4>
            </div>
            <div class="field-group">
                <div class="error-msg">Please note that you can save information you are entering and uploading at the bottom of every screen by clicking on the “Save” button.</div>
            </div>

        </div>


        <div class="step-footer">
            <input type="button" id="continue" name="continue" class="btn-primary" value="Continue" ng-click="Ctrl.Continue()" />
        </div>