<div id="content">
    <!-- Page Title -->
    <div class="page-title-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-3 hidden-xs">&nbsp;</div>
                <div class="col-md-9 col-sm-12">
                    <h2 class="page-title">Tenant Response to Claim of Permanent Exemption</h2>
                </div>
            </div>
        </div>
    </div>


    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-12">
                    <div>
                        <ul class="application-steps">
                            <li ng-class="{'active' : Ctrl.TRSubmissionStatus.PetitionType, 'current' : !Ctrl.TRSubmissionStatus.PetitionType && Ctrl.bImpInfo}">
                                <a ng-click="Ctrl.showPetitionType()">Petition Type</a>
                            </li>
                            <li ng-class="{'active' : Ctrl.TRSubmissionStatus.ImportantInformation, 'current' : !Ctrl.TRSubmissionStatus.ImportantInformation && Ctrl.bImpInfo}">
                                <a ng-click="Ctrl.showImpInfo()">Important Information</a>
                            </li>
                            <li ng-class="{'active' : Ctrl.TRSubmissionStatus.ApplicantInformation, 'current' : !Ctrl.TRSubmissionStatus.ApplicantInformation && Ctrl.bAppInfo}">
                                <a ng-click="Ctrl.showAppInfo()">Applicant Information</a>
                            </li>
                            <li ng-class="{'active' : Ctrl.TRSubmissionStatus.ExemptionContested, 'current' : !Ctrl.TRSubmissionStatus.ExemptionContested && Ctrl.bExemptionContested}">
                                <a ng-click="Ctrl.showExemptionContested()">Exemption Contested</a>
                            </li>
                            <li ng-class="{'active' : Ctrl.TRSubmissionStatus.RentHistory, 'current' : !Ctrl.TRSubmissionStatus.RentHistory && Ctrl.bRentalHistory}">
                                <a ng-click="Ctrl.showRentalHistory()">Rental History</a>
                            </li>
                            <li ng-class="{'active' : Ctrl.TRSubmissionStatus.AdditionalDocumentation, 'current' : !Ctrl.TRSubmissionStatus.AdditionalDocumentation && Ctrl.bAddDocuments}">
                                <a ng-click="Ctrl.showAddDocuments()">Additional Documentation</a>
                            </li>
                            <li ng-class="{'active' : Ctrl.TRSubmissionStatus.Review, 'current' : !Ctrl.TRSubmissionStatus.Review && Ctrl.bReview}">
                                <a ng-click="Ctrl.showReview()">Review</a>
                            </li>
                            <li ng-class="{'active' : Ctrl.TRSubmissionStatus.Verification, 'current' : !Ctrl.TRSubmissionStatus.Verification && Ctrl.bVerification}">
                                <a ng-click="Ctrl.showVerification()">Verification</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-9 col-sm-12">
                    <div class="application-step step-1">
                        <form name="frmTenentPetition" id="frmTenentPetition" method="post" class="application-form">
                            <div ng-if="Ctrl.bPetitionType">
                                <rap-trpetitiontype model="Ctrl"></rap-trpetitiontype>
                            </div>
                            <div ng-if="Ctrl.bImpInfo">
                                <rap-trimpinfo model="Ctrl"></rap-trimpinfo>
                            </div>
                            <div ng-if="Ctrl.bAppInfo">
                                <rap-trapplicationinfo ng-show="Ctrl.bAppInfo" model="Ctrl" casedetails="Ctrl.model"></rap-trapplicationinfo>
                            </div>
                            <div ng-if="Ctrl.bExemptionContested">
                                <rap-trexemptioncontested ng-show="Ctrl.bExemptionContested" model="Ctrl"></rap-trexemptioncontested>
                            </div>
                            <div ng-if="Ctrl.bRentalHistory">
                                <rap-trrentalhistory ng-show="Ctrl.bRentalHistory" model="Ctrl"></rap-trrentalhistory>
                            </div>
                            <div ng-if="Ctrl.bAddDocuments">
                                <rap-trdocument ng-show="Ctrl.bAddDocuments" model="Ctrl"></rap-trdocument>
                            </div>
                            <div ng-if="Ctrl.bReview">
                                <rap-trreview ng-show="Ctrl.bReview" model="Ctrl"></rap-trreview>
                            </div>
                            <div ng-if="Ctrl.bVerification">
                                <rap-trverification ng-show="Ctrl.bVerification" model="Ctrl"></rap-trverification>
                            </div>
                            <div>
                                <rap-trconfirmationresponse ng-show="Ctrl.bConfirm" model="Ctrl"></rap-trconfirmationresponse>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div><!-- #SkipToMainContent -->


    </div><!-- .container .outer-container -->

    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <!--<script src='js/jquery.maskedinput.js'></script>-->
    <script src='js/tooltip.js'></script>
    <script src='js/functions.js'></script>
</div>
