
<div class="step-heading">Petition Type</div>

<div class="step-content step1">

    <div class="subhead no-top-margin no-bottom-margin">
        <p class="fs-18"><strong>You are filing as a tenant.</strong></p>
    </div>

    <div class="field-group">
        <div class="form-group-checkbox vertical full-width clearfix">
            <div class="checkbox-wrapper no-bottom-margin">
                <label for="behalf_of_respondant">
                    <input type="checkbox" name="behalf_of_respondant" id="behalf_of_respondant" value="Yes" /><i></i><span>This form is being submitted by the third-party representative on behalf of the respondant.</span>
                </label>
            </div>
        </div>
    </div>
</div>


<div class="step-footer">
    <input type="button" id="continue" name="continue" class="btn-primary" value="Continue" />
</div>
</form>
                        