<script src='js/functions.js'></script>
<!-- Page Sub Title - Visible on desktop screens only -->
<div class="step-heading">Rental History</div>


<div class="step-content step1">
    <div class="field-group subhead no-top-margin">
        <label>When did you enter into the rental agreement for this unit?</label>
        <div class="row">
            <div class="col-sm-4 col-xs-12">
                <div class="field-group">
                    <select ng-model="Ctrl.caseinfo.TenantResponseInfo.TenantRentalHistory.RentalAgreementDate.Month"
                            class="custom-select" data-placeholder="Month"
                            ng-options="month.id as month.value for month in Ctrl.Calender.Months">
                        <option value="" selected>Select month</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12">
                <div class="field-group">
                    <select ng-model="Ctrl.caseinfo.TenantResponseInfo.TenantRentalHistory.RentalAgreementDate.Day"
                            class="custom-select" data-placeholder="Day"
                            ng-options="day for day in  Ctrl.Calender.Days">
                        <option value="" selected>Select day</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12">
                <div class="field-group">
                    <select ng-model="Ctrl.caseinfo.TenantResponseInfo.TenantRentalHistory.RentalAgreementDate.Year"
                            class="custom-select" data-placeholder="Year"
                            ng-options="year for year in  Ctrl.Calender.Years">
                        <option value="" selected>Select year</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="field-group filled-info subhead no-top-margin">
        <div class="row" ng-repeat="item in Ctrl.caseinfo.TenantResponseInfo.TenantRentalHistory.Documents | filter: {DocTitle: 'TR_RentalHistoryLease'}">
            <div class="col-sm-6 col-xs-12"><div class="info-title">Lease agreement</div></div>
            <div class="col-sm-6 col-xs-12">{{item.DocName}}</div>
            <button ng-show="item.isUploaded == true" class="btn-link btn-gray" ng-click="Ctrl.Download(item)">Download</button>
        </div>
    </div><!-- .field-group -->
    <div class="field-group">
        <p class="no-bottom-margin">Your lease agreement (Optional)</p>
        <div class="field-addfile">
            <div class="input-file-wrapper">
                <span class="btn-link">Upload</span>
                <input type="file" id="notice_signed_copy" name="notice_signed_copy"
                       ngf-select ngf-change="onFileSelected($files,'TR_RentalHistoryLease')"
                       accept=".doc,.docx,.pdf,.xls,.jpeg,.tiff,.png,.jpg" multiple />
            </div>
        </div>
    </div><!-- .field-group -->

    <div class="field-group">
        <label>When did you move into this unit?</label>
        <div class="row">
            <div class="col-sm-4 col-xs-12">
                <div class="field-group">
                    <select ng-model="Ctrl.caseinfo.TenantResponseInfo.TenantRentalHistory.MoveInDate.Month"
                            class="custom-select" data-placeholder="Month"
                            ng-options="month.id as month.value for month in Ctrl.Calender.Months">
                        <option value="" selected>Select month</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12">
                <div class="field-group">
                    <select ng-model="Ctrl.caseinfo.TenantResponseInfo.TenantRentalHistory.MoveInDate.Day"
                            class="custom-select" data-placeholder="Day"
                            ng-options="day for day in  Ctrl.Calender.Days">
                        <option value="" selected>Select day</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12">
                <div class="field-group">
                    <select ng-model="Ctrl.caseinfo.TenantResponseInfo.TenantRentalHistory.MoveInDate.Year"
                            class="custom-select" data-placeholder="Year"
                            ng-options="year for year in  Ctrl.Calender.Years">
                        <option value="" selected>Select year</option>
                    </select>
                </div>
            </div>
        </div>
    </div>


    <div class="field-group">
        <label for="initial_monthly_rent">Initial monthly rent</label>
        <input type="text" name="initial_monthly_rent" id="initial_monthly_rent" class="field-input"
               ng-model="Ctrl.caseinfo.TenantResponseInfo.TenantRentalHistory.InitialRent" placeholder="" />
    </div>

    <div class="field-group">
        <label>When did the property owner first provide you with the RAP Notice, a written notice of the existence of the Rent Adjustment Program?</label>
        <div class="row">
            <div class="col-sm-4 col-xs-12">
                <div class="field-group">
                    <select ng-model="Ctrl.caseinfo.TenantResponseInfo.TenantRentalHistory.RAPNoticeGivenDate.Month"
                            class="custom-select" data-placeholder="Month"
                            ng-options="month.id as month.value for month in Ctrl.Calender.Months">
                        <option value="" selected>Select month</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12">
                <div class="field-group">
                    <select ng-model="Ctrl.caseinfo.TenantResponseInfo.TenantRentalHistory.RAPNoticeGivenDate.Day"
                            class="custom-select" data-placeholder="Day"
                            ng-options="day for day in  Ctrl.Calender.Days">
                        <option value="" selected>Select day</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12">
                <div class="field-group">
                    <select ng-model="Ctrl.caseinfo.TenantResponseInfo.TenantRentalHistory.RAPNoticeGivenDate.Year"
                            class="custom-select" data-placeholder="Year"
                            ng-options="year for year in  Ctrl.Calender.Years">
                        <option value="" selected>Select year</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="field-group">
        <div class="form-group-checkbox vertical clearfix">
            <label for="never_given_rap_notice">
                <input type="checkbox" name="never_given_rap_notice" id="never_given_rap_notice" class="input-field"
                       ng-model="Ctrl.caseinfo.TenantResponseInfo.TenantRentalHistory.bRAPNoticeGiven" value="True" /><i></i><span>I was never given a RAP NOTICE by my property owner.<a style="cursor: pointer;" ng-click="section_rap_notice=!section_rap_notice" class="icon-info" data-toggle="tooltip" tooltip>Info</a></span>


            </label>
            <div class="info-box-toggle" ng-show="section_rap_notice">
                <a style="cursor: pointer;" class="btn-close"></a>
                <p>Owners must give tenants the "Notice to Tenants of the Residential Rent Adjustment Program," also known as the "RAP Notice."The RAP Notice notifies tenants of the Rent Adjustment Program and their rights as tenants. This notice must be given to tenants when they first move in and with any change of terms of tenancy, including notices of rent increase.  The RAP Notice can be found here [LINK]</p>
            </div>
            <div class="clear"></div>
        </div>
    </div>

    <div class="field-group filled-info subhead no-top-margin">
        <div class="row" ng-repeat="item in Ctrl.caseinfo.TenantResponseInfo.TenantRentalHistory.Documents | filter: {DocTitle: 'TR_RentalHistoryNotice'}">
            <div class="col-sm-6 col-xs-12"><div class="info-title">Copy of RAP notice</div></div>
            <div class="col-sm-6 col-xs-12">{{item.DocName}}</div>
            <button ng-show="item.isUploaded == true" class="btn-link btn-gray" ng-click="Ctrl.Download(item)">Download</button>
        </div>
    </div><!-- .field-group -->
    <div class="field-group">
        <p class="no-bottom-margin">RAP Notice (Optional)</p>
        <div class="field-addfile">
            <div class="input-file-wrapper">
                <span class="btn-link">Upload</span>
                <input type="file" id="proof_of_rent_notice" name="proof_of_rent_notice"
                       ngf-select ngf-change="onFileSelected($files,'TR_RentalHistoryNotice')"
                       accept=".doc,.docx,.pdf,.xls,.jpeg,.tiff,.png,.jpg" multiple />
            </div>
        </div>
    </div><!-- .field-group -->
    <!-- Rent increases -->
    <div class="subhead">
        <h4>Rent increases</h4>
    </div>

    <div class="field-group">
        <div class="row">
            <div class="col-md-11 col-sm-12"><p class="no-bottom-margin">List all rent increases that you want to challenge. Begin with the most recent and work backwards. If you never got the RAP Notice you can contest all past increases.<a style="cursor: pointer;" ng-click="section_increase=!section_increase" class="icon-info" data-toggle="tooltip" tooltip>Info</a></p></div>
			
	
		</div>
		
		<div class="info-box-toggle" ng-show="section_increase">
            <a style="cursor: pointer;" class="btn-close"></a>
                                <p>You have 90 days from the date of notice of increase or from the first date you received written notice of the existence of the Rent Adjustment program (whichever is later) to contest the rent increase. (O.M.C. 8.22.090 A 2)
</p>
                            </div>
    </div>
    <div ng-repeat="item in Ctrl.caseinfo.TenantResponseInfo.TenantRentalHistory.RentIncreases">
        <div ng-if="item.IsDeleted == false">
            <div class="field-group filled-info subhead no-top-margin">
                <div class="row">
                    <div class="col-sm-6 col-xs-12"><div class="info-title">Date you received the notice</div></div>
                    <div class="col-sm-6 col-xs-12">{{item.RentIncreaseNoticeDate.Month}}/{{item.RentIncreaseNoticeDate.Day}}/{{item.RentIncreaseNoticeDate.Year}}</div>                   
                </div>
            </div><!-- .field-group -->

            <div class="field-group filled-info subhead no-top-margin">
                <div class="row">
                    <div class="col-sm-6 col-xs-12"><div class="info-title">Monthly rent increase</div></div>
                    <div class="col-sm-6 col-xs-12">${{item.RentIncreasedTo-item.RentIncreasedFrom}}</div>
                </div>
            </div><!-- .field-group -->

            <div class="field-group filled-info subhead no-top-margin">
                <div class="row">
                    <div class="col-sm-6 col-xs-12"><div class="info-title">Date increase effective</div></div>
                    <div class="col-sm-6 col-xs-12">{{item.RentIncreaseEffectiveDate.Month}}/{{item.RentIncreaseEffectiveDate.Day}}/{{item.RentIncreaseEffectiveDate.Year}}</div>
                </div>
            </div><!-- .field-group -->

            <div class="field-group filled-info subhead no-top-margin">
                <div class="row">
                    <button class="btn-link btn-delete" ng-click="item.IsDeleted = true">Delete</button>
                </div>
            </div><!-- .field-group -->
        </div>
    </div>
    <div class="field-group subhead">
        <p class="input-label">Did you receive a RAP Notice with the notice of rent increase?</p>
        <div class="form-group-radio vertical clearfix">
            <label for="rent_increase_notice_yes">
                <input type="radio" name="rent_increase_notice" id="rent_increase_notice_yes" class="input-field" value="true"
                       ng-model="Ctrl.RentalIncreaseModel.bRentIncreaseNoticeGiven" checked="checked" /><i></i><span>Yes</span>
            </label>

            <label for="rent_increase_notice_no">
                <input type="radio" name="rent_increase_notice" id="rent_increase_notice_no" class="input-field" value="false"
                       ng-model="Ctrl.RentalIncreaseModel.bRentIncreaseNoticeGiven" /><i></i> <span>No</span>
            </label>
            <div class="clear"></div>
        </div>
    </div>


    <div class="field-group">
        <label>Date you received the notice</label>
        <div class="row">
            <div class="col-sm-4 col-xs-12">
                <div class="field-group">
                    <select ng-model="Ctrl.RentalIncreaseModel.RentIncreaseNoticeDate.Month"
                            class="custom-select" data-placeholder="Month"
                            ng-options="month.id as month.value for month in Ctrl.Calender.Months">
                        <option value="" selected>Select month</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12">
                <div class="field-group">
                    <select ng-model="Ctrl.RentalIncreaseModel.RentIncreaseNoticeDate.Day"
                            class="custom-select" data-placeholder="Day"
                            ng-options="day for day in  Ctrl.Calender.Days">
                        <option value="" selected>Select day</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12">
                <div class="field-group">
                    <select ng-model="Ctrl.RentalIncreaseModel.RentIncreaseNoticeDate.Year"
                            class="custom-select" data-placeholder="Year"
                            ng-options="year for year in  Ctrl.Calender.Years">
                        <option value="" selected>Select year</option>
                    </select>
                </div>
            </div>
        </div>
    </div>


    <div class="field-group">
        <label>Monthly rent increase</label>
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <input type="text" name="monthly_rent_increase_from" id="monthly_rent_increase_from" class="field-input"
                       placeholder="From" ng-model="Ctrl.RentalIncreaseModel.RentIncreasedFrom" />
            </div>

            <div class="col-sm-6 col-xs-12">
                <input type="text" name="monthly_rent_increase_to" id="monthly_rent_increase_to" class="field-input"
                       placeholder="To" ng-model="Ctrl.RentalIncreaseModel.RentIncreasedTo" />
            </div>
        </div>
    </div><!-- .field-group -->

    <div class="field-group">
        <label>Date increase goes into effect</label>
        <div class="row">
            <div class="col-sm-4 col-xs-12">
                <div class="field-group">
                    <select ng-model="Ctrl.RentalIncreaseModel.RentIncreaseEffectiveDate.Month"
                            class="custom-select" data-placeholder="Month"
                            ng-options="month.id as month.value for month in Ctrl.Calender.Months">
                        <option value="" selected>Select month</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12">
                <div class="field-group">
                    <select ng-model="Ctrl.RentalIncreaseModel.RentIncreaseEffectiveDate.Day"
                            class="custom-select" data-placeholder="Day"
                            ng-options="day for day in  Ctrl.Calender.Days">
                        <option value="" selected>Select day</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12">
                <div class="field-group">
                    <select ng-model="Ctrl.RentalIncreaseModel.RentIncreaseEffectiveDate.Year"
                            class="custom-select" data-placeholder="Year"
                            ng-options="year for year in  Ctrl.Calender.Years">
                        <option value="" selected>Select year</option>
                    </select>
                </div>
            </div>
        </div>
    </div><!-- .field-group -->


    <div class="field-group">
        <a style="cursor: pointer;" ng-click="Ctrl.AddAnotherRentIncrease(Ctrl.RentalIncreaseModel)" class="btn-link">Add another rent increase</a>
    </div><!-- .field-group -->

</div>


<div class="step-footer">
    <input role="button" aria-label="Save and continue" type="button" id="save" name="save" class="btn-primary" value="Save and continue" ng-click="Ctrl.ContinueToReview()" />
</div>
