


                            <div class="step-heading">Review</div>

                            <div class="step-content step1">
                                    <div class="field-group filled-info subhead no-top-margin hidden-sm">
                                        <div class="row">
                                            <div class="col-sm-6 col-xs-12"><div class="info-title">Petition type</div></div>
                                            <div class="col-sm-6 col-xs-12">Tenant</div>
                                        </div>
                                    </div><!-- .field-group -->

                                    <div class="subhead type2">
                                        <h4>Applicant and property information</h4>
                                        <a ng-click="Ctrl.EditApplicantInfo()" class="btn-link btn-edit">Edit</a>
                                    </div>

                                    <div class="field-group filled-info subhead">
                                        <div class="row">
                                            <div class="col-sm-6 col-xs-12"><div class="info-title">Case number</div></div>
                                            <div class="col-sm-6 col-xs-12">{{Ctrl.caseinfo.CaseID}}</div>
                                        </div>
                                    </div><!-- .field-group -->

                                    <div class="field-group filled-info subhead  no-top-margin">
                                        <div class="row">
                                            <div class="col-sm-6 col-xs-12"><div class="info-title">Applicant Info</div></div>
                                            <div class="col-sm-6 col-xs-12">
                                                {{Ctrl.caseinfo.TenantResponseInfo.ApplicantUserInfo.FirstName}} {{Ctrl.caseinfo.TenantResponseInfo.ApplicantUserInfo.LastName}}   <br />{{Ctrl.caseinfo.TenantResponseInfo.ApplicantUserInfo.AddressLine1}} {{Ctrl.caseinfo.TenantResponseInfo.ApplicantUserInfo.AddressLine2}}, <br />{{Ctrl.caseinfo.TenantResponseInfo.ApplicantUserInfo.City}}, {{Ctrl.caseinfo.TenantResponseInfo.ApplicantUserInfo.State.StateCode}} {{Ctrl.caseinfo.TenantResponseInfo.ApplicantUserInfo.Zip}}   <br />
                                                T {{Ctrl.caseinfo.TenantResponseInfo.ApplicantUserInfo.PhoneNumber}}  <br />{{Ctrl.caseinfo.TenantResponseInfo.ApplicantUserInfo.Email}} 
                                            </div>
                                        </div>
                                    </div><!-- .field-group -->

                                    <div class="field-group filled-info subhead">
                                        <div class="row">
                                            <div class="col-sm-6 col-xs-12"><div class="info-title">Representative</div></div>
                                            <div class="col-sm-6 col-xs-12">
                                                Bob Johnson   <br />1401 Jackson Street, <br />Oakland, CA 94612   <br />
                                                T (510) 453-5462  <br />bobjohnson@gmail.com 
                                            </div>
                                        </div>
                                    </div><!-- .field-group -->

                                    <div class="field-group filled-info subhead">
                                        <div class="row">
                                            <div class="col-sm-6 col-xs-12"><div class="info-title">Property owner</div></div>
                                            <div class="col-sm-6 col-xs-12">
                                               {{Ctrl.caseinfo.TenantResponseInfo.OwnerInfo.FirstName}} {{Ctrl.caseinfo.TenantResponseInfo.OwnerInfo.LastName}}   <br />{{Ctrl.caseinfo.TenantResponseInfo.OwnerInfo.AddressLine1}} {{Ctrl.caseinfo.TenantResponseInfo.OwnerInfo.AddressLine2}}, <br />{{Ctrl.caseinfo.TenantResponseInfo.OwnerInfo.City}}, {{Ctrl.caseinfo.TenantResponseInfo.OwnerInfo.State.StateCode}} {{Ctrl.caseinfo.TenantResponseInfo.OwnerInfo.Zip}}   <br />
                                                T {{Ctrl.caseinfo.TenantResponseInfo.OwnerInfo.PhoneNumber}}  <br />{{Ctrl.caseinfo.TenantResponseInfo.OwnerInfo.Email}} 
                                            </div>
                                        </div>
                                    </div><!-- .field-group -->

                                    <div class="field-group filled-info subhead">
                                        <div class="row">
                                            <div class="col-sm-6 col-xs-12"><div class="info-title">Property manager</div></div>
                                            <div class="col-sm-6 col-xs-12">
                                                {{Ctrl.caseinfo.TenantResponseInfo.PropertyManager.FirstName}} {{Ctrl.caseinfo.TenantResponseInfo.PropertyManager.LastName}}   <br />{{Ctrl.caseinfo.TenantResponseInfo.PropertyManager.AddressLine1}} {{Ctrl.caseinfo.TenantResponseInfo.PropertyManager.AddressLine2}}, <br />{{Ctrl.caseinfo.TenantResponseInfo.PropertyManager.City}}, {{Ctrl.caseinfo.TenantResponseInfo.PropertyManager.State.StateCode}} {{Ctrl.caseinfo.TenantResponseInfo.PropertyManager.Zip}}   <br />
                                                T {{Ctrl.caseinfo.TenantResponseInfo.PropertyManager.PhoneNumber}}  <br />{{Ctrl.caseinfo.TenantResponseInfo.PropertyManager.Email}} 
                                            </div>
                                        </div>
                                    </div><!-- .field-group -->

                                    <div class="field-group filled-info subhead">
                                        <div class="row">
                                            <div class="col-sm-6 col-xs-12"><div class="info-title">Number of units</div></div>
                                            <div class="col-sm-6 col-xs-12">{{Ctrl.caseinfo.TenantResponseInfo.NumberOfUnits}}</div>
                                        </div>
                                    </div><!-- .field-group -->

                                    <div class="field-group filled-info subhead no-top-margin">
                                        <div class="row">
                                            <div class="col-sm-6 col-xs-12"><div class="info-title">Type of unit you rent</div></div>
                                            <div class="col-sm-6 col-xs-12">{{Ctrl.caseinfo.TenantResponseInfo.UnitTypes[Ctrl.caseinfo.TenantResponseInfo.UnitTypeId].UnitDescription}}</div>
                                        </div>
                                    </div><!-- .field-group -->

                                    <div class="field-group filled-info subhead no-top-margin">
                                        <div class="row">
                                            <div class="col-sm-6 col-xs-12"><div class="info-title">Are you current on your rent?</div></div>
                                            <div class="col-sm-6 col-xs-12" ng-show="Ctrl.caseinfo.TenantResponseInfo.bCurrentRentStatus">Yes</div>
                                            <div class="col-sm-6 col-xs-12" ng-show="!Ctrl.caseinfo.TenantResponseInfo.bCurrentRentStatus">No</div>
                                        </div>
                                    </div><!-- .field-group -->

                                    <div class="field-group filled-info subhead no-top-margin">
                                        <div class="row">
                                            <div class="col-sm-6 col-xs-12"><div class="info-title">Have you paid your business license</div></div>
                                            <div class="col-sm-6 col-xs-12">Yes</div>
                                        </div>
                                    </div><!-- .field-group -->

                                    <div class="field-group filled-info subhead no-top-margin">
                                        <div class="row">
                                            <div class="col-sm-6 col-xs-12"><div class="info-title">Business license number</div></div>
                                            <div class="col-sm-6 col-xs-12">45345670754</div>
                                        </div>
                                    </div><!-- .field-group -->

                                    <div class="field-group filled-info subhead no-top-margin">
                                        <div class="row">
                                            <div class="col-sm-6 col-xs-12"><div class="info-title">Proof of payment</div></div>
                                            <div class="col-sm-6 col-xs-12">Business_license.pdf</div>
                                        </div>
                                    </div><!-- .field-group -->

                                    <div class="field-group filled-info subhead no-top-margin">
                                        <div class="row">
                                            <div class="col-sm-6 col-xs-12"><div class="info-title">Have you paid the Rent Adjustment Program service fee ($69 per unit)?</div></div>
                                            <div class="col-sm-6 col-xs-12">Yes</div>
                                        </div>
                                    </div><!-- .field-group -->

                                    <div class="field-group filled-info subhead no-top-margin">
                                        <div class="row">
                                            <div class="col-sm-6 col-xs-12"><div class="info-title">Date of which you aquired the building</div></div>
                                            <div class="col-sm-6 col-xs-12">01/09/16</div>
                                        </div>
                                    </div><!-- .field-group -->

                                    <div class="field-group filled-info subhead no-top-margin">
                                        <div class="row">
                                            <div class="col-sm-6 col-xs-12"><div class="info-title">Total number of units</div></div>
                                            <div class="col-sm-6 col-xs-12">1-10</div>
                                        </div>
                                    </div><!-- .field-group -->

                                    <div class="field-group filled-info subhead no-top-margin">
                                        <div class="row">
                                            <div class="col-sm-6 col-xs-12"><div class="info-title">Is there more than one street address on the parcel</div></div>
                                            <div class="col-sm-6 col-xs-12">Yes</div>
                                        </div>
                                    </div><!-- .field-group -->
                                    <!-- Exemption contested -->
                                    <div class="subhead type2">
                                        <h4>Exemption contested</h4>
                                        <a ng-click="Ctrl.EditExemptContested()" class="btn-link btn-edit">Edit</a>
                                    </div>
                                    <div class="field-group filled-info subhead no-top-margin">
                                        <div class="info-title full-width">Explain below why you believe your landlord’s claim that your unit is exempt is incorrect.</div>
                                        <div class="row">
                                            <div class="col-sm-9 col-xs-12">{{Ctrl.caseinfo.TenantResponseInfo.ExemptContestedInfo.Explaination}}</div>
                                        </div>
                                    </div><!-- .field-group -->
                                    <!-- Rent increases -->
                                    <div class="subhead type2">
                                        <h4>Rent increases</h4>
                                        <a ng-click="Ctrl.EditRentalHistoryInfo()" class="btn-link btn-edit">Edit</a>
                                    </div>

                                    <div class="field-group filled-info subhead">
                                        <div class="row">
                                            <div class="col-sm-6 col-xs-12"><div class="info-title">Date you entered into the Rental Agreement for this unit</div></div>
                                            <div class="col-sm-6 col-xs-12">{{Ctrl.caseinfo.TenantResponseInfo.TenantRentalHistory.RentalAgreementDate.Month}}/{{Ctrl.caseinfo.TenantResponseInfo.TenantRentalHistory.RentalAgreementDate.Day}}/{{Ctrl.caseinfo.TenantResponseInfo.TenantRentalHistory.RentalAgreementDate.Year}}</div>
                                        </div>
                                    </div><!-- .field-group -->

                                    <div class="field-group filled-info subhead no-top-margin">
                                        <div class="row" ng-repeat="item in Ctrl.caseinfo.TenantResponseInfo.TenantRentalHistory.Documents | filter: {DocTitle: 'TR_RentalHistoryLease'}">
                                            <div class="col-sm-6 col-xs-12"><div class="info-title">Lease agreement</div></div>
                                            <div class="col-sm-6 col-xs-12">{{item.DocName}}</div>
                                            <button ng-show="item.isUploaded == true" class="btn-link btn-edit" ng-click="Ctrl.Download(item)">Download</button>
                                        </div>
                                    </div><!-- .field-group -->

                                    <div class="field-group filled-info subhead no-top-margin">
                                        <div class="row">
                                            <div class="col-sm-6 col-xs-12"><div class="info-title">When did you move into the unit?</div></div>
                                            <div class="col-sm-6 col-xs-12">{{Ctrl.caseinfo.TenantResponseInfo.TenantRentalHistory.MoveInDate.Month}}/{{Ctrl.caseinfo.TenantResponseInfo.TenantRentalHistory.MoveInDate.Day}}/{{Ctrl.caseinfo.TenantResponseInfo.TenantRentalHistory.MoveInDate.Year}}</div>
                                        </div>
                                    </div><!-- .field-group -->

                                    <div class="field-group filled-info subhead no-top-margin">
                                        <div class="row">
                                            <div class="col-sm-6 col-xs-12"><div class="info-title">Initial monthly rent</div></div>
                                            <div class="col-sm-6 col-xs-12">${{Ctrl.caseinfo.TenantResponseInfo.TenantRentalHistory.InitialRent}}</div>
                                        </div>
                                    </div><!-- .field-group -->

                                    <div class="field-group filled-info subhead no-top-margin">
                                        <div class="row">
                                            <div class="col-sm-6 col-xs-12"><div class="info-title">When did the property owner first provide you with a written NOTICE TO TENANTS of the  existence of the Rent Adjustment Program (RAP NOTICE)?</div></div>
                                            <div class="col-sm-6 col-xs-12">{{Ctrl.caseinfo.TenantResponseInfo.TenantRentalHistory.RAPNoticeGivenDate.Month}}/{{Ctrl.caseinfo.TenantResponseInfo.TenantRentalHistory.RAPNoticeGivenDate.Day}}/{{Ctrl.caseinfo.TenantResponseInfo.TenantRentalHistory.RAPNoticeGivenDate.Year}}</div>
                                        </div>
                                    </div><!-- .field-group -->

                                    <div class="field-group filled-info subhead no-top-margin">
                                        <div class="row">
                                            <div class="col-sm-6 col-xs-12"><div class="info-title">I was never given a RAP NOTICE by my property owner.</div></div>
                                            <div class="col-sm-6 col-xs-12">{{Ctrl.caseinfo.TenantResponseInfo.TenantRentalHistory.bRAPNoticeGiven}}</div>
                                        </div>
                                    </div><!-- .field-group -->

                                    <div class="field-group filled-info subhead no-top-margin">
                                        <div class="row" ng-repeat="item in Ctrl.caseinfo.TenantResponseInfo.TenantRentalHistory.Documents | filter: {DocTitle: 'TR_RentalHistoryNotice'}">
                                            <div class="col-sm-6 col-xs-12"><div class="info-title">Copy of RAP notice</div></div>
                                            <div class="col-sm-6 col-xs-12">{{item.DocName}}</div>
                                            <button ng-show="item.isUploaded == true" class="btn-link btn-edit" ng-click="Ctrl.Download(item)">Download</button>
                                        </div>
                                    </div><!-- .field-group -->

                                <div ng-repeat="item in Ctrl.caseinfo.TenantResponseInfo.TenantRentalHistory.RentIncreases">
                                    <div class="field-group filled-info subhead no-top-margin">
                                        <div class="row">
                                            <div class="col-sm-6 col-xs-12"><div class="info-title">Date notice served</div></div>
                                            <div class="col-sm-6 col-xs-12">{{item.RentIncreaseNoticeDate.Month}}/{{item.RentIncreaseNoticeDate.Day}}/{{item.RentIncreaseNoticeDate.Year}}</div>
                                        </div>
                                    </div><!-- .field-group -->

                                    <div class="field-group filled-info subhead no-top-margin">
                                        <div class="row">
                                            <div class="col-sm-6 col-xs-12"><div class="info-title">Monthly rent increase</div></div>
                                            <div class="col-sm-6 col-xs-12">${{item.RentIncreasedTo-item.RentIncreasedFrom}}</div>
                                        </div>
                                    </div><!-- .field-group -->

                                    <div class="field-group filled-info subhead no-top-margin">
                                        <div class="row">
                                            <div class="col-sm-6 col-xs-12"><div class="info-title">Date increase effective</div></div>
                                            <div class="col-sm-6 col-xs-12">{{item.RentIncreaseEffectiveDate.Month}}/{{item.RentIncreaseEffectiveDate.Day}}/{{item.RentIncreaseEffectiveDate.Year}}</div>
                                        </div>
                                    </div><!-- .field-group -->
                                </div>

                                    <!-- Additional Documentation -->
                                    <div class="subhead type2">
                                        <h4>Additional Documentation</h4>
                                        <a ng-click="Ctrl.EditDocumentsInfo()" class="btn-link btn-edit">Edit</a>
                                    </div>

                                    <div class="field-group">
                                        <!-- Custom Table -->
                                        <div class="custom-table docs-list">
                                            <div class="tbl-header">
                                                <div class="tbl-row clearfix">
                                                    <div class="col col-35 name">File name</div>
                                                    <div class="col col-35 type">File type</div>
                                                </div>
                                            </div>

                                            <div class="tbl-body">
                                                <div class="tbl-row clearfix" ng-repeat="item in Ctrl.caseinfo.Documents | filter: {DocTitle: 'TR_AdditionalDocuments'}">
                                                    <div class="item item-toggle expanded">
                                                        <div class="item-header clearfix">
                                                            <div class="col col-35 name pad-l30"><a ng-click="Ctrl.Download(item)" class="btn-toggle"></a> {{item.DocName}}</div>
                                                            <!--<div class="col col-35 type">Excel</div>-->
                                                        </div>

                                                        <div class="item-content clearfix">
                                                            <div class="row">
                                                                <div class="col-md-10 col-sm-12">
                                                                    <p>{{item.DocDescription}}</p>
                                                                    <button ng-show="item.isUploaded == true" class="btn-link btn-edit" ng-click="Ctrl.Download(item)">Download</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>                                               
                                            </div>
                                        </div>
                                        <!-- .custom-table -->
                                    </div><!-- .field-group -->


                                </div>


                                <div class="step-footer">
                                    <input type="button" id="save" name="save" class="btn-primary" value="Save and continue" ng-click="Ctrl.ContinueToVerification()" />
                                </div>
                            