<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="panel panel-danger font-small">
            <div class="panel-heading">
                <strong>User</strong>
            </div>
            <div class="panel-body">
                <p>Create Account.</p>
                <!--<button id="btnRegister" class="btn btn-default btn-xs" ng-click="Ctrl.openAddPopup()"><i class="glyphicon glyphicon-edit"></i>&nbsp;Edit</button>-->            
                <button ng-click="Ctrl.Register()">Register user</button>
            </div>
        </div>
    </div>
</div>