

<div class="col-md-9 col-sm-12">
    <div class="application-step step-1">
        <h3 class="step-heading">Owner Petition for Approval of Rent Increase: <span>Important Information</span></h3>

        <form name="frmTenentPetition" id="frmTenentPetition" action="#" method="post" class="application-form">
            <div class="step-content step1">

                <div class="field-group subhead no-top-margin">
                    <div class="information">
                        <p>Your renter(s) will be required to file a reason to this petition within 35 days of notification by Rent Adjustment Program.</p>
                       
                    </div>
                </div>

                <div class="subhead type2">
                    <h4>Saving Information</h4>
                </div>
                <div class="field-group">
                    <div class="error-msg">Please note that you can save information you are entering and uploading at the bottom of every screen by clicking on the “Save” button.</div>
                </div>

            </div>


            <div class="step-footer">
                <input type="button" id="continue" name="continue" class="btn-primary" ng-click="Ctrl.Continue()" value="Save and Continue" />
            </div>
        </form>
    </div>
</div>
