<script src='js/functions.js'></script>
<div class="col-md-9 col-sm-12">
    <div class="application-form-wrapper">
        <div class="application-step step-1">
            <div class="step-heading">Justification for Rent Increase</div>
            <form name="frmOwnerPetition" id="frmOwnerPetition" action="#" method="post" class="application-form" onsubmit="return false;">
                <div class="step-content step1">
                    <div class="subhead no-top-margin"></div>

                    <div class="field-group subhead no-top-margin pad-t15">
                        <div class="form-group-checkbox vertical clearfix">
                            <p class="input-label">Check all that apply. <b>I (we) petition for approval of one or more rent increases on the following grounds that the increase(es) is/are justified by :</b></p>
                            <div class="checkbox-wrapper">
                                <div ng-repeat="reason in Ctrl.caseinfo.OwnerPetitionInfo.RentIncreaseReasons">
                                    <label for="{{reason.ReasonID}}">
                                        <input type="checkbox" name="rentcheckbox" class="checkbox" id="{{reason.ReasonID}}" ng-model="reason.IsSelected">
                                        <i></i><span>{{reason.ReasonDescription}}</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field-group mar-bottom-40">
                        <p>For each justification checked, you must submit organized documents demonstrating your entitlement to the increase. Please see the “Justifications” section in the attached Owner’s Guide for details on the type of documentation required.</p>
                        <p><strong>Your supporting documents do not need to be attached here. They can be sent to the RAP office no later than seven (7) days before the first scheduled Hearing date.</strong></p>
                    </div>
                    <div class="field-group">
                        <!-- Custom Table -->
                        <div class="custom-table docs-list" ng-repeat="item in Ctrl.caseinfo.Documents | filter: {DocTitle: 'OP_Justification'}">
                            <div class="tbl-header">
                                <div class="tbl-row clearfix">
                                    <div class="col col-35 name">File name</div>
                                    <div class="col col-35 type">&nbsp;</div>
                                </div>
                            </div>

                            <div class="tbl-body">
                                <div class="tbl-row clearfix">
                                    <div class="item" ng-class="{'expanded':toggle}">
                                        <div class="item-header clearfix">
                                            <div class="col col-35 name pad-l30">
                                                <a ng-click="toggle = !toggle" class="btn-toggle"></a>{{item.DocName}}
                                                <div class="col col-5 pad-r0 download" ng-show="item.isUploaded == true"> &nbsp;<a ng-click="Ctrl.Download(item)" class="btn-download">Download</a></div>
                                                <div class="col col-35 type" ng-show="item.isUploaded == false">  &nbsp;<a ng-click="Ctrl.Delete(item)" class="btn-link btn-delete">Delete</a></div>
                                            </div>

                                            <div class="col col-35 type">&nbsp;</div>
                                            <!--<a href="#" class="btn-link btn-delete">Delete</a>-->
                                        </div>

                                        <div class="item-content" ng-show="toggle">
                                            <div class="row">
                                                <div class="col-md-8 col-sm-12">
                                                    <p>{{item.DocDescription}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- .custom-table -->
                    </div>
                    <div class="field-group subhead pad-t15">
                        <p><label for="attached_document_description">Description of the document that you are attaching</label></p>
                        <textarea name="attached_document_description" id="attached_document_description" class="field-input textarea" rows="8" ng-model="Ctrl.DocDescription"></textarea>
                    </div>

                    <div class="field-group">
                        <p class="input-label fs-14">You are permitted to upload the following file types: PDF, Word, Excel, JPEG, TIFF and PNG. The maximum file size limit for uploads is 25MB</p>
                        <div class="field-addfile">
                            <div class="input-file-wrapper">
                                <span class="btn-link">Attach Document</span>
                                <input type="file" id="attach_buiness_tax_proof" name="attach_buiness_tax_proof" ngf-select ngf-change="onFileSelected($files,'OP_Justification')" accept=".doc,.docx,.pdf,.xls,.jpeg,.tiff,.png" multiple />
                            </div>
                            <!--<div class="field-group">
                        <table class="table table-condensed nopadding-bottom">
                            <tbody>
                                <tr ng-repeat="item in Ctrl.caseinfo.Documents | filter: {DocTitle: 'OP_Justification'}">
                                    <td class="nopadding-left">
                                        {{item.DocName}}
                                    </td>
                                    <td>
                                        &nbsp;
                                        <input type="button" ng-show="item.isUploaded == true" id="download" name="Download" class="btn-link btn-edit" value="Download" ng-click="Ctrl.Download(item)" />
                                        <input type="button" ng-show="item.isUploaded == false" id="delete" name="delete" class="btn-link btn-edit" value="Delete" ng-click="Ctrl.Delete(item)" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>-->
                        </div>
                    </div><!-- .field-group -->
                </div>

                <div class="step-footer">
                    <input type="button" id="save" name="save" class="btn-primary" value="Save and Continue" ng-click="Ctrl.Continue()" />
                </div>
            </form>

        </div>
    </div>
</div>

