<script src='js/functions.js'></script>
<div class="col-md-9 col-sm-12">
    <div class="application-form-wrapper">
        <div class="application-step step-1">
            <div class="alert alert-error" ng-show="Hide==true">
            </div>
            <div class="alert alert-error" ng-show="Ctrl.Error!=''">
                <strong><a href="javascript:void();">{{Ctrl.Error}}</a></strong>
            </div>
            <div class="step-heading">Justification for Rent Increase</div>
            <form name="frmOwnerPetition" id="frmOwnerPetition" novalidate class="application-form" onsubmit="return false;">
                <div class="step-content step1">
                    <div class="field-group subhead no-top-margin pad-t15">
                        <div class="form-group-checkbox vertical clearfix">
                            <p class="input-label">Check all that apply. <b>I (we) petition for approval of one or more rent increases on the following grounds that the increase(es) is/are justified by :</b></p>
                            <div class="checkbox-wrapper has-info-btn no-bottom-margin">
                                <div ng-repeat="reason in Ctrl.caseinfo.OwnerPetitionInfo.RentIncreaseReasons">
                                    <label for="{{reason.ReasonID}}">
                                        <input type="checkbox" name="rentcheckbox" class="checkbox" id="{{reason.ReasonID}}" ng-model="reason.IsSelected">
                                        <i></i><span>{{reason.ReasonDescription}}</span><a style="cursor: pointer;" role="button" arai-label="Info" ng-click="reasonToggle=!reasonToggle" class="icon-info" data-toggle="tooltip" tooltip>Info</a>
                                    </label>
                                    <div class="info-box-toggle" ng-show="reasonToggle">
                                        <a style="cursor: pointer;" ng-click="reasonToggle=!reasonToggle" class="btn-close"></a>
                                        <p>{{reason.ToolTip}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field-group mar-bottom-40">
                        <p>Please submit documents that show a justification for each increase checked above. Please see the <a href="">“Rent Increase”</a></p>
                        <p>While the City prefers supporting documents to be uploaded online, supporting documents can be submitted to the RAP office in person. Documents are due to the RAP office no later than seven (7) days before the first scheduled Hearing date.</p>
                    </div>
                    <div class="field-group">
                        <!-- Custom Table -->
                        <div class="custom-table docs-list" ng-show="FilteredDocs.length != 0">
                            <div class="tbl-header">
                                <div class="tbl-row clearfix">
                                    <div class="col col-35 name">File name</div>
                                    <div class="col col-35 type">&nbsp;</div>
                                </div>
                            </div>

                            <div class="tbl-body" ng-repeat="item in Ctrl.caseinfo.Documents | filter: {DocTitle: 'OP_Justification'} as FilteredDocs">
                                <div class="tbl-row clearfix">
                                    <div class="item" ng-class="{'expanded':toggle}">
                                        <div class="item-header clearfix">
                                            <div class="col col-35 name pad-l30">
                                                <a style="cursor: pointer;" ng-click="toggle = !toggle" class="btn-toggle"></a>{{item.DocName}}
                                            </div>
                                            <a style="cursor: pointer;" ng-show="item.isUploaded == false" ng-click="Ctrl.Delete(item)" class="btn-link btn-delete">Delete</a>
                                            <a style="cursor: pointer;" ng-show="item.isUploaded == true" ng-click="Ctrl.Download(item)" class="btn-link btn-download">Download</a>
                                        </div>

                                        <!--<a href="#" class="btn-link btn-delete">Delete</a>-->
                                    </div>

                                    <div class="item-content" ng-show="toggle">
                                        <div class="row">
                                            <div class="col-md-8 col-sm-12">
                                                <p>{{item.DocDescription}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- .custom-table -->

                    <div class="field-group subhead pad-t15">
                        <p><label for="attached_document_description">Describe the document that you are attaching</label></p>
                        <textarea name="attached_document_description" id="attached_document_description" class="field-input textarea" rows="8" ng-model="Ctrl.DocDescription"></textarea>
                    </div>

                    <div class="field-group">
                        <p class="input-label fs-14">You are permitted to upload the following file types: PDF, Word, Excel, JPEG, TIFF and PNG. The maximum file size limit for uploads is 25MB</p>
                        <div class="field-addfile">
                            <div class="input-file-wrapper">
                                <span role="button" aria-label="Attach Document" class="btn-link">Attach Document</span>
                                <input type="file" id="attach_buiness_tax_proof" name="attach_buiness_tax_proof" ngf-select ngf-change="onFileSelected($files,'OP_Justification')" accept=".doc,.docx,.pdf,.xls,.jpeg,.tiff,.png,.jpg,.jpeg" multiple />
                            </div>
                            <!--<div class="field-group">
                                <table class="table table-condensed nopadding-bottom">
                                    <tbody>
                                        <tr ng-repeat="item in Ctrl.caseinfo.Documents | filter: {DocTitle: 'OP_Justification'}">
                                            <td class="nopadding-left">
                                                {{item.DocName}}
                                            </td>
                                            <td>
                                                &nbsp;
                                                <input type="button" ng-show="item.isUploaded == true" id="download" name="Download" class="btn-link btn-edit" value="Download" ng-click="Ctrl.Download(item)" />
                                                <input type="button" ng-show="item.isUploaded == false" id="delete" name="delete" class="btn-link btn-edit" value="Delete" ng-click="Ctrl.Delete(item)" />
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>-->
                        </div>
                    </div><!-- .field-group -->
                </div>


                <div class="step-footer">
                    <input type="submit" role="button" aria-label="Save and continue" id="save" name="save" class="btn-primary"
                           value="Save and continue" ng-click="Ctrl.Continue()" />
                </div>
            </form>

        </div>
    </div>
    <script src='js/functions.js'></script>
</div>

