<div class="application-form-wrapper">
    <div class="row">
        <div class="col-md-3 col-sm-12">
            <?php include('sidebar-owner-petition.html'); ?>
        </div>

        <div class="col-md-9 col-sm-12">
            <div class="application-step step-1">
                <h3 class="step-heading">Owner Petition for Approval of Rent Increase: <span>Rental History</span></h3>

                <form name="frmOwnerResponse" id="frmOwnerResponse" action="#" method="post" class="application-form">
                    <div class="step-content step1">
                        <div class="field-group subhead no-top-margin">
                            <label>The tenant moved into the rental unit on</label>
                            <div class="row">
                                <div class="col-sm-4 col-xs-12">
                                    <label for="moved_month" class="hidden"></label>
                                    <select name="moved_month" id="moved_month" class="custom-select" data-placeholder="Month">
                                        <option value="1">January</option>
                                        <option value="2">February</option>
                                        <option value="3">March</option>
                                        <option value="4">April</option>
                                        <option value="5">May</option>
                                        <option value="6">June</option>
                                        <option value="7">July</option>
                                        <option value="8">August</option>
                                        <option value="9">September</option>
                                        <option value="10">October</option>
                                        <option value="11">November</option>
                                        <option value="12">December</option>
                                    </select>
                                </div>

                                <div class="col-sm-4 col-xs-12">
                                    <label for="moved_day" class="hidden"></label>
                                    <select name="moved_day" id="moved_day" class="custom-select" data-placeholder="Day">
                                        <option value="01">01</option>
                                        <option value="02">02</option>
                                        <option value="03">03</option>
                                        <option value="04">04</option>
                                        <option value="05">05</option>
                                        <option value="06">06</option>
                                        <option value="07">07</option>
                                        <option value="08">08</option>
                                        <option value="09">09</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                        <option value="15">15</option>
                                        <option value="16">16</option>
                                        <option value="17">17</option>
                                        <option value="18">18</option>
                                        <option value="19">19</option>
                                        <option value="20">20</option>
                                        <option value="21">21</option>
                                        <option value="22">22</option>
                                        <option value="23">23</option>
                                        <option value="24">24</option>
                                        <option value="25">25</option>
                                        <option value="26">26</option>
                                        <option value="27">27</option>
                                        <option value="28">28</option>
                                        <option value="29">29</option>
                                        <option value="30">30</option>
                                        <option value="31">31</option>
                                    </select>
                                </div>

                                <div class="col-sm-4 col-xs-12">
                                    <label for="moved_year" class="hidden"></label>
                                    <select name="moved_year" id="moved_year" class="custom-select" data-placeholder="Year">
                                        <option value="2016">2016</option>
                                        <option value="2017">2017</option>
                                        <option value="2018">2018</option>
                                        <option value="2019">2019</option>
                                        <option value="2020">2020</option>
                                        <option value="2021">2021</option>
                                        <option value="2022">2022</option>
                                        <option value="2023">2023</option>
                                        <option value="2024">2024</option>
                                        <option value="2025">2025</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="field-group">
                            <label for="initial_monthly_rent">The tenant’s initial monthly rent including all services provided was</label>
                            <input type="text" name="initial_monthly_rent" id="initial_monthly_rent" class="field-input" placeholder="Enter dollar amount" />
                        </div>

                        <div class="field-group">
                            <p class="input-label">Have you (or a previous Owner) given the City of Oakland’s form entitled NOTICE TO TENANTS OF RESIDENTIAL RENT ADJUSTMENT PROGRAM (“RAP Notice”) to all of the petitioning tenants?</p>
                            <div class="form-group-radio vertical clearfix">
                                <label for="rap_notice_yes">
                                    <input type="radio" name="rap_notice" id="rap_notice_yes" class="input-field" value="Yes" checked="checked" /><i></i><span>Yes</span>
                                </label>

                                <label for="rap_notice_no">
                                    <input type="radio" name="rap_notice" id="rap_notice_no" class="input-field" value="No" /><i></i> <span>No</span>
                                </label>
                                <label for="rap_notice_donot_know">
                                    <input type="radio" name="rap_notice" id="rap_notice_donot_know" class="input-field" value="No" /><i></i> <span> I don’t know</span>
                                </label>
                                <div class="clear"></div>
                            </div>
                        </div>

                        <div class="field-group">
                            <p class="input-label">On what date was the Notice first given?</p>
                            <div class="row">
                                <div class="col-sm-4 col-xs-12">
                                    <label for="notice_given_month" class="hidden"></label>
                                    <select name="notice_given_month" id="notice_given_month" class="custom-select" data-placeholder="Month">
                                        <option value="1">January</option>
                                        <option value="2">February</option>
                                        <option value="3">March</option>
                                        <option value="4">April</option>
                                        <option value="5">May</option>
                                        <option value="6">June</option>
                                        <option value="7">July</option>
                                        <option value="8">August</option>
                                        <option value="9">September</option>
                                        <option value="10">October</option>
                                        <option value="11">November</option>
                                        <option value="12">December</option>
                                    </select>
                                </div>

                                <div class="col-sm-4 col-xs-12">
                                    <label for="notice_given_day" class="hidden"></label>
                                    <select name="notice_given_day" id="notice_given_day" class="custom-select" data-placeholder="Day">
                                        <option value="01">01</option>
                                        <option value="02">02</option>
                                        <option value="03">03</option>
                                        <option value="04">04</option>
                                        <option value="05">05</option>
                                        <option value="06">06</option>
                                        <option value="07">07</option>
                                        <option value="08">08</option>
                                        <option value="09">09</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                        <option value="15">15</option>
                                        <option value="16">16</option>
                                        <option value="17">17</option>
                                        <option value="18">18</option>
                                        <option value="19">19</option>
                                        <option value="20">20</option>
                                        <option value="21">21</option>
                                        <option value="22">22</option>
                                        <option value="23">23</option>
                                        <option value="24">24</option>
                                        <option value="25">25</option>
                                        <option value="26">26</option>
                                        <option value="27">27</option>
                                        <option value="28">28</option>
                                        <option value="29">29</option>
                                        <option value="30">30</option>
                                        <option value="31">31</option>
                                    </select>
                                </div>

                                <div class="col-sm-4 col-xs-12">
                                    <label for="notice_given_year" class="hidden"></label>
                                    <select name="notice_given_year" id="notice_given_year" class="custom-select" data-placeholder="Year">
                                        <option value="2016">2016</option>
                                        <option value="2017">2017</option>
                                        <option value="2018">2018</option>
                                        <option value="2019">2019</option>
                                        <option value="2020">2020</option>
                                        <option value="2021">2021</option>
                                        <option value="2022">2022</option>
                                        <option value="2023">2023</option>
                                        <option value="2024">2024</option>
                                        <option value="2025">2025</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="field-group">
                            <div class="field-addfile">
                                <div class="input-file-wrapper">
                                    <span class="btn-link">Upload signed copy of notice</span>
                                    <input type="file" id="notice_signed_copy" name="notice_signed_copy" />
                                </div>
                            </div>
                        </div><!-- .field-group -->

                        <div class="field-group">
                            <p class="input-label">Is the tenant current on the rent?</p>
                            <div class="form-group-radio vertical clearfix">
                                <label for="current_rent_yes">
                                    <input type="radio" name="current_rent" id="current_rent_yes" class="input-field" value="Yes" checked="checked" /><i></i><span>Yes</span>
                                </label>

                                <label for="current_rent_no">
                                    <input type="radio" name="current_rent" id="current_rent_no" class="input-field" value="No" /><i></i> <span>No</span>
                                </label>
                                <div class="clear"></div>
                            </div>
                        </div>

                        <div class="field-group">
                            <div class="field-addfile">
                                <div class="input-file-wrapper">
                                    <span class="btn-link">Upload proof</span>
                                    <input type="file" id="proof_of_rent" name="proof_of_rent" />
                                </div>
                            </div>
                        </div><!-- .field-group -->


                        <div class="subhead type2 no-bottom-margin">
                            <h4>Rent increases</h4><br />
                            Begin with the most recent rent increase and work backwards.
                        </div>

                        <div class="field-group subhead no-top-margin pad-t15">
                            <p class="input-label">Did you provide rent program notice with the notice of rent increase?</p>
                            <div class="form-group-radio vertical clearfix">
                                <label for="rent_program_notice_yes">
                                    <input type="radio" name="rent_program_notice" id="rent_program_notice_yes" class="input-field" value="Yes" checked="checked" /><i></i><span>Yes</span>
                                </label>

                                <label for="rent_program_notice_no">
                                    <input type="radio" name="rent_program_notice" id="rent_program_notice_no" class="input-field" value="No" /><i></i> <span>No</span>
                                </label>
                                <div class="clear"></div>
                            </div>
                        </div>

                        <div class="field-group">
                            <label>Date notice served</label>
                            <div class="row">
                                <div class="col-sm-4 col-xs-12">
                                    <label for="date_notice_served_month" class="hidden"></label>
                                    <select name="date_notice_served_month" id="date_notice_served_month" class="custom-select" data-placeholder="Month">
                                        <option value="1">January</option>
                                        <option value="2">February</option>
                                        <option value="3">March</option>
                                        <option value="4">April</option>
                                        <option value="5">May</option>
                                        <option value="6">June</option>
                                        <option value="7">July</option>
                                        <option value="8">August</option>
                                        <option value="9">September</option>
                                        <option value="10">October</option>
                                        <option value="11">November</option>
                                        <option value="12">December</option>
                                    </select>
                                </div>

                                <div class="col-sm-4 col-xs-12">
                                    <label for="date_notice_served_day" class="hidden"></label>
                                    <select name="date_notice_served_day" id="date_notice_served_day" class="custom-select" data-placeholder="Day">
                                        <option value="01">01</option>
                                        <option value="02">02</option>
                                        <option value="03">03</option>
                                        <option value="04">04</option>
                                        <option value="05">05</option>
                                        <option value="06">06</option>
                                        <option value="07">07</option>
                                        <option value="08">08</option>
                                        <option value="09">09</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                        <option value="15">15</option>
                                        <option value="16">16</option>
                                        <option value="17">17</option>
                                        <option value="18">18</option>
                                        <option value="19">19</option>
                                        <option value="20">20</option>
                                        <option value="21">21</option>
                                        <option value="22">22</option>
                                        <option value="23">23</option>
                                        <option value="24">24</option>
                                        <option value="25">25</option>
                                        <option value="26">26</option>
                                        <option value="27">27</option>
                                        <option value="28">28</option>
                                        <option value="29">29</option>
                                        <option value="30">30</option>
                                        <option value="31">31</option>
                                    </select>
                                </div>

                                <div class="col-sm-4 col-xs-12">
                                    <label for="date_notice_served_year" class="hidden"></label>
                                    <select name="date_notice_served_year" id="date_notice_served_year" class="custom-select" data-placeholder="Year">
                                        <option value="2016">2016</option>
                                        <option value="2017">2017</option>
                                        <option value="2018">2018</option>
                                        <option value="2019">2019</option>
                                        <option value="2020">2020</option>
                                        <option value="2021">2021</option>
                                        <option value="2022">2022</option>
                                        <option value="2023">2023</option>
                                        <option value="2024">2024</option>
                                        <option value="2025">2025</option>
                                    </select>
                                </div>
                            </div>
                        </div><!-- .field-group -->

                        <div class="field-group">
                            <label>Monthly rent increase</label>
                            <div class="row">
                                <div class="col-sm-6 col-xs-12">
                                    <label for="monthly_increase_from" class="hidden"></label>
                                    <input type="text" name="monthly_increase_from" id="monthly_increase_from" class="field-input" placeholder="From" />
                                </div>

                                <div class="col-sm-6 col-xs-12">
                                    <label for="monthly_increase_to" class="hidden"></label>
                                    <input type="text" name="monthly_increase_to" id="monthly_increase_to" class="field-input" placeholder="To" />
                                </div>
                            </div>
                        </div><!-- .field-group -->

                        <div class="field-group">
                            <label>Date increase effective</label>
                            <div class="row">
                                <div class="col-sm-4 col-xs-12">
                                    <label for="date_increase_effective_month" class="hidden"></label>
                                    <select name="date_increase_effective_month" id="date_increase_effective_month" class="custom-select" data-placeholder="Month">
                                        <option value="1">January</option>
                                        <option value="2">February</option>
                                        <option value="3">March</option>
                                        <option value="4">April</option>
                                        <option value="5">May</option>
                                        <option value="6">June</option>
                                        <option value="7">July</option>
                                        <option value="8">August</option>
                                        <option value="9">September</option>
                                        <option value="10">October</option>
                                        <option value="11">November</option>
                                        <option value="12">December</option>
                                    </select>
                                </div>

                                <div class="col-sm-4 col-xs-12">
                                    <label for="date_increase_effective_day" class="hidden"></label>
                                    <select name="date_increase_effective_day" id="date_increase_effective_day" class="custom-select" data-placeholder="Day">
                                        <option value="01">01</option>
                                        <option value="02">02</option>
                                        <option value="03">03</option>
                                        <option value="04">04</option>
                                        <option value="05">05</option>
                                        <option value="06">06</option>
                                        <option value="07">07</option>
                                        <option value="08">08</option>
                                        <option value="09">09</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                        <option value="15">15</option>
                                        <option value="16">16</option>
                                        <option value="17">17</option>
                                        <option value="18">18</option>
                                        <option value="19">19</option>
                                        <option value="20">20</option>
                                        <option value="21">21</option>
                                        <option value="22">22</option>
                                        <option value="23">23</option>
                                        <option value="24">24</option>
                                        <option value="25">25</option>
                                        <option value="26">26</option>
                                        <option value="27">27</option>
                                        <option value="28">28</option>
                                        <option value="29">29</option>
                                        <option value="30">30</option>
                                        <option value="31">31</option>
                                    </select>
                                </div>

                                <div class="col-sm-4 col-xs-12">
                                    <label for="date_increase_effective_year" class="hidden"></label>
                                    <select name="date_increase_effective_year" id="date_increase_effective_year" class="custom-select" data-placeholder="Year">
                                        <option value="2016">2016</option>
                                        <option value="2017">2017</option>
                                        <option value="2018">2018</option>
                                        <option value="2019">2019</option>
                                        <option value="2020">2020</option>
                                        <option value="2021">2021</option>
                                        <option value="2022">2022</option>
                                        <option value="2023">2023</option>
                                        <option value="2024">2024</option>
                                        <option value="2025">2025</option>
                                    </select>
                                </div>
                            </div>
                        </div><!-- .field-group -->

                    </div>


                    <div class="step-footer">
                        <input type="button" id="continue" name="continue" class="btn-primary" value="Save and Continue" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

