
                <h3 class="step-heading">Appeal: <span>Applicant and Property Information</span></h3>

                    <div class="step-content step1">

                        <div class="subhead no-top-margin">
                            <h4>Case</h4>
                        </div>
                        <div class="field-group">
                            <div class="info">
                                <div class="title">Case number</div>
                                <div class="text">{{Ctrl.caseinfo.CaseID}}; Smith v. Johnson (Unit C)</div>
                            </div>

                            <div class="info">
                                <div class="title">Date of the decision that you are appealing</div>
                                <div class="text">November 12th, 2016</div>
                            </div>
                        </div>


                        <div class="subhead">
                            <h4>Applicant’s name and address</h4>
                        </div>
                        <div class="field-group">
                            <p>{{Ctrl.custDetails.User.FirstName}} {{Ctrl.custDetails.User.LastName}}  </p>
                            <p>{{Ctrl.custDetails.User.AddressLine1}} {{Ctrl.custDetails.User.AddressLine2}} <br />{{Ctrl.custDetails.User.City}}, {{Ctrl.custDetails.User.State.StateName}} {{Ctrl.custDetails.User.Zip}}  </p>
                            <p>Tel: {{Ctrl.custDetails.User.PhoneNumber}}  <br />Email: {{Ctrl.custDetails.email}}</p>
                        </div>

                        <div class="subhead">
                            <h4>Property Address (Include Unit Number)</h4>
                        </div>
                        <div class="field-group">
                            <p>{{Ctrl.custDetails.User.FirstName}} {{Ctrl.custDetails.User.LastName}}  </p>
                            <p>{{Ctrl.custDetails.User.AddressLine1}} {{Ctrl.custDetails.User.AddressLine2}} <br />{{Ctrl.custDetails.User.City}}, {{Ctrl.custDetails.User.State.StateName}} {{Ctrl.custDetails.User.Zip}}  </p>
                            <p>Tel: {{Ctrl.custDetails.User.PhoneNumber}}  <br />Email: {{Ctrl.custDetails.email}}</p>
                        </div>

                        <div class="subhead">
                            <h4>Your Representative</h4>
                        </div>
                        <div class="field-group" ng-show="Ctrl.caseinfo.TenantPetitionInfo.bThirdPartyRepresentation">
                            <p>{{Ctrl.caseinfo.TenantPetitionInfo.ThirdPartyInfo.FirstName}} {{Ctrl.caseinfo.TenantPetitionInfo.ThirdPartyInfo.LastName}}  </p>
                            <p>{{Ctrl.caseinfo.TenantPetitionInfo.ThirdPartyInfo.AddressLine1}},{{Ctrl.caseinfo.TenantPetitionInfo.ThirdPartyInfo.AddressLine2}} <br />{{Ctrl.caseinfo.TenantPetitionInfo.ThirdPartyInfo.City}}, {{Ctrl.caseinfo.TenantPetitionInfo.ThirdPartyInfo.State}} {{Ctrl.caseinfo.TenantPetitionInfo.ThirdPartyInfo.Zip}}  </p>
                            <p>Tel: {{Ctrl.caseinfo.TenantPetitionInfo.ThirdPartyInfo.PhoneNumber}}  <br />Email: {{Ctrl.caseinfo.TenantPetitionInfo.ThirdPartyInfo.Email}}</p>
                        </div>
                    </div>


                    <div class="step-footer">
                        <input type="button" id="continue" name="continue" class="btn-primary" value="Continue" ng-click="Ctrl.ContinueToGroundsforAppeal()" />
                    </div>
               