
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="panel panel-danger font-small">
            <div class="panel-heading">
                <strong>Appeal : Appellant's and property information</strong>
            </div>
            <div class="panel-body">
                <p>Appeal : Appellant's and property information</p>
                <p>___________________________________________________________________________________________</p>
                <p>Appellant's name  and rental address</p>
                <p>{{Ctrl.custDetails.FirstName}} {{Ctrl.custDetails.LastName}}</p>
                <p>{{Ctrl.custDetails.Address1}} {{Ctrl.custDetails.Address2}}</p>
                <p>{{Ctrl.custDetails.City}} {{Ctrl.custDetails.State}} {{Ctrl.custDetails.Zip}}</p>
                <p>{{Ctrl.custDetails.PhoneNumber}}</p>


                <p>___________________________________________________________________________________________</p>
                <strong>Case</strong>
                <p>Case Number</p>   
                <p>{{Ctrl.CaseDe}}</p>    
                <div class="radio">
                    <label><input type="radio" name="IsRepresentative" value="true" ng-model="Ctrl.caseinfo.bThirdPartyRepresentation">Yes</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="IsRepresentative" value="false" ng-model="Ctrl.caseinfo.bThirdPartyRepresentation">No</label>
                </div>
                <div>
                    <p>First Name</p>
                    <input type="text" class="form-control input-sm" ng-trim="false" ng-model="Ctrl.caseinfo.ThirdPartyInfo.FirstName" required />
                    <p>Last Name</p>
                    <input type="text" class="form-control input-sm" ng-trim="false" ng-model="Ctrl.caseinfo.ThirdPartyInfo.LastName" required />
                    <p>Address Line 1</p>
                    <input type="text" class="form-control input-sm" ng-trim="false" ng-model="Ctrl.caseinfo.ThirdPartyInfo.AddressLine1" required />
                    <p>Address Line 2</p>
                    <input type="text" class="form-control input-sm" ng-trim="false" ng-model="Ctrl.caseinfo.ThirdPartyInfo.AddressLine2" required />
                    <p>City</p>
                    <input type="text" class="form-control input-sm" ng-trim="false" ng-model="Ctrl.caseinfo.ThirdPartyInfo.City" required />
                    <p>State</p>
                    <input type="text" class="form-control input-sm" ng-trim="false" ng-model="Ctrl.caseinfo.ThirdPartyInfo.State" required />
                    <p>Zip Code</p>
                    <input type="number" class="form-control input-sm" maxlength="5" ng-trim="false" ng-model="Ctrl.caseinfo.ThirdPartyInfo.Zip" required />
                    <p>Phone Number</p>
                    <input type="number" class="form-control input-sm" ng-trim="false" ng-model="Ctrl.caseinfo.ThirdPartyInfo.PhoneNumber" required />
                    <p>Email</p>
                    <input type="email" class="form-control input-sm" ng-trim="false" ng-model="Ctrl.caseinfo.ThirdPartyInfo.Email" required />
                </div>
                <p>___________________________________________________________________________________________</p>
                <p>Property Owner(s) name and mailing address</p>
                <p>First Name</p>
                <input type="text" class="form-control input-sm" ng-trim="false" ng-model="Ctrl.caseinfo.OwnerInfo.FirstName" required />
                <p>Last Name</p>
                <input type="text" class="form-control input-sm" ng-trim="false" ng-model="Ctrl.caseinfo.OwnerInfo.LastName" required />
                <p>Address Line 1</p>
                <input type="text" class="form-control input-sm" ng-trim="false" ng-model="Ctrl.caseinfo.OwnerInfo.AddressLine1" required />
                <p>Address Line 2</p>
                <input type="text" class="form-control input-sm" ng-trim="false" ng-model="Ctrl.caseinfo.OwnerInfo.AddressLine2" required />
                <p>City</p>
                <input type="text" class="form-control input-sm" ng-trim="false" ng-model="Ctrl.caseinfo.OwnerInfo.City" required />
                <p>State</p>
                <input type="text" class="form-control input-sm" ng-trim="false" ng-model="Ctrl.caseinfo.OwnerInfo.State" required />
                <p>Zip Code</p>
                <input type="number" class="form-control input-sm" maxlength="5" ng-trim="false" ng-model="Ctrl.caseinfo.OwnerInfo.Zip" required />
                <p>Phone Number</p>
                <input type="number" class="form-control input-sm" ng-trim="false" ng-model="Ctrl.caseinfo.OwnerInfo.PhoneNumber" required />
                <p>Email</p>
                <input type="email" class="form-control input-sm" ng-trim="false" ng-model="Ctrl.caseinfo.OwnerInfo.Email" required />
                <p>___________________________________________________________________________________________</p>
                <p> Property information </p>
                <p>Number of Units</p>
                <input type="number" class="form-control input-sm" ng-trim="false" ng-model="Ctrl.caseinfo.TenantPetitionInfo.NumberOfUnits" required />
                <div class="radio">
                    <label><input type="radio" name="IsDontknow">I don't know</label>
                </div>
                <p>Type of Unit you rent</p>
                <label ng-repeat="unittype in Ctrl.caseinfo.TenantPetitionInfo.UnitTypes" for="{{unittype.UnitTypeID}}">
                    <input type="radio"
                           ng-model="Ctrl.caseinfo.TenantPetitionInfo.UnitTypeId"
                           ng-value="unittype.UnitTypeID"
                           id="{{unittype.UnitTypeID}}"
                           name="units">{{unittype.UnitDescription}}
                </label>
                <!--<div class="radio">
                    <label><input type="radio" name="TypeOfUnit">House</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="TypeOfUnit">Condominium</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="TypeOfUnit">Apartment, Room, or Live-work</label>
                </div>-->
                <p>Are you current on Rent?</p>
                <label ng-repeat="currentonrent in Ctrl.caseinfo.TenantPetitionInfo.CurrentOnRent" for="{{currentonrent.StatusID}}">
                    <input type="radio"
                           ng-model="Ctrl.caseinfo.TenantPetitionInfo.CurrentRentStatusID"
                           ng-value="currentonrent.StatusID"
                           id="{{currentonrent.StatusID}}"
                           name="currentrent">{{currentonrent.Status}}
                </label>
                <!--<div class="radio">
                    <label><input type="radio" name="IsCurrentOnRent">Yes</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="IsCurrentOnRent">No</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="IsCurrentOnRent">Legally withholding rent</label>
                </div>-->
                <button ng-click="Ctrl.ContinueToGroundsforPetition()">Continue</button>
            </div>
        </div>
    </div>
</div>