
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="panel panel-danger font-small">
            <div class="panel-heading">
                <strong>Appeal : Appellant's and property information</strong>
            </div>
            <div class="panel-body">
                <p>Appeal : Appellant's and property information</p>
                <p>___________________________________________________________________________________________</p>
                <p>Appellant's name  and rental address</p>
                <p>{{Ctrl.custDetails.User.FirstName}} {{Ctrl.custDetails.User.LastName}}</p>
                <p>{{Ctrl.custDetails.User.AddressLine1}} {{Ctrl.custDetails.User.AddressLine2}}</p>
                <p>{{Ctrl.custDetails.User.City}} {{Ctrl.custDetails.User.State}} {{Ctrl.custDetails.User.Zip}}</p>
                <p>{{Ctrl.custDetails.User.PhoneNumber}}</p>


                <p>___________________________________________________________________________________________</p>
                <strong>Case</strong>
                <p>Case Number</p>   
                <p>{{Ctrl.caseinfo.CaseID}}</p>    
                <p>Date of the decision that you are appealing</p>
                <input type="text" class="form-control"
                       name="EED"
                       ng-required="true"
                       ng-model="line.EED"
                       datepicker-popup="MM/dd/yyyy"
                       is-open="line.calenderIsopenEED"
                       min-date="line.ESD"
                       max-date="line.maxdate"
                       date-disabled="exceptLastDay(date, mode)"
                       datepicker-options="dateOptions"
                       show-button-bar="false"
                       ng-readonly="true" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="line.calenderIsopenEED=true">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span>
                
                <strong>Property Address(include unit number)</strong>

                <div class="radio">
                    <label><input type="radio" name="SameAsMailingAddress" 
                                  ng-change="SameAsMailingAddress()" 
                                  ng-model="Ctrl.SameAsMailingAddress">Same as mailing address</label>
                </div>                
                <p>Property Address 1</p>
                <input type="text" class="form-control input-sm" ng-trim="false" ng-model="Ctrl.custDetails.User.AddressLine1" required />
                <p>Property Address 2</p>
                <input type="text" class="form-control input-sm" ng-trim="false" ng-model="Ctrl.custDetails.User.AddressLine2" required />
                <p>City</p>
                <input type="text" class="form-control input-sm" ng-trim="false" ng-model="Ctrl.custDetails.User.City" required />
                <p>State</p>
                <input type="text" class="form-control input-sm" ng-trim="false" ng-model="Ctrl.custDetails.User.State" required />
                <p>Zip Code</p>
                <input type="number" class="form-control input-sm" maxlength="5" ng-trim="false" ng-model="Ctrl.custDetails.User.Zip" required />
                <p>Phone Number</p>
                <input type="number" class="form-control input-sm" ng-trim="false" ng-model="Ctrl.caseinfo.OwnerInfo.PhoneNumber" required />
                <p>Email</p>
                <input type="email" class="form-control input-sm" ng-trim="false" ng-model="Ctrl.caseinfo.OwnerInfo.Email" required />

                <p>___________________________________________________________________________________________</p>
                <strong>Your representative</strong>
                <p>Is anybody representing you</p>
                <div class="radio">
                    <label><input type="radio" name="IsRepresenting" value="true" 
                                  ng-model="Ctrl.caseinfo.TenantAppealInfo.bThirdPartyRepresentation">Yes</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="IsRepresenting" value="false" 
                                  ng-model="Ctrl.caseinfo.TenantAppealInfo.bThirdPartyRepresentation">No</label>
                </div>

                <div ng-show="Ctrl.caseinfo.TenantAppealInfo.bThirdPartyRepresentation">
                    <p>First Name</p>
                    <input type="text" class="form-control input-sm" ng-trim="false" ng-model="Ctrl.caseinfo.TenantAppealInfo.AppealThirdPartyInfo.FirstName" required />
                    <p>Last Name</p>
                    <input type="text" class="form-control input-sm" ng-trim="false" ng-model="Ctrl.caseinfo.TenantAppealInfo.AppealThirdPartyInfo.LastName" required />
                    <p>Address Line 1</p>
                    <input type="text" class="form-control input-sm" ng-trim="false" ng-model="Ctrl.caseinfo.TenantAppealInfo.AppealThirdPartyInfo.AddressLine1" required />
                    <p>Address Line 2</p>
                    <input type="text" class="form-control input-sm" ng-trim="false" ng-model="Ctrl.caseinfo.TenantAppealInfo.AppealThirdPartyInfo.AddressLine2" required />
                    <p>City</p>
                    <input type="text" class="form-control input-sm" ng-trim="false" ng-model="Ctrl.caseinfo.TenantAppealInfo.AppealThirdPartyInfo.City" required />
                    <p>State</p>
                    <input type="text" class="form-control input-sm" ng-trim="false" ng-model="Ctrl.caseinfo.TenantAppealInfo.AppealThirdPartyInfo.State" required />
                    <p>Zip Code</p>
                    <input type="number" class="form-control input-sm" maxlength="5" ng-trim="false" ng-model="Ctrl.caseinfo.TenantAppealInfo.AppealThirdPartyInfo.Zip" required />
                    <p>Phone Number</p>
                    <input type="number" class="form-control input-sm" ng-trim="false" ng-model="Ctrl.caseinfo.TenantAppealInfo.AppealThirdPartyInfo.PhoneNumber" required />
                    <p>Email</p>
                    <input type="email" class="form-control input-sm" ng-trim="false" ng-model="Ctrl.caseinfo.TenantAppealInfo.AppealThirdPartyInfo.Email" required />
                </div>
                <p>___________________________________________________________________________________________</p>
              
                <button ng-click="Ctrl.ContinueToGroundsforAppeal(Ctrl.caseinfo)">Continue</button>
            </div>
        </div>
    </div>
</div>