<h3 class="step-heading">Appeal: <span>Confirmation</span></h3>

    <div class="step-content step1">

        <div class="field-group subhead no-top-margin">
            <div class="information">
                <p>Your request for appeal on case {{Ctrl.caseinfo.CaseID}} has been submitted to the City of Oakland Rent Adjustment Program.</p>

                 <p>A confirmation has been sent to your email. If you have not received it, be sure to check your spam box. A copy of your appeal will be sent to the other party. Pay close attentino to your email and your mail for information regarding next steps.</p>

                   <p>RAP will evaluate your appeal and reach out with next steps. If your appeals required a hearing before the Rent Board someone from RAP staff will reach out regarding scheduling.</p>

                   <p>If you have any questions please contact RAP staff at Phone: (510) 238-3721</p>
                </p>
            </div>
        </div>
        
    </div>


    <div class="step-footer">
        <input type="button" id="continue" name="continue" class="btn-primary" value="Back to my dashboard" ng-click="Ctrl.Continue()" />
    </div>
