<h3 class="step-heading">Appeal: <span>Additional Documentation</span></h3>

    <div class="step-content step1">

        <div class="field-group subhead no-top-margin">
            <p>Please use the form below to include any additional documentation that you would like the Rent Adjustment Program to examine as part of your petition.</p>
        </div>

        <!-- Custom Table -->
        <div class="custom-table docs-list">
            <div class="tbl-header">
                <div class="tbl-row clearfix">
                    <div class="col col-35 name">File name</div>
                    <div class="col col-35 type">File type</div>
                </div>
            </div>

            <div class="tbl-body">
                <div class="tbl-row clearfix">
                    <div class="item item-toggle expanded">
                        <div class="item-header clearfix">
                            <div class="col col-35 name pad-l30"><a href="#" class="btn-toggle"></a> Rental_expenses.xsl</div>
                            <div class="col col-35 type">Excel</div>
                            <a href="#" class="btn-link btn-delete">Delete</a>
                        </div>

                        <div class="item-content clearfix">
                            <div class="row">
                                <div class="col-md-10 col-sm-12">
                                    <p>Maecenas varius ex sed nisl sagittis ultrices. Vivamus congue ultrices purus nec tempus. Fusce convallis nunc dolor, vitae lacinia erat rutrum id. Donec nec urna tempus diam ultrices pharetra vel vel diam. Vivamus lacus metus, aliquam vitae erat tristique, semper rutrum nibh.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tbl-row clearfix">
                    <div class="item item-toggle">
                        <div class="item-header clearfix">
                            <div class="col col-35 name pad-l30"><a href="#" class="btn-toggle"></a> Rental_expenses.doc</div>
                            <div class="col col-35 type">Word</div>
                            <a href="#" class="btn-link btn-delete">Delete</a>
                        </div>

                        <div class="item-content clearfix">
                            <div class="row">
                                <div class="col-md-10 col-sm-12">
                                    <p>Maecenas varius ex sed nisl sagittis ultrices. Vivamus congue ultrices purus nec tempus. Fusce convallis nunc dolor, vitae lacinia erat rutrum id. Donec nec urna tempus diam ultrices pharetra vel vel diam. Vivamus lacus metus, aliquam vitae erat tristique, semper rutrum nibh.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- .custom-table -->


        <div class="field-group subhead">
            <label for="preset_description">Select one of the preset descriptions from the drop down menu</label>
            <div class="full-width">
                <select name="dd_preset_description" id="dd_preset_description" class="custom-select" data-placeholder="Select type">
                    <option value="Lease" selected>Lease</option>
                    <option value="Notice">Notice</option>
                    <option value="Paystub">Paystub</option>
                    <option value="Receipt">Receipt</option>
                    <option value="Invoice">Invoice</option>
                    <option value="Photo/Image">Photo/Image</option>
                    <option value="Inspection Checklist">Inspection Checklist</option>
                    <option value="Report">Report</option>
                    <option value="Letter">Letter</option>
                    <option value="Email (s)">Email (s)</option>
                    <option value="ext Message (s)">ext Message (s)</option>
                </select>
            </div>
        </div>

        <div class="field-group mar-bottom-40">
            <label for="document_description">If none of the above options apply, please provide a description of the file that you are uploading below:</label>
            <textarea name="document_description" id="document_description" class="field-input textarea" rows="8"></textarea>
        </div>

        <div class="field-group">
            <div class="row">
                <div class="col-sm-10 col-xs-12">
                    <p class="fs-14"><strong>You are permitted to upload the following file types: PDF, Word, Excel, JPEG, TIFF and PNG. The maximum file size limit for uploads is 25MB</strong></p>
                </div>
            </div>
        </div>

        <div class="field-group">
            <div class="field-addfile">
                <div class="input-file-wrapper">
                    <span class="btn-link">Attach document</span>
                    <input type="file" id="attach_documentation" name="attach_documentation" />
                </div>
            </div>

            <a href="#" class="btn-link">Attach another document</a>
            <p>&nbsp;</p>
        </div><!-- .field-group -->

    </div>


    <div class="step-footer">
        <input type="button" id="continue" name="continue" class="btn-primary" value="Save and Continue" ng-click="Ctrl.ContinueToServeAppeal()" />
    </div>
