
                <h3 class="step-heading">Appeal</h3>

                
                    <div class="step-content step1">

                        <div class="field-group subhead no-top-margin">
                            <p class="input-label fs-18">Are you filing as a tenant or as a property owner?</p>

                            <div class="form-group-radio vertical clearfix">
                                <label for="filing_as_tenant">
                                    <input type="radio" name="tenant_or_owner" id="filing_as_tenant" class="input-field" value="Tenant " checked="checked" /><i></i><span>Tenant </span>
                                </label>

                                <label for="filing_as_owner">
                                    <input type="radio" name="tenant_or_owner" id="filing_as_owner" class="input-field" value="Property Owner" /><i></i> <span>Property Owner</span>
                                </label>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>


                    <div class="step-footer">
                        <input type="button" id="continue" name="continue" class="btn-primary" value="Continue" ng-click="Ctrl.Continue()" />
                    </div>
               


