
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="panel panel-danger font-small">
            <div class="panel-heading">
                <strong>Appeal: Grounds for Appeal</strong>
            </div>
            <div class="panel-body">
                
                <p>___________________________________________________________________________________________</p>
                <p>I appeal the decision issued in the case on the following grounds:</p>
                <div ng-repeat="appealground in Ctrl.caseinfo.TenantAppealInfo.AppealGrounds">
                    <label>
                        <input type="checkbox" id="petitionground.ID" ng-model="petitionground.Selected">
                        {{appealground.AppealDescription}}
                    </label>
                </div>
                <!--<p>Number of pages attached. Please number the attached pages consecutively</p>
                <ul class="dropdown">
                    <li><span>1</span></li>
                    <li><span>2</span></li>
                    <li><span>3</span></li>
                    <li><span>4</span></li>
                    <li><span>5</span></li>
                </ul>-->
                <!--<ul class="dropdown-menu">
                    <li ng-repeat="i in getNumber(number)"><span>{$index+1}}</span></li>
                </ul>-->
                <button ng-click="Ctrl.AttachExplaination()">Attach explaination</button>
                <button ng-click="Ctrl.ContinueToRentalHistory()">Continue</button>
            </div>
        </div>
    </div>
</div>