<script src='js/functions.js'></script>
    <div class="application-form-wrapper">
        <div class="application-step step-1">
            <div class="alert" ng-show="Ctrl.Error!=''">
                <strong><a href="javascript:void();">{{Ctrl.Error}}</a></strong>
            </div>
            <div class="step-heading">Grounds for Appeal</div>

            <form name="frmAppeal" id="frmAppeal" action="#" method="post" class="application-form">
                <div class="step-content create-new">

                    <div class="subhead no-top-margin">
                        <p>

                            Please select your ground(s) for appeal from the list below. You must provide an explanation for each ground that you are appealing. Each ground for appeal listed below clearly states what you should include in the explanation. Each ground for appeal listed below includes direction as what should be included in the explanation.


                        </p>
                    </div>

                    <div class="field-group">
                        <!--<div class="form-group-checkbox vertical clearfix">-->
                        <!--<div class="checkbox-wrapper" ng-repeat="appealground in Ctrl.caseinfo.TenantAppealInfo.AppealGrounds | limitTo:3">-->
                        <!--<div class="checkbox-wrapper" ng-repeat="appealground in Ctrl.caseinfo.TenantAppealInfo.AppealGrounds.slice(0, 3) track by $index">-->
                        <!--<div class="checkbox-wrapper" ng-repeat="appealground in Ctrl.caseinfo.TenantAppealInfo.AppealGrounds">
                            <label for="appealground.AppealGroundID">
                                <input type="checkbox" name="groundcheckboxappeal" class="checkbox" id="appealground.AppealGroundID" ng-model="appealground.Selected">
                                <i></i><span></span>
                            </label>
                        </div>-->
                        <div class="form-group-checkbox vertical clearfix">
                            <div class="checkbox-wrapper" ng-repeat="appealground in Ctrl.caseinfo.TenantAppealInfo.AppealGrounds| limitTo:2" border-top-green pad-t15">
                                <p>
                                    <label for="{{appealground.AppealGroundID}}">

                                        <input type="checkbox" name="appealgroundcheckbox" class="checkbox" id="{{appealground.AppealGroundID}}" ng-model="appealground.Selected">
                                        <i></i><span><strong>{{appealground.AppealDescription}}</strong></span>

                                    </label>
                                </p> 
                            </div>
                            <div class="checkbox-wrapper" ng-repeat="appealground in Ctrl.caseinfo.TenantAppealInfo.AppealGrounds.slice(2, 3) track by $index" border-top-green pad-t15">
                                <p>
                                    <label for="{{appealground.AppealGroundID}}">
                                        <input type="checkbox" name="appealgroundcheckbox" class="checkbox" id="{{appealground.AppealGroundID}}" ng-model="appealground.Selected">
                                        <i></i><span><strong>{{appealground.AppealDescription}}</strong></span>
                                    </label>
                                </p> 
                                <p>
                                    <div class="checkbox-wrapper" ng-repeat="appealgroundSub in Ctrl.caseinfo.TenantAppealInfo.AppealGrounds.slice(3, 11) track by $index">
                                        <label for="{{appealgroundSub.AppealGroundID}}">
                                            <input type="checkbox" name="appealgroundcheckbox" class="checkbox" id="{{appealgroundSub.AppealGroundID}}" ng-model="appealgroundSub.Selected">
                                            <i></i><span>{{appealgroundSub.AppealDescription}}</span>
                                        </label>
                                    </div>
                                </p> 
</div>
                            <!--</div>-->
                        </div>
                    </div>


                    <div class="field-group">
                        <div class="field-addfile">
                            <div class="input-file-wrapper">
                                <span class="btn-link">Attach explanation</span>
                                <input type="file" id="attach_buiness_tax_proof" name="attach_buiness_tax_proof" ngf-select ngf-change="onFileSelected($files,'A_Grounds')" accept=".doc,.docx,.pdf,.xlsx,.jpeg,.tiff,.png,.jpg" multiple />
                            </div>
                            <div class="custom-table docs-list" ng-show="Ctrl.caseinfo.TenantAppealInfo.Documents != null && Ctrl.caseinfo.TenantAppealInfo.Documents.length != 0">
                                <div class="tbl-header">
                                    <div class="tbl-row clearfix">
                                        <div class="col col-35 name">File name</div>
                                    </div>
                                </div>

                                <div class="tbl-body" ng-repeat="item in Ctrl.caseinfo.TenantAppealInfo.Documents | filter: {DocTitle: 'A_Grounds'}">
                                    <div class="tbl-row clearfix">
                                        <div class="item" ng-class="{'expanded':toggle}">
                                            <div class="item-header clearfix">
                                                <div class="col col-35 name pad-l30"><a style="cursor: pointer;" ng-click="toggle = !toggle" class="btn-toggle"></a>{{item.DocName}}</div>
                                                <a style="cursor: pointer;" ng-show="item.isUploaded == false" ng-click="Ctrl.Delete(item)" class="btn-link btn-delete">Delete</a>
                                                <a style="cursor: pointer;" ng-show="item.isUploaded == true" ng-click="Ctrl.Download(item)" class="btn-link btn-gray">Download</a>
                                            </div>

                                            <div class="item-content clearfix" ng-show="toggle">
                                                <div class="row">
                                                    <div class="col-md-10 col-sm-12">
                                                        <p>{{item.DocDescription}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>


                </div>

                <div class="step-footer">
                    <input type="button" id="continue" name="continue" class="btn-primary" value="Save and continue" ng-click="Ctrl.ContinueToRentalHistory(Ctrl.caseinfo.TenantAppealInfo)" />
                </div>
            </form>
        </div>

    </div><!-- .application-form-wrapper -->

