<div class="step-heading">Important Information</span></div>

    <div class="step-content step1">

        <div class="field-group subhead no-top-margin">
            <div class="information">
			<p>
			<strong>REMINDER: ONCE THIS FORM IS SUBMITTED TO THE CITY IT BECOMES A PUBLIC RECORD. PLEASE DO NOT SUBMIT ANY PRIVATE INFORMATION (SUCH AS BANK ACCOUNT NUMBERS, CREDIT CARD NUMBERS, OR SOCIAL SECURITY NUMBERS) AS PART OF THIS FORM. IF YOU HAVE ANY QUESTIONS, PLEASE CONTACT CITY STAFF AT (510) 238-3721</strong>
			</p>
                <p>
                    This appeal must be received by the Rent Adjustment Program no later than 5:00 P.M. on the 20th calendar day after the date the decision was mailed to you as shown on the proof of service attached to the decision. If the last day to file is a weekend or holiday, the time to file the document is extended to the next business day.
				</p>

                <ul>
                    <li>Appeals filed late without good cause will be dismissed.</li>
                    <li>You must provide all of the <a href="">information required</a> or your appeal cannot be processed and may be dismissed.</li>
                    <li>Any supporting argument or documentation to be considered by the Board must be received by the Rent Adjustment Program with a proof of service on opposing party within 15 days of filing the appeal.</li>
                    <li>The Board will not consider new claims. All claims, except as to jurisdiction, must have been made in the petition, response, or at the hearing.</li>
                    <li>The Board will not consider new evidence at the appeal hearing without specific approval.</li>
                    <li>You must sign and date this form or your appeal will not be processed.</li>
                    <li>The entire case record is available to the Board, but sections of audio recordings must be pre-designated to Rent Adjustment Staff.</li>
                    
                </ul>
            </div>
        </div>

        <div class="subhead type2">
            <h4>Saving Information</h4>
        </div>
        <div class="field-group">
            <div class="error-msg">You must click the “Save and continue” button at the bottom of every screen to save information you are entering and uploading.</div>
        </div>
    </div>


    <div class="step-footer">
        <input type="button" id="continue" name="continue" class="btn-primary" value="Continue" ng-click="Ctrl.Continue()" />
    </div>
