<div class="step-heading">Important Information</span></div>

    <div class="step-content step1">

        <div class="field-group subhead no-top-margin">
            <div class="information">
			<p>
			<strong>REMINDER: ONCE THIS FORM IS SUBMITTED TO THE CITY IT BECOMES A PUBLIC RECORD. PLEASE DO NOT SUBMIT ANY PRIVATE INFORMATION (SUCH AS BANK ACCOUNT NUMBERS, CREDIT CARD NUMBERS, OR SOCIAL SECURITY NUMBERS) AS PART OF THIS FORM. IF YOU HAVE ANY QUESTIONS, PLEASE CONTACT CITY STAFF AT (510) 238-3721</strong>
			</p>
                <p>
				Time to file. Your appeal must be filed no later than 5:00 P.M. on the 20th calendar day after the date your the hearing decision was mailed to you. You can determine the mail by looking at the "proof of service" attached to the decision.  If the last day to file is a weekend or holiday, you will have until the next business day to file the document.
				</p>

                <ul>
                    <li>We will dismiss all late appeals unless there is good cause for the delay. </li>
                    <li>If you don't provide all the <a href="">information required</a>, your appeal will not be processed and may be dismissed.</li>
                    <li>Anything to be considered by the Board must be received by the Rent Adjustment Program by 3:00 p.m. on the 8th day before the appeal hearing.</li>
                    <li>The Board does not consider "new claims." Unless the claim is about the Board's authority to hear a given claim, all claims must first be made by either petition, response or at the hearing.</li>
                    <li>The Board will not consider new evidence at the appeal hearing without specific approval.</li>
                    
                </ul>
            </div>
        </div>

        <div class="subhead type2">
            <h4>Saving Information</h4>
        </div>
        <div class="field-group">
            <div class="error-msg">You must click the “Save and continue” button at the bottom of every screen to save information you are entering and uploading.</div>
        </div>
    </div>


    <div class="step-footer">
        <input type="button" id="continue" name="continue" class="btn-primary" value="Continue" ng-click="Ctrl.Continue()" />
    </div>
