

<div id="content">
    <!-- Page Title -->
    <div class="page-title-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-3 hidden-xs">&nbsp;</div>
                <div class="col-md-9 col-sm-12">
                    <h2 class="page-title">Appeal</h2>
                </div>
            </div>
        </div>
    </div>

    <!--<div class="alert" ng-show="Ctrl.Error!=''">
        <strong><a href="javascript:void();">{{Ctrl.Error}}</a></strong>
    </div>-->
    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-12">
                    <div>
                        <div ng-if="Ctrl.bAppealType" class="page-sub-title">Appeal Type</div>
                        <div ng-if="Ctrl.bImpInfoAppeal" class="page-sub-title">Important Information</div>
                        <div ng-if="Ctrl.bAppellantInfo" class="page-sub-title">Applicant and Property Information</div>
                        <div ng-if="Ctrl.bGrounds" class="page-sub-title">Grounds for Appeal</div>
                        <div ng-if="Ctrl.bAddDocs" class="page-sub-title">Additional Documentation</div>
                        <div ng-if="Ctrl.bReview" class="page-sub-title">Review</div>
                        <div ng-if="Ctrl.bServingAppeal" class="page-sub-title">Serving of Appeal to Opposing Party</div>
                        <div ng-if="Ctrl.bConfirm" class="page-sub-title">Confirmation</div>

                        <div class="application-steps-toggle clearfix ">
                            <button type="button" ng-class="{'steps-toggle collapsed' : Ctrl.Toggle, 'steps-toggle' : !Ctrl.Toggle}" ng-click="Ctrl.Toggle=!Ctrl.Toggle">Step {{Ctrl.stepNo}} / 7</button>                            
                        </div>
                    
                        <ul class="application-steps" ng-show="Ctrl.Toggle">
                            <li ng-class="{'active' : Ctrl.AppealSubmissionStatus.AppealType, 'current' : !Ctrl.AppealSubmissionStatus.AppealType && Ctrl.bAppealType}">
                                <a style="cursor: pointer;" ng-click="Ctrl.showAppealType()">Appeal Type</a>
                            </li>
                            <li ng-class="{'active' : Ctrl.AppealSubmissionStatus.ImportantInformation, 'current' : !Ctrl.AppealSubmissionStatus.ImportantInformation && Ctrl.bImpInfoAppeal}">
                                <a style="cursor: pointer;" ng-click="Ctrl.showImpInfo()">Important Information</a>
                            </li>
                            <li ng-class="{'active' : Ctrl.AppealSubmissionStatus.ApplicantInformation, 'current' : !Ctrl.AppealSubmissionStatus.ApplicantInformation && Ctrl.bAppellantInfo}">
                                <a style="cursor: pointer;" ng-click="Ctrl.showAppellantInfo()">Applicant Information</a>
                            </li>
                            <li ng-class="{'active' : Ctrl.AppealSubmissionStatus.GroundsOfAppeal, 'current' : !Ctrl.AppealSubmissionStatus.GroundsOfAppeal && Ctrl.bGrounds}">
                                <a style="cursor: pointer;" ng-click="Ctrl.showGrounds()">Grounds for Appeal</a>
                            </li>
                            <li ng-class="{'active' : Ctrl.AppealSubmissionStatus.AdditionalDocumentation, 'current' : !Ctrl.AppealSubmissionStatus.AdditionalDocumentation && Ctrl.bAddDocs}">
                                <a style="cursor: pointer;" ng-click="Ctrl.showAddDoc()">Additional Documentation</a>
                            </li>
                            <li ng-class="{'active' : Ctrl.AppealSubmissionStatus.ServingAppeal, 'current' : !Ctrl.AppealSubmissionStatus.ServingAppeal && Ctrl.bServingAppeal}">
                                <a style="cursor: pointer;" ng-click="Ctrl.showServingAppeal()">Serving an Appeal</a>
                            </li>
                            <li ng-class="{'active' : Ctrl.AppealSubmissionStatus.Review, 'current' : !Ctrl.AppealSubmissionStatus.Review && Ctrl.bReview}">
                                <a style="cursor: pointer;" ng-click="Ctrl.showReview()">Review</a>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="col-md-9 col-sm-12">
                    <div class="application-step step-1">
                        <form name="frmAppeal" id="frmAppeal" method="post" class="application-form">
                            <div ng-if="Ctrl.bAppealType">
                                <rap-appealtype model="Ctrl"></rap-appealtype>
                            </div>
                            <div ng-if="Ctrl.bImpInfoAppeal">
                                <rap-impinfoappeal model="Ctrl" casedetails="Ctrl.model"></rap-impinfoappeal>
                            </div>
                            <div ng-if="Ctrl.bAppellantInfo">
                                <rap-appellantinfo model="Ctrl"></rap-appellantinfo>
                            </div>
                            <div ng-if="Ctrl.bGrounds">
                                <rap-grounds model="Ctrl"></rap-grounds>
                            </div>
                            <div ng-if="Ctrl.bAddDocs">
                                <rap-adddocsappeal model="Ctrl"></rap-adddocsappeal>
                            </div>
                            <div ng-if="Ctrl.bServingAppeal">
                                <rap-servingappeal model="Ctrl"></rap-servingappeal>
                            </div>
                            <div ng-if="Ctrl.bReview">
                                <rap-reviewappeal model="Ctrl"></rap-reviewappeal>
                            </div>
                            <div ng-if="Ctrl.bConfirm">
                                <rap-confirmationappeal model="Ctrl"></rap-confirmationappeal>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- #SkipToMainContent -->
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <!--<script src='js/jquery.maskedinput.js'></script>-->
    <script src='js/tooltip.js'></script>
    <script src='js/functions.js'></script>
</div><!-- .container .outer-container -->

   
    
