
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="panel panel-danger font-small">
            <div class="panel-heading">
                <strong>Appeal: Serving of appeal to the opposing parties</strong>
            </div>
            <div class="panel-body">
                <p>___________________________________________________________________________________________</p>
                


                <button ng-click="Ctrl.ContinueToReview()">Continue</button>
            </div>
        </div>
    </div>
</div>