<script src='js/functions.js'></script>
<div class="application-form-wrapper">
    <div class="application-step step-1">
        <div class="alert alert-error" ng-show="Hide==true">
        </div>
        <div class="alert" ng-show="Ctrl.Error!=''">
            <strong><a href="javascript:void();">{{Ctrl.Error}}</a></strong>
        </div>
        <div class="step-heading">Serving of Appeal to Opposing Party</div>

        <form name="frmAppeal" id="frmAppeal" novalidate class="application-form" onsubmit="return false;">

            <div class="step-content step1">

                <div class="field-group subhead no-top-margin">
                    <p>You must serve a copy of your appeal on the opposing party or parties by first class mail or personal delivery, or your appeal may be dismissed.</p>
                </div>

                <div class="field-group filled-info mar-bottom-30">
                    <div class="row">
                        <div class="col-sm-6 col-xs-12">
                            <div class="info-title">Appellant signature</div>
                            <strong>{{Ctrl.custDetails.User.FirstName}} {{Ctrl.custDetails.User.LastName}}</strong>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <div class="info-title">Date</div>
                            <strong>{{Ctrl.serveAppeal.Date | date}}</strong>
                        </div>
                    </div>
                </div><!-- .field-group -->

                <div class="field-group">
                    <label for="your_pin">Enter your PIN to verify your identity.</label>
                    <input type="text" name="your_pin" id="your_pin" class="field-input required" placeholder="" 
                           ng-model="Ctrl.serveAppeal.pin" required data-error="PIN to verify" />
                </div>

                <a style="cursor: pointer;" class="btn-link" ng-click="Ctrl.ResendPin()">Resend PIN</a>
                <div>&nbsp;</div>
                <div class="field-group">
                    <p>This PIN number was emailed to you when you set up your account. You can have this PIN resent to you from the account management dashboard.</p>
                    <div class="form-group-checkbox vertical clearfix">
                        <div class="checkbox-wrapper">
                            <label for="chk_condition1">
                                <input type="checkbox" name="chk_condition1" id="chk_condition1" value="I acknowledge that the name, date and PIN represent me."
                                       ng-model="Ctrl.serveAppeal.bAcknowledgeNamePin" /><i></i><span>I acknowledge that entering the name, date, and PIN above indicates my intent to electronically sign this document. Additionally, this signature indicates my consent to conduct business electronically following receipt of disclosures.</span>
                            </label>
                        </div>

                        <div class="checkbox-wrapper">
                            <label for="chk_condition2">
                                <input type="checkbox" name="chk_condition2" id="chk_condition2" ng-model="Ctrl.serveAppeal.bDeclartionOfOriginalDocs"
                                       value="This form is being submitted by the third-party representative on behalf of the petitioner." /><i></i><span>I declare under penalty of perjury pursuant to the laws of the State of California that everything I said in this petition is true and that all documents attached to the petition are true copies of the original.</span>
                            </label>
                        </div>
                      
                        <div class="checkbox-wrapper">
                            <label for="chk_condition3">
                                <input type="checkbox" name="chk_condition3" id="chk_condition3"
                                       value="This form is being submitted by the third-party representative on behalf of the petitioner."
                                       ng-model="Ctrl.serveAppeal.bThirdParty" /><i></i><span>This form is being submitted by the third-party representative on behalf of the petitioner.</span>
                            </label>
                        </div>

                        <div class="checkbox-wrapper no-bottom-margin">
                            <label for="chk_condition4">
                                <input type="checkbox" name="chk_condition4" id="chk_condition4"
                                       value="I declare under penalty of perjury under the laws of the State of California that on"
                                       ng-model="Ctrl.serveAppeal.bDeclaration" /><i></i><span>I declare under penalty of perjury under the laws of the State of California that on</span>
                            </label>
                        </div>
                    </div>


                    <div class="field-group">

                        <div class="row">
                            <div class="col-sm-4 col-xs-12">
                                <div class="field-group">
                                    <select ng-model="Ctrl.serveAppeal.PenaltyDate.Month"
                                            data-placeholder="Month" class="custom-select"
                                            ng-options="month.id as month.value for month in Ctrl.Calender.Months">
                                        <option value="" selected>Select month</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-12">
                                <div class="field-group">
                                    <select ng-model="Ctrl.serveAppeal.PenaltyDate.Day"
                                            data-placeholder="Day" class="custom-select"
                                            ng-options="day for day in  Ctrl.Calender.Days">
                                        <option value="" selected>Select day</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-12">
                                <div class="field-group">
                                    <select ng-model="Ctrl.serveAppeal.PenaltyDate.Year"
                                            data-placeholder="Year" class="custom-select"
                                            ng-options="year for year in  Ctrl.Calender.Years">
                                        <option value="" selected>Select year</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div><!-- .field-group -->

                </div>


                <div class="field-group">
                    <p>
                        I placed a copy of this form, and all attached pages, in the United States mail or deposited it with a commercial carrier, using a service equal to first class mail, with all postage charges fully prepaid, addressed to each opposing party as follows:

                    </p>
                </div>

                <div ng-repeat="item in Ctrl.caseinfo.TenantAppealInfo.serveAppeal.OpposingParty">
                    <div ng-if="item.IsDeleted == false">
                        <div class="field-group filled-info subhead">
                            <div class="row">
                                <div class="col-sm-6 col-xs-12"><div class="info-title">Opposing party</div></div>
                                <div class="col-sm-6 col-xs-12">
                                    {{item.FirstName}} {{item.LastName}} <br />{{item.AddressLine1}} {{item.AddressLine2}}, <br />{{item.City}}, {{item.State.StateCode}} {{item.Zip}}
                                </div>
                            </div>
                            <div class="row">
                                <button class="btn-link btn-delete" ng-click="item.IsDeleted = true">Delete</button>
                            </div>
                        </div>
                    </div>
                </div><!-- .field-group -->
                <div class="field-group">
                    <label for="first_name">Name</label>
                    <input type="text" name="first_name" id="first_name" class="field-input" placeholder="First" ng-model="Ctrl.OpposingParty.FirstName" />
                </div>
                <div class="field-group">
                    <input type="text" name="last_name" id="last_name" class="field-input" placeholder="Last" ng-model="Ctrl.OpposingParty.LastName" />
                </div>

                <div class="field-group">
                    <label for="mailing_address1">Mailing address 1</label>
                    <input type="text" name="mailing_address1" id="mailing_address1" class="field-input" placeholder="" ng-model="Ctrl.OpposingParty.AddressLine1" />
                </div>

                <div class="field-group">
                    <label for="mailing_address2">Mailing address 2 (optional)</label>
                    <input type="text" name="mailing_address2" id="mailing_address2" class="field-input" placeholder="" ng-model="Ctrl.OpposingParty.AddressLine2" />
                </div>

                <div class="field-group">
                    <label for="opposing_state">State</label>
                    <div class="input-wrapper">
                        <select name="opposing_state" id="opposing_state" class="custom-select" data-placeholder="Select"
                                ng-model="Ctrl.OpposingParty.State"
                                ng-options="state as (state.StateName) for state in Ctrl.StateList track by state.StateID" required>
                            <option value="" selected>Select state</option>
                        </select>
                    </div>
                </div>

                <div class="field-group">
                    <label for="city">City</label>
                    <input type="text" name="city" id="city" class="field-input" placeholder="" ng-model="Ctrl.OpposingParty.City" />
                </div>

                <div class="field-group">
                    <label for="zipcode">Zip code</label>
                    <input type="text" name="zipcode" id="zipcode" maxlength="5" class="field-input" placeholder="" ng-model="Ctrl.OpposingParty.Zip" />
                </div>

                <div class="field-group">
                    <a style="cursor: pointer;" class="btn-link" ng-click="Ctrl.AddAnotherOpposingParty(Ctrl.OpposingParty)">Add another opposing party</a>
                </div>

            </div>


            <div class="step-footer">
                <input type="submit" id="save-continue" name="save-continue" class="btn-primary" value="Save and continue"
                       ng-click="(Hide=true); (!frmAppeal.your_pin.$error.required) && Ctrl.ContinueToReview(Ctrl.caseinfo.TenantAppealInfo)" />
            </div>
        </form>
    </div>

</div><!-- .application-form-wrapper -->
