<?xml version="1.0"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <assembly name="RAP.API" />
  <assembly name="RAP.Core" />
  <assembly name="RAP.Business" />
  <assembly name="RAP.Persistence" />
  <namespace name="RAP.API" />
  <namespace name="RAP.Core" />
  <namespace name="RAP.Business" />
  <namespace name="RAP.Persistence" />

  <!--Service Layer-->
  <alias alias="IMasterDataService" type="RAP.Core.Services.IMasterDataService, RAP.Core" />
  <alias alias="MasterDataService" type="RAP.Business.Implementation.MasterDataService, RAP.Business" />
  
  <alias alias="IOTRequestService" type="RAP.Core.Services.IOTRequestService, RAP.Core" />
  <alias alias="OTRequestService" type="RAP.Business.Implementation.OTRequestService, RAP.Business" />
  
  <alias alias="IWorkQueueService" type="RAP.Core.Services.IWorkQueueService, RAP.Core" />
  <alias alias="WorkQueueService" type="RAP.Business.Implementation.WorkQueueService, RAP.Business" />

  <alias alias="ISearchService" type="RAP.Core.Services.ISearchService, RAP.Core" />
  <alias alias="SearchService" type="RAP.Business.Implementation.SearchService, RAP.Business" />

  <!--Persistance Layer-->
  <alias alias="Database" type="RAP.Persistence.ADO.Database, RAP.Persistence" />
  <alias alias="SqlBase" type="RAP.Persistence.ADO.SqlBase, RAP.Persistence" />

  <alias alias="IMasterDataPersister" type="RAP.Core.Persisters.IMasterDataPersister, RAP.Core" />
  <alias alias="MasterDataPersister" type="RAP.Persistence.Implementation.MasterDataPersister, RAP.Persistence" />

  <alias alias="IOTRequestPersister" type="RAP.Core.Persisters.IOTRequestPersister, RAP.Core" />
  <alias alias="OTRequestPersister" type="RAP.Persistence.Implementation.OTRequestPersister, RAP.Persistence" />

  <alias alias="IWorkQueuePersister" type="RAP.Core.Persisters.IWorkQueuePersister, RAP.Core" />
  <alias alias="WorkQueuePersister" type="RAP.Persistence.Implementation.WorkQueuePersister, RAP.Persistence" />

  <alias alias="ISearchPersister" type="RAP.Core.Persisters.ISearchPersister, RAP.Core" />
  <alias alias="SearchPersister" type="RAP.Persistence.Implementation.SearchPersister, RAP.Persistence" />
  
  <container>
    <register type="IMasterDataService" mapTo="MasterDataService">
    </register>

    <register type="IOTRequestService" mapTo="OTRequestService">
    </register>

    <register type="IWorkQueueService" mapTo="WorkQueueService">
    </register>

    <register type="ISearchService" mapTo="SearchService">
    </register>
    
    <register type="IMasterDataPersister" mapTo="MasterDataPersister">
      <constructor>
        <param name="db" />
        <param name="connectionName" value="Connection_OTS"/>
      </constructor>
    </register>

    <register type="IOTRequestPersister" mapTo="OTRequestPersister">
      <constructor>
        <param name="db" />
        <param name="connectionName" value="Connection_OTS"/>
      </constructor>
    </register>

    <register type="IWorkQueuePersister" mapTo="WorkQueuePersister">
      <constructor>
        <param name="db" />
        <param name="connectionName" value="Connection_OTS"/>
      </constructor>
    </register>

    <register type="ISearchPersister" mapTo="SearchPersister">
      <constructor>
        <param name="db" />
        <param name="connectionName" value="Connection_OTS"/>
      </constructor>
    </register>

    <register type="Database" mapTo="SqlBase">
    </register>
  </container>

</unity>