<?xml version="1.0"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <assembly name="RAP.API"/>
  <assembly name="RAP.Core"/>
  <assembly name="RAP.Business"/>
  <assembly name ="RAP.DAL"/>
  <namespace name="RAP.API"/>
  <namespace name="RAP.Core"/>
  <namespace name="RAP.Business"/>
  <namespace name="RAP.DAL"/>
  <!--Service Layer-->
  <!--<alias alias="IAccountManagementService" type="RAP.Core.Services.IAccountManagementService, RAP.Core" />
  <alias alias="AccountManagementService" type="RAP.Business.Implementation.AccountManagementService, RAP.Business" />-->
    <alias alias="IApplicationProcessingService" type="RAP.Core.Services.IApplicationProcessingService, RAP.Core"/>
    <alias alias="ApplicationProcessingService" type="RAP.Business.Implementation.ApplicationProcessingService, RAP.Business"/>  
  <!-- DAL-->
  <!--<alias alias="IApplicationProcessingDBHandler"  type="RAP.DAL.IApplicationProcessingDBHandler, RAP.DAL"/>
  <alias alias="ApplicationProcessingDBHandler"  type="RAP.DAL.ApplicationProcessingDBHandler, RAP.DAL"/>-->   
  <container>    
      <register type="IApplicationProcessingDBHandler" mapTo="ApplicationProcessingDBHandler"></register>      
    <!--<register type="IAccountManagementService" mapTo="AccountManagementService">
    </register>-->

      <!--<register type="IApplicationProcessingService" mapTo="ApplicationProcessingService">
      </register>-->
  </container>
</unity>
 