<?xml version="1.0"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <assembly name="RAP.API" />
  <assembly name="RAP.Core" />
  <assembly name="RAP.Business" />
  <assembly name="RAP.Persistence" />
  <namespace name="RAP.API" />
  <namespace name="RAP.Core" />
  <namespace name="RAP.Business" />
  <namespace name="RAP.Persistence" />

  <!--Service Layer-->
  <alias alias="IAccountManagementService" type="RAP.Core.Services.IAccountManagementService, RAP.Core" />
  <alias alias="AccountManagementService" type="RAP.Business.Implementation.AccountManagementService, RAP.Business" />
  
  <alias alias="IApplicationProcessingService" type="RAP.Core.Services.IApplicationProcessingService, RAP.Core" />
  <alias alias="ApplicationProcessingService" type="RAP.Business.Implementation.ApplicationProcessingService, RAP.Business" />
  
  <alias alias="INotificationService" type="RAP.Core.Services.INotificationService, RAP.Core" />
  <alias alias="NotificationService" type="RAP.Business.Implementation.NotificationService, RAP.Business" />

  <alias alias="ISearchService" type="RAP.Core.Services.ISearchService, RAP.Core" />
  <alias alias="SearchService" type="RAP.Business.Implementation.SearchService, RAP.Business" />

  <!--Persistance Layer-->
  <alias alias="Database" type="RAP.Persistence.ADO.Database, RAP.Persistence" />
  <alias alias="SqlBase" type="RAP.Persistence.ADO.SqlBase, RAP.Persistence" />

  <alias alias="IAccountManagementPersister" type="RAP.Core.Persisters.IAccountManagementPersister, RAP.Core" />
  <alias alias="AccountManagementPersister" type="RAP.Persistence.Implementation.AccountManagementaPersister, RAP.Persistence" />

  <alias alias="IApplicationProcessingPersister" type="RAP.Core.Persisters.IApplicationProcessingPersister, RAP.Core" />
  <alias alias="ApplicationProcessingPersister" type="RAP.Persistence.Implementation.ApplicationProcessingPersister, RAP.Persistence" />

  <alias alias="INotificationPersister" type="RAP.Core.Persisters.INotificationPersister, RAP.Core" />
  <alias alias="NotificationPersister" type="RAP.Persistence.Implementation.NotificationPersister, RAP.Persistence" />

  <alias alias="ISearchPersister" type="RAP.Core.Persisters.ISearchPersister, RAP.Core" />
  <alias alias="SearchPersister" type="RAP.Persistence.Implementation.SearchPersister, RAP.Persistence" />
  
  <container>
    <register type="IAccountManagementService" mapTo="AccountManagementService">
    </register>

    <register type="IApplicationProcessingService" mapTo="OApplicationProcessingService">
    </register>

    <register type="INotificationService" mapTo="NotificationService">
    </register>

    <register type="ISearchService" mapTo="SearchService">
    </register>
    
    <register type="IAccountManagementPersister" mapTo="AccountManagementPersister">
      <constructor>
        <param name="db" />
        <param name="connectionName" value="Connection_RAP"/>
      </constructor>
    </register>

    <register type="IApplicationProcessingPersister" mapTo="ApplicationProcessingPersister">
      <constructor>
        <param name="db" />
        <param name="connectionName" value="Connection_RAP"/>
      </constructor>
    </register>

    <register type="INotificationPersister" mapTo="NotificationPersister">
      <constructor>
        <param name="db" />
        <param name="connectionName" value="Connection_RAP"/>
      </constructor>
    </register>

    <register type="ISearchPersister" mapTo="SearchPersister">
      <constructor>
        <param name="db" />
        <param name="connectionName" value="Connection_OTS"/>
      </constructor>
    </register>

    <register type="Database" mapTo="SqlBase">
    </register>
  </container>

</unity>