<script src='js/functions.js'></script>
<div class="col-md-9 col-sm-12">
    <div class="application-form-wrapper">
        <div class="application-step step-1">
            <div class="step-heading">Important Information</div>

            <form name="frmOwnerResponse" id="frmOwnerResponse" action="#" method="post" class="application-form" onsubmit="return false;">
                <div class="step-content step1">

                    <div class="field-group subhead no-top-margin">
                        <div class="information">
                            <p>
                                <strong>REMINDER: ONCE THIS FORM IS SUBMITTED TO THE CITY IT BECOMES A PUBLIC RECORD. PLEASE DO NOT SUBMIT ANY PRIVATE INFORMATION (SUCH AS BANK ACCOUNT NUMBERS, CREDIT CARD NUMBERS, OR SOCIAL SECURITY NUMBERS) AS PART OF THIS FORM. IF YOU HAVE ANY QUESTIONS, PLEASE CONTACT CITY STAFF AT (510) 238-3721</strong>



                            </p>
                            <p>This form must be received by the Rent Adjustment Program (RAP), within 35 days after a copy of the tenant petition was mailed to you. Timely mailing as shown by a postmark does not suffice. The date of mailing is shown on the Proof of Service attached to the response documents mailed to you. If the RAP office is closed on the last day to file, the time to file is extended to the next day the office is open. You can deliver your Owner Response in person to:</p>
                            <p>
                                City of Oakland Housing Assistance Center, Rent Adjustment Program Office <br />
                                250 Frank H. Ogawa Plaza, 6th Floor, <br />
                                Oakland, CA 94612


                            </p>
                            <p>You can date-stamp and drop your Response in the Rent Adjustment drop box at the Housing Assistance Center.. The Housing Assistance Center is open Monday through Friday, except holidays, from 9:00 a.m. to 5:00 p.m.</p>

                            <p><u>NOTE: You have until 7 days before the hearing date to submit additional documentation for your case.</u></p>

                            <p><u>File Review.</u> You should have received a copy of the petition (and claim of decreased housing services) filed by your tenant. The Petition and attachments to the petition can be found by logging into the RAP Online Petitioning System and accessing your case. If you would like to review the attachments in person, please call  the Rent Adjustment Program office at (510) 238-3721 to make an appointment.</p>
                        </div>
                    </div>

                    <div class="subhead type2">
                        <h4>Saving Information</h4>
                    </div>
                    <div class="field-group">
                        <div class="error-msg">You must click the “Save and continue” button at the bottom of every screen to save information you are entering and uploading.</div>
                    </div>
                </div>


                <div class="step-footer">
                    <input type="button" aria-label="Save and continue" role="button" id="continue" name="Save and continue" ng-click="Ctrl.Continue()" class="btn-primary" value="Continue" />
                </div>
            </form>
        </div>
    </div>
</div>
