 <div class="col-md-9 col-sm-12">
   <div class="application-form-wrapper">
     <div class="application-step step-1">
         <div class="step-heading">Important Information</div>

              <form name="frmOwnerResponse" id="frmOwnerResponse" action="#" method="post" class="application-form">
                     <div class="step-content step1">

                         <div class="field-group subhead no-top-margin">
                             <div class="information">
                                 <p><u>Time to File.</u> This form must be received by the Rent Adjustment Program, P.O. Box 70243, Oakland, CA 94612-0243, within 35 days of the date that a copy of the Tenant Petition was mailed to you. (The date of mailing is shown on the Proof of Service attached to the Tenant Petition and other response documents mailed to you.) A postmark does not suffice. If the RAP office is closed on the last day to file, the time to file is extended to the next day the office is open. If you wish to deliver your completed Owner Response to the Rent Adjustment Program office in person, go to the City of Oakland Housing Assistance Center, 250 Frank H. Ogawa Plaza, 6th Floor, Oakland, where you can date-stamp and drop your Response in the Rent Adjustment drop box. The Housing Assistance Center is open Monday through Friday, except holidays, from 9:00 a.m. to 5:00 p.m.</p>

                                 <p>You cannot get an extension of time to file your Response by telephone. </p>

                                 <p><strong>NOTE: If you do not file a timely Response, you will not be able to produce evidence at the Hearing, unless you can show good cause for the late filing. </strong></p>

                                 <p><u>File Review.</u> You should have received a copy of the petition (and claim of decreased services) filed by your tenant with this packet. Other documents provided by the tenant will not be mailed to you. You may review additional documents in the RAP office by appointment. For an appointment to review a file or to request a copy of documents in the file call (510) 238-3721.</p>
                             </div>
                         </div>

                            <div class="subhead type2">
                                <h4>Saving Information</h4>
                            </div>
                            <div class="field-group">
                                <div class="error-msg">Please note that you can save information you are entering and uploading at the bottom of every screen by clicking on the “Save” button.</div>
                            </div>
                        </div>


                        <div class="step-footer">
                            <input type="button" id="continue" name="Save and Continue" ng-click="Ctrl.Continue()" class="btn-primary" value="Continue" />
                        </div>
           </form>
        </div>
   </div>
 </div>
