<div class="container outer-container">
    <div class="header">
        <h1 id="sitetitle"><a href="#">City of Oakland</a></h1>
        <div class="description">Rent Adjustment  <br />Program</div>
    </div><!-- .header -->

    <div id="SkipToMainContent">

        <div class="application-form-wrapper">

            <div class="row">
                <div class="col-md-3 col-sm-12">                    
                    <div>
                        <ul class="application-steps">   
                            <li> <a ng-click="Ctrl.showPetitionType()">Petition Type</a></li>                   
                            <li><a ng-click="Ctrl.ShowOwnerImpInfo()">Important Information</a></li>
                            <li ng-class="{'active' : Ctrl.oPetionActiveStatus.ApplicantInformation, 'current' : !Ctrl.oPetionActiveStatus.ApplicantInformation && Ctrl.oPetionCurrentStatus.ApplicantInformation}"><a ng-click="Ctrl.ShowOresponseApplicantInfo()">Applicant Information</a></li>
                            <li ng-class="{'active' : Ctrl.oPetionActiveStatus.RentalProperty, 'current' : !Ctrl.oPetionActiveStatus.RentalProperty && Ctrl.oPetionCurrentStatus.RentalProperty}"><a ng-click="Ctrl.ShowOresponseRentalProperty()">Rental Property</a></li>
                            <li ng-class="{'active' : Ctrl.oPetionActiveStatus.RentHistory, 'current' : !Ctrl.oPetionActiveStatus.RentHistory && Ctrl.oPetionCurrentStatus.RentHistory}"><a ng-click="Ctrl.ShowOresponseRentalHistory()">Rental History</a></li>                        
                            <li ng-class="{'active' : Ctrl.oPetionActiveStatus.AdditionalDocumentation, 'current' : !Ctrl.oPetionActiveStatus.AdditionalDocumentation && Ctrl.oPetionCurrentStatus.AdditionalDocumentation}"><a ng-click="Ctrl.ShowOwnerAdditionalDocuments()">Additional Documents</a></li>
                            <li ng-class="{'active' : Ctrl.oPetionActiveStatus.Review, 'current' : !Ctrl.oPetionActiveStatus.Review && Ctrl.oPetionCurrentStatus.Review}"><a ng-click="Ctrl.ShowOwnerReview()">Review</a></li>
                            <li ng-class="{'active' : Ctrl.oPetionActiveStatus.Verification, 'current' : !Ctrl.oPetionActiveStatus.Verification && Ctrl.oPetionCurrentStatus.Verification}"><a ng-click="Ctrl.ShowOwnerVerification()">Verification</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-9 col-sm-12">
                    <div class="application-step step-1">
                        <form name="frmOwnerResponse" id="frmOwnerResponse" method="post" class="application-form">
                            <div ng-if="Ctrl.petitionType">
                                <rap-oresponsepetitiontype model="Ctrl"></rap-oresponsepetitiontype>
                            </div>

                            <div ng-if="Ctrl.oresponseImpInfo">
                                <rap-oresponseimpinfo ng-show="Ctrl.oresponseImpInfo" model="Ctrl"></rap-oresponseimpinfo>
                            </div>
                            <div ng-if="Ctrl.oresponseApplicantInfo">
                                <rap-oresponsepeapplicantinfo ng-show="Ctrl.oresponseApplicantInfo" model="Ctrl"></rap-oresponsepeapplicantinfo>
                            </div>
                         
                            <div ng-if="Ctrl.oresponseRentalProperty">
                                <rap-oresponserentalproperty ng-show="Ctrl.oresponseRentalProperty" model="Ctrl"></rap-oresponserentalproperty>
                            </div>
                            <div ng-if="Ctrl.oresponseRentalHistory">
                                <rap-oresponserentalhistory ng-show="Ctrl.oresponseRentalHistory" model="Ctrl"></rap-oresponserentalhistory>
                            </div>
                            <!--<div ng-if="Ctrl.ownerAdditionalDocuments">
                                <rap-owneradditionaldocuments ng-show="Ctrl.ownerAdditionalDocuments" model="Ctrl"></rap-owneradditionaldocuments>
                            </div>
                            <div ng-if="Ctrl.ownerReview">
                                <rap-ownerreview ng-show="Ctrl.ownerReview" model="Ctrl"></rap-ownerreview>
                            </div>
                            <div ng-if="Ctrl.ownerVerification">
                                <rap-ownerverification ng-show="Ctrl.ownerVerification" model="Ctrl"></rap-ownerverification>
                            </div>-->
                        </form>
                    </div>
                </div>
            </div>

        </div><!-- #SkipToMainContent -->

        <footer class="footer" role="contentinfo"></footer><!-- .row .footer -->
    </div><!-- .container .outer-container -->

    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <!--<script src='js/jquery.maskedinput.js'></script>-->
    <script src='js/tooltip.js'></script>
    <script src='js/functions.js'></script>
    </body>



   
