<div id="content">
    <!-- Page Title -->
    <div class="page-title-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-3 hidden-xs">&nbsp;</div>
                <div class="col-md-9 col-sm-12">
                    <h2 class="page-title">Owner Response</h2>
                </div>
            </div>
        </div>
    </div>


    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-12">
                    <div>
                        <div ng-if="Ctrl.petitionType" class="page-sub-title">Petition Type</div>
                        <div ng-if="Ctrl.oresponseImpInfo" class="page-sub-title">Important Information</div>
                        <div ng-if="Ctrl.oresponseApplicantInfo" class="page-sub-title">Applicant and Property Information</div>
                        <div ng-if="Ctrl.oresponseDecreasedHousing" class="page-sub-title">Decreased Housing Services</div>
                        <div ng-if="Ctrl.oresponseException" class="page-sub-title">Exemption</div>                        
                        <div ng-if="Ctrl.oresponseRentalHistory" class="page-sub-title">Rental History</div>
                        <div ng-if="Ctrl.oresponseRentalProperty" class="page-sub-title">Rental Property</div>
                        <div ng-if="Ctrl.oresponseDocument" class="page-sub-title">Additional Documentation</div>
                        <div ng-if="Ctrl.oresponseReview" class="page-sub-title">Review</div>
                        <div ng-if="Ctrl.oresponseVerification" class="page-sub-title">Verification</div>
                        <div ng-if="Ctrl.oresponseConfirmation" class="page-sub-title">Confirmation</div>

                        <div class="application-steps-toggle clearfix ">
                            <button type="button" ng-class="{'steps-toggle collapsed' : Ctrl.Toggle, 'steps-toggle' : !Ctrl.Toggle}" ng-click="Ctrl.Toggle=!Ctrl.Toggle">Step {{Ctrl.stepNo}} / 10</button>
                        </div>
                        <ul class="application-steps" ng-show="Ctrl.Toggle">
                            <li ng-class="{'active' : Ctrl.oResponseActiveStatus.ApplicantInformation || Ctrl.oresponseImpInfo || Ctrl.oResponseActiveStatus.ImportantInformation, 'current' : !Ctrl.oResponseActiveStatus.ApplicantInformation && Ctrl.petitionType}"> <a style="cursor: pointer;" ng-click="Ctrl.showPetitionType()">Petition Type</a></li>
                            <li ng-class="{'active' : Ctrl.oResponseActiveStatus.ApplicantInformation || Ctrl.oResponseActiveStatus.ImportantInformation, 'current' : !Ctrl.oResponseActiveStatus.ApplicantInformation && Ctrl.oresponseImpInfo}"><a style="cursor: pointer;" ng-click="Ctrl.ShowOresponseImpInfo()">Important Information</a></li>
                            <li ng-class="{'active' : Ctrl.oResponseActiveStatus.ApplicantInformation, 'current' : !Ctrl.oResponseActiveStatus.ApplicantInformation && Ctrl.oResponseCurrentStatus.ApplicantInformation}"><a style="cursor: pointer;" ng-click="Ctrl.ShowOresponseApplicantInfo()">Applicant Information</a></li>
                            <li ng-class="{'active' : Ctrl.oResponseActiveStatus.RentalProperty, 'current' : !Ctrl.oResponseActiveStatus.RentalProperty && Ctrl.oResponseCurrentStatus.RentalProperty}"><a style="cursor: pointer;" ng-click="Ctrl.ShowOresponseRentalProperty()">Rental Property</a></li>
                            <li ng-class="{'active' : Ctrl.oResponseActiveStatus.RentHistory, 'current' : !Ctrl.oResponseActiveStatus.RentHistory && Ctrl.oResponseCurrentStatus.RentHistory}"><a style="cursor: pointer;" ng-click="Ctrl.ShowOresponseRentalHistory()">Rental History</a></li>
                            <li ng-class="{'active' : Ctrl.oResponseActiveStatus.DecreasedHousingServices, 'current' : !Ctrl.oResponseActiveStatus.DecreasedHousingServices && Ctrl.oResponseCurrentStatus.DecreasedHousingServices}"><a style="cursor: pointer;" ng-click="Ctrl.ShowOresponseDecrasedHousing()">Decreased Housing Service</a></li>
                            <li ng-class="{'active' : Ctrl.oResponseActiveStatus.Exeption, 'current' : !Ctrl.oResponseActiveStatus.Exeption && Ctrl.oResponseCurrentStatus.Exeption}"><a style="cursor: pointer;" ng-click="Ctrl.ShowOresponseException()">Exemption</a></li>
                            <li ng-class="{'active' : Ctrl.oResponseActiveStatus.AdditionalDocumentation, 'current' : !Ctrl.oResponseActiveStatus.AdditionalDocumentation && Ctrl.oResponseCurrentStatus.AdditionalDocumentation}"><a style="cursor: pointer;" ng-click="Ctrl.ShowOresponseDocument()">Additional Documents</a></li>
                            <li ng-class="{'active' : Ctrl.oResponseActiveStatus.Review, 'current' : !Ctrl.oResponseActiveStatus.Review && Ctrl.oResponseCurrentStatus.Review}"><a style="cursor: pointer;" ng-click="Ctrl.ShowOresponseReview()">Review</a></li>
                            <li ng-class="{'active' : Ctrl.oResponseActiveStatus.Verification, 'current' : !Ctrl.oResponseActiveStatus.Verification && Ctrl.oResponseCurrentStatus.Verification}"><a style="cursor: pointer;" ng-click="">Verification</a></li>
                            
                        </ul>
                    </div>
                </div>
                <div class="col-md-9 col-sm-12">
                    <div class="application-step step-1">
                        <form name="frmOwnerResponse" id="frmOwnerResponse" method="post" class="application-form">
                            <div ng-if="Ctrl.petitionType">
                                <rap-oresponsepetitiontype model="Ctrl"></rap-oresponsepetitiontype>
                            </div>

                            <div ng-if="Ctrl.oresponseImpInfo">
                                <rap-oresponseimpinfo ng-show="Ctrl.oresponseImpInfo" model="Ctrl"></rap-oresponseimpinfo>
                            </div>
                            <div ng-if="Ctrl.oresponseApplicantInfo">
                                <rap-oresponsepeapplicantinfo ng-show="Ctrl.oresponseApplicantInfo" model="Ctrl"></rap-oresponsepeapplicantinfo>
                            </div>

                            <div ng-if="Ctrl.oresponseRentalProperty">
                                <rap-oresponserentalproperty ng-show="Ctrl.oresponseRentalProperty" model="Ctrl"></rap-oresponserentalproperty>
                            </div>
                            <div ng-if="Ctrl.oresponseRentalHistory">
                                <rap-oresponserentalhistory ng-show="Ctrl.oresponseRentalHistory" model="Ctrl"></rap-oresponserentalhistory>
                            </div>
                            <div ng-if="Ctrl.oresponseDecreasedHousing">
                                <rap-oresponsedecreasedhousing ng-show="Ctrl.oresponseDecreasedHousing" model="Ctrl"></rap-oresponsedecreasedhousing>
                            </div>
                            <div ng-if="Ctrl.oresponseException">
                                <rap-oresponseexemption ng-show="Ctrl.oresponseException" model="Ctrl"></rap-oresponseexemption>
                            </div>
                            <div ng-if="Ctrl.oresponseDocument">
                                <rap-oresponsedocument ng-show="Ctrl.oresponseDocument" model="Ctrl"></rap-oresponsedocument>
                            </div>
                            <div ng-if="Ctrl.oresponseReview">
                                <rap-oresponsereview ng-show="Ctrl.oresponseReview" model="Ctrl"></rap-oresponsereview>
                            </div>
                            <div ng-if="Ctrl.oresponseVerification">
                                <rap-oresponseverification ng-show="Ctrl.oresponseVerification" model="Ctrl"></rap-oresponseverification>
                            </div>
                            <div ng-if="Ctrl.oresponseConfirmation">
                                <rap-oresponseconfirmation ng-show="Ctrl.oresponseConfirmation" model="Ctrl"></rap-oresponseconfirmation>
                            </div>
                            <!--<div ng-if="Ctrl.ownerAdditionalDocuments">
                                <rap-owneradditionaldocuments ng-show="Ctrl.ownerAdditionalDocuments" model="Ctrl"></rap-owneradditionaldocuments>
                            </div>
                            <div ng-if="Ctrl.ownerReview">
                                <rap-ownerreview ng-show="Ctrl.ownerReview" model="Ctrl"></rap-ownerreview>
                            </div>
                            <div ng-if="Ctrl.ownerVerification">
                                <rap-ownerverification ng-show="Ctrl.ownerVerification" model="Ctrl"></rap-ownerverification>
                            </div>-->
                        </form>
                    </div>
                </div>
            </div>

        </div><!-- #SkipToMainContent -->
    </div><!-- .container .outer-container -->

    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <!--<script src='js/jquery.maskedinput.js'></script>-->
    <script src='js/tooltip.js'></script>
    <script src='js/functions.js'></script>
</div>




