<script src='js/functions.js'></script>
<!-- Page Content -->
<div class="col-md-9 col-sm-12">
    <div class="application-form-wrapper">
        <div class="application-step step-1">
            <div class="step-heading">Petition Type</div>

            <form name="frmOwnerResponse" id="frmOwnerResponse" action="#" method="post" class="application-form" onsubmit="return false;">
                <div class="step-content step1">

                    <div class="subhead no-top-margin no-bottom-margin">
                        <p class="input-label fs-18">You are filing as a property owner.</p>
                    </div>


                    <div class="field-group">
                        <div class="form-group-checkbox vertical full-width clearfix">
                            <div class="checkbox-wrapper">
                                <label for="behalf_of_respondant">
                                    <input type="checkbox" name="behalf_of_respondant" id="behalf_of_respondant" ng-model="Ctrl.caseinfo.bCaseFiledByThirdParty" /><i></i><span>This form is being submitted by the third-party representative on behalf of the respondant.</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="step-footer">
                    <input type="button" aria-label="Continue" role="button" id="continue" name="continue" class="btn-primary" value="Continue" ng-click="Ctrl.Continue()" />
                </div>
            </form>
        </div>

    </div><!-- .application-form-wrapper -->
</div><!-- .col-md-9 -->
