<script src='js/functions.js'></script>
<div class="col-md-9 col-sm-12">
    <div class="application-form-wrapper">
        <div class="application-step step-1">
            <div class="alert alert-error" ng-show="Ctrl.Hide==true">
                <!--<strong><a href="javascript:void();" data-scrollto="anybody_representing_you">Is anybody representing you</a></strong>  is a required field<br />
        <strong><a href="javascript:void();" data-scrollto="rao_exemption_contest">I wish to contest an exemption from the Rent Adjustment Ordinance</a></strong>  is a required field<br />
        <strong><a href="javascript:void();" data-id="representative_firstname">Name</a></strong> is a required field<br />
        <strong><a href="javascript:void();" data-id="business_name">Business name</a></strong> is a required field-->
            </div>
            <div class="alert" ng-show="Ctrl.Error!=''">
                <strong><a href="javascript:void();">{{Ctrl.Error}}</a></strong>
            </div>
            <div class="step-heading">Rental Property</div>
            <form name="frmOwnerResponse" id="frmOwnerResponse" action="#" method="post" class="application-form" onsubmit="return false;">
                <div class="step-content create-new">
                    <div class="field-group">
                        <p class="input-label">Type of unit you rent</p>
                        <div class="form-group-radio vertical clearfix">
                            <label ng-repeat="unittype in Ctrl.caseinfo.OwnerResponseInfo.PropertyInfo.UnitTypes" for="{{unittype.UnitTypeID}}">
                                <input type="radio"
                                       class="input-field"
                                       ng-model="Ctrl.caseinfo.OwnerResponseInfo.PropertyInfo.UnitTypeID"
                                       ng-value="unittype.UnitTypeID"
                                       id="{{unittype.UnitTypeID}}"
                                       name="units"><i></i><span>{{unittype.UnitDescription}}</span>
                            </label>

                        </div>
                    </div>

                    <div class="field-group">
                        <label for="Applicant_firstname">Tenant's name</label>
                        <input type="text" class="field-input" ng-trim="false" ng-model="Ctrl.caseinfo.OwnerPetitionTenantInfo.TenantUserInfo.FirstName"  />
                    </div>

                    <div class="field-group">
                        <input type="text" class="field-input" ng-trim="false" ng-model="Ctrl.caseinfo.OwnerPetitionTenantInfo.TenantUserInfo.LastName"  />
                    </div>

                    <div class="field-group" ng-show="Ctrl.IsTenant == false">
                        <label for="Applicant_address1">Mailing address 1</label>
                        <input type="text" class="field-input" ng-trim="false" ng-model="Ctrl.caseinfo.OwnerPetitionTenantInfo.TenantUserInfo.AddressLine1"  />
                    </div>

                    <div class="field-group" ng-show="Ctrl.IsTenant == false">
                        <label for="Applicant_address2">Mailing address 2 (optional)</label>
                        <input type="text" class="field-input" ng-trim="false" ng-model="Ctrl.caseinfo.OwnerPetitionTenantInfo.TenantUserInfo.AddressLine2"  />
                    </div>

                    <div class="field-group" ng-show="Ctrl.IsTenant == false">
                        <label for="Applicant_city">City</label>
                        <input type="text" class="field-input" ng-trim="false" ng-model="Ctrl.caseinfo.OwnerPetitionTenantInfo.TenantUserInfo.City"  />
                    </div>
                    <div class="field-group" ng-show="Ctrl.IsTenant == false">
                        <label for="Applicant_state">State</label>
                        <!--<input type="text" class="field-input" ng-trim="false" ng-model="Ctrl.caseinfo.TenantPetitionInfo.ApplicantUserInfo.State" required />-->
                        <select name="Applicant_state" id="Applicant_state" data-placeholder="Select"
                                ng-model="Ctrl.caseinfo.OwnerPetitionTenantInfo.TenantUserInfo.State" class="custom-select"
                                ng-options="state as (state.StateName) for state in Ctrl.StateList track by state.StateID"></select>
                    </div>

                    <div class="field-group" ng-show="Ctrl.IsTenant == false">
                        <label for="Applicant_zip_code">Zip code</label>
                        <input type="text" class="field-input" maxlength="5" ng-trim="false" ng-model="Ctrl.caseinfo.OwnerPetitionTenantInfo.TenantUserInfo.Zip"  />
                    </div>

                    <div class="field-group" >
                        <label for="Applicante_phone_number">Phone number</label>
                        <input type="text" class="field-input" ng-trim="false" ng-model="Ctrl.caseinfo.OwnerPetitionTenantInfo.TenantUserInfo.PhoneNumber"  />
                    </div>

                    <div class="field-group" >
                        <label for="Applicant_email">Email Address</label>
                        <input type="email" class="field-input" ng-trim="false" ng-model="Ctrl.caseinfo.OwnerPetitionTenantInfo.TenantUserInfo.Email"  />
                    </div>

                    <div>
                        <button class="btn-link btn-edit" ng-click="Ctrl.AddTenant(Ctrl.caseinfo.OwnerPetitionTenantInfo)">Add another tenant’s name</button>
                    </div>
                    <div ng-repeat="item in Ctrl.caseinfo.OwnerResponseInfo.PropertyInfo.TenantInfo | filter: { IsDeleted: false }">
                        <div class="field-group filled-info subhead no-top-margin">
                            <div class="row">
                                {{item.TenantUserInfo.FirstName}} {{item.TenantUserInfo.LastName}}<br />
                                {{item.TenantUserInfo.AddressLine1}}<br />
                                {{item.TenantUserInfo.AddressLine2}}<br />
                                {{item.TenantUserInfo.City}} {{item.TenantUserInfo.State.StateName}} {{item.TenantUserInfo.Zip}}<br />
                                {{item.TenantUserInfo.Email}}<br />
                                {{item.TenantUserInfo.PhoneNumber}}
                                <button class="btn-link btn-edit" ng-click="Ctrl.RemoveTenant(item)">Remove</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="step-footer">
                    <input aria-label="Save and continue" role="button" type="button" id="continue" name="continue" class="btn-primary" value="Save and continue" ng-click="Ctrl.Continue()" />
                </div>
            </form>
        </div>
    </div>
</div>
